{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}
{% block pagetitle %}{{'Forms'|trans}}{% endblock %}
{% block body %}

<div class="page-save-overlay">
	<div class="vtable">
		<div class="valign">
			<div class="loading"></div>
			<span>{{ 'Bezig met opslaan..' | trans }}</span>
		</div>
	</div>
</div>

{{ form_start(form) }}
<link rel="stylesheet" href="{{asset('bundles/trinityforms/admin/css/editor.css')}}">

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tab1" data-bs-toggle="tab" data-bs-target="#tab-content1" type="button" role="tab" aria-controls="tab-content1" aria-selected="true">
      {{'Algemeen'|trans}}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#tab-content2" type="button" role="tab" aria-controls="tab-content2" aria-selected="false">
      {{'Formulier'|trans}}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab3" data-bs-toggle="tab" data-bs-target="#tab-content3" type="button" role="tab" aria-controls="tab-content3" aria-selected="false">
      {{'E-mail intern'|trans}}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab4" data-bs-toggle="tab" data-bs-target="#tab-content4" type="button" role="tab" aria-controls="tab-content4" aria-selected="false">
      {{'E-mail extern'|trans}}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab5" data-bs-toggle="tab" data-bs-target="#tab-content5" type="button" role="tab" aria-controls="tab-content5" aria-selected="false">
      {{'Reacties'|trans}}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab6" data-bs-toggle="tab" data-bs-target="#tab-content6" type="button" role="tab" aria-controls="tab-content6" aria-selected="false">
      {{'SEO'|trans}}
    </button>
  </li>
</ul>

<div class="tab-content">
	<div class="tab-pane fade show active" aria-labelledby="tab-content1" id="tab-content1" role="tabpanel">
		<div id="general" class="">
			<div class="row">
				<div class="col s12">
					<div class="card">
						<div class="card-body">
							<div class="card-title">
								<div class="card-titles">
									<h6>Algemeen</h6>
								</div>
							</div>

							{{ form_errors(form) }}
							{{ form_widget(form) }}
						</div>
					</div>

					{% if new and multisite_all is not empty and (multisite_all|length > 1) and app.User.checkPermissions('ALLOW_SITE_SWITCHING') and (app.user.sites.count == 0 or app.user.sites.count > 1) %}
						<div class="card">
							<div class="card-body">
								<span class="card-title">{{ 'Multi-site' | trans }}</span>
								{% if multisite_all is not empty and app.User.checkPermissions('ALLOW_SITE_SWITCHING') %}
									<div style="margin-bottom:10px;">{{ 'Wilt u deze post dupliceren naar andere website(s)?' | trans }}</div>
									{% for C in multisite_all %}
										{% if C in app.user.sites or app.user.sites.count == 0 %}
											<p>
												<input {{C == Settings ? 'disabled' : ''}} type="checkbox" name="clone[]" value="{{C.id}}" id="clone-{{C.id}}" />
												<label for="clone-{{C.id}}"><strong style="color:#34adea;">{{C.label}}</strong> | {{C.language.label}}</label>
											</p>
										{% endif %}
									{% endfor %}
								{% endif %}
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" aria-labelledby="tab-content2" id="tab-content2" role="tabpanel">
		<div id="editor">
			<div class="row">
				<div class="col-12 col-md-3">
					<div class="card toolbox">
						<div class="card-body">
							{% if emaillists %}
								<span data-type="newsletter" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="material-icons left">assignment_turned_in</i>{{ 'Nieuwsbrief opt-in' | trans }}</span>
							{% endif %}
							<span data-type="h1" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="fa fa-fw fa-heading"></i>{{ 'Titel (h1)' | trans }}</span>
							<span data-type="h2" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="fa fa-fw fa-heading"></i>{{ 'Titel (h2)' | trans }}</span>
							<span data-type="h3" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="fa fa-fw fa-heading"></i>{{ 'Titel (h3)' | trans }}</span>
							<span data-type="text" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="fa fa-fw fa-align-left"></i>{{ 'Tekst' | trans }}</span>
							<span data-type="plain" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="fa fa-fw fa-align-left"></i>{{ 'Inputveld' | trans }}</span>
							<span data-type="textarea" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="fa fa-fw fa-align-justify"></i>{{ 'Tekstarea' | trans }}</span>
							<span data-type="select" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="far fa-fw fa-caret-square-down"></i>{{ 'Dropdown' | trans }}</span>
							<span data-type="checkbox" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="far fa-fw fa-check-square"></i>{{ 'Meerkeuze' | trans }}</span>
							<span data-type="radio" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="far fa-fw fa-dot-circle"></i>{{ 'Radio' | trans }}</span>
							<span data-type="upload" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="fa fa-fw fa-paperclip"></i>{{ 'Upload' | trans }}</span>
							<span data-type="date" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="fa fa-fw fa-calendar-alt"></i>{{ 'Datum' | trans }}</span>
							<span data-type="email" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="fa fa-fw fa-envelope"></i>{{ 'E-mailadres' | trans }}</span>
							<span data-type="email_check" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="fa fa-fw fa-envelope"></i>{{ 'E-mailadres (controle)' | trans }}</span>
		          <span data-type="canvas" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="fas fa-fw fa-signature"></i>{{ 'Canvas' | trans }}</span>
		          <span data-type="dropzone" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="fa fa-fw fa-upload"></i>{{ 'Dropzone' | trans }}</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-9 form-editor">
					<div class="fields-parent">
						{% set firstField = true %}
						{% set loadForm = true %}
						{% if questions is not empty %}
							{% for i,Question in questions %}
								{% if Question.position == 0 and firstField != true %}
									</div>
									<div class="fields-parent">
								{% endif %}
								<div class="field-child" style="width:{{(Question.width / 12) * 100}}%;">
									{% include 'TrinityFormsBundle:elements:' ~ Question.getType ~ '.html.twig' %}
									{# <div><span class="drag">{{Question.title}}</span></div> #}
								</div>
								{% set firstField = false %}
							{% endfor %}
						{% else %}
							<span class="form-is-empty">{{ 'Sleep formulier elementen van de linker zijde naar dit blok.' | trans }}</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" aria-labelledby="tab-content3" id="tab-content3" role="tabpanel">
		<div id="mailinternal">
			<div class="row">
				<div class="col-12 col-md-8 col-lg-9">
					<div class="card">
						<div class="card-body">
							<textarea class="c-ckeditor" id="ck_internal" name="mail[internal][content]">{{mails.internal is defined and mails.internal.content is defined ? mails.internal.content : ''}}</textarea>
							<div class="row">
								<div class="input-field col-12 col-md-8">
									<input id="receiver" name="mail[internal][receiver]" type="text" value="{{mails.internal is defined and mails.internal.receiver is defined ? mails.internal.receiver : ''}}">
									<label for="receiver">{{ 'Ontvanger(s)' | trans }}</label>
								</div>
		                                                <div class="input-field col-12 col-md-4">
									<input id="receiver" name="mail[internal][sendername]" type="text" value="{{mails.internal is defined and mails.internal.sendername is defined ? mails.internal.sendername : ''}}">
									<label for="receiver">{{ 'Naam van verstuurder (optioneel)' | trans }}</label>
								</div>
								<div class="input-field col-12 col-md-8">
									<input id="subject" name="mail[internal][subject]" type="text" value="{{mails.internal is defined and mails.internal.subject is defined ? mails.internal.subject : ''}}">
									<label for="subject">{{ 'Onderwerp' | trans }}</label>
								</div>
								<div class="input-field col-12 col-md-4">
									<select name="mail[internal][template]">
										{% for tpl in templates %}
											<option {{mails.internal is defined and mails.internal.template == tpl ? 'selected="selected"' : ''}} value="{{tpl}}">{{tpl}}</option>
										{% endfor %}
									</select>
									<label>{{ 'E-mail template' | trans }}</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-lg-3 tags-container">
					<div class="card">
						<div class="card-body">
							{# <strong>Waarden</strong> #}
							{% for question in questions %}
								<a href="#" style="display: block;height:auto;line-height: 25px;margin-bottom: 10px;" onclick="CKEDITOR.instances.ck_internal.insertHtml('[{{question.id}}#{{question.getTitle}}]');" class="btn-flat" style="width:100%;">{{question.getTitle}}</a>
							{% endfor %}
							<a href="#" style="display: block;height:auto;line-height: 25px;" onclick="CKEDITOR.instances.ck_internal.insertHtml('[FORM_RESULTS]');" class="btn-flat red-text" style="width:100%;">{{ 'Formulier resultaten' | trans }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" aria-labelledby="tab-content4" id="tab-content4" role="tabpanel">
		<div id="mailexternal" class="t-content">
			<div class="row">
				<div class="col-12 col-md-8 col-lg-9">
					<div class="card">
						<div class="card-body">
							<textarea class="c-ckeditor" id="ck_external" name="mail[external][content]">{{mails.external is defined and mails.external.content is defined ? mails.external.content : ''}}</textarea>
							<div class="row">
								<div class="input-field col-12 col-md-8">
									<input id="from_email" name="mail[external][from_email]" type="text" value="{{mails.external is defined and mails.external.from_email is defined ? mails.external.from_email : Settings.systemEmail}}">
									<label for="from_email">{{ 'Afzender e-mail' | trans }}</label>
								</div>
								<div class="input-field col-12 col-md-4">
									<input id="from_name" name="mail[external][from_name]" type="text" value="{{mails.external is defined and mails.external.from_name is defined ? mails.external.from_name : Settings.systemEmailFrom}}">
									<label for="from_name">{{ 'Afzender naam' | trans }}</label>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-8">
									<div class="input-field">
										<input id="subject" name="mail[external][subject]" type="text" value="{{mails.external is defined and mails.external.subject is defined ? mails.external.subject : ''}}">
										<label for="subject">{{ 'Onderwerp' | trans }}</label>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="input-field">
										<select name="mail[external][template]">
											{% for tpl in templates %}
												<option {{mails.external is defined and mails.external.template == tpl ? 'selected="selected"' : ''}} value="{{tpl}}">{{tpl}}</option>
											{% endfor %}
										</select>
										<label>{{ 'E-mail template' | trans }}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-lg-3 tags-container">
					<div class="card">
						<div class="card-body">
							{# <strong>Waarden</strong> #}
							{% for question in questions %}
								<a href="#" style="display: block;height:auto;line-height: 25px;margin-bottom: 10px;" onclick="CKEDITOR.instances.ck_external.insertHtml('[{{question.id}}#{{question.getTitle}}]');" class="btn-flat" style="width:100%;">{{question.getTitle}}</a>
							{% endfor %}
							<a href="#" style="display: block;height:auto;line-height: 25px;" onclick="CKEDITOR.instances.ck_external.insertHtml('[FORM_RESULTS]');" class="btn-flat red-text" style="width:100%;">{{ 'Formulier resultaten' | trans }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" aria-labelledby="tab-content5" id="tab-content5" role="tabpanel">
		<div id="seo" class="t-content">
			<div class="card">
				<div class="card-body">
					{% set foundMeta = false %}
					{% if metatags %}
						{% set foundMeta = true %}
						{% for Metatag in metatags %}
							<div class="control-group ">
								<label for="form_label" class="required">{{Metatag.metatag.label}}</label>
								<div class="controls">
									{% if Metatag.metatag.key == 'description' %}
										{% set seoDescription = Metatag.value %}
										<textarea class="materialize-textarea fld-seo-{{Metatag.metatag.key}}" placeholder="{{Metatag.metatag.placeholder}}" name="metadata[{{Metatag.metatag.id}}]">{{Metatag.value}}</textarea>
									{% elseif Metatag.metatag.valueType == 'image' %}

										{% set hasMedia = (Metatag.value is not empty) %}
										<a id="meta-imageselect-{{Metatag.metatag.id}}" href="#" onclick="mediaField = '{{Metatag.metatag.id}}';addMedia(this);" style="{{hasMedia ? 'display:none;' : ''}}" class="btn">{{ 'Selecteer een afbeelding' | trans }}</a>
										<div style="width: 100px;max-height: 100px;text-align:center;margin: 30px;" class="settings-image" id="meta-image-{{Metatag.metatag.id}}">
											{% if hasMedia %}
												<img src="{{Metatag.value}}" style="max-width: 100%;max-height: 100%;" />
												<button style="" type="button" onclick="deleteMetaImage({{Metatag.metatag.id}});" class="btn red darken-1 del_btn"><i class="material-icons">delete</i></button>
											{% endif %}
										</div>
										<input id="meta-field-{{Metatag.metatag.id}}" class="fld-seo-{{Metatag.metatag.key}}" type="hidden" placeholder="{{Metatag.metatag.placeholder}}" name="metadata[{{Metatag.metatag.id}}]" value="{{Metatag.value}}" />





									{% elseif Metatag.metatag.valueOptions is not empty %}
										<select name="metadata[{{Metatag.metatag.id}}]" class="fld-seo-{{Metatag.metatag.key}}">
											<option value="">- {{ 'n.v.t.' | trans }} -</option>
											{% for option in Metatag.metatag.valueOptions %}
												<option {{Metatag.value == option ? 'selected' : ''}} value="{{option}}">{{option}}</option>
											{% endfor %}
										</select>
									{% else %}
										<input class="fld-seo-{{Metatag.metatag.key}}" type="text" placeholder="{{Metatag.metatag.placeholder}}" name="metadata[{{Metatag.metatag.id}}]" value="{{Metatag.value}}" />
									{% endif %}
								</div>
							</div>
						{% endfor %}
					{% endif %}

					{% if foundMeta == false %}
						<div class="center-align">
							{{ 'Er zijn nog geen metadata geconfigureerd.' | trans }}
						</div>
					{% endif %}

				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" aria-labelledby="tab-content6" id="tab-content6" role="tabpanel">
		<div id="replies" class="t-content">
			<form method="get" id="filter-form" onsubmit="filterList(1); return false;">

		        <input type="hidden" id="filter_sort" name="filter[sort]" value="p.id" />
		        <input type="hidden" id="filter_order" name="filter[order]" value="desc" />

		        <button style="display:none;" type="submit">{{ 'Zoeken' | trans }}</button>
		        <div class="card">
		            <div class="card-body">
		                <div class="filter-row row">
		                    <div class="col s12">
                            <input placeholder="{{'Zoeken op antwoorden'|trans}}" class="form-control" type="text" onkeyup="filterOnInput(this);" name="filter[q]" style="width:100%;" value="{{q is defined ? q : ''}}" />
		                    </div>
		                </div>
		            </div>
		        </div>
		    </form>

		    <div class="card">
	        <div class="card-body">
            <div id="filter-loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
			          <div class="card-title">
			            <div class="card-titles">
			              <h6>{{'Formulier reacties'|trans}}</h6>
			            </div>

			            <div class="card-actions">
										<select class="form-select" name="per_page" id="per_page" onchange="filterList(1);">
											<option value="10">{{ '10 per pagina' | trans }}</option>
											<option value="20" selected>{{ '20 per pagina' | trans }}</option>
											<option value="50">{{ '50 per pagina' | trans }}</option>
											<option value="100">{{ '100 per pagina' | trans }}</option>
										</select>
			            </div>
			          </div>

		            <table class="bordered striped highlight responsive-table" id="qsort">
		                <thead>
		                    <tr>
								<th style="width: 200px;">{{'Datum'|trans}}</th>
		                        <th style="width: 200px;">{{'IP-adres'|trans}}</th>
								<th>{{'Naam'|trans}}</th>
								<th style="width: 350px;">{{'E-mailadres'|trans}}</th>
								<th style="width: 150px;">{{'Telefoonnummer'|trans}}</th>
								{% if hasNewsletter %}
									<th class="center-align" style="width: 100px;">{{'Nieuwsbrief'|trans}}</th>
								{% endif %}
								<th style="width: 50px;"></th>
		                    </tr>
		                </thead>
		                <tbody id="filter-results"></tbody>
		            </table>

		            {% if Form.id is not null %}
		            <div class="pagination-wrapper">
		                <ul id="pagination" class="pagination left"></ul>
		            </div>
		            {% endif %}
		        </div>
		    </div>

		    {% if Form.id is not null %}
			<script>
				var current_page = 1;
				var filterUrl = '{{path('admin_mod_forms_answers_filter', {'formid': Form.id})}}';
				function filterList(p){
			    current_page = p;
			    $('#filter-loader').show();
			    var query = '/' + current_page + '?' + $('#filter-form').serialize() + '&pp=' + $('#per_page').val();;
			    $.ajax(filterUrl + query).done(function(response){

			        $('#filter-results').html('');
			        if(response.count){
			            $.each(response.results, function(ind, p){
			                var tr = $('<tr>');

			                tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.date + '</td>');
		                                tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + (p.ip == 'null' ? '----' : p.ip) + '</td>');
			                tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.name + '</td>');
			                tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.email + '</td>');
			                tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.phone + '</td>');
			                {% if hasNewsletter %}
				                tr.append('<td class="center-align" data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.nieuwsbrief + '</td>');
			                {% endif %}
			                tr.append('<td class="action"><a href="#" onclick="cpop.confirm( \'{{ 'Wilt u deze reactie verwijderen?' | trans }}\', function(){ window.location = \'{{ path('admin_mod_forms_answers_delete') }}/' + p.id + '\'; } ); return false;"><i class="far fa-trash-alt"></i></a></td>');

			                $('#filter-results').append(tr);
			            });
			        }else{
			            $('#filter-results').append('<tr><td colspan="5" class="text-center"><em>{{ 'Geen resultaten gevonden.' | trans }}</em></td></tr>');
			        }

			        $('td[data-url]').css('cursor', 'pointer').click(function(){
			            // window.location = $(this).data('url');
			            cpop.loadAjax($(this).data('url'));
			        });

			        $('#pagination').html('');



			        if (response.page > 1) {
						$('#pagination').append($('<li class="page-item"><a class="page-link" href="javascript:prevPage();"><i class="fa fa-chevron-left"></i></a></li>'));
					}else{
						$('#pagination').append($('<li class="page-item disabled"><a class="page-link" href="#!"><i class="fa fa-chevron-left"></i></a></li>'));
					}

					$.each(paginationParser(parseInt(response.page), parseInt(response.pages)), function(x, i){
						if(i == '...'){
							$('#pagination').append($('<span class="sep-dots">...</span>'));
						}else{
							$('#pagination').append($('<li class="page-item' + (response.page == i ? ' active' : '') + '"><a class="page-link" href="javascript:filterList(' + i + ');">' + i + '</a></li>'));
						}
					});

					if (response.page < response.pages) {
						$('#pagination').append($('<li class="page-item"><a class="page-link" href="javascript:nextPage();"><i class="fa fa-chevron-right"></i></a></li>'));
					}else{
						$('#pagination').append($('<li class="page-item disabled"><a class="page-link" href="#!"><i class="fa fa-chevron-right"></i></a></li>'));
					}

			        $('#filter-loader').hide();
			    });
				}

				function nextPage(){
				    filterList(current_page + 1);
				}

				function prevPage(){
				    filterList(current_page - 1);
				}

				$(function(){
				    filterList(1);
				});
			</script>
	    {% endif %}
		</div>
	</div>
</div>

<input type="hidden" id="inline_save" name="inline_save" value="0" />
<input type="hidden" name="delete" />

<div class="btn-bar">
	{# <button type="submit" class="save-close btn waves-effect waves-light"><i class="material-icons left">save</i>{{'Opslaan en sluiten'|trans}}</button> #}
	<div class="right">
            {#<a href="{{path('admin_mod_forms')}}" class="btn-flat waves-effect waves-dark"><i class="material-icons left">clear</i>{{ 'Terug' | trans }}</a> #}

            <button type="button" onclick="$('#inline_save').val('1');$('form').submit();" class="btn btn-flat"><i class="fa fa-check"></i> {{'Toepassen'|trans}}</button>
            <button type="button" onclick="$('form').submit();" class="btn"><i class="fa fa-save"></i> {{'Opslaan en sluiten'|trans}}</button>
	</div>
</div>

{{ form_end(form) }}

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>{{ 'Veld opties' | trans }}</h4>
		<div class="row">
			<div class="input-field col-12 col-md-4">
				<input id="option_classes" type="text">
				<label for="option_classes">{{ 'CSS classes' | trans }}</label>
			</div>
			<div class="col-12 col-md-4">
				{# <div class="col s12 m6">
					<div class="checkbox">
						<input type="checkbox" value="1" name="form[inlineEdit]" id="form_inlineEdit">
						<label for="form_inlineEdit">{{ 'Verplichte invoer' | trans }}</label>
					</div>
				</div> #}
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">{{ 'Agree' |trans }}</a>
	</div>
</div>



<div id="delete-question" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>{{ 'Vraag verwijderen' | trans }}</h4>
		{{ 'Weet u zeker dat u de vraag wilt verwijderen?' | trans }}
		<input type="hidden" name="question_id" />
	</div>
	<div class="modal-footer justify-space-between d-flex">
		<a href="#!" class="modal-action modal-close btn">{{ 'Annuleren' | trans }}</a>
		<a href="#!" class="do-remove btn-flat">{{ 'Verwijderen' | trans }}</a>
	</div>
</div>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset('/bundles/trinityforms/admin/css/editor.css')}}">
{% endblock %}
{% block scripts %}
<script>
var path = '{{path('admin_mod_forms_addrow',{'id': 1,'type': ''})}}/';
</script>
{# <script type="text/javascript" src="{{asset('/bundles/trinityforms/admin/js/html.sortable.src.js')}}"></script> #}
<script>
var formeditor_newoption = '{{ 'Nieuwe optie' | trans({}) | raw}}';
var formeditor_block = '{{ 'Blokkeren' | trans({}) | raw }}';
var formeditor_standard = '{{ 'Standard' | trans({}) | raw }}';
var formeditor_email = '{{ 'E-mailadres keuze' | trans({}) | raw }}';
</script>
<script type="text/javascript" src="{{asset('/bundles/trinityforms/admin/js/editor.js')}}"></script>
<script>
var field = null;
// $('#modal1').modal('open');
$('#modal1').modal({
	ready: function(modal, trigger) {
		field = trigger.parent().parent();
		console.log( field );
		$('#option_classes').val(field.find('input.classes').val());
	},
	complete: function() {
		console.log( field );
	}
});
var myToolBar = [
	{
		name: 'document',
		items: [
			'Bold',
			'Italic',
			'Underline',
			'Subscript',
			'Superscript',
			'RemoveFormat',
			'BulletedList',
			'Outdent',
			'Indent',
			'Blockquote',
			'JustifyLeft',
			'JustifyCenter',
			'JustifyRight',
			'JustifyBlock',
			'Link',
			'Unlink',
			'Image',
			'FontSize',
			'TextColor',
			'Sourcedialog'
		]
	},
	'/',
	{ name: 'styles', items: [ 'Format', 'Styles' ] },
];
var custom_config = {};
custom_config.toolbar = myToolBar;
$.each($('.c-ckeditor'), function(ind, el){
	CKEDITOR.replace(el, custom_config);
});
function addEmail(){
	var el = $('<div class="row">\
			<div class="col s12">\
					<div class="card">\
							<div class="card-body">\
									<textarea class="c-ckeditor"></textarea>\
							</div>\
					</div>\
			</div>\
	</div>');
	el.insertBefore('#new-email-wrapper');
	$.each(el.find('.c-ckeditor'), function(ind, el){
		console.log( el );
		CKEDITOR.replace(el, custom_config);
	});
}

$(document).ready(function(){
	$('.do-remove').click(function(){
		var id = $('#delete-question input[name="question_id"]').val();
		$('#q-' + id).parent().remove();
		$('#delete-question').modal('close');
		checkSortSizes();
	});
    // "fix" item dragging in firefox (tested with 60.1)
    var dragItems = document.querySelectorAll('[draggable=true]');

    for (var i = 0; i < dragItems.length; i++)
    {
        addEventListener.call(dragItems[i], 'dragstart', function (event) {
            // store the ID of the element, and collect it on the drop later on
            event.dataTransfer.setData('Text', this.id);
        })
    }
});
</script>

<script>
var callerEl = null;
function addMedia(el){
	callerEl = $(el);
	cpop.loadAjax('{{path('admin_media_popup', {'parentid': null})}}');
	return false;
}
function clickedPopupMedia(mediaid, filepath, label, width){
	$('#meta-field-' + mediaField).val(filepath);
	$('#meta-image-' + mediaField).html('<img src="' + filepath + '" style="max-width: 100%;max-height: 100%;" /><button style="" type="button" onclick="deleteMetaImage(' + mediaField + ');" class="btn red darken-1 del_btn"><i class="material-icons">delete</i></button>');
	$('#meta-imageselect-' + mediaField).hide();
	cpop.close();
}
function deleteMetaImage(id){
	$('#meta-field-' + id).val('');
	$('#meta-image-' + id).html('');
	$('#meta-imageselect-' + id).show();
}
</script>
{% endblock %}
