{% trans_default_domain 'search' %}
{% if file_exists('../templates/override/search/front.html.twig') %}
    {% include 'override/search/front.html.twig' %}
{% else %}
    <div class="search-bundle">
    	<form class="search-form" method="get">
    	    <input type="text" name="q" value="{{q}}" placeholder="{{ 'Type en druk op enter'|trans({}, 'search', app.request.locale) }}"/>
    	    <button type="submit">{{ 'Zoeken'|trans({}, 'search', app.request.locale) }}</button>
    	</form>

    	<div class="tabs-wrapper">
    	    {% if q %}
    		{% if sorted is not empty %}
    		    {% if sorted | length > 1 %}
    		    	<ul class="nav nav-tabs" id="searchTabs" role="tablist">
      			    {% set i = 0 %}
      			    {% for category, bundles in sorted %}
          				{% for bundle, results in bundles %}
        				    <li class="nav-item" role="presentation">
                      <a href="" class="nav-link {{i == 0 ? 'active' : ''}}" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab{{i}}" type="button" role="tab" {{i == 0 ? 'aria-selected="true"' : ''}}>
                        {{category|trans({}, 'search', app.request.locale)}}
                      </a>
        				    </li>
          				{% endfor %}
          				{% set i = (i + 1) %}
      			    {% endfor %}
      		  	</ul>
    		    {% endif %}

  		    <div class="tab-content" id="searchTabsContent">
    			{% set i = 0 %}
    			{# {% set base = 'http://' ~ url('homepage')|trim('/') %} #}
    			{% for category, bundles in sorted %}
    			    {% for bundle, results in bundles %}
    				  <div class="tab-pane {{i == 0 ? 'show active' : ''}}" id="tab{{i}}" role="tabpanel" aria-labelledby="tab{{i}}">
    				    {# {% if sorted | length > 1 %}
    					    <div class="pane-title">{{category|trans({}, 'search', app.request.locale)}}</div>
    				    {% endif %} #}
    				    {% for result in results %}
    					<a href="{{result.uri}}">
    					    <div class="result-card">
    						{% if result.media %}
    						    <div class="thumb" style="background:url('/{{result.media.webPath('thumb')}}') no-repeat center; background-size: cover;"></div>
    						{% elseif result.mediaUrl %}
    						    <div class="thumb" style="background-image:url('{{result.mediaUrl}}'); background-repeat: no-repeat; background-position: center; background-size: cover;"></div>
    						{% endif %}
    						<div class="result-title">
    						    <span class="result-label">{{result.label}}</span>
    						    <div class="result-accessoire">
    							{% if result.extra %}
    							    <span class="first">{{result.extra | raw}}</span>
    							{% endif %}
    							{% if result.secondExtra %}
    							    <span class="secondary">{{result.secondExtra | raw}}</span>
    							{% endif %}
    						    </div>
    						    {# <div class="result-url">
    							    <span class="result-link">{{result.uri}}</span>
    						    </div> #}
    						</div>
					    </div>
    					</a>
    				    {% endfor %}
    				</div>
    			    {% endfor %}
    			    {% set i = (i + 1) %}
    			{% endfor %}
    		    </div>
    		{% else %}
    		    <div class="no-results">{{ 'Er zijn geen resultaten gevonden met uw zoekwoorden'|trans({}, 'search', app.request.locale) }}
    			<strong>{{q}}</strong>.</div>
    		    {% endif %}
    		{% endif %}
    	</div>
    </div>

    <script>
    $(function(){
    	// Auto focus on search field on load
    	$('input[name="q"]').focus();
    });
    </script>
{% endif %}
