{% trans_default_domain 'blog' %}


{% set shareUrl = url(app.request.attributes.get('_route')) ~ '/' ~ Entry.id ~ '/' ~ Entry.getDefaultSlug %}
{% if Entry.slug %}
	{% set shareUrl = url(app.request.attributes.get('_route')) ~ '/' ~ Entry.getSlug %}
{% endif %}

{# {% block ogmetatags %}
		{% set currentUrl = shareUrl %}

		{%  set ogmetatitle = Entry.seoTitle %}
		{%  if ogmetatitle is empty %}
				{%  set ogmetatitle = Page.getTitle | raw %}
		{% endif %}

		<meta property="og:title" content="{{ ogmetatitle }}" />
		{% if settings.label is not empty %}
		<meta property="og:site_name" content="{{ settings.label }}" />
		{% endif %}
		{% if Entry.seoDescription is not empty %}
		<meta property="og:description" content="{{ Entry.seoDescription }}" />
		{% endif %}
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{{ currentUrl }}" />
		<meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset(Entry.image.getWebPath('small')) }}" />
{% endblock %} #}

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "NewsArticle",
	"author": "{{Settings.company}}",
	"publisher": {
		"@type": "Organization",
		{% if Entry.media.first is not empty %}
		"logo": {
			"@type": "ImageObject",
			"url": "https://{{Settings.host  ~ '/' ~ Entry.media.first.webPath()}}"
		},
		{% endif %}
		"name": "{{Settings.company}}"
	},
	"mainEntityOfPage": {
		"@type": "WebPage",
		"@id": "https://{{Settings.host  ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
	},
	{% if Entry.media.first is not empty %}
	"image": {
		"@type": "ImageObject",
		"url": "https://{{Settings.host  ~ '/' ~ Entry.media.first.webPath()}}"
	},
	{% endif %}
	"headline": "{{Entry.label}}",
	"datePublished": "{{Entry.datePublish|date('Y-m-d H:i:s')}}",
	"dateModified": "{{Entry.dateEdit|date('Y-m-d H:i:s')}}"
}
</script>


{% if file_exists('../templates/override/blog/entry.html.twig') %}
  {% include 'override/blog/entry.html.twig' %}
{% else %}
{% trans_default_domain 'blog' %}

	{#
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-sidebar/3.3.1/sticky-sidebar.min.js" integrity="sha512-iVhJqV0j477IrAkkzsn/tVJWXYsEqAj4PSS7AG+z1F7eD6uLKQxYBg09x13viaJ1Z5yYhlpyx0zLAUUErdHM6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript">
    var sidebar = new StickySidebar('#sidebar', {
			containerSelector: '#main-content',
			innerWrapperSelector: '.sidebar__inner',
			topSpacing: 20,
			bottomSpacing: 20
    });
	</script>
	#}

	{# Social media priority image #}
	{% if Entry.media and Entry.media.count > 0 %}
		<link rel="image_src" href="{{app.request.getSchemeAndHttpHost()}}/{{Entry.media.first.getWebPath}}"/>
	{% elseif Entry.image %}
		<link rel="image_src" href="{{app.request.getSchemeAndHttpHost()}}/{{Entry.image.getWebPath}}"/>
	{% endif %}

	<div class="blog v3 blog-entry">
		{% if config.uri is defined and config.uri is not empty %}
			{% set baseUrl_detail = path('homepage') ~ config.uri %}
		{% else %}
			{% set baseUrl_detail = path(app.request.attributes.get('_route')) %}
		{% endif %}
		{% if config.uri_overview is defined and config.uri_overview is not empty %}
			{% set baseUrl = path('homepage') ~ config.uri_overview %}
		{% else %}
			{% set baseUrl = path(app.request.attributes.get('_route')) %}
		{% endif %}

		{% if error %}
			<div class="message error">
				{{ error | trans }}
			</div>
		{% else %}
			{% if inline_error %}
				<div class="message error">
					{{ inline_error | trans }}
				</div>
			{% endif %}

			<div class="row">
				<div class="col-12">
					<div class="row">
						<div class="col-12 col-lg-8 col-xl-6 offset-lg-3">
							<div class="entry">
								<h1>{{Entry.label}}</h1>
								<div class="summary">
									{% if config['nodate'] is not defined %}
									<small class="date"><i class="fa fa-clock"></i> {{Entry.datePublish|timeago}}</small>
									{% endif %}
									{% if Entry.user and Entry.user.getName | trim is not empty %}
										<small class="author"><i class="fa fa-user"></i>
											{{Entry.user.getName}}</small>
									{% endif %}
									{% if config['allow_replies'] is defined %}

									<small class="reply-count">
										<a href="#replies">
											<i class="fa fa-comment"></i> {% if Entry.countReplies %}{{ Entry.countReplies }}{% else %}{{ 'Nog geen reacties' | trans({}) | raw }}{% endif %}
										</a>
									</small>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>

				
				<div class="col-12 col-lg-3">
					{# for each to get all the Anchors and show them in a list #}
					{% if Anchors is defined and Anchors is not empty %}
					<div class="blog-nav sticky-top">
						<div class="blog-nav-container">
							<h3>In dit artikel</h3>
								<ul>
									{% for key,anchor in Anchors %}
										<li>
											<a class="anchor" href="#anchor-{{key}}">{{anchor}}</a>
										</li>
									{% endfor %}
								</ul>
							<h3>Artikelen in categorie</h3>
							<ul>
							{% for cat in Entry.category.first.entry %}
								{% if cat.isexternal and cat.externalurl is not empty %}
								{% set detailUrl = cat.externalurl %}
								{% else %}
								{% set detailUrl = baseUrl_detail ~ '/' ~ cat.id ~ '/' ~ cat.getDefaultSlug %}
								{% endif %}
								{% set shareUrl = url(app.request.attributes.get('_route')) ~ '/' ~ cat.id ~ '/' ~ cat.getDefaultSlug %}
								{% if cat.slug and cat.isexternal == false %}
								{% set detailUrl = baseUrl_detail ~ '/' ~ cat.getSlug %}
								{% set shareUrl = url(app.request.attributes.get('_route')) ~ '/' ~ cat.getSlug %}
								{% endif %}
								<li>
									<a href="{{detailUrl}}">{{ cat.label }}</a>
								</li>
							{% endfor %}
							</ul>
						</div>
					</div>
					{% endif %}
				</div>

				<div class="col-12 col-lg-8 col-xl-6">
					<div class="intro">
						{{Entry.intro|raw}}
					</div>

					{% if Entry.media is not empty %}
						<div class="outline">
							<div class="swiper-content" id="blog_image">
								<div class="swiper-container swiper-blog-gallery">
									<div class="swiper-wrapper">
										{% if Entry.media.first %}
											{% for img in Entry.media %}
											<a href="/{{img.getWebpPath('')}}" class="swiper-slide">
												<div class="lcp">
													{% if img.hasBlurred %}
														<picture>
															{% if img.hasWebp() %}
																<source srcset="/{{img.getBlurredWebpPath('medium')}}" type="image/webp">
															{% endif %}
															<source srcset="/{{img.getBlurredWebPath('medium')}}" type="{{img.mime}}">
															<img class="lq" alt="{{img.description_alt}}" src="/{{img.getBlurredWebPath('medium')}}" type="{{img.mime}}" loading="lazy" width="{{img.width}}" height="{{img.height}}">
														</picture>
													{% endif %}
													<picture>
														{% if img.hasWebp() %}
															<source srcset="/{{img.getWebpPath('full')}}" type="image/webp">
														{% endif %}
														<source srcset="/{{img.getWebPath('full')}}" type="{{ img.mime }}">
														<img class="hq" alt="{{img.description_alt}}" src="/{{img.getWebPath('full')}}" type="{{img.mime}}" loading="lazy" width="{{img.width}}" height="{{img.height}}" onload="this.style.opacity=1" style="opacity: 0;">
													</picture>
												</div>
											</a>
											{% endfor %}
										{% elseif Entry.image is not null %}
											<a href="/{{img.getWebpPath('')}}" class="swiper-slide">
												<div class="lcp">
													{% if Entry.image.hasBlurred %}
														<picture>
															{% if Entry.image.hasWebp() %}
																<source srcset="/{{Entry.image.getBlurredWebpPath('medium')}}" type="image/webp">
															{% endif %}
															<source srcset="/{{Entry.image.getBlurredWebPath('medium')}}" type="{{Entry.image.mime}}">
															<img class="lq" alt="{{Entry.image.description_alt}}" src="/{{Entry.image.getBlurredWebPath('medium')}}" type="{{Entry.image.mime}}" loading="lazy" width="{{Entry.image.width}}" height="{{Entry.image.height}}">
														</picture>
													{% endif %}
													<picture>
														{% if img.hasWebp() %}
															<source srcset="/{{Entry.image.getWebpPath('full')}}" type="image/webp">
														{% endif %}
														<source srcset="/{{Entry.image.getWebPath('full')}}" type="{{ Entry.image.mime }}">
														<img class="hq" alt="{{Entry.image.description_alt}}" src="/{{Entry.image.getWebPath('full')}}" type="{{Entry.image.mime}}" loading="lazy" width="{{Entry.image.width}}" height="{{Entry.image.height}}" onload="this.style.opacity=1" style="opacity: 0;">
													</picture>
												</div>
											</a>
										{% endif %}
									</div>

									<div class="swiper-pagination"></div>
									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
								</div>
							</div>
						</div>
					{% endif %}

					
					<div class="body">
						{{Entry.body|raw}}
					</div>

					<br/>

					<div class="d-flex justify-content-between align-items-center">
						<a href="javascript:history.back()" class="btn btn-bordered"><i class="fa fa-arrow-left"></i> {{'Terug'|trans}}</a>

						{% if config['sharing'] is defined and config['sharing'] is not empty %}
							<div class="share">
								<span class="label">{{'Delen'|trans}}</span>

								{# Sharingbutton Facebook #}
								<a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u={{shareUrl}}" target="_blank" title="Facebook" aria-label="">
									<div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
										<div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
											<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/></svg>
										</div>
									</div>
								</a>

								{# Sharingbutton Twitter #}
								<a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text={{Entry.label}}&amp;url={{shareUrl}}" target="_blank" title="Twitter" aria-label="">
									<div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small">
										<div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
											<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><path
												d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"/></svg>
										</div>
									</div>
								</a>

								{# Sharingbutton E-Mail #}
								<a class="resp-sharing-button__link" href="mailto:?subject={{Entry.label}}&amp;body={{shareUrl}}" target="_self" title="E-Mail" aria-label="">
									<div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--small">
										<div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
											<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><path
												d="M22 4H2C.9 4 0 4.9 0 6v12c0 1.1.9 2 2 2h20c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM7.25 14.43l-3.5 2c-.08.05-.17.07-.25.07-.17 0-.34-.1-.43-.25-.14-.24-.06-.55.18-.68l3.5-2c.24-.14.55-.06.68.18.14.24.06.55-.18.68zm4.75.07c-.1 0-.2-.03-.27-.08l-8.5-5.5c-.23-.15-.3-.46-.15-.7.15-.22.46-.3.7-.14L12 13.4l8.23-5.32c.23-.15.54-.08.7.15.14.23.07.54-.16.7l-8.5 5.5c-.08.04-.17.07-.27.07zm8.93 1.75c-.1.16-.26.25-.43.25-.08 0-.17-.02-.25-.07l-3.5-2c-.24-.13-.32-.44-.18-.68s.44-.32.68-.18l3.5 2c.24.13.32.44.18.68z"/></svg>
										</div>
									</div>
								</a>

								{# Sharingbutton WhatsApp #}
								<a class="resp-sharing-button__link" href="whatsapp://send?text={{Entry.label}}%20{{shareUrl}}" target="_blank" title="WhatsApp" aria-label="">
									<div class="resp-sharing-button resp-sharing-button--whatsapp resp-sharing-button--small">
										<div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
											<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><path
												d="M20.1 3.9C17.9 1.7 15 .5 12 .5 5.8.5.7 5.6.7 11.9c0 2 .5 3.9 1.5 5.6L.6 23.4l6-1.6c1.6.9 3.5 1.3 5.4 1.3 6.3 0 11.4-5.1 11.4-11.4-.1-2.8-1.2-5.7-3.3-7.8zM12 21.4c-1.7 0-3.3-.5-4.8-1.3l-.4-.2-3.5 1 1-3.4L4 17c-1-1.5-1.4-3.2-1.4-5.1 0-5.2 4.2-9.4 9.4-9.4 2.5 0 4.9 1 6.7 2.8 1.8 1.8 2.8 4.2 2.8 6.7-.1 5.2-4.3 9.4-9.5 9.4zm5.1-7.1c-.3-.1-1.7-.9-1.9-1-.3-.1-.5-.1-.7.1-.2.3-.8 1-.9 1.1-.2.2-.3.2-.6.1s-1.2-.5-2.3-1.4c-.9-.8-1.4-1.7-1.6-2-.2-.3 0-.5.1-.6s.3-.3.4-.5c.2-.1.3-.3.4-.5.1-.2 0-.4 0-.5C10 9 9.3 7.6 9 7c-.1-.4-.4-.3-.5-.3h-.6s-.4.1-.7.3c-.3.3-1 1-1 2.4s1 2.8 1.1 3c.1.2 2 3.1 4.9 4.3.7.3 1.2.5 1.6.6.7.2 1.3.2 1.8.1.6-.1 1.7-.7 1.9-1.3.2-.7.2-1.2.2-1.3-.1-.3-.3-.4-.6-.5z"/></svg>
										</div>
									</div>
								</a>

								{# Sharingbutton Telegram #}
								<a class="resp-sharing-button__link" href="https://telegram.me/share/url?text={{Entry.label}}&amp;url={{shareUrl}}" target="_blank" title="Telegram" aria-label="">
									<div class="resp-sharing-button resp-sharing-button--telegram resp-sharing-button--small">
										<div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
											<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><path
												d="M.707 8.475C.275 8.64 0 9.508 0 9.508s.284.867.718 1.03l5.09 1.897 1.986 6.38a1.102 1.102 0 0 0 1.75.527l2.96-2.41a.405.405 0 0 1 .494-.013l5.34 3.87a1.1 1.1 0 0 0 1.046.135 1.1 1.1 0 0 0 .682-.803l3.91-18.795A1.102 1.102 0 0 0 22.5.075L.706 8.475z"/></svg>
										</div>
									</div>
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					{% if 'WebshopBundle' in installed and products %}
						<script type="text/javascript">
						var baseUrl = '{{path('homepage')}}';
						var cart_url = '{{path('cart')}}';
						var products_url = '{{path('products')}}';
						var doNotReload = false;
						</script>

						<div class="blog-products">
							<h5>{{'Gerelateerde producten'|trans}}</h5>

							<div class="webshop-bundle webshop-widget">
						    <div class="swiper-content">
					  		  <div class="swiper-container swiper-products">
				    			  <div class="swiper-wrapper">
										{% for Product in products %}
											{% set OriginalProduct = Product %}
											{% set Category = Product.category.first %}
											{% if Product.type == 1 %}
												{% set Product = Product.linkedProducts.first %}
											{% endif %}
				    				  <div class="swiper-slide">
					    					<div class="product">
					    					  {% include '@TrinityWebshop/elements/productCard.html.twig' with {'config': {'allow_cart': true, 'show_image': true, 'allow_list': false, 'show_price': true}}  %}
					    					</div>
				    				  </div>
											{% endfor %}
				    			  </div>

					          <div class="swiper-pagination d-md-none"></div>
					          <div class="swiper-button-prev d-none d-md-block"></div>
					          <div class="swiper-button-next d-none d-md-block"></div>
					        </div>
							  </div>
					    </div>
						</div>
					{% endif %}

					{% macro parseReplies(replies, depth) %}
						{% import _self as self %}
						{% for Reply in replies %}
							{% if Reply.approved %}
								<div class="reply reply-depth-{{depth}} {{depth == 0 and loop.index == 1 ? 'first' : ''}}">
									<div class="reply-wrapper">
										<div class="data">
											<div class="name">{{Reply.firstname}}</div>
											<div class="date">{{Reply.date|timeago}}</div>
										</div>
										<div class="comment" id="comment-{{Reply.id}}">
											<div class="comment-content">
												{{Reply.comment|raw}}
											</div>
										</div>

										<div class="actions">
											<a href="#" class="action-reply btn btn-bordered btn-small" data-target="{{Reply.id}}" data-name="{{Reply.firstname}}" data-date="{{Reply.date.format('Y-m-d H:i:s')}}">
												<i class="fa fa-reply"></i> {{ 'Reageren' | trans({}) | raw }}</a>
											<a href="#" class="action-quote btn btn-bordered btn-small" data-target="{{Reply.id}}" data-name="{{Reply.firstname}}" data-date="{{Reply.date.format('Y-m-d H:i:s')}}">
												<i class="fa fa-quote-right"></i> {{ 'Citeren' | trans({}) |raw }}</a>
										</div>
									</div>
									<div class="child-replies">
										{{ self.parseReplies(Reply.replies, (depth + 1)) }}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					{% endmacro %}
				</div>

				<div class="col-12 col-lg-6 offset-lg-3">
					{% from _self import parseReplies %}

					<div class="blog-replies-wrapper">
						{% if config['allow_replies'] is defined %}
							<a name="replies"></a>
							<div class="card blog-replies">
								<div class="card-header">
									{{ 'Reacties' | trans }}
									({{Entry.countReplies}})
								</div>
								<div class="card-body">
									{% if replies %}
										{{ parseReplies(replies, 0) }}
									{% else %}
										{{ 'Vul het formulier hieronder in om als eerste te reageren op dit artikel.' | trans }}
									{% endif %}
								</div>
							</div>

							<div class="card blog-reply-form">
								<div class="card-header">
									{{ 'Reageren op het artikel' | trans({}) }}
								</div>
								<div class="card-body">
									{{ form_start(Form, {attr: {id: 'blog-entry-form'}}) }}
									{{ form_errors(Form) }}

									<input type="hidden" name="replyto" id="replyto" value=""/>

									<div id="quote-preview"></div>

									{{ form_row(Form.firstname, {'label': false, 'attr': {'placeholder': 'Voornaam' | trans }}) }}
									{{ form_row(Form.lastname, {'label': false, 'attr': {'placeholder': 'Achternaam' | trans }}) }}
									{{ form_row(Form.email, {'label': false, 'attr': {'placeholder': 'E-mailadres' | trans }}) }}
									{{ form_row(Form.comment, {'label': false, 'attr': {'placeholder': 'Reactie' | trans, 'class': 'reply-editor' }}) }}

									<div class="form-check">
										<input checked="checked" type="checkbox" id="replies-notification" name="optin[reply]" value="1" class="form-check-input" />
										<label class="form-check-label" for="replies-notification">
											{{ 'Ik wil een e-mail ontvangen wanneer iemand op mij reageert.' | trans({}) | raw }}
										</label>
									</div>

									<div class="form-check">
										<input type="checkbox" name="optin[new]" id="replies-new-message" value="1" class="form-check-input" />
										<label class="form-check-label" for="replies-new-message">
											{{ 'Ik wil een e-mail ontvangen wanneer een nieuw bericht wordt geplaatst.' | trans({}) | raw }}
										</label>
									</div>

									<br>

									{{ settings.getGoogleRecaptchaWidget() | raw }}

									<button class="btn" id="blog-reply-submit" type="submit">{{ 'Plaats reactie' | trans }}</button>

									{{ form_end(Form) }}
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{% if config['related'] is defined and config['related'] is not empty %}
		{% set relationCount = 0 %}
		{% for SubEntry in related %}
			{% if SubEntry != Entry %}
				{% set relationCount = 1 %}
			{% endif %}
		{% endfor %}

		<div class="blog blog-category mb-4">
			<div class="introblock">
				<div class="introtitle">{{'Artikelen in categorie'|trans({})|raw}}</div>
				<div class="introtext">{{'Bekijk meer gerelateerde berichten'|trans({})|raw}}</div>
			</div>

			<div class="swiper-content">
				<div class="swiper-container swiper-blog">
					<div class="swiper-wrapper">
						{% for cat in Entry.category.first.entry %}
						{% if cat.isexternal and cat.externalurl is not empty %}
						{% set detailUrl = cat.externalurl %}
						{% else %}
						{% set detailUrl = baseUrl_detail ~ '/' ~ cat.id ~ '/' ~ cat.getDefaultSlug %}
						{% endif %}
						{% set shareUrl = url(app.request.attributes.get('_route')) ~ '/' ~ cat.id ~ '/' ~ cat.getDefaultSlug %}
						{% if cat.slug and cat.isexternal == false %}
						{% set detailUrl = baseUrl_detail ~ '/' ~ cat.getSlug %}
						{% set shareUrl = url(app.request.attributes.get('_route')) ~ '/' ~ cat.getSlug %}
						{% endif %}							
							<div class="swiper-slide">
								<div class="item card">

									<a href="{{detailUrl}}">
										<div class="heightfix">
											{% if config['minimal'] is not defined or config['minimal'] == '0' %}
												<div class="thumb">

		                          <div class="lcp image">
		                            <picture>
		                              {% if cat.media and cat.media.count > 0 %}
		                                {% if cat.media.first.hasWebp() %}
		                                  <source srcset="/{{cat.media.first.getWebpPath}}" type="image/webp">
		                                {% endif %}
		                                <source srcset="/{{cat.media.first.getWebPath}}" type="{{ cat.media.first.mime }}">
		                                <img class="hq" alt="{{cat.media.first.description_alt}}" src="/{{cat.media.first.getWebPath}}" type="{{cat.media.first.mime}}" loading="lazy" width="{{cat.media.first.width}}" height="{{cat.media.first.height}}"  onload="this.style.opacity=1" style="opacity: 0;">
		                              {% elseif cat.image %}
		                                {% if cat.media.first.hasWebp() %}
		                                  <source srcset="/{{cat.image.getWebpPath}}" type="image/webp">
		                                {% endif %}
		                                <source srcset="/{{cat.image.getWebPath}}" type="{{ cat.image.mime }}">
		                                <img class="hq" alt="{{cat.image.description_alt}}" src="/{{cat.image.getWebPath}}" type="{{cat.image.mime}}" loading="lazy" width="{{cat.image.width}}" height="{{cat.image.height}}"  onload="this.style.opacity=1" style="opacity: 0;">
		                              {% endif %}
		                            </picture>
		                          </div>
												</div>
												<div class="content">
													<h3>
														{{ cat.label }}
													</h3>
													{% if config['nodate'] is not defined %}
														<span class="date">
															{{cat.datePublish|timeago}}
														</span>
													{% endif %}
												</div>
											{% else %}
												<div>
													{% if config['nodate'] is not defined %}
														<div class="date">
															{{cat.datePublish|timeago}}
														</div>
													{% endif %}
													<a href="{{detailUrl}}">{{ cat.label }}</a>
												</div>
											{% endif %}
										</div>
									</a>
								</div>
							</div>
						{% endfor %}
					</div>

					<div class="swiper-pagination"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>

		{% if relationCount > 0 %}
			{% set counter = 0 %}
				<div class="blog blog-related">
					<div class="introblock">
						<div class="introtitle">{{'Meer nieuws'|trans({})|raw}}</div>
						<div class="introtext">{{'Bekijk meer gerelateerde berichten'|trans({})|raw}}</div>
					</div>

					<div class="swiper-content">
						<div class="swiper-container swiper-blog">
							{% if config['uri'] is defined and config['uri'] is not empty %}
							{% set baseUrl = path('homepage') ~ config['uri'] %}
							{% else  %}
								{% set baseUrl = path(app.request.attributes.get('_route')) %}
							{% endif %}

							<div class="swiper-wrapper">
								{% for SubEntry in related %}
									{% if SubEntry != Entry and counter < 6 and SubEntry.concept == 0 and (date() > SubEntry.datePublish) and (date() < SubEntry.datePublishEnd) %}
									{% set counter = (counter + 1) %}
									{% set detailUrl = baseUrl ~ '/' ~ SubEntry.id ~ '/' ~ SubEntry.getDefaultSlug %}
									{% if SubEntry.slug %}
										{% set detailUrl = baseUrl ~ '/' ~ SubEntry.getSlug %}
									{% endif %}
									<div class="swiper-slide">
										<div class="item card">

		                  <a href="{{detailUrl}}">
		                    <div class="heightfix">
		                      {% if config['minimal'] is not defined or config['minimal'] == '0' %}
		                        <div class="thumb">

		                          <div class="lcp image">
		                            <picture>
		                              {% if SubEntry.media and SubEntry.media.count > 0 %}
		                                {% if SubEntry.media.first.hasWebp() %}
		                                  <source srcset="/{{SubEntry.media.first.getWebpPath}}" type="image/webp">
		                                {% endif %}
		                                <source srcset="/{{SubEntry.media.first.getWebPath}}" type="{{ SubEntry.media.first.mime }}">
		                                <img class="hq" alt="{{SubEntry.media.first.description_alt}}" src="/{{SubEntry.media.first.getWebPath}}" type="{{SubEntry.media.first.mime}}" loading="lazy" width="{{SubEntry.media.first.width}}" height="{{SubEntry.media.first.height}}"  onload="this.style.opacity=1" style="opacity: 0;">
		                              {% elseif SubEntry.image %}
		                                {% if SubEntry.media.first.hasWebp() %}
		                                  <source srcset="/{{SubEntry.image.getWebpPath}}" type="image/webp">
		                                {% endif %}
		                                <source srcset="/{{SubEntry.image.getWebPath}}" type="{{ SubEntry.image.mime }}">
		                                <img class="hq" alt="{{SubEntry.image.description_alt}}" src="/{{SubEntry.image.getWebPath}}" type="{{SubEntry.image.mime}}" loading="lazy" width="{{SubEntry.image.width}}" height="{{SubEntry.image.height}}"  onload="this.style.opacity=1" style="opacity: 0;">
		                              {% endif %}
		                            </picture>
		                          </div>
		                        </div>
		                        <div class="content">
		                          <h3>
		                            {{SubEntry.label}}
		                          </h3>
		                          {% if config['nodate'] is not defined %}
		                            <span class="date">
		                              {{SubEntry.datePublish|timeago}}
		                            </span>
		                          {% endif %}
		                        </div>
		                      {% else %}
		                        <div>
		                          {% if config['nodate'] is not defined %}
		                            <div class="date">{{SubEntry.datePublish|timeago}}</div>
		                          {% endif %}
		                          <a href="{{detailUrl}}">{{SubEntry.label}}</a>
		                        </div>
		                      {% endif %}
		                    </div>
		                  </a>
										</div>
									</div>
									{% endif %}
								{% endfor %}
							</div>

		          <div class="swiper-pagination"></div>
		          <div class="swiper-button-prev"></div>
		          <div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
		{% endif %}
	{% endif %}
{% endif %}

<script>

</script>