{% trans_default_domain 'cms' %}

{% if pageIndex is not defined %}
	{%  set pageIndex = false %}
{% endif %}

{% for pagedata in pages %}
<li class="page-entry" id="page_{{pagedata.Page.id}}" style="position: relative;">
  <div
    class="page-entry-content {% if pagedata.Page.visible == false or pagedata.Page.enabled == false %}opaque{% endif %}"
    data-slug="{{pagedata.Page.slugKey}}"
    data-simpleslug="{{pagedata.Page.slug}}"
    data-url="{{path(pagedata.Page.slugkey) | replace({'app_dev.php/': ''})}}"
    data-label="{{pagedata.Page.label}}"
    data-pageid="{{pagedata.Page.id}}">

    <div class="entry-left">
      <span class="left disclose"></span>

      {% if selector is not defined or selector == false %}
        <div class="bulk-checkbox">
          <p>
            <input type="checkbox" class="bulk-check" id="bulk-{{pagedata.Page.id}}" name="bulk[]" value="{{pagedata.Page.id}}" />
            <label for="bulk-{{pagedata.Page.id}}"></label>
          </p>
        </div>
      {% endif %}

      <span class="label">
        <a{% if app.request.query.get("ckeditor") is null and (modal is not defined or allowLinks is defined) %} href="{{path('admin_page_edit', {'id': pagedata.Page.id})}}" {% endif %}>
          {{pagedata.Page.label|raw}}
        </a>
      </span>
    </div>

    <div class="entry-right">
      {% if app.request.query.get("CKEditor") is null and modal is not defined %}
        <span class="actions">
          {% if is_granted('ROLE_SUPER_ADMIN') %}
            <span class="layout-name" title="{% if pagedata.Page.layout is not empty %}{{pagedata.Page.getLayoutLabel}}{% endif %}" data-bs-toggle="tooltip">
              {% if pagedata.Page.layout is not empty and pagedata.Page.layout != 'default' %}
                <i class="fa fa-fill-drip"></i>
              {% endif %}
            </span>
          {% endif %}

          {% if ActivePage == pagedata.Page %}
            <span class="layout-name" title="{{'Homepagina'|trans}}" data-bs-toggle="tooltip">
              <i class="fa fa-home"></i>
            </span>
          {% endif %}
          {% if pagedata.Page.pageType == 'child' %}
            <span class="layout-name" title="{{'Verwijst naar onderliggende pagina'|trans}}" data-bs-toggle="tooltip">
              <i class="fa fa-level-down-alt"></i>
            </span>
          {% endif %}
          {% if pagedata.Page.pageType == 'external' %}
            <span class="layout-name" title="{{'Verwijst naar externe link'|trans}}" data-bs-toggle="tooltip">
              <i class="fa fa-link"></i>
            </span>
          {% endif %}

          {% if pagedata.Page.access == 'password' %}
            <span class="layout-name" title="{{'Voor deze pagina is een wachtwoord vereist'|trans}}" data-bs-toggle="tooltip">
              <i class="fa fa-key"></i>
            </span>
          {% elseif pagedata.Page.access == 'login' %}
            <span class="layout-name" title="{{'Voor deze pagina moet ingelogd worden'|trans}}" data-bs-toggle="tooltip">
              <i class="fa fa-lock"></i>
            </span>
          {% elseif pagedata.Page.access == 'no-login' %}
            <span class="layout-name" title="{{'Deze pagina is enkel anoniem toegankelijk'|trans}}" data-bs-toggle="tooltip">
              <i class="fa fa-unlock"></i>
            </span>
          {% elseif pagedata.Page.access == 'no-role' %}
            <span class="layout-name" title="{{'Deze pagina is alleen toegankelijk als een bepaalde rol NIET is toegewezen'|trans}}" data-bs-toggle="tooltip">
              <i class="fa fa-user-tag"></i>
            </span>
          {% endif %}

          <div class="dropdown">
            <a class="dropdown-toggle" id="page-item-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-fw fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="page-item-dropdown">
              <div class="dropdown-item-wrapper">
						<a class="dropdown-item" {% if app.request.query.get("ckeditor") is null and (modal is not defined or allowLinks is defined) %}href="{{path('admin_page_edit', {'id': pagedata.Page.id})}}"{% endif %} title="{{'Bewerken'|trans}}">
                  <i class="fa fa-fw fa-edit"></i> Bewerken
                </a>
              </div>
              <div class="dropdown-item-wrapper">
                <a class=" tt-downloaden dropdown-item" title="{{ 'Downloaden' | trans }}" alt="{{'Downloaden'|trans}}" href="{{path('admin_page_download', {'id': pagedata.Page.id})}}">
                  <i class="fa fa-fw fa-download"></i> {{'Downloaden'|trans}}
                </a>
              </div>
              <div class="dropdown-item-wrapper">
                <a class=" tt-toevoegen dropdown-item" title="{{ 'Sub-pagina aanmaken' | trans }}" alt="{{'Sub-pagina aanmaken'|trans}}" href="{{path('admin_page_edit', {'parent': pagedata.Page.id})}}">
                  <i class="fa fa-fw fa-stream"></i> {{'Sub-pagina aanmaken'|trans}}
                </a>
              </div>
              <div class="dropdown-item-wrapper">
                <a class="tt-weergeven dropdown-item" title="{{ 'Bekijken' | trans }}" id="slugpath-{{pagedata.Page.id}}" alt="{{'Bekijken'|trans}}" href="{{host ~ (ActivePage == pagedata.Page ? '' : path(pagedata.Page.slugkey))}}" target="_blank" >
                  <i class="fa fa-fw fa-external-link-alt"></i> {{ 'Bekijken' | trans }}
                </a>
              </div>
              <div class="dropdown-item-wrapper d-lg-none">
                <a class="dropdown-item popup" title="{{ 'Pagina dupliceren' | trans }}" href="{{path('admin_page_clone', {'id': pagedata.Page.id})}}" alt="{{'Pagina dupliceren'|trans}}">
                  <i class="far fa-fw fa-clone"></i>
                  {{ 'Pagina dupliceren' | trans }}
                </a>
              </div>
              <div class="dropdown-item-wrapper d-lg-none">
                <a class="dropdown-item" title="{{ 'Zichtbaarheid in menu' | trans }}" onclick="togglePageVisibility(this); return false;" data-pageid="{{pagedata.Page.id}}" alt="{{'Zichtbaarheid in menu'|trans}}" href="{{path('admin_page_edit')}}/{{pagedata.Page.id}}">
                  <i class="{% if pagedata.Page.visible == true %}fa fa-fw fa-eye{% endif %}{% if pagedata.Page.visible == false %}far fa-fw fa-eye-slash{% endif %}"></i>
                  {{ 'Zichtbaarheid in menu' | trans }}
                </a>
              </div>
              <div class="dropdown-item-wrapper d-lg-none">
                <a class="dropdown-item" title="{{ 'Bereikbaarheid' | trans }}" onclick="togglePageAvailability(this); return false;" data-pageid="{{pagedata.Page.id}}" alt="{{'Bereikbaarheid'|trans}}" href="{{path('admin_page_edit')}}/{{pagedata.Page.id}}">
                    <i class="{% if pagedata.Page.enabled %}fa fa-fw fa-check-circle{% else %}far fa-fw fa-circle{% endif %}"></i>
                    {{ 'Bereikbaarheid' | trans }}
                </a>
              </div>
              <div class="dropdown-item-wrapper d-lg-none">
                <a class="dropdown-item confirm" href="{{path('admin_page_delete') ~ '/' ~ pagedata.Page.id}}" data-callback="deleteNotify" data-msg="Wilt u deze pagina verwijderen?">
                  <i class="far fa-fw fa-trash-alt"></i>
                  {{ 'Verwijderen' | trans }}
                </a>
              </div>
            </div>
          </div>

          <span class="d-none d-lg-inline-block">
            <a class="popup" title="{{ 'Pagina dupliceren' | trans }}" href="{{path('admin_page_clone', {'id': pagedata.Page.id})}}" alt="{{'Pagina dupliceren'|trans}}" data-bs-toggle="tooltip">
              <i class="far fa-fw fa-clone"></i>
            </a>

            {% if allowCache %}
              {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="" title="{{ 'Pagina critical CSS' | trans }}" onclick="togglePageCritical(this); return false;" data-pageid="{{pagedata.Page.id}}" alt="{{'Pagina critical css'|trans}}" data-bs-toggle="tooltip">
                  <i class="{% if pagedata.Page.critical == true %}fas{% else %}far{% endif %} fa-star"></i>
                </a>
                <a class="" title="{{ 'Pagina cache' | trans }}" onclick="togglePageCache(this); return false;" data-pageid="{{pagedata.Page.id}}" alt="{{'Pagina cache'|trans}}" data-bs-toggle="tooltip">
                  <i class="{% if pagedata.Page.cache == true %}fas{% else %}far{% endif %} fa-bookmark"></i>
                </a>
              {% endif %}
            {% endif %}

            <a class="" title="{{ 'Zichtbaarheid in menu' | trans }}" onclick="togglePageVisibility(this); return false;" data-pageid="{{pagedata.Page.id}}" alt="{{'Zichtbaarheid in menu'|trans}}" href="{{path('admin_page_edit')}}/{{pagedata.Page.id}}" data-bs-toggle="tooltip">
              <i class="{% if pagedata.Page.visible == true %}fa fa-fw fa-eye{% endif %}{% if pagedata.Page.visible == false %}far fa-fw fa-eye-slash{% endif %}"></i>
            </a>

            <a class="" title="{{ 'Bereikbaarheid' | trans }}" onclick="togglePageAvailability(this); return false;" data-pageid="{{pagedata.Page.id}}" alt="{{'Bereikbaarheid'|trans}}" href="{{path('admin_page_edit')}}/{{pagedata.Page.id}}" data-bs-toggle="tooltip">
                <i class="{% if pagedata.Page.enabled %}fa fa-fw fa-check-circle{% else %}far fa-fw fa-circle{% endif %}"></i>
            </a>

            <a class="confirm" href="{{path('admin_page_delete') ~ '/' ~ pagedata.Page.id}}" data-callback="deleteNotify" data-msg="{{'Wilt u deze pagina verwijderen?'|trans}}" title="{{'Pagina verwijderen'|trans}}" data-bs-toggle="tooltip">
              <i class="far fa-fw fa-trash-alt"></i>
            </a>
          </span>
        </span>

        {% if pagedata.Page.scores is not empty and app.user.username == 'admin' %}
          {% set score = pagedata.Page.scores.first.score %}
          <a
            href="{{path('admin_page_score', {pageid: pagedata.Page.id})}}"
            class="{% if score < 50 %}red-text{% elseif score < 80 %}orange-text{% else %}green-text{% endif %} right">
            <i class="material-icons left">star</i>
            {{score}}/100</a>
        {% endif %}
      {% endif %}
    </div>
  </div>

  {% if pagedata.children %}
    <ol {{selector is defined and selector == true ? 'style="list-style: none; padding: 0;"' : ''}}>
      {% include "@Cms/includes/menu-links.html.twig" with {'pages': pagedata.children, 'depth': ((depth is defined ? depth : 0) + 1)} %}
    </ol>
  {% endif %}
</li>
{% endfor %}
