{% trans_default_domain 'cms' %}

<div style="min-width:400px;">
	<h1>{{'Album toevoegen'|trans}}</h1>

	{% if saved is defined %}
		{{'Het album is succesvol opgeslagen.'|trans}}

		<script type="text/javascript">
		$().ready(function(){
			window.location = '{{path('admin_media', {'parentid': Album.id})}}';
		});
		</script>
	{% else %}
		<div class="control-group ">
			<label for="form_label" class="required">{{'Titel'|trans}}</label>
			<div class="controls"><input type="text" name="label" value="{{Album.label}}" /></div>
		</div>

		{# <div class="control-group ">
			<label for="form_label" class="required">{{'Tags'|trans}}</label>
			<div class="controls"><select class="tag-selector" style="width:300px;" name="tags[]" multiple="multiple">
				{% for Tag in tags %}
					{% if Tag in Album.tags %}
						<option value="{{Tag.label}}" selected="selected">{{Tag.label}}</option>
					{% else %}
						<option value="{{Tag.label}}">{{Tag.label}}</option>
					{% endif %}
				{% endfor %}
			</select></div>
		</div> #}

		<button class="btn green darken-1" type="submit">{{'Album opslaan'|trans}}</button>

		<script type="text/javascript">
		/*$().ready(function(){
			$(".tag-selector").select2({ tags: true })
		});*/
		</script>
	{% endif %}
</div>