{% trans_default_domain 'cms' %}



<div class="page-save-overlay" id="edit-media-loader" style="z-index:100000;">
	<div class="vtable">
		<div class="valign">
			<div class="loading"></div>
			<span>Bezig met opslaan..</span>
		</div>
	</div>
</div>

{% if saved %}
	{% if callbackUrl is not empty %}
		{% if callbackType == 'modal' %}
			Opgeslagen, de popup wordt teruggeleid.
		{% else %}
			Opgeslagen, u wordt doorgestuurd.
		{% endif %}
	{% else %}
		Opgeslagen, de pagina wordt vernieuwd.
	{% endif %}

	<script>
	{% if callbackUrl is not empty %}
		{% if callbackType == 'modal' %}
			// Callback to modal
			cpop.large().loadAjax('{{callbackUrl}}');
		{% else %}
			// Callback
			window.location.replace('{{callbackUrl}}');
		{% endif %}
	{% else %}
		// No callback
		window.location.replace('{{path('admin_media_view', {id: Media.id})}}');
	{% endif %}
	</script>

	<div id="popup_footer">
	</div>
{% else %}
	{% if is_granted('ROLE_SUPER_ADMIN') %}
		{% if app.request.get('inlineedit') %}
			{% if Media and Media.id is not empty %}
				<ul class="media-edit-tabs">
					<li><button onclick="addMedia(callerEl)" type="button"><i class="far fa-images"></i> Media bibliotheek</button></li>
					<li><button onclick="editMedia(callerEl)" type="button"><i class="fa fa-magic"></i> Afbeelding bewerken</button></li>
					{% if Settings.tinypngApi is not empty %}
						<li><button class="active" type="button"><i class="far fa-file-archive"></i> Afbeelding comprimeren</button></li>
					{% endif %}
				</ul>
			{% endif %}
		{% endif %}
	{% endif %}
	{% if Tinify is not empty and Tinify.status == 'OK' %}
		<p>
			<strong>Besparing na compressie: {{Tinify.diff|round(1, 'floor')}}%</strong><br/>
			<strong>Originele grootte: {{format_bytes(Tinify.source_size)}}, nieuwe grootte: {{format_bytes(Tinify.dest_size)}}</strong>
		</p>

		<p>Wilt u de wijzigingen opslaan? Hieronder volgt een voorbeeld (klik op de afbeelding om deze in een nieuw tab te openen):</p>

		<a href="{{dest_path}}" target="_blank"><img src="{{dest_path}}" style="max-height: 70%;" /></a>

		<div id="popup_footer">
			<a onclick="cpop.close()" class="btn-flat left">Sluiten</a>
			<a onclick="$('#edit-media-loader').show();cpop.reset().loadAjax('{{path('admin_media_compress', {id: Media.id, save: 1, callback: (callbackUrl|url_encode), callbackType: callbackType})|raw}}');" class="btn">Wijzigingen behouden</a>
		</div>
	{% else %}
		<p>Compressie mislukt:</p>

		{% if Tinify is not empty %}
			<p>{{Tinify.status}}</p>
		{% else %}
			<p>Systeem fout</p>
		{% endif %}

		<div id="popup_footer">
			<a onclick="cpop.close()" class="btn-flat left">Sluiten</a>
		</div>
	{% endif %}
{% endif %}