{% if saved %}
	De afbeelding is opgeslagen.

	<script>
	$('img[data-mediaid="{{Media.id}}"]')[0].src = '/{{Media.webPath}}?t={{date|format('YmdHis')}}';
	</script>
{% else %}
	<script>
	var didCrop = false;
	</script>
	
	{% if is_granted('ROLE_SUPER_ADMIN') %}
		{% if app.request.get('inlineedit') %}
			{% if Media and Media.id is not empty %}
				{% set callbackUrl = (path('admin_media_edit', {id: Media.id})|url_encode) %}
				<script>
				function doCompress(){
					var compressUrl = '{{path('admin_media_compress', {id: Media.id, inlineedit: 1, callback: callbackUrl, callbackType: 'modal'})|raw}}';
					cpop.large().loadAjax(compressUrl);
				}
				</script>
				<ul class="media-edit-tabs">
					<li><button onclick="addMedia(callerEl)" type="button"><i class="far fa-images"></i> Media bibliotheek</button></li>
					<li><button class="active" type="button"><i class="fa fa-magic"></i> Afbeelding bewerken</button></li>
					{% if Settings.tinypngApi is not empty %}
						<li><button onclick="doCompress()" type="button"><i class="far fa-file-archive"></i> Afbeelding comprimeren</button></li>
					{% endif %}
				</ul>
			{% endif %}
		{% endif %}
	{% endif %}

	<div class="page-save-overlay" id="edit-media-loader" style="z-index:100000;">
		<div class="vtable">
			<div class="valign">
				<div class="loading"></div>
				<span>Bezig met opslaan..</span>
			</div>
		</div>
	</div>

	{% set callbackUrl = (path('admin_media_edit', {id: Media.id})|url_encode) %}
	{% set myUrl = (path('admin_media_edit', {id: Media.id})) %}

	<style>
	.crop-toolbox {
	    position: absolute;
	    top: 10px;
	    right: 10px;
	    z-index: 10000;
	    left: 10px;
	    background: rgba(0,0,0,0.3);
	    text-align: center;
	    padding: 5px 0;
	    border-radius: 5px;
		height: 30px;
	}

	.crop-toolbox a {
		cursor: pointer;
	    display: inline-block;
	    margin: 0px 5px;
	    font-size: 14px;
	    color: white;
	    height: 20px;
	    line-height: 20px;
	    padding: 0 6px;
	}

	.crop-toolbox a.active {
	    background: #159cde;
	    display: inline-block;
	    border-radius: 6px;
	}

	.crop-toolbox a i{

	}

	.modal-content canvas{
		display: block;
	    margin-top: 20px;
	}
	</style>
	<div>
		    <input type="hidden" name="crop_box" id="crop_box" value="{{Media.cropBox}}" />
		    <input type="hidden" name="crop_ratio" id="crop_ratio" value="{{Media.cropRatio ? Media.cropRatio : 'NaN'}}" />
		    <input type="hidden" name="crop_flip_x" id="crop_flip_x" value="{{Media.cropFlipX ? Media.cropFlipX : '1'}}" />
		    <input type="hidden" name="crop_flip_y" id="crop_flip_y" value="{{Media.cropFlipY ? Media.cropFlipY : '1'}}" />

			<div class="t-content" id="media">


					<script>
					function setCropRatio(el, size){
						$('#crop_ratio').val(size);
						cropper.setAspectRatio(size);
						cropper.reset();
						cropper.setCropBoxData(savedCropBox);
						$('.crop-btn').removeClass('active');
						$(el).addClass('active');
					}
					</script>

					<div id="view-manage">

								<div class="cropper-container">

									<div class="crop-toolbox">
										<a onclick="cropper.reset();cropper.setCropBoxData(savedCropBox);$('#crop_flip_x').val(1);$('#crop_flip_y').val(1);">
											<i class="fa fa-sync-alt"></i>
										</a>

										<a class="crop-btn" onclick="setCropRatio(this, 16 / 9);">16/9</a>
										<a class="crop-btn" onclick="setCropRatio(this, 4 / 3);">4/3</a>
										<a class="crop-btn" onclick="setCropRatio(this, 1 / 1);">1/1</a>
										<a class="crop-btn active" onclick="setCropRatio(this, NaN);">Vrij</a>
										<a onclick="if($('#crop_flip_x').val() == 1){ $(this).addClass('active'); $('#crop_flip_x').val(-1);cropper.scaleX(-1); }else{ $(this).removeClass('active'); $('#crop_flip_x').val(1);cropper.scaleX(1); }">
											<i class="fa fa-arrows-alt-h" style=""></i>
										</a>
										<a onclick="if($('#crop_flip_y').val() == 1){ $(this).addClass('active'); $('#crop_flip_y').val(-1);cropper.scaleY(-1); }else{ $(this).removeClass('active'); $('#crop_flip_y').val(1);cropper.scaleY(1); }">
											<i class="fa fa-arrows-alt-v" style=""></i>
										</a>

										<a onclick="cropper.clear();didCrop = false;">
											<i class="fa fa-times" style=""></i>
										</a>
									</div>
									<div style="max-height: 400px">
										<img id="image" src="{{Media.cropSource}}">
									</div>
								</div>

								<script src="/bundles/cms/node_modules/cropperjs/dist/cropper.js"></script><!-- Cropper.js is required -->
								<script src="/bundles/cms/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
								<link  href="/bundles/cms/node_modules/cropperjs/dist/cropper.css" rel="stylesheet">

								<script>
								var cropper;


								var savedCropBox = {{Media.cropBox is not empty ? Media.cropBox|raw|raw : 'null'}};
								var cropMovements = 0;

								$(function(){

									var img = document.querySelector('#image')

									var maxHeight = ($('#image').closest('.modal-content').height() - 100);
									$(img).parent().css('max-height', maxHeight + 'px');
									// console.log( maxHeight );

									function loaded() {
										var $image = $('#image');

										$image.cropper({
										  minContainerWidth: 750,
										  minContainerHeight: 400,
										  zoomable: false,
										  movable: false,
										  rotatable: false,
										  autoCrop: {{Media.cropBox is not empty ? 'true' : 'false'}},
										  aspectRatio: {{Media.cropRatio is not empty ? Media.cropRatio : 'NaN'}},
										  ready: function(event){
										  	var data = cropper.getData(true);

										  	cropper.scale({{Media.cropFlipX is not empty ? Media.cropFlipX : 1}},{{Media.cropFlipY is not empty ? Media.cropFlipY : 1}});

										  	$('#new_width').html(data.width);
											$('#new_height').html(data.height);

											if(savedCropBox){
												cropper.setCropBoxData(savedCropBox);
												// cropper.crop();
											}
										  },
										  crop: function(event) {
										  	if(cropMovements > 20){
										  		didCrop = true;
										  		// $('.crop-save-btn').prop('disabled', false);
										  	}else{
										  		// $('.crop-save-btn').prop('disabled', true);
										  	}
										  	cropMovements++;
										  	var data = cropper.getData(true);

										  	var cropboxData = cropper.getCropBoxData();
										  	$('#crop_box').val(JSON.stringify(cropboxData));

											$('#new_width').html(data.width);
											$('#new_height').html(data.height);

										  }
										});

										// Get the Cropper.js instance after initialized
										cropper = $image.data('cropper');
									}

									if (img.complete) {
									  loaded()
									} else {
									  img.addEventListener('load', loaded)
									  img.addEventListener('error', function() {
									      alert('error')
									  })
									}
								});

								</script>
							{# </div> #}
					</div>
			</div>

			{# <div class="btn-bar">
				<div class="left">
				</div>
				<div class="right">
					<a class="btn-flat waves-effect waves-light" href="{{path('admin_media', {'parentid': app.request.get('srcdir')})}}"><i class="fa fa-arrow-left"></i> {{'Terug'|trans}}</a>


					{% if Tinify %}
						<a class="btn-flat waves-effect waves-light" onclick="doCompress({{Media.id}})">Compressie</a>
					{% endif %}

					{% if Media.getOriginalPath is not null %}
						<a href="{{path('admin_media_restore', {id:Media.id})}}" onclick="return confirm('Weet u zeker dat u dit bestand wilt herstellen?');" class="btn waves-effect waves-light red darken-1"><i class="material-icons left">history</i>{{'Herstellen'|trans}}</a>
					{% endif %}

					<button class="btn waves-effect waves-light" type="submit"><i class="fa fa-save"></i> {{'Opslaan'|trans}}</button>
				</div>
			</div> #}
	</div>

	<div id="popup_footer">
		<a onclick="closeModal()" class="btn-flat left">Sluiten</a>
		{# <a onclick="deleteMedia()" class="btn-flat red-text left">Afbeelding verwijderen</a> #}
		{# <a onclick="doCompress();" class="btn-flat">Afbeelding comprimeren</a> #}
		{# <a onclick="addMedia(callerEl);" class="btn-flat">Andere afbeelding selecteren</a> #}
		<button type="button" onclick="saveCrop();" class="btn crop-save-btn">Wijziging opslaan</button>
	</div>
		<script type="text/javascript">
		var imp;
		var appliedFilter = '';
		function saveCrop(){
			$('#edit-media-loader').show();
			var canvasRender = cropper.getCroppedCanvas({ maxWidth: 4096, maxHeight: 4096 });
			// Accept
			canvasRender.toBlob((blob) => {
			  const formData = new FormData();

			  formData.append('croppedImage', blob);

			  // Use `jQuery.ajax` method
			  $.ajax('{{path('admin_media_edit', {id: Media.id})}}', {
			    method: "POST",
			    data: formData,
			    processData: false,
			    contentType: false,
			    success(r) {
			    	console.log( r );
			    	if(typeof r == 'object' && r.success == true){
						setTimeout(function(){
							cpop.postAjax('{{myUrl}}', $('#popup-form-el').serialize());
						}, 1000);
			    	}else{
			    		alert('Kon niet worden opgeslagen.');
			    	}
			    },
			    error() {
			      console.log('Upload error');
			    },
			  });
			});
		};

		/*function doCompress(){
			var compressUrl = '{{path('admin_media_compress', {id: Media.id, callback: callbackUrl, callbackType: 'modal'})|raw}}';
			if((didCrop && confirm('Als u doorgaat wordt de afbeelding niet bijgesneden. Wilt u door gaan met de compressie?')) || !didCrop){
				cpop.reset().loadAjax(compressUrl);
			}
		}*/

		function closeModal(){
			if((didCrop && confirm('Als u doorgaat wordt de afbeelding niet bijgesneden. Wilt u deze popup sluiten?')) || !didCrop){
				cpop.close();
			}
		}
		</script>
{% endif %}