{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{'Media history'|trans}}{% endblock %}

{% block body %}
<script>
var didCrop = false;
</script>

<form method="post" id="mediaform" enctype="multipart/form-data">
	<div class="btn-bar">
		<div class="right">
			<a class="btn-flat waves-effect waves-light" href="{{path('admin_media', {'parentid': (app.request.get('srcdir') is not empty ? app.request.get('srcdir') : 0)})}}"><i class="fa fa-arrow-left"></i> {{'Terug'|trans}}</a>

			{#<a href="{{path('admin_media_history', {id:Media.id})}}" class="btn waves-effect waves-light"><i class="material-icons left">history</i>{{'Historie'|trans}}</a>#}

			{% if is_granted('ROLE_SUPER_ADMIN') %}
				{% if Tinify and Media.type == 'images' and Media.remoteUrl is empty %}
					<a class="btn-flat waves-effect waves-light" onclick="doCompress({{Media.id}})">Compressie</a>
				{% endif %}
			{% endif %}

			{% if Media.getOriginalPath is not null %}
				<a href="{{path('admin_media_restore', {id:Media.id})}}" onclick="return confirm('{{ 'Weet u zeker dat u dit bestand wilt herstellen?' | trans }}');" class="btn waves-effect waves-light red darken-1"><i class="material-icons left">history</i>{{'Herstellen'|trans}}</a>
			{% endif %}

			{% if Media.remoteUrl is empty %}
				<button class="btn waves-effect waves-light" type="submit"><i class="fa fa-save"></i> {{'Opslaan'|trans}}</button>
			{% endif %}
		</div>
	</div>

	<div>

		{% if allowWebP is defined and allowWebP %}
			{% if Media.hasWebp() %}
				<div class="card">
					<div class="card-content">
						<span class="card-title">Deze afbeelding heeft WebP ondersteuning:</span>

						<table>
							<tr>
								<td>Origineel</td>
								<td><a href="/{{Media.getWebPath()}}" target="_blank"><i class="fa fa-external-link-alt"></i> Regulier</a></td>
								<td><a href="/{{Media.getWebpPath()}}" target="_blank"><i class="fa fa-external-link-alt"></i> WebP</a></td>
							</tr>
							<tr>
								<td>Full</td>
								<td><a href="/{{Media.getWebPath('full')}}" target="_blank"><i class="fa fa-external-link-alt"></i> Regulier</a></td>
								<td><a href="/{{Media.getWebpPath('full')}}" target="_blank"><i class="fa fa-external-link-alt"></i> WebP</a></td>
							</tr>
							<tr>
								<td>Large</td>
								<td><a href="/{{Media.getWebPath('large')}}" target="_blank"><i class="fa fa-external-link-alt"></i> Regulier</a></td>
								<td><a href="/{{Media.getWebpPath('large')}}" target="_blank"><i class="fa fa-external-link-alt"></i> WebP</a></td>
							</tr>
							<tr>
								<td>Medium</td>
								<td><a href="/{{Media.getWebPath('medium')}}" target="_blank"><i class="fa fa-external-link-alt"></i> Regulier</a></td>
								<td><a href="/{{Media.getWebpPath('medium')}}" target="_blank"><i class="fa fa-external-link-alt"></i> WebP</a></td>
							</tr>
							<tr>
								<td>Small</td>
								<td><a href="/{{Media.getWebPath('small')}}" target="_blank"><i class="fa fa-external-link-alt"></i> Regulier</a></td>
								<td><a href="/{{Media.getWebpPath('small')}}" target="_blank"><i class="fa fa-external-link-alt"></i> WebP</a></td>
							</tr>
							<tr>
								<td>Thumb</td>
								<td><a href="/{{Media.getWebPath('thumb')}}" target="_blank"><i class="fa fa-external-link-alt"></i> Regulier</a></td>
								<td><a href="/{{Media.getWebpPath('thumb')}}" target="_blank"><i class="fa fa-external-link-alt"></i> WebP</a></td>
							</tr>
						</table>
					</div>
				</div>
			{% else %}
				<div class="card">
					<div class="card-content">
						<span class="card-title">Deze afbeelding heeft nog geen WebP ondersteuning:</span>
						<a href="{{path('admin_media_webp', {id: Media.id})}}" class="btn">WebP-kopie aanmaken</a>
					</div>
				</div>

				<div class="card">
					<div class="card-content">
						<span class="card-title">Deze afbeelding heeft nog WebP ondersteuning:</span>

						<table>
							<tr>
								<td>Origineel</td>
								<td><a href="/{{Media.getWebPath()}}" target="_blank"><i class="fa fa-external-link-alt"></i> Regulier</a></td>
								<td><s>WebP</s></td>
							</tr>
							<tr>
								<td>Full</td>
								<td><a href="/{{Media.getWebPath('full')}}" target="_blank"><i class="fa fa-external-link-alt"></i> Regulier</a></td>
								<td><s>WebP</s></td>
							</tr>
							<tr>
								<td>Large</td>
								<td><a href="/{{Media.getWebPath('large')}}" target="_blank"><i class="fa fa-external-link-alt"></i> Regulier</a></td>
								<td><s>WebP</s></td>
							</tr>
							<tr>
								<td>Medium</td>
								<td><a href="/{{Media.getWebPath('medium')}}" target="_blank"><i class="fa fa-external-link-alt"></i> Regulier</a></td>
								<td><s>WebP</s></td>
							</tr>
							<tr>
								<td>Small</td>
								<td><a href="/{{Media.getWebPath('small')}}" target="_blank"><i class="fa fa-external-link-alt"></i> Regulier</a></td>
								<td><s>WebP</s></td>
							</tr>
							<tr>
								<td>Thumb</td>
								<td><a href="/{{Media.getWebPath('thumb')}}" target="_blank"><i class="fa fa-external-link-alt"></i> Regulier</a></td>
								<td><s>WebP</s></td>
							</tr>
						</table>
					</div>
				</div>
			{% endif %}
		{% endif %}

	    {# <div class="card">
			<nav class="tabbar">
				<ul class="tabs tabs-transparent">
					<li class="tab"><a class="active" href="#media">{{'Media'|trans}}</a></li>
					{% if Media.type == 'images' %}
						<li class="tab"><a href="#editor">{{'Afbeelding bewerken'|trans}}</a></li>
					{% elseif Media.mime matches '{^video.*$}' %}
						<li class="tab"><a href="#preview">{{'Video'|trans}}</a></li>
					{% endif %}
				</ul>
			</nav>
	    </div> #}

	    <input type="hidden" name="crop_box" id="crop_box" value="{{Media.cropBox}}" />
	    <input type="hidden" name="crop_ratio" id="crop_ratio" value="{{Media.cropRatio ? Media.cropRatio : 'NaN'}}" />
	    <input type="hidden" name="crop_flip_x" id="crop_flip_x" value="{{Media.cropFlipX ? Media.cropFlipX : '1'}}" />
	    <input type="hidden" name="crop_flip_y" id="crop_flip_y" value="{{Media.cropFlipY ? Media.cropFlipY : '1'}}" />

		<div class="t-content" id="media">
			<div class="row">
				<div class="col-12 col-lg-4">
					<div class="card">
						<div class="card-content">

							<div class="mb-3">
								<label class="form-label" for="form_label" class="required">{{'Titel'|trans}}</label>
								<input class="form-control" type="text" name="label" value="{{Media.getLabel}}" />
							</div>

							<div class="mb-3">
								<label class="form-label" for="form_label" class="required">{{'Omschrijving'|trans}}</label>
								<textarea class="form-control" name="description">{{Media.getDescription}}</textarea>
							</div>

							<div class="mb-3">
								<label class="form-label" for="form_label" class="required">{{'Alt omschrijving'|trans}}</label>
								<textarea class="form-control" name="description_alt">{{Media.getDescriptionAlt}}</textarea>
							</div>

							<div class="mb-3">
								<label class="form-label" for="form_label" class="required">{{'Directe URL'|trans}}</label>
								<input class="form-control" readonly type="text" value="{{Media.remoteUrl is not empty ? 'https:/' : ''}}/{{Media.getWebPath}}" />
							</div>

							{% if Media.remoteUrl is empty %}
								<div class="file-field d-inline-flex mb-1">
									<div class="btn btn-bordered d-flex justify-content-center w-100">
										<span><i class="fa fa-sync-alt"></i> {{'Afbeelding vervangen'|trans}}</span>
										<input type="file" name="newMedia" class="hidden">
									</div>
									<div class="file-path-wrapper hidden">
										<input class="file-path validate" type="text">
									</div>
								</div>
							{% endif %}

							{# <div class="input-field ">
								<label for="form_label" class="required">{{'Tags'|trans}}</label>
								<select class="form-control tag-selector" name="tags[]" multiple="multiple">
									{% for Tag in tags %}
										{% if Tag in Media.tags %}
											<option value="{{Tag.label}}" selected="selected">{{Tag.label}}</option>
										{% else %}
											<option value="{{Tag.label}}">{{Tag.label}}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div> #}

              <div class="d-inline-block mb-1 float-start w-100 text-center">
							  <a href="{{path('admin_media_download', {id:Media.id})}}" class="btn btn-bordered justify-content-center d-flex" onclick="return downloadImage(this);"><i class="fa fa-download"></i>{{'Afbeelding downloaden'|trans}}</a>
              </div>

              <div class="d-inline-block mb-1 float-start w-100 text-center">
							  <a href="{{path('admin_media_delete', {id:Media.id})}}" class="btn btn-bordered justify-content-center d-flex" onclick="return confirm('{{ 'Weet u zeker dat u dit bestand wilt verwijderen?' | trans }}');"><i class="far fa-trash-alt"></i> {{'Afbeelding verwijderen'|trans}}</a>
              </div>
						</div>
					</div>
				</div>

				<script>
				function setCropRatio(el, size){
					$('#crop_ratio').val(size);
					cropper.setAspectRatio(size);
					cropper.reset();
					cropper.setCropBoxData(savedCropBox);
					$('.crop-btn').removeClass('active');
					$(el).addClass('active');
				}
				</script>

				<div class="col-12 col-lg-8" id="view-manage">

					{% if Media.type == 'images' and Media.remoteUrl is empty %}
							<div class="cropper-container">

								<div class="crop-toolbox">
                  <div class="left">
  									<a title="{{ 'Afbeelding herstellen' | trans }}" class="btn btn-icon" onclick="cropper.reset();cropper.setCropBoxData(savedCropBox);$('#crop_flip_x').val(1);$('#crop_flip_y').val(1);">
  										<i class="fa fa-sync-alt"></i>
  									</a>
                  </div>

                  <div class="right">
  									{# <a class="crop-btn" onclick="setCropRatio(this, 16 / 9);">16/9</a> #}
  									{# <a class="crop-btn" onclick="setCropRatio(this, 4 / 3);">4/3</a> #}
  									{# <a class="crop-btn" onclick="setCropRatio(this, 1 / 1);">1/1</a> #}
  									{# <a class="crop-btn active" onclick="setCropRatio(this, NaN);">{{'Vrij'|trans({})}}</a> #}
  									<a title="{{ 'Afbeelding horizontaal spiegelen' | trans }}" class="btn btn-icon" onclick="if($('#crop_flip_x').val() == 1){ $(this).addClass('active'); $('#crop_flip_x').val(-1);cropper.scaleX(-1); }else{ $(this).removeClass('active'); $('#crop_flip_x').val(1);cropper.scaleX(1); }">
  										<i class="fa fa-arrows-alt-h" style=""></i>
  									</a>
  									<a title="{{ 'Afbeelding verticaal spiegelen' | trans }}" class="btn btn-icon" onclick="if($('#crop_flip_y').val() == 1){ $(this).addClass('active'); $('#crop_flip_y').val(-1);cropper.scaleY(-1); }else{ $(this).removeClass('active'); $('#crop_flip_y').val(1);cropper.scaleY(1); }">
  										<i class="fa fa-arrows-alt-v" style=""></i>
  									</a>
  									{# <a onclick="cropper.setDragMode('crop')">
  										<i class="fa fa-cut" style=""></i>
  									</a>
  									<a onclick="cropper.setDragMode('move')">
  										<i class="fa fa-arrows-alt" style="display: inline-block; margin-left: 15px;font-size: 24px;color: white;"></i>
  									</a> #}
                  </div>
								</div>
								<img id="image" src="{{Media.cropSource}}" style="max-width: 100%;">
							</div>

							<div class="card">
								<div class="card-content">

									{% set filePath = (Media.getUploadRootDir() ~ '/' ~ Media.getPath()) %}
									<table>
										<tr>
											<td>{{ 'Originele afmeting:' | trans }}</td>
											<td><span id="original_width">{{Media.width}}</span> x <span id="original_height">{{Media.height}}</span></td>
											<td>{{ 'Nieuwe afmeting:' | trans }}</td>
											<td><span id="new_width"></span> x <span id="new_height"></span></td>
										</tr>
										<tr>
											{% if file_exists(filePath) %}
												<td>{{ 'Bestands grootte:' | trans }}</td>
												<td>{{format_bytes(filePath)}}</td>
											{% else %}
												<td colspan="2">{{ 'Bestand bestaat niet.' | trans }}</td>
											{% endif %}
											<td>&nbsp;</td>
											<td>&nbsp;</td>
										</tr>
									</table>
								</div>
							</div>

							<script src="/bundles/cms/node_modules/cropperjs/dist/cropper.js"></script><!-- Cropper.js is required -->
							<script src="/bundles/cms/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
							<link  href="/bundles/cms/node_modules/cropperjs/dist/cropper.css" rel="stylesheet">

							<script>
							var cropper;


							var savedCropBox = {{Media.cropBox is not empty ? Media.cropBox|raw|raw : 'null'}};
							var cropMovements = 0;

							$(function(){

								var img = document.querySelector('#image')

								function loaded() {
									var $image = $('#image');

									$image.cropper({
									  minContainerWidth: $('#view-manage').width(),
									  minContainerHeight: 600,
									  zoomable: false,
									  movable: false,
									  rotatable: false,
									  autoCrop: {{Media.cropBox is not empty ? 'true' : 'false'}},
									  aspectRatio: {{Media.cropRatio ?? 'NaN'}},
									  ready: function(event){
									  	var data = cropper.getData(true);

									  	cropper.scale({{Media.cropFlipX ?? 1}},{{Media.cropFlipY ?? 1}});

									  	$('#new_width').html(data.width);
										$('#new_height').html(data.height);

										if(savedCropBox){
											cropper.setCropBoxData(savedCropBox);
											// cropper.crop();
										}
									  },
									  crop: function(event) {
									  	if(cropMovements > 5){
									  		didCrop = true;
									  	}
									  	cropMovements++;
									  	var data = cropper.getData(true);

									  	var cropboxData = cropper.getCropBoxData();
									  	$('#crop_box').val(JSON.stringify(cropboxData));

										$('#new_width').html(data.width);
										$('#new_height').html(data.height);
									    // console.log('event.detail.x', event.detail.x);
									    // console.log('event.detail.y', event.detail.y);
									    // console.log('event.detail.width', event.detail.width);
									    // console.log('event.detail.height', event.detail.height);
									    // console.log('event.detail.rotate', event.detail.rotate);
									    // console.log('event.detail.scaleX', event.detail.scaleX);
									    // console.log('event.detail.scaleY', event.detail.scaleY);
									  }
									});

									// Get the Cropper.js instance after initialized
									cropper = $image.data('cropper');
								}

								if (img.complete) {
								  loaded()
								} else {
								  img.addEventListener('load', loaded)
								  img.addEventListener('error', function() {
								      alert('error')
								  })
								}
							});

							/*function saveCrop(){
								cropper.getCroppedCanvas().toBlob((blob) => {
								  const formData = new FormData();

								  formData.append('croppedImage', blob);
								  formData.append('id', {{Media.id}});

								  console.log( formData );

								  // Use `jQuery.ajax` method
								  $.ajax('/path/to/upload', {
								    method: "POST",
								    data: formData,
								    processData: false,
								    contentType: false,
								    success() {
								      console.log('Upload success');
								    },
								    error() {
								      console.log('Upload error');
								    },
								  });
								});
							}*/
							</script>
						{# </div> #}
					{% elseif Media.mime matches '{^video.*$}' %}
						{# <div class="t-content" id="preview"> #}
							<div class="col s12">
								<div class="card">
									<div class="card-content">
										<div class="card-title">
											Video preview
											<div class="right" style="text-transform:initial;">/{{Media.getWebPath}}</div>
										</div>
										<video src="/{{Media.getWebPath}}" controls autoplay loop muted playsinline height="400" style="width:100%;" />
									</div>
								</div>
							</div>
						{# </div> #}
                                        {% elseif Media.type == 'documents' %}
                                            <div class="col s12">
                                                <div class="card">
                                                    <div class="card-content">
                                                        {% set filePath = (Media.getUploadRootDir() ~ '/' ~ Media.getPath()) %}
                                                        <table>
                                                                <tr>
                                                                        <td>{{ 'Bestands type:' | trans }}</td>
                                                                        <td>{{ Media.mime }}</td>
                                                                        <td>&nbsp;</td>
                                                                        <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                        {% if file_exists(filePath) %}
                                                                                <td>{{ 'Bestands grootte:' | trans }}</td>
                                                                                <td>{{format_bytes(filePath)}}</td>
                                                                        {% else %}
                                                                                <td colspan="2">{{ 'Bestand bestaat niet.' | trans }}</td>
                                                                        {% endif %}
                                                                        <td>&nbsp;</td>
                                                                        <td>&nbsp;</td>
                                                                </tr>
                                                        </table>

                                                        <a href="{{path('admin_media_download', {id:Media.id})}}" class="btn waves-effect waves-light" onclick="return downloadImage(this);"><i class="fa fa-download"></i>{{'Bestand downloaden'|trans}}</a>
                                                        <a href="{{path('admin_media_delete', {id:Media.id})}}" onclick="return confirm('{{ 'Weet u zeker dat u dit bestand wilt verwijderen?' | trans }}');" class="btn waves-effect waves-light red darken-1"><i class="far fa-trash-alt"></i> {{'Bestand verwijderen'|trans}}</a>
                                                    </div>
                                                </div>
                                            </div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">
var imp;
var appliedFilter = '';
$().ready(function(){
	$(".tag-selector").select2({ tags: true });

	/*var i = Caman("#canvas-id", "test.jpg", function () {
		this.render();
	});*/

	/*imp = Caman("#image-preview", function () {
		// Revert to auto size
		$('#image-preview').width('auto');
		$('#image-preview').height('auto');

		this.render();
	});*/

	/*$('.restore-btn').click(function(){
		imp.revert(false);
		appliedFilter = '';
		$('#image-actions').hide();
	});*/

	/*$('.save-btn').click(function(){
		$.post('{{path('admin_media_alter', {'id' : Media.id})}}', {
			'imgsrc': document.getElementById('image-preview').toDataURL()
			// 'imgsrc': imp.toBase64()
		}, 'json').done(function(response){
			if(response.success == true){
				cpop.loadHtml('{{'De afbeelding is gewijzigd.'|trans}}<br/><br/>{{ 'U kunt altijd het origineel nog herstellen door<br/>aan de rechterzijde te klikken op de oranje knop <b>Herstellen</b>' | trans() | raw }}');
				$('#image-actions').hide();
			}else{
				cpop.loadHtml('{{'De aanpassingen konden niet worden opgeslagen.'|trans}}');
			}
		});
	});

	$('.filter-btn').click(function(){
		$('#image-preview').parent().find('i').show();

		var l = $(this);
		k = l.data('preset');

		appliedFilter = k;
		// j = l.html();
		// l.addClass("Active").html("Rendering...");
		imp.revert(false);
		imp[k]();
		return imp.render(function() {
			$('#image-actions').show();
			$('#image-preview').parent().find('i').hide();
			return d = false
		});
	});*/

	$('#mediaform').submit(function(e){
		e.preventDefault();

		if(didCrop){
			var canvasRender = cropper.getCroppedCanvas({ maxWidth: 4096, maxHeight: 4096 });
			var msg = $('<div style="padding-bottom:20px;"><strong>{{ 'Wilt u de onderstaande geknipte afbeelding opslaan?' | trans }}</strong></div>');
			msg.append(canvasRender);
			cpop.fixed(false).confirm(msg, function(){
				// Accept
				canvasRender.toBlob((blob) => {
					const formData = new FormData();

					formData.append('croppedImage', blob);

					// Use `jQuery.ajax` method
					$.ajax('{{path('admin_media_view', {id: Media.id})}}', {
					method: "POST",
					data: formData,
					processData: false,
					contentType: false,
					success(r) {
						if(typeof r == 'object' && r.success == true){
							setTimeout(function(){
								document.getElementById('mediaform').submit()
							}, 1000);
						}else{
							alert('{{ 'Kon niet worden opgeslagen' | trans }}');
						}
					},
					error() {
						console.log('Upload error');
					},
					});
				});

			}, '{{ 'Ja, opslaan' | trans }}', function(){
				// Decline
				$('#crop_box').val('{{Media.cropBox|raw}}');
				document.getElementById('mediaform').submit()
			}, '{{ 'Nee, verwerpen' | trans }}');
		}else{
			$('#crop_box').val('{{Media.cropBox|raw}}');
			document.getElementById('mediaform').submit()
		}
	});
});

function downloadImage(el){
	/*{% if Media.type == 'images' %}
		imp.render(function () {
			imp.save('png'); // shows a download file prompt

			// or...
			// imp.toBase64(); //  base64 data URL representation of the image. useful if you want to upload the modified image.
		});

	{% endif %}*/
	return true;
}

function doCompress(id){
	var compressUrl = '{{path('admin_media_compress')}}/' + id;
	cpop.reset().loadAjax(compressUrl);
}
</script>

<!-- Either include the full CamanJS code including plugins -->
<script type="text/javascript" src="/bundles/cms/js/caman.js"></script>
<script type="text/javascript" src="/bundles/cms/js/caman_instagram.js"></script>

{% endblock %}
