{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{'Forms antwoorden'|trans}}{% endblock %}

{% block body %}
	<div>
		{% if Answer is defined and Answer is not empty %}
			<div class="card">
				<div class="card-content">
				<div class="table-responsive">
					<table class="table">
            {% if Answer.session %}
						<tr>
							<td>Datum:</td>
							<td>{{Answer.session.dateStart|date('d-m-Y H:i:s')}}</td>
						</tr>
                                                {%  endif %}
						{% for key, value in Answer.answer %}
							<tr>
								<td>{{key}}:</td>
								{% if value is iterable %}
									<td>
										<ul>
											{% for v in value %}
											<li>{{v}}</li>
											{% endfor %}
										</ul>
									</td>
								{% else %}
									<td>{{value}}</td>
								{% endif %}
							</tr>
						{% endfor %}
					</table>
					</div>
				</div>
			</div>



		    <div class="btn-bar">
		        <div class="left">
		            {#<a href="{{ path('admin_mod_forms_answers', {id: Form.id}) }}" class="btn-flat waves-effect waves-dark"><i class="material-icons left">arrow_back</i>{{ 'Terug' | trans }}</a>#}
		        </div>
		    </div>
		{% else %}

	        <div class="card">
	            <div class="card-content">
              	<div id="filter-loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
	                <div class="card-title">
										<div class="card-titles">
											<h6>{{'Formulier reacties'|trans}}</h6>
										</div>
										<div class="card-actions">
								        <form method="get" id="filter-form" onsubmit="filterList(1); return false;" class="me-2">
													<input type="hidden" id="filter_sort" name="filter[sort]" value="p.id" />
										      <input type="hidden" id="filter_order" name="filter[order]" value="desc" />
													<input type="text" onkeyup="filterOnInput(this);" name="filter[q]" class="form-control" value="{{q is defined ? q : ''}}" placeholder="{{'Zoeken op antwoorden'|trans}}" />
												</form>
												<a class="btn" href="{{path('admin_mod_forms_answers_export', {id: Form.id})}}"><i class="fa fa-download"></i> Exporteren</a>
										</div>
									</div>
									<div class="table-responsive">
		                <table class="table bordered striped highlight responsive-table" id="qsort">
		                    <thead>
		                        <tr>
															<th style="width: 200px;">{{'Datum'|trans}}</th>
							                                                                <th style="width: 200px;">{{'IP-adres'|trans}}</th>
															<th>{{'Naam'|trans}}</th>
															<th style="width: 350px;">{{'E-mailadres'|trans}}</th>
															<th style="width: 150px;">{{'Telefoonnummer'|trans}}</th>
															{% if hasNewsletter %}
																<th class="center-align" style="width: 100px;">{{'Nieuwsbrief'|trans}}</th>
															{% endif %}
															<th style="width: 50px;"></th>
		                        </tr>
		                    </thead>
		                    <tbody id="filter-results"></tbody>
		                </table>
									</div>

									<div class="pagination-wrapper d-flex justify-content-between">
										<ul id="pagination" class="pagination left"></ul>
										<select class="form-select w-auto" name="per_page" id="per_page" onchange="filterList(1);">
											<option value="10">{{ '10 per pagina' | trans }}</option>
											<option value="20" selected>{{ '20 per pagina' | trans }}</option>
											<option value="50">{{ '50 per pagina' | trans }}</option>
											<option value="100">{{ '100 per pagina' | trans }}</option>
										</select>
									</div>
	            </div>
	        </div>

			<script>
			var current_page = 1;
			var filterUrl = '{{path('admin_mod_forms_answers_filter', {'formid': Form.id})}}';
			function filterList(p){
			    current_page = p;
			    $('#filter-loader').show();
			    var query = '/' + current_page + '?' + $('#filter-form').serialize() + '&pp=' + $('#per_page').val();;
			    $.ajax(filterUrl + query).done(function(response){

			        $('#filter-results').html('');
			        if(response.count){
			            $.each(response.results, function(ind, p){
			                var tr = $('<tr>');

			                tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.date + '</td>');
                                        tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + (p.ip == 'null' ? '----' : p.ip) + '</td>');
			                tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.name + '</td>');
			                tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.email + '</td>');
			                tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.phone + '</td>');
			                {% if hasNewsletter %}
				                tr.append('<td class="center-align" data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.nieuwsbrief + '</td>');
			                {% endif %}
			                tr.append('<td class="actions"><a href="#" onclick="cpop.confirm( \'{{ 'Wilt u deze reactie verwijderen?' | trans }}\', function(){ window.location = \'{{ path('admin_mod_forms_answers_delete') }}/' + p.id + '\'; } ); return false;"><i class="far fa-trash-alt"></i></a></td>');

			                $('#filter-results').append(tr);
			            });
			        }else{
			            $('#filter-results').append('<tr><td colspan="5" class="center-align"><em>{{ 'Geen resultaten gevonden.' | trans }}</em></td></tr>');
			        }

			        $('td[data-url]').css('cursor', 'pointer').click(function(){
			            window.location = $(this).data('url');
			        });

			        $('#pagination').html('');



			        if (response.page > 1) {
						$('#pagination').append($('<li class="page-item"><a class="page-link" href="javascript:prevPage();"><i class="fa fa-chevron-left"></i></a></li>'));
					}else{
						$('#pagination').append($('<li class="page-item disabled"><a class="page-link" href="#!"><i class="fa fa-chevron-left"></i></a></li>'));
					}

					$.each(paginationParser(parseInt(response.page), parseInt(response.pages)), function(x, i){
						if(i == '...'){
							$('#pagination').append($('<span class="sep-dots">...</span>'));
						}else{
							$('#pagination').append($('<li class="page-item' + (response.page == i ? ' active' : '') + '"><a class="page-link" href="javascript:filterList(' + i + ');">' + i + '</a></li>'));
						}
					});

					if (response.page < response.pages) {
						$('#pagination').append($('<li class="page-item"><a class="page-link" href="javascript:nextPage();"><i class="fa fa-chevron-right"></i></a></li>'));
					}else{
						$('#pagination').append($('<li class="page-item disabled"><a class="page-link" href="#!"><i class="fa fa-chevron-right"></i></a></li>'));
					}

			        $('#filter-loader').hide();
			    });
			}

			function nextPage(){
			    filterList(current_page + 1);
			}

			function prevPage(){
			    filterList(current_page - 1);
			}

			$(function(){
			    filterList(1);
			});
			</script>
	    {% endif %}
	</div>
{% endblock %}
