{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}
{% block pagetitle %}{{'Forms'|trans}}{% endblock %}
{% block body %}

<div class="page-save-overlay">
	<div class="vtable">
		<div class="valign">
			<div class="loading"></div>
			<span>{{ 'Bezig met opslaan..' | trans }}</span>
		</div>
	</div>
</div>
<style>
	form .invalid_input:after, form .valid_input:after {
		top: 28px;
	}
	form .invalid_input:after {
		content: "\f071";
		color: #f61938;
		font-family: "Font Awesome 5 Free";
		font-size: 1rem;
		font-weight: 900;
		font-style: normal;
		font-variant: normal;
		position: absolute;
		z-index: 2;
		top: 50%;
		right: 10px;
		animation: confirm 0.5s;
		transform: scale(1) translateY(-50%);
		transform-origin: top;
		pointer-events: none;
	}
	form .field-control{  
		width:calc(100% - 185px);
		display: inline-block;
		margin-left: 20px;
		position:relative;
	}
	form .field-control > input{
		border:0px;
		outline:none;
		line-height: 28px;
		width:100%;
	}
</style>

{{ form_start(form) }}
<link rel="stylesheet" href="{{asset('bundles/trinityforms/admin/css/editor.css')}}">

<ul class="nav nav-tabs nav-pills content-tabs d-none d-lg-flex" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
		<button class="nav-link {{id ? '' : 'active'}}" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tab-content" type="button" role="tab" aria-controls="general-tab-content" aria-selected="{{id ? 'false' : 'true'}}">
      {{'Algemeen'|trans}}
    </button>
  </li>
  <li class="nav-item" role="presentation">
		<button class="nav-link {{id ? 'active' : ''}}" id="editor-tab" data-bs-toggle="tab" data-bs-target="#editor-tab-content" type="button" role="tab" aria-controls="editor-tab-content" aria-selected="{{id ? 'true' : 'false'}}">
      {{'Formulier'|trans}}
    </button>
  </li>
  <li class="nav-item" role="presentation">
		<button class="nav-link" id="mailinternal-tab" data-bs-toggle="tab" data-bs-target="#mailinternal-tab-content" type="button" role="tab" aria-controls="mailinternal-tab-content" aria-selected="false">
      {{'E-mail intern'|trans}}
    </button>
  </li>
  <li class="nav-item" role="presentation">
		<button class="nav-link" id="mailexternal-tab" data-bs-toggle="tab" data-bs-target="#mailexternal-tab-content" type="button" role="tab" aria-controls="mailexternal-tab-content" aria-selected="false">
      {{'E-mail extern'|trans}}
    </button>
  </li>
  <li class="nav-item" role="presentation">
		<button class="nav-link" id="replies-tab" data-bs-toggle="tab" data-bs-target="#replies-tab-content" type="button" role="tab" aria-controls="replies-tab-content" aria-selected="false">
      {{'Reacties'|trans}}
    </button>
  </li>
  <li class="nav-item" role="presentation" style="display:none;">
		<button class="nav-link" id="seo-tab" data-bs-toggle="tab" data-bs-target="#seo-tab-content" type="button" role="tab" aria-controls="seo-tab-content" aria-selected="false">
      {{'SEO'|trans}}
    </button>
  </li>
</ul>

<div class="tab-content">
	<div class="tab-pane fade {{id ? '' : 'show active'}}" id="general-tab-content" role="tabpanel" aria-labelledby="general-tab">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-content">
						{{ form_errors(form) }}
						{{ form_widget(form) }}
					</div>
				</div>

				{% if new and multisite_all is not empty and (multisite_all|length > 1) and app.User.checkPermissions('ALLOW_SITE_SWITCHING') and (app.user.sites.count == 0 or app.user.sites.count > 1) %}
					<div class="card">
						<div class="card-content">
							<span class="card-title">{{ 'Multi-site' | trans }}</span>
							{% if multisite_all is not empty and app.User.checkPermissions('ALLOW_SITE_SWITCHING') %}
								<div style="margin-bottom:10px;">{{ 'Wilt u deze post dupliceren naar andere website(s)?' | trans }}</div>
								{% for C in multisite_all %}
									{% if C in app.user.sites or app.user.sites.count == 0 %}
										<p>
											<input {{C == Settings ? 'disabled' : ''}} type="checkbox" name="clone[]" value="{{C.id}}" id="clone-{{C.id}}" />
											<label for="clone-{{C.id}}"><strong style="color:#34adea;">{{C.label}}</strong> | {{C.language.label}}</label>
										</p>
									{% endif %}
								{% endfor %}
							{% endif %}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="tab-pane fade {{id ? 'show active' : ''}}" id="editor-tab-content" role="tabpanel" aria-labelledby="editor-tab">
		<div class="row">
			<div class="col-sm-12 col-md-3">
				<div class="toolbox">
					<span data-type="plain" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">format_align_left</i>{{ 'Vrije tekst' | trans }}</span>
					<span data-type="h1" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">format_bold</i>{{ 'Titel (h1)' | trans }}</span>
					<span data-type="h2" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">format_bold</i>{{ 'Titel (h2)' | trans }}</span>
					<span data-type="h3" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">format_bold</i>{{ 'Titel (h3)' | trans }}</span>
					<span data-type="upload" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">attachment</i>{{ 'Upload' | trans }}</span>
					<span data-type="text" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">short_text</i>{{ 'Tekst' | trans }}</span>
					<span data-type="date" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">short_text</i>{{ 'Datum' | trans }}</span>
					<span data-type="email" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">email</i>{{ 'E-mailadres' | trans }}</span>
					<span data-type="email_check" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">email</i>{{ 'E-mailadres (controle)' | trans }}</span>
					<span data-type="textarea" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">format_align_justify</i>{{ 'Tekst blok' | trans }}</span>
					<span data-type="select" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">arrow_drop_down</i>{{ 'Dropdown' | trans }}</span>
					<span data-type="checkbox" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">check_box</i>{{ 'Meerkeuze' | trans }}</span>
					<span data-type="radio" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">radio_button_checked</i>{{ 'Radio' | trans }}</span>
          <span data-type="canvas" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">touch_app</i>{{ 'Canvas' | trans }}</span>
          <span data-type="dropzone" draggable="true" class="btn-flat" style="width:100%;"><i class="material-icons left">attachment</i>{{ 'Dropzone' | trans }}</span>
					{% if Form.ActiveCampaignListid is not empty and Form.ActiveCampaignKey is not empty and Form.ActiveCampaign == true %}
					<span data-type="newsletter" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="material-icons left">assignment_turned_in</i>{{ 'Nieuwsbrief' | trans }}</span>
					{% endif %}
					{% if (Form.MailerListid is not empty )%}
						<span data-type="mailer" draggable="true" class="btn-flat" style="width:100%; height: auto;"><i class="material-icons left">assignment_turned_in</i>{{ 'Hummessenger Niewsbrief' | trans }}</span>
					{% endif %}
				</div>
			</div>
			<div class="col-sm-12 col-md-9 form-editor">
				<div class="fields-parent">
					{% set firstField = true %}
					{% set loadForm = true %}
					{% if questions is not empty %}
						{% for i,Question in questions %}
							{% if Question.position == 0 and firstField != true %}
								</div>
								<div class="fields-parent">
							{% endif %}
							<div class="field-child" style="width:{{(Question.width / 12) * 100}}%;">
								{% include '@TrinityForms/elements/' ~ Question.getType ~ '.html.twig' %}
								{# <div><span class="drag">{{Question.title}}</span></div> #}
							</div>
							{% set firstField = false %}
						{% endfor %}
					{% else %}
						<span class="form-is-empty" style="padding: 20px;     display: block;     text-align: center;     font-weight: bold;     font-size: 16px;     color: #00000054;">{{ 'Sleep formulier elementen van de linker zijde naar dit blok.' | trans }}</span>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="mailinternal-tab-content" role="tabpanel" aria-labelledby="mailinternal-tab">
		<div class="row" id="mailinternal">
			<div class="col-sm-12 col-md-8 col-lg-8">
				<div class="card">
					<div class="card-content">
						<div class="mb-3">
							<textarea class="c-ckeditor form-control" id="ck_internal" name="mail[internal][content]">{{mails.internal is defined and mails.internal.content is defined ? mails.internal.content : ''}}</textarea>
						</div>
						<div class="row">
							<div class="col-sm-8">
								<label class="form-label" for="receiver">{{ 'Ontvanger(s)' | trans }}</label>
								<input class="form-control" id="receiver" name="mail[internal][receiver]" type="text" value="{{mails.internal is defined and mails.internal.receiver is defined ? mails.internal.receiver : ''}}">
							</div>
							<div class="col-sm-4">
								<label class="form-label" for="receiver">{{ 'Naam van verstuurder (optioneel)' | trans }}</label>
								<input class="form-control" id="receiver" name="mail[internal][sendername]" type="text" value="{{mails.internal is defined and mails.internal.sendername is defined ? mails.internal.sendername : ''}}">
							</div>
							<div class="col-sm-8">
								<label class="form-label" for="subject">{{ 'Onderwerp' | trans }}</label>
								<input class="form-control" id="subject" name="mail[internal][subject]" type="text" value="{{mails.internal is defined and mails.internal.subject is defined ? mails.internal.subject : ''}}">
							</div>
							<div class="col-sm-4">
								<label class="form-label">{{ 'E-mail template' | trans }}</label>
								<select class="form-select" name="mail[internal][template]">
									{% for tpl in templates %}
										<option {{mails.internal is defined and mails.internal.template == tpl ? 'selected="selected"' : ''}} value="{{tpl}}">{{tpl}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4 tags-container">
				<div class="card">
					<div class="card-content">
						{# <strong>Waarden</strong> #}
						{% for question in questions %}
							<a href="#" style="display: block;height:auto;line-height: 25px;margin-bottom: 10px;" onclick="CKEDITOR.instances.ck_internal.insertHtml('[{{question.id}}#{{question.getTitle}}]');" class="btn-flat" style="width:100%;">{{question.getTitle}}</a>
						{% endfor %}
						<a href="#" style="display: block;height:auto;line-height: 25px;" onclick="CKEDITOR.instances.ck_internal.insertHtml('[FORM_RESULTS]');" class="btn-flat red-text" style="width:100%;">{{ 'Formulier resultaten' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
		{# <div id="new-email-wrapper" class="center-align"><button type="button" onclick="addEmail()" class="btn"><i class="material-icons left">add</i>E-mail toevoegen</button></div> #}
	</div>

	<div class="tab-pane fade" id="mailexternal-tab-content" role="tabpanel" aria-labelledby="mailexternal-tab">
		<div class="row" id="mailexternal">
			<div class="col-sm-12 col-md-8 col-lg-8">
				<div class="card">
					<div class="card-content">
						<div class="mb-3">
							<textarea class="c-ckeditor form-control" id="ck_external" name="mail[external][content]">{{mails.external is defined and mails.external.content is defined ? mails.external.content : ''}}</textarea>
						</div>

						<div class="row">
							<div class="col-sm-8">
								<label class="form-label" for="subject">{{ 'Onderwerp' | trans }}</label>
								<input class="form-control" id="subject" name="mail[external][subject]" type="text" value="{{mails.external is defined and mails.external.subject is defined ? mails.external.subject : ''}}">
							</div>
							<div class="col-sm-4">
								<label class="form-label">{{ 'E-mail template' | trans }}</label>
								<select class="form-select" name="mail[external][template]">
									{% for tpl in templates %}
										<option {{mails.external is defined and mails.external.template == tpl ? 'selected="selected"' : ''}} value="{{tpl}}">{{tpl}}</option>
									{% endfor %}
								</select>
							</div>
						<div class="row">
								<div class="col-sm-6">
								<label class="form-label" for="from_email">{{ 'Afzender e-mail' | trans }}</label>
								<input class="form-control" id="from_email" name="mail[external][from_email]" type="text" value="{{mails.external is defined and mails.external.from_email is defined ? mails.external.from_email : Settings.systemEmail}}">
							</div>
								<div class="col-sm-6">
								<label class="form-label" for="from_name">{{ 'Afzender naam' | trans }}</label>
								<input class="form-control" id="from_name" name="mail[external][from_name]" type="text" value="{{mails.external is defined and mails.external.from_name is defined ? mails.external.from_name : Settings.systemEmailFrom}}">
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4 tags-container">
				<div class="card">
					<div class="card-content">
						{# <strong>Waarden</strong> #}
						{% for question in questions %}
							<a href="#" style="display: block;height:auto;line-height: 25px;margin-bottom: 10px;" onclick="CKEDITOR.instances.ck_external.insertHtml('[{{question.id}}#{{question.getTitle}}]');" class="btn-flat" style="width:100%;">{{question.getTitle}}</a>
						{% endfor %}
						<a href="#" style="display: block;height:auto;line-height: 25px;" onclick="CKEDITOR.instances.ck_external.insertHtml('[FORM_RESULTS]');" class="btn-flat red-text" style="width:100%;">{{ 'Formulier resultaten' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
		{# <div id="new-email-wrapper" class="center-align"><button type="button" onclick="addEmail()" class="btn"><i class="material-icons left">add</i>E-mail toevoegen</button></div> #}
	</div>

	<div class="tab-pane fade" id="seo-tab-content" role="tabpanel" aria-labelledby="seo-tab" style="display:none;">
		<div class="card">
			<div class="card-content">

			{% set foundMeta = false %}
			{% if metatags %}
				{% set foundMeta = true %}
				{% for Metatag in metatags %}
					<div class="mb-3">
							<label class="form-label" for="form_label" class="required">{{Metatag.metatag.label}}</label>
						<div class="controls">
							{% if Metatag.metatag.key == 'description' %}
								{% set seoDescription = Metatag.value %}
									<textarea class="form-control fld-seo-{{Metatag.metatag.key}}" placeholder="{{Metatag.metatag.placeholder}}" name="metadata[{{Metatag.metatag.id}}]">{{Metatag.value}}</textarea>
							{% elseif Metatag.metatag.valueType == 'image' %}

								{% set hasMedia = (Metatag.value is not empty) %}
								<a id="meta-imageselect-{{Metatag.metatag.id}}" href="#" onclick="mediaField = '{{Metatag.metatag.id}}';addMedia(this);" style="{{hasMedia ? 'display:none;' : ''}}" class="btn">{{ 'Selecteer een afbeelding' | trans }}</a>
								<div style="width: 100px;max-height: 100px;text-align:center;margin: 30px;" class="settings-image" id="meta-image-{{Metatag.metatag.id}}">
									{% if hasMedia %}
										<img src="{{Metatag.value}}" style="max-width: 100%;max-height: 100%;" />
										<button style="" type="button" onclick="deleteMetaImage({{Metatag.metatag.id}});" class="btn red darken-1 del_btn"><i class="material-icons">delete</i></button>
									{% endif %}
								</div>
								<input  id="meta-field-{{Metatag.metatag.id}}" class="form-control fld-seo-{{Metatag.metatag.key}}" type="hidden" placeholder="{{Metatag.metatag.placeholder}}" name="metadata[{{Metatag.metatag.id}}]" value="{{Metatag.value}}" />

								{% elseif Metatag.metatag.valueOptions is not empty %}
									<select name="metadata[{{Metatag.metatag.id}}]" class="form-select fld-seo-{{Metatag.metatag.key}}">
										<option value="">- {{ 'n.v.t.' | trans }} -</option>
										{% for option in Metatag.metatag.valueOptions %}
											<option {{Metatag.value == option ? 'selected' : ''}} value="{{option}}">{{option}}</option>
										{% endfor %}
									</select>
								{% else %}
									<input class="form-control fld-seo-{{Metatag.metatag.key}}" type="text" placeholder="{{Metatag.metatag.placeholder}}" name="metadata[{{Metatag.metatag.id}}]" value="{{Metatag.value}}" />
								{% endif %}
							</div>
						</div>
					{% endfor %}
				{% endif %}

				{% if foundMeta == false %}
					<div class="center-align">
						{{ 'Er zijn nog geen metadata geconfigureerd.' | trans }}
					</div>
				{% endif %}

			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="replies-tab-content" role="tabpanel" aria-labelledby="replies-tab">
		{# <form method="get" id="filter-form" onsubmit="filterList(1); return false;">

	        <input type="hidden" id="filter_sort" name="filter[sort]" value="p.id" />
	        <input type="hidden" id="filter_order" name="filter[order]" value="desc" />

	        <button style="display:none;" type="submit">{{ 'Zoeken' | trans }}</button>
	        <div class="card">
	            <div class="card-content">
                <div class="filter-row row">
						<div class="col-sm-12">
                      <input class="form-control" placeholder="{{'Zoeken op antwoorden'|trans}}" type="text" onkeyup="filterOnInput(this);" name="filter[q]" style="width:100%;" value="{{q is defined ? q : ''}}" />
                  </div>
                </div>
	            </div>
	        </div>
	    </form> #}

	    <div class="card">
	        <div class="card-content">
	            <div id="filter-loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
	            <div class="card-titles">
								<div class="card-title">
									<h6>{{'Formulier reacties'|trans}}</h6>
									{% if Form.id is defined and Form.id is not empty %}
										<a class="btn" href="{{path('admin_mod_forms_answers_export', {id: Form.id})}}" class="float-end">Exporteren</a>
									{% endif %}
								</div>
							</div>
							<div class="table-responsive">
		            <table class="table" id="qsort">
		                <thead>
		                    <tr>
													<th style="width: 200px;">{{'Datum'|trans}}</th>
	                        <th style="width: 200px;">{{'IP-adres'|trans}}</th>
													<th>{{'Naam'|trans}}</th>
													<th style="width: 350px;">{{'E-mailadres'|trans}}</th>
													<th style="width: 150px;">{{'Telefoonnummer'|trans}}</th>
													{% if hasNewsletter %}
														<th class="center-align" style="width: 100px;">{{'Nieuwsbrief'|trans}}</th>
													{% endif %}
													<th style="width: 50px;"></th>
		                    </tr>
		                </thead>
		                <tbody id="filter-results"></tbody>
		            </table>
							</div>

	            {% if Form.id is not null %}
	            <div class="pagination-wrapper d-flex justify-content-between">
	                <ul id="pagination" class="pagination left"></ul>

	                <select class="form-select w-auto" name="per_page" id="per_page" onchange="filterList(1);">
	                    <option value="10">{{ '10 per pagina' | trans }}</option>
	                    <option value="20" selected>{{ '20 per pagina' | trans }}</option>
	                    <option value="50">{{ '50 per pagina' | trans }}</option>
	                    <option value="100">{{ '100 per pagina' | trans }}</option>
	                </select>
	            </div>
	            {% endif %}
	        </div>
	    </div>

	    {% if Form.id is not null %}
			<script>
				var current_page = 1;
				var filterUrl = '{{path('admin_mod_forms_answers_filter', {'formid': Form.id})}}';
				function filterList(p){
					current_page = p;
					$('#filter-loader').show();
					var query = '/' + current_page + '?' + $('#filter-form').serialize() + '&pp=' + $('#per_page').val();;
					$.ajax(filterUrl + query).done(function(response){

						$('#filter-results').html('');
						if(response.count){
							$.each(response.results, function(ind, p){
								var tr = $('<tr>');

								tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.date + '</td>');
											tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + (p.ip == 'null' ? '----' : p.ip) + '</td>');
								tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.name + '</td>');
								tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.email + '</td>');
								tr.append('<td data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.phone + '</td>');
								{% if hasNewsletter %}
									tr.append('<td class="center-align" data-url="{{ path('admin_mod_forms_answers', {id: Form.id}) }}/' + p.id + '">' + p.nieuwsbrief + '</td>');
								{% endif %}
								tr.append('<td class="action"><a href="#" onclick="cpop.confirm( \'{{ 'Wilt u deze reactie verwijderen?' | trans }}\', function(){ window.location = \'{{ path('admin_mod_forms_answers_delete') }}/' + p.id + '\'; } ); return false;"><i class="far fa-trash-alt"></i></a></td>');

								$('#filter-results').append(tr);
							});
						}else{
							$('#filter-results').append('<tr><td colspan="5" class="center-align"><em>{{ 'Geen resultaten gevonden.' | trans }}</em></td></tr>');
						}

						$('td[data-url]').css('cursor', 'pointer').click(function(){
							// window.location = $(this).data('url');
							cpop.reset().loadAjax($(this).data('url'));
						});

						$('#pagination').html('');



						if (response.page > 1) {
							$('#pagination').append($('<li class="page-item"><a class="page-link" href="javascript:prevPage();"><i class="fa fa-chevron-left"></i></a></li>'));
						}else{
							$('#pagination').append($('<li class="page-item disabled"><a class="page-link" href="#!"><i class="fa fa-chevron-left"></i></a></li>'));
						}

						$.each(paginationParser(parseInt(response.page), parseInt(response.pages)), function(x, i){
							if(i == '...'){
								$('#pagination').append($('<span class="sep-dots">...</span>'));
							}else{
								$('#pagination').append($('<li class="page-item' + (response.page == i ? ' active' : '') + '"><a class="page-link" href="javascript:filterList(' + i + ');">' + i + '</a></li>'));
							}
						});

						if (response.page < response.pages) {
							$('#pagination').append($('<li class="page-item"><a class="page-link" href="javascript:nextPage();"><i class="fa fa-chevron-right"></i></a></li>'));
						}else{
							$('#pagination').append($('<li class="page-item disabled"><a class="page-link" href="#!"><i class="fa fa-chevron-right"></i></a></li>'));
						}

						$('#filter-loader').hide();
					});
				}

				function nextPage(){
					filterList(current_page + 1);
				}

				function prevPage(){
					filterList(current_page - 1);
				}

				$(function(){
					filterList(1);
				});
			</script>
	    {% endif %}
	</div>
	</div>

<input type="hidden" id="inline_save" name="inline_save" value="0" />
<input type="hidden" name="delete" />

<div class="btn-bar">
	<div class="right">
	  <button type="button" onclick="$('#inline_save').val('1');$('form').submit();" class="btn btn-flat"><i class="fa fa-save"></i> {{'Toepassen'|trans}}</button>
	  <button type="button" onclick="$('form').submit();" class="btn"><i class="fa fa-check"></i> {{'Opslaan en sluiten'|trans}}</button>
	</div>
</div>

{{ form_end(form) }}

<!-- Modal Structure -->
<div id="modal1" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{ 'Veld opties' | trans }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-4">
						<input id="option_classes" type="text">
						<label for="option_classes">{{ 'CSS classes' | trans }}</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Toepassen' |trans }}</button>
			</div>
		</div>
	</div>
</div>



<div id="delete-question" class="modal modal-fixed-footer">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h4>{{ 'Vraag verwijderen' | trans }}</h4>
				{{ 'Weet u zeker dat u de vraag wilt verwijderen?' | trans }}
				<input type="hidden" name="question_id" />
			</div>
			<div class="modal-footer">
				<a href="#!" class="do-remove waves-effect waves-green btn green darken-1">{{ 'Ja, verwijderen' | trans }}</a>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Sluiten' | trans }}</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset('/bundles/trinityforms/admin/css/editor.css')}}">
{% endblock %}
{% block scripts %}
<script>
var path = '{{path('admin_mod_forms_addrow',{'id': 1,'type': ''})}}/';
</script>
{# <script type="text/javascript" src="{{asset('/bundles/trinityforms/admin/js/html.sortable.src.js')}}"></script> #}
<script>
var formeditor_newoption = '{{ 'Nieuwe optie' | trans({}) | raw}}';
var formeditor_block = '{{ 'Blokkeren' | trans({}) | raw }}';
var formeditor_standard = '{{ 'Standard' | trans({}) | raw }}';
var formeditor_email = '{{ 'E-mailadres keuze' | trans({}) | raw }}';
</script>
<script type="text/javascript" src="{{asset('/bundles/trinityforms/admin/js/editor.js')}}"></script>
<script>
var field = null;
// $('#modal1').modal('open');
/*
$('#modal1').modal({
	ready: function(modal, trigger) {
		field = trigger.parent().parent();
		console.log( field );
		$('#option_classes').val(field.find('input.classes').val());
	},
	complete: function() {
		console.log( field );
	}
});
*/

// $('#modal1').modal('show');


$(function(){
	$('#modal1').on('shown.bs.modal', function (e) {
		console.log(e);
		// field = trigger.parent().parent();
		// console.log( field );
		// $('#option_classes').val(field.find('input.classes').val());
	});
	$('#modal1').on('hide.bs.modal', function (e) {
		// Close action
	});
});



var myToolBar = [
	{
		name: 'document',
		items: [
			'Bold',
			'Italic',
			'Underline',
			'Subscript',
			'Superscript',
			'RemoveFormat',
			'BulletedList',
			'Outdent',
			'Indent',
			'Blockquote',
			'JustifyLeft',
			'JustifyCenter',
			'JustifyRight',
			'JustifyBlock',
			'Link',
			'Unlink',
			'Image',
			'FontSize',
			'TextColor',
			'Sourcedialog'
		]
	},
	'/',
	{ name: 'styles', items: [ 'Format', 'Styles' ] },
];
var custom_config = {};
custom_config.toolbar = myToolBar;
$.each($('.c-ckeditor'), function(ind, el){
	CKEDITOR.replace(el, custom_config);
});
function addEmail(){
	var el = $('<div class="row">\
			<div class="col-sm-12">\
					<div class="card">\
							<div class="card-content">\
									<textarea class="c-ckeditor form-control"></textarea>\
							</div>\
					</div>\
			</div>\
	</div>');
	el.insertBefore('#new-email-wrapper');
	$.each(el.find('.c-ckeditor'), function(ind, el){
		console.log( el );
		CKEDITOR.replace(el, custom_config);
	});
}

$(document).ready(function(){
	$('.do-remove').click(function(){
		var id = $('#delete-question input[name="question_id"]').val();
		$('#q-' + id).parent().remove();
		$('#delete-question').modal('hide');
		checkSortSizes();
	});
    // "fix" item dragging in firefox (tested with 60.1)
    var dragItems = document.querySelectorAll('[draggable=true]');

    for (var i = 0; i < dragItems.length; i++)
    {
        addEventListener.call(dragItems[i], 'dragstart', function (event) {
            // store the ID of the element, and collect it on the drop later on
            event.dataTransfer.setData('Text', this.id);
        })
    }

	function toggleActiveCampaignFields(){
		if($('#form_active_campaign:checked').length > 0){
			// Enabled
			$('#form_active_campaign_key').parent().show();
			$('#form_active_campaign_listid').parent().show();
		}else{
			// Disabled
			$('#form_active_campaign_key').parent().hide();
			$('#form_active_campaign_listid').parent().hide();
		}
	}
	$('#form_active_campaign').click(function(){
		toggleActiveCampaignFields();
	});

	toggleActiveCampaignFields();
});
</script>

<script>
var callerEl = null;
function addMedia(el){
	callerEl = $(el);
	cpop.reset().loadAjax('{{path('admin_media_popup', {'parentid': null})}}');
	return false;
}
function clickedPopupMedia(mediaid, filepath, label, width){
	$('#meta-field-' + mediaField).val(filepath);
	$('#meta-image-' + mediaField).html('<img src="' + filepath + '" style="max-width: 100%;max-height: 100%;" /><button style="" type="button" onclick="deleteMetaImage(' + mediaField + ');" class="btn red darken-1 del_btn"><i class="material-icons">delete</i></button>');
	$('#meta-imageselect-' + mediaField).hide();
	cpop.close();
}
function deleteMetaImage(id){
	$('#meta-field-' + id).val('');
	$('#meta-image-' + id).html('');
	$('#meta-imageselect-' + id).show();
}
</script>
{% endblock %}
