{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{'Forms'|trans}}{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="card-title">
				<div class="card-titles">
					<h6>{{ 'Formulieren' | trans }}</h6>
				</div>
			</div>

			{% if forms %}
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th class="text-center" style="width:40px;">{{'ID'|trans}}</th>
							<th>{{'Omschrijving'|trans}}</th>
							<th class="text-center" style="width:100px;">{{'Reacties'|trans}}</th>
							<th class="text-center" style="width:100px;">{{'Acties'|trans}}</th>
						</tr>
					</thead>
					<tbody>
						{% for Form in forms %}
							<tr>
								<td data-url="{{ path('admin_mod_forms_edit',{'id': Form.id}) }}" class="text-center">{{ Form.id|e }}</td>
								<td data-url="{{ path('admin_mod_forms_edit',{'id': Form.id}) }}">{{ Form.label|e }}</td>
								<td data-url="{{ path('admin_mod_forms_edit',{'id': Form.id}) }}" class="text-center">
									<a href="{{path('admin_mod_forms_answers',{id: Form.id})}}">{{ Form.answers|length }}</a>
								</td>
								<td class="actions text-center">
									<a href="#" onclick="cpop.confirm( '{{ 'Wilt u het volgende formulier verwijderen:' | trans}} <b>{{ Form.label|e }}</b>.', function(){
										window.location = '{{ path('admin_mod_forms_delete',{'id': Form.id}) }}';
									} ); return false;" class="tooltipped" data-tooltip="{{'Verwijderen'|trans}}"><i class="far fa-trash-alt"></i></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
				<div class="no-data">{{'Er zijn nog geen gegevens beschikbaar.'|trans}}</div>
			{% endif %}
	    </div>
    </div>

	<div class="btn-bar">
		<div class="right">
			<a href="{{path('admin_mod_forms_edit', {id: 0})}}" class="btn"><i class="fa fa-plus"></i> {{'Nieuw formulier'|trans}}</a>
		</div>
	</div>

	<div class="card">
    </div>

    <script type="text/javascript">
/*    $(".tablesorter").tablesorter({
        // sort on the first column and third column, order asc
        sortList: [[4,1]],
        headers: {
        	4: {sorter:"dd-mm-yyyy hh:ii:ss"},
            6: {sorter: false}
        }
    });
*/


    $('td[data-url]').css('cursor', 'pointer').click(function(){
        window.location = $(this).data('url');
    });
    </script>
{% endblock %}
