{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block body %}
	<ul class="nav nav-tabs" role="tablist">
		{% set index = 0 %}
		{% for host,bundles in linked %}
			{% set index = (index + 1) %}
			<li class="nav-item" role="presentation">
				<button class="nav-link {{loop.index0 == 0 ? 'active' : ''}}" id="tab{{index}}" data-bs-toggle="tab" data-bs-target="#tab-content{{index}}" type="button" role="tab" aria-controls="tab-content{{index}}" aria-selected="true">
					{{host}}
				</button>
			</li>
		{% endfor %}
	</ul>

	{% set index = 0 %}
	{% for host,bundles in linked %}
		{% set index = (index + 1) %}

		<div class="tab-content">
			<div class="tab-pane fade show active" aria-labelledby="tab-content{{index}}" id="tab-content{{index}}" role="tabpanel">
				{% for bundle in bundles %}
					{% if bundle.route is defined %}
					<div class="card darklinks">
						<div class="card-content">
							<div class="card-titles">
								<h6 class="card-title">
									<a href="{{path(bundle.route)}}" target="_blank" class="d-flex align-items-center">
										{# {% if 'fa-' in bundle.icon %}
										<i class="left {{bundle.icon ? bundle.icon : ''}}"></i>
										{% else %}
										<i class="left material-icons">{{bundle.icon ? bundle.icon : 'dashboard'}}</i>
										{% endif %} #}
										{{ bundle.label | trans}}
									</a>
								</h6>
							</div>

							<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="text-start" style="width:250px;">{{ 'Pagina' | trans }}</th>
										<th class="text-start">{{ 'URL' | trans }}</th>
										<th class="text-start" style="width:150px;">&nbsp;</th>
										<th class="text-center" style="width:100px;">{{ 'Zichtbaar' | trans }}</th>
										<th class="text-start" style="width:250px;">{{ 'Blok' | trans }}</th>
										<th class="text-center" style="width:100px;">{{ 'Blok positie' | trans }}</th>
									</tr>
								</thead>
								<tbody>
									{% for pagedata in bundle.pages %}
									{% set url = null %}
									{% if pagedata.Page.settings and pagedata.Page.settings.host is not empty and pagedata.Page.settings.host != 'null' %}
									{% set url = '//' ~ pagedata.Page.settings.host ~ path(pagedata.Page.slugKey) %}
									{% endif %}
									<tr>
										<td class="text-start"><a href="{{path('admin_page_edit', {id: pagedata.Page.id})}}" target="_blank">{{pagedata.Page.label}}</a></td>
										<td class="text-start">
											{% if url %}
											<a href="{{url}}" target="_blank">{{pagedata.Page.fullUrl}}</a>
											{% else %}
											{{pagedata.Page.fullUrl}}
											{% endif %}
										</td>
										<td class="text-start">
											<a href="#" onclick="cpop.loadHtml($(this).parent().find('.block-config').html());"><i class="fa fa-search"></i> {{ 'Configuratie' | trans }}</a>
											<div class="block-config" style="display:none;">
												<h1>{{ 'Configuratie' | trans }}</h1>
												<table>
													{% for k,v in pagedata.bundleData %}
													{% if k != 'bundlename' %}
													<tr>
														<td>{{k|raw}}</td>
														<td>
															{% if v is iterable %}
															<ul>
																{% for vv in v %}
																<li>
																	{% if v is iterable %}
																	{# <ul>
																	{% for vv in v %}
																	<li>{{(v is not empty ? v|raw : (('<em>' ~ ('n.v.t.'|trans) ~ '</em>')|raw))}}</li>
																	{% endfor %}
																</ul> #}
																{# [ARRAY] #}
																{% else %}
																{{(v is not empty ? v|raw : (('<em>' ~ ('n.v.t.'|trans) ~ '</em>')|raw))}}
																{% endif %}
															</li>
															{% endfor %}
														</ul>
														{% else %}
														{{(v is not empty ? v|raw : (('<em>' ~ ('n.v.t.'|trans) ~ '</em>')|raw))}}
														{% endif %}
													</td>
												</tr>
												{% endif %}
												{% endfor %}
											</table>
										</div>
									</td>
									<td class="text-center">{{pagedata.Wrapper.enabled ? '<i class="fa fa-check green-text"></i>' : '<i class="fa fa-minus gray-text"></i>'}}</td>
									<td class="text-start">{{pagedata.Wrapper.templateKey}}</td>
									<td class="text-center">{{pagedata.block_index}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						</div>
					</div>
				</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
