{% trans_default_domain 'cms' %}
{% if app.request.get('cloned') %}
	<script type="text/javascript">
	window.location = '{{path('admin_page')}}?cloned={{Page.id}}';
	</script>
{% else %}


	<div class="page-save-overlay" id="page-clone-overlay" style="position:absolute;z-index:22222222222222222;">
		<div class="vtable">
			<div class="valign">
				<div class="loading"></div>
				<span>{{ 'Bezig met dupliceren..' | trans }}</span>
			</div>
		</div>
	</div>

	<h3 class="popup-title">{{ 'Pagina dupliceren' | trans }}</h3>
	<form method="post" onsubmit="$('#page-clone-overlay').show();">
		<p>
			<div>
				<label class="form-label" for="first_name">{{ 'Nieuwe pagina titel' | trans }}</label>
				<input class="form-control" id="first_name" type="text" name="title" value="{{Page.label}}" />
			</div>
		</p>

		<span class="hard-submit" style="display:none;"></span>

		{% if multisite_all is not empty and (multisite_all|length) > 1 and (app.user.sites.count == 0 or app.user.sites.count > 1) %}

			{{ 'Wilt u deze pagina dupliceren naar een andere website?' | trans }}
			<select name="multisite_id" class="browser-default form-select">
				{% for C in multisite_all %}
					{% if C in app.user.sites or app.user.sites.count == 0 %}
						<option {{Page.Settings == C ? 'selected' : ''}} value="{{C.id}}">{{C.label ~ ': ' ~ C.language.label}}{{Page.Settings == C ? ' - ' ~ ('Actuele website' | trans) : ''}}</option>
					{% endif %}
				{% endfor %}
			</select>
		{% else %}
			{% if languages|length > 1 %}
				{{ 'Selecteer de gewenste taal:' | trans }}
				<p>
					<div class="input-fieldd col s12">
						<select name="languageid" class="browser-default form-select" id="languageid">
							{% for lang in languages %}
                                                                <option value="{{lang.id}}" {% if language == lang %}selected="selected"{% endif %}>{{lang.label}} {% if language == lang %} ({{'huidige taal' | trans}}){% elseif lang.notifyEmail %} ({{'notificatie' |trans}}){% endif %}</option>
							{% endfor %}
						</select>
					</div>
				</p>
			{% endif %}
		{% endif %}

		<h6 style="margin-top: 20px;">{{ 'Wat wilt u doen met de inhoud van de pagina?' | trans }}</h6>

		<div class="form-check">
			<input class="form-check-input" name="content" type="radio" id="keep" value="keep" checked />
			<label class="form-check-label" for="keep">{{ 'Inhoud intact laten' | trans }}</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" name="content" type="radio" id="lorem" value="lorem" />
			<label class="form-check-label" for="lorem">{{ "Inhoud vervangen door 'lorem ipsum' placeholders" | trans }}</label>
		</div>
		<div class="form-check">
			<input class="form-check-input with-gap" name="content" type="radio" id="remove" value="remove" />
			<label class="form-check-label" for="remove">{{ 'Inhoud verwijderen' | trans }}</label>
		</div>
		
		<h6 style="margin-top: 20px;">{{'Opties'|trans}}</h6>

		<div class="form-check">
			<input class="form-check-input with-gap" name="visible" type="checkbox" id="visible" value="visible" />
			<label class="form-check-label" for="visible">{{ 'Pagina direct zichtbaar maken' | trans }}</label>
		</div>
		{# <div class="form-check">
			<input class="form-check-input with-gap" name="childs" type="checkbox" id="childs" value="childs" />
			<label class="form-check-label" for="childs">{{ "Neem onderliggende pagina's ook mee" | trans }}</label>
		</div> #}
		
		<div id="popup_footer">
			<div class="left">
				<button type="button" onclick="cpop.close();" class="btn-flat">{{'Sluiten'|trans({})|raw}}</button>
			</div>
			<button type="submit" onclick="$('#page-clone-overlay').show();" class="btn primary">{{ 'Verder' | trans }} &raquo;</button>
		</div>
	</form>
{% endif %}
