{% trans_default_domain 'cms' %}
{% extends '@Cms/base.html.twig' %}

{% set wrapperClasses = {
    ''            : 'Standaard',
    'bg_primary'  : 'Primair',
    'bg_secondary': 'Secundair',
    'bg_tertiary' : 'Tertiair',
    'bg_dark'     : 'Donker',
    'bg_gray'     : 'Grijs',
    'bg_light'    : 'Licht',
} %}

{% set wrapperTextColor = {
    ''          : 'Standaard',
    'text_dark' : 'Donker',
    'text_light': 'Licht',
} %}

{% block pagetitle %}
	{% if id > 0 %}
		{{'Pagina aanpassen'|trans}}
	{% else %}
		{{'Pagina toevoegen'|trans}}
	{% endif %}
{% endblock %}

{% block treetoggle %}<li class="treetoggle" title="{{ 'Pagina overicht' | trans }}"><a href="#!"><i class="material-icons">menu</i></a></li>{% endblock %}

{% block body %}
<style>
	.bulk-checkbox{
		display: none;
		border-radius: 5px;
		background: #179bde1c;
		position: absolute;
		top: 0;
		height: 50px;
		line-height: 50px;
		width: 50px;
		text-align: center;
		left: -56px;
	}
	ol.sortable{
		transition: margin-left .2s;
		margin-left: 0;
	}
	.bulk-edit ol.sortable{
		margin-left: 56px;
	}
	.bulk-edit .bulk-checkbox{
		display: block;
	}

	.bulk-edit-checked{
		/**/
	}

	.bulk-options {
	    position: fixed;
	    bottom: -100px;
	    transition: bottom .2s;
	    left: 280px;
	    right: 0;
	    text-align: center;
	    z-index: 1000000;
	    background: #fff;
	    padding: 10px;
	    box-shadow: 0 0 4px rgba(0,0,0,0.05);
	}

	.bulk-edit.bulk-edit-checked .bulk-options{
		bottom: 0px;
	}
	</style>

	<!-- MiniColors -->
	<script src="/bundles/cms/jquery-minicolors-master/jquery.minicolors.js"></script>
	<link rel="stylesheet" href="/bundles/cms/jquery-minicolors-master/jquery.minicolors.css">


	<script>
	var myNewBlock;
	var between = false;
	var mediaField = null;

	let wrapperClasses = {{wrapperClasses|json_encode()|raw}};
	let wrapperTextColor = {{wrapperTextColor|json_encode()|raw}};
	</script>

	<div class="page-save-overlay">
		<div class="vtable">
			<div class="valign">
				<div class="loading"></div>
				<span>{{ 'Bezig met opslaan..' | trans }}</span>
			</div>
		</div>
	</div>

<div class="btn-bar">
	<div class="left">
			{# <a href="{{path('admin_page')}}" class="back-btn"><i class="fa fa-arrow-left"></i></a> #}

			{# <a href="#" class="toggle-pagetree"><i class="fa fa-bars tooltipped" data-info="{{'Pagina overzicht'|trans}}" data-position="bottom" data-delay="300" data-tooltip="{{'Pagina overzicht'|trans}}"></i></a> #}
	</div>


	<div class="right">
		<div class="btns">
			<button type="button" onclick="$('#inline_save').val('1');$('#page-edit-form').submit();" class="btn btn-flat"><i class="fa fa-check"></i> {{'Toepassen'|trans}}</button>
			<a class="btn" onclick="$('#page-edit-form').submit();return false;" href="#"><i class="fa fa-save"></i> {{'Opslaan en sluiten'|trans}}</a>
		</div>
	</div>
</div>

	<ul class="nav nav-tabs nav-pills content-tabs d-none d-lg-flex" id="myTab" role="tablist">
	  <li class="nav-item" role="presentation">
	    <button class="nav-link {{id > 0 ? 'active' : ''}}" id="inhoud-tab" data-bs-toggle="tab" data-bs-target="#inhoud-tab-content" type="button" role="tab" aria-controls="inhoud-tab-content" aria-selected="false">
				{{'Inhoud'|trans}}
			</button>
	  </li>
		<li class="nav-item" role="presentation">
			<button class="nav-link {{id > 0 ? '' : 'active'}}" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-content" type="button" role="tab" aria-controls="home-tab-content" aria-selected="true">
				{{'Pagina informatie'|trans}}
			</button>
		</li>
	  <li class="nav-item hide-external" role="presentation">
	    <button class="nav-link" id="metadata-tab" data-bs-toggle="tab" data-bs-target="#metadata-tab-content" type="button" role="tab" aria-controls="metadata-tab-content" aria-selected="false">
				{{'Metadata / SEO'|trans}}
			</button>
	  </li>
	  <li class="nav-item hide-not-inline" role="presentation">
	    <button class="nav-link" id="media-tab" data-bs-toggle="tab" data-bs-target="#media-tab-content" type="button" role="tab" aria-controls="media-tab-content" aria-selected="false">
				{{'Media'|trans}}
			</button>
	  </li>
	  <li class="nav-item hide-not-inline" role="presentation">
	    <button class="nav-link" id="meldingen-tab" data-bs-toggle="tab" data-bs-target="#meldingen-tab-content" type="button" role="tab" aria-controls="meldingen-tab-content" aria-selected="false">
				{{'Meldingen'|trans}}
			</button>
	  </li>
	  <li class="nav-item" role="presentation">
	    <button class="nav-link" id="toegang-tab" data-bs-toggle="tab" data-bs-target="#toegang-tab-content" type="button" role="tab" aria-controls="toegang-tab-content" aria-selected="false">
				{{'Toegang'|trans}}
			</button>
	  </li>

		<li class="btns">
			{% if languages | length > 1 %}
				<div class="current-flag flag-icon flag-icon-{{language.locale}}"></div>
			{% endif %}

			{# {% if dev %}
				<a title="{{ 'Verborgen velden tonen' | trans }}" onclick="$('textarea.block_data').toggle();"><i class="fa fa-terminal"></i></a>
			{% endif %} #}
			<a title="{{ 'Alle secties inklappen/uitklappen' | trans }}" id="retract_all"><i class="fa fa-bars"></i></a>
			{% if Page.slugkey %}
				<a id="view-live" title="{{ 'Pagina tonen in nieuw tabblad' | trans }}" href="{{host ~ path(Page.slugkey)}}" target="_blank"><i class="fa fa-external-link-alt"></i></a>
			{% else %}
				<a id="view-live" class="disabled" title="{{ 'Pagina tonen in nieuw tabblad' | trans }}" target="_blank"><i class="fa fa-external-link-alt"></i></a>
			{% endif %}
		</li>
	</ul>

	<select class="form-select d-lg-none mb-3" id="tab_selector">
		<option value="0">{{'Pagina informatie'|trans}}</option>
		<option value="1" selected>{{'Inhoud'|trans}}</option>
		<option value="2">{{'Metadata / SEO'|trans}}</option>
		<option value="3">{{'Media'|trans}}</option>
		<option value="4">{{'Meldingen'|trans}}</option>
		<option value="5">{{'Toegang'|trans}}</option>
	</select>

	<script>
		$(document).ready(function() {
			$('#tab_selector').on('change', function (e) {
					$('.content-tabs li button').eq($(this).val()).tab('show');
			});
		});
	</script>

	<form method="post" enctype="multipart/form-data">
		{# <input type="hidden" id="mediadirid" name="mediadirid" value="{{mediaDirId}}" /> #}
		<input type="hidden" name="manual_upload" value="1" />
		<input type="file" name="media[]" id="upload_button" />
		<button type="submit">{{'Uploaden'|trans}}</button>
	</form>

	<form method="post" id="page-edit-form">
	    {% if saved %}
	    	<div class="panel padd">
		    	<div class="saved-bar">
		    		{{'De pagina gegevens zijn opgeslagen.'|trans}}
		    	</div>
	    	</div>
	    {% endif %}

	    <input type="hidden" id="inline_save" name="inline_save" value="0" />
		    <input type="hidden" id="template_save" name="template_save" value="0" />

    	{{ form_errors(form, {class: 'class'}) }}

    	{% if Page.getStatic == false %}
				<div class="tab-content">
				  <div class="tab-pane {{id > 0 ? '' : 'show active'}}" id="info-tab-content" role="tabpanel" aria-labelledby="info-tab">
							<div id="page" class="t-content">
								<div class="row">
									<div class="col-12 col-lg-6">
										<div class="card">
											<div class="card-body">
												<h6>{{'Pagina informatie'|trans}}</h6>

												{{ form_row(form.label) }}

												{{ form_row(form.page_type) }}

												<div class="hide-not-external">
													{{ form_row(form.custom_url) }}
												</div>

												{{ form_row(form.target) }}

												{% if ParentPage != null %}
													<div class="input-field ">
														<label for="form_label" class="required">{{'Bovenliggende pagina'|trans}}</label>
														<div class="controls">
                              <input type="text" class="form-control" readonly="readonly" value="{{parentpath}}" />
                            </div>
													</div>
												{% endif %}

												<div class="hide-not-inline">
													{{ form_row(form.subtitle) }}
													{{ form_row(form.layout) }}
												</div>

												<div class="hide-not-inline">
													{{ form_row(form.tpl_inject) }}
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-lg-6">
										<div class="card">
											<div class="card-content">
												<h6>Pagina opties</h6>
												<p>
													{{form_row(form.enabled)}}
													{{form_row(form.show_in_sitemap)}}
													{{form_row(form.visible)}}
													{{form_row(form.option_hide_in_submenu)}}
												</p>

												<h6>Extra opties</h6>
												<p>
													{{form_row(form.option_title)}}
													{{form_row(form.option_subtitle)}}
													{{form_row(form.option_subnavigation)}}
													{{form_row(form.option_breadcrumbs)}}

													{% if allowCache %}
														{% if is_granted('ROLE_SUPER_ADMIN') %}
															{{form_row(form.cache)}}
															{{form_row(form.critical)}}
														{% endif %}
													{% endif %}
												</p>

												{{ form_row(form.classes) }}

												{% if Page.dateEdit or Page.dateAdd %}
													<div class="page-info-header alert alert-info">
														<table>
															{% if Page.dateAdd %}<tr><td><span style="font-weight: bold;">{{'Toegevoegd'|trans({}, 'cms', app.request.locale)|raw}}:</span></td><td style="padding: 5px;">{{Page.dateAdd|date('d-m-Y H:i:s')}}</td></tr>{% endif %}
															{% if Page.dateEdit %}<tr><td><span style="font-weight: bold;">{{'Laatst gewijzigd'|trans({}, 'cms', app.request.locale)|raw}}:</span></td><td style="padding: 5px;">{{Page.dateEdit|date('d-m-Y H:i:s')}}</td></tr>{% endif %}
														</table>
													</div>
												{% endif %}


											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
				  <div class="tab-pane {{id > 0 ? 'show active' : ''}}" id="inhoud-tab-content" role="tabpanel" aria-labelledby="inhoud-tab">
						<div id="contents" class="hide-not-inline t-content" style="display:none;">
							<ul class="collapsible-editors" data-collapsible="accordion">
								{% for name, PageContent in pageContents %}
								<li>
									<div class="collapsible-header {{pageContents|length <= 1 ? 'active' : ''}}">{{pageSections[name]}}</div>
									<div class="collapsible-body content-container editor-content">
										{% if PageContent %}
										<textarea class="pc" name="content[edit][{{PageContent.id}}]">{{PageContent.content}}</textarea>
										{% else %}
										<textarea class="pc" name="content[new][{{name}}]"></textarea>
										{% endif %}
										<input type="checkbox" style="display:none;" checked="checked" id="{{name}}_enabled" name="enabled[{{name}}]" value="1">
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="card">
							<div class="card-body">
								<div id="blocks">
									{% include '@Cms/page/composer.html.twig' with block_sections %}
									<span class="btn d-lg-none toggle-blocks">
									  <i class="fa fa-plus"></i> {{'Sectie toevoegen'|trans}}
									</span>
								</div>
							</div>
						</div>
					</div>
				  <div class="tab-pane" id="metadata-tab-content" role="tabpanel" aria-labelledby="metadata-tab">
							<div id="meta" class="hide-external t-content">

								<div class="row">
									<div class="col">
										<div class="card">
											<div class="card-body">
												<h6>{{'Pagina specifiek'|trans}}</h6>
												<div class="hide-not-inline">{{ form_row(form.title) }}</div>
												{{ form_row(form.slug) }}
							<div class="hide-not-inline">
													<span><i class="fas fa-exclamation-triangle" style="color: orange; padding-right: 5px;"></i>{{ 'Het URI veld hoeft niet ingevuld te worden. Wanneer dit niet gedaan is, genereerd het systeem een browser vriendelijke URI aan de hand van het \'Weergave titel\' veld.' | trans({}) }}</span>

												{% set seoDescription = '' %}

												{% set foundMeta = false %}
												{% if pageMetatags %}
													{% set foundMeta = true %}
															{% for Metatag in pageMetatags %}
																<div class="input-field ">
					                        {% set information = '' %}
					                        {% set information_url = '' %}

					                        {% if 'og:type' in Metatag.key %}
					                            {% set information = "Wat voor soort pagina is dit? Voorbeelden hiervan zijn: website, article, book en profile. Klik op de link knop hiernaast voor uitleg over alle mogelijkheden." | trans() %}
					                            {% set information_url = "https://ogp.me/#types" %}
					                        {% elseif 'og:url' in Metatag.key %}
					                            {% set information = "Dit veld is optioneel voor het opgeven van een eigen url. Dit veld moet inclusief http(s) en domeinnaam zijn, bijvoorbeeld: 'https://www.beyonit.nl/contact'. Als dit veld niet is ingevuld, wordt automatisch de pagina url gebruikt." | trans() %}
					                        {% endif %}

					                        <label for="form-label" class="required">{{Metatag.label}}
					                            <span style="float: right">
					                            {% if information_url %}<a href="{{ information_url }}"target="_blank"><i style="padding: 5px; color:black;" class="fas fa-external-link-alt" title="{{ 'Externe informatie' | trans() }}"></i></a>{% endif %}
					                            {% if information %}<i style="padding: 5px; color:black;" class="fas fa-info" title="{{ information | raw }}"></i>{% endif %}
					                            </span>
					                        </label>
																	<div class="controls">
																{% if Metatag.key == 'description' %}
																	{% set seoDescription = Metatag.value %}
																	<textarea class="form-control fld-seo-{{Metatag.key}}" placeholder="{{Metatag.placeholder}}" name="metadata[{{Metatag.id}}]">{{Metatag.value}}</textarea>
																{% elseif ':description' in Metatag.key %}
																	{% set meta_value = Metatag.value %}
																	{% if seoDescription and meta_value is empty %}
																		{% set meta_value = seoDescription %}
																	{% endif %}
																	<textarea class="form-control fld-seo-{{Metatag.key}}" placeholder="{{Metatag.placeholder}}" name="metadata[{{Metatag.id}}]">{{meta_value}}</textarea>
																{% elseif Metatag.valueType == 'image' %}

																	{% set hasMedia = (Metatag.value is not empty) %}
																	<a id="meta-imageselect-{{Metatag.id}}" href="#" onclick="mediaField = '{{Metatag.id}}';addSeoMedia(this);" style="{{hasMedia ? 'display:none;' : ''}}" class="btn btn-gray">{{ 'Selecteer een afbeelding' | trans }}</a>
																	<div style="width: 100px;max-height: 100px;text-align:center;margin: 30px;" class="settings-image" id="meta-image-{{Metatag.id}}">
																		{% if hasMedia %}
																			<img src="{{Metatag.value}}" style="max-width: 100%;max-height: 100%;" />
																			<button style="" type="button" onclick="deleteMetaImage({{Metatag.id}});" class="btn red darken-1 del_btn"><i class="far fa-trash-alt"></i></button>
																		{% endif %}
																	</div>
																	<input id="meta-field-{{Metatag.id}}" class="form-control fld-seo-{{Metatag.key}}" type="hidden" placeholder="{{Metatag.placeholder}}" name="metadata[{{Metatag.id}}]" value="{{Metatag.value}}" />
																{% elseif Metatag.valueOptions is not empty %}
																	<select name="metadata[{{Metatag.id}}]" class="form-select fld-seo-{{Metatag.key}}">
																		<option value="">- {{ 'n.v.t.' | trans }} -</option>
																		{% for option in Metatag.valueOptions %}
																			<option {{Metatag.value == option ? 'selected' : ''}} value="{{option}}">{{option}}</option>
																		{% endfor %}
																	</select>
																{% else %}
																	{% set meta_value = Metatag.value %}
					                                                                                                {% if meta_value is empty and 'og:type' in Metatag.key %}
					                                                                                                    {%  set meta_value = 'website' %}
					                                                                                                {%  endif %}
																	{% if meta_value is empty and ':title' in Metatag.key %}
																		{% set meta_value = Page.title %}
																	{% endif %}
																	<input class="form-control fld-seo-{{Metatag.key}}" type="text" placeholder="{{Metatag.placeholder}}" name="metadata[{{Metatag.id}}]" value="{{meta_value}}" />
																{% endif %}
																	</div>
																</div>
															{% endfor %}
												{% endif %}

												{% if foundMeta == false %}
															<div class="center-align">
																{{ 'Er zijn nog geen metadata geconfigureerd' | trans }}
															</div>
												{% endif %}
												</div>
											</div>
										</div>
									</div>

									<div class="col">
										<div class="card">
											<div class="card-body">
												<h6>{{'SEO voorbeeld'|trans}}</h6>
												<div id="seo-preview">
													<span class="seo-preview-title"><span class="title-part">{{Page.title}}</span> - {{Settings.label}}</span>
								<span class="seo-preview-url">{{host ~ Settings.baseUri}}<span class="slug-part">{{Page.url}}</span></span>
													<span class="seo-preview-body">{{seoDescription}}</span>
												</div>

												{{form_row(form.robots)}}
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
				  <div class="tab-pane" id="media-tab-content" role="tabpanel" aria-labelledby="media-tab">
							<div id="images" class="hide-not-inline t-content">
								<div class="card">
									<div class="card-body">
										<div class="card-title">
											<div class="card-titles">
												<h6>Pagina header-afbeelding</h6>
												{{ 'Sleep een afbeelding naar het vlak hieronder (of klik er op) om deze als header-achtergrond voor deze pagina in te stellen.' | trans }}
											</div>
										</div>

										<div class="page-image settings-image">
												<div class="page-image">
													<input type="hidden" id="delete_image" name="delete[image]" value="" />
													<input type="hidden" id="link_image" name="link[image]" value="" />
													<div class="dropzones" data-name="image" style="cursor:pointer;{% if Page.hasImage %}background-image:url('/{{Page.getImage.getWebPath}}');{% endif %}"><div class="dropzone-loader"><span>{{ 'Uploaden...' | trans }}</span></div></div>
													<button style="{% if Page.hasImage %}{% else %}display:none;{% endif %}" type="button" id="image_del_btn" onclick="deleteAsset('image', this);" class="btn red darken-1 del_btn"><i class="fa fa-trash-alt" style="margin: 0 5px;"></i></button>
													<a href="#" onclick="selectPageImage()" class="btn"><i class="far fa-image"></i> {{ 'Selecteer een afbeelding uit de media bibliotheek' | trans }}</a>
												</div>

												{# {% if Page.hasImage %}<img src="{{ asset(Page.getImage.getWebPath) }}" />{% endif %} #}
											{# </div> #}
										</div>
									</div>
								</div>
							</div>
					</div>
				  <div class="tab-pane" id="meldingen-tab-content" role="tabpanel" aria-labelledby="meldingen-tab">
							<div id="notify" class="hide-not-inline t-content" style="{% if app.user.username != 'admin' %}display:none;{% endif %}">
								<div class="card">
									<div class="card-body">
										<h6>{{'Meldingen'|trans}}</h6>
										{{form_row(form.notify_type)}}
										{{form_row(form.notify_change)}}
										{{form_row(form.notify_create_child)}}
										{{form_row(form.notify_change_child)}}
										{{form_row(form.notify_email)}}
										{{form_row(form.notify_telegram_bot)}}
										{{form_row(form.notify_telegram_bot_chat_id)}}
									</div>
								</div>
							</div>
					</div>
				  <div class="tab-pane" id="toegang-tab-content" role="tabpanel" aria-labelledby="toegang-tab">
							<div id="access" class="t-content">
								<div class="card">
									<div class="card-body">
										<h6>{{'Toegang'|trans}}</h6>
											{{form_row(form.access)}}
											{{form_row(form.access_roles)}}

											<div style="border-top:solid 1px #ccc;margin-top:15px;padding-top:15px;">
												{{form_row(form.access_free)}}
												{{form_row(form.access_alt_home)}}
												{{form_row(form.access_allow_login)}}
												{{form_row(form.access_visible_menu)}}
												{{form_row(form.access_pwd)}}
												{% if is_b2b %}
													{{form_row(form.access_b2b)}}
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>

				<script>
					function deleteAsset(asset, el){
						cpop.confirm('{{ 'Weet u zeker dat u deze afbeelding wilt verwijderen?' | trans }}', function(){
							$('#delete_' + asset).val(1);
							$(el).parent().find('.dropzones').css('background-image', '');
							$(el).hide();
							cpop.close();
						});
					}
				</script>
	    {% endif %}
    </form>

	{% include '@Cms/page/composer_blocks.html.twig' with block_sections %}

	{% if app.request.query.get("CKEditor") is null %}
		{# CKEDITOR #}
		<script src="{{asset('bundles/cms/ckeditor/ckeditor.js')}}"></script>
	{% endif %}

    <script type="text/javascript">

    var cmApplet = null;
    var editor = [];
    var ifrm = null;

    var htmlHeader = '<html><head><link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" /></head><body>';
    var htmlFooter = '</body></html>';

	/*$('.collapsible-editors').collapsible({
		onOpen: function(el) {
			selectedEditorIndex = $(el).index();
		}
	});*/

    $('.content-container textarea.pc').each(function(ind, area){
    	if(ind == 0){
    		editor[ind] = CKEDITOR.replace( area, {
				width: "100%",
		        height: "450px"
			} );
    	}else{
    		editor[ind] = CKEDITOR.replace( area, {
				width: "100%",
		        height: "200px"
			} );
    	}

		// Bundle selection popup
		editor[ind].addCommand("bundleSelect", { // create named command
			exec: function(edt) {
				cpop.reset().loadAjax('{{path('admin_page_link')}}');
			}
		});
		editor[ind].ui.addButton('bundleSelect', { // add new button and bind our command
			label: "{{ 'Bundle selection' | trans }}",
			command: 'bundleSelect',
			toolbar: 'document',
			icon: '{{asset('bundles/cms/ck_ext.png')}}'
		});
		editor[ind].on('instanceReady',function(){
			$('.cke_button__inlinesave').remove();
		});

    });

	$(function(){
		$( '.tab-bar a:not(.no-tab)' ).click( function( e ){
			e.preventDefault();
			$( '.tab-bar a,.tab-content' ).removeClass( 'active' );
			window.location.hash = $( this ).attr( 'id' ).replace( 't-', '' );
			$(window).hashchange();
		} );

		$('#form_label').blur(function(){
			if($('#form_title').val() == '' )
				$('#form_title').val($('#form_label').val());
		});

	    $('#page-edit-form').submit(function(event){
	        if(!this.checkValidity())
	        {
	            event.preventDefault();

	            var form = $(this);

	            form.find(':input:visible[required="required"]').each(function(){
					    if(!this.validity.valid)
					    {
					        $(this).focus();
					        // break
					        return false;
					    }
					});

	            // Find hidden fields
				form.find(':input:hidden[required="required"]').each(function(){
					// Check validity
					if(!this.validity.valid){
						// Check if they are part of a tab content
						if($(this).closest('.t-content').length){
							var ct = $(this).closest('.t-content');
							var tab_id = ct.prop('id');
							// Trigger linked tab
							// $('#page-edit-tabs').tabs('select_tab', tab_id);
							$('.nav-tabs a[href="#' + tab_id + '"]').tab('show');
							setTimeout(function(){
								// Set focus on empty required field
								$(this).focus();
							}.bind(this), 200);
						}
					}
				});
	        }else{
	        	$('.page-save-overlay').show();
	        	return true;
	        }
	    });
	} );
    </script>

	<script type="text/javascript">
		$().ready(function(){
			$(".tag-selector").select2({ tags: true })
		});
	</script>

	<script type="text/javascript" src="{{asset('bundles/cms/js/jquery.filedrop.js')}}"></script>
	<script type="text/javascript">
		var totalUploadSize = 0;
		var fileDrop = [];
		var activeZone = $('.dropzones');

	    var allowedDocTypes = ['application/csv', 'application/doc', 'application/excel', 'application/ms-doc', 'application/mspowerpoint', 'application/msword', 'application/octet-stream', 'application/pdf', 'application/powerpoint', 'application/rtf', 'application/vnd.apple.keynote', 'application/vnd.apple.numbers', 'application/vnd.apple.pages', 'application/vnd.ms-excel', 'application/vnd.ms-powerpoint', 'application/vnd.openxmlformats-officedocument.presentationml.presentation', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 'application/x-excel', 'application/x-iwork-keynote-sffkey', 'application/x-iwork-numbers-sffnumbers', 'application/x-msexcel', 'application/x-mspowerpoint', 'application/x-rar-compressed', 'application/zip', 'audio/basic', 'audio/mpeg', 'audio/ogg', 'audio/vnd.rn-realaudio', 'audio/vorbis', 'audio/wav', 'audio/x-midi', 'audio/x-pn-realaudio', 'audio/x-wav', 'text/asp', 'text/css', 'text/csv', 'text/html', 'text/pascal', 'text/php', 'text/plain', 'text/richtext', 'text/sgml', 'text/uri-list', 'text/webviewhtml', 'text/x-asm', 'text/x-c', 'text/x-java-source', 'text/x-pascal', 'text/x-script.csh', 'text/x-script.elisp', 'text/x-script.perl', 'text/x-script.perl-module', 'text/x-script.phyton', 'text/x-script.sh', 'text/x-server-parsed-html', 'text/x-setext', 'text/x-sgml', 'text/x-uuencode', 'video/avi', 'video/mp4', 'video/mpeg', 'video/msvideo', 'video/quicktime', 'video/x-msvideo'];
	    var allowedMediaTypes = ['image/bmp', 'image/gif', 'image/jpeg', 'image/png', 'image/svg+xml', 'image/tiff'];

	    var allowedTypes = $.merge( $.merge([], allowedMediaTypes), allowedDocTypes)

		$().ready(function(){
			$('.dropzones').each(function(ind, dropzone){
				var fd = $(dropzone).filedrop({
				    fallback_id: 'upload_button',   // an identifier of a standard file input element, becomes the target of "click" events on the dropzone
				    url: '{{path('admin_page_edit', {id: Page.id})}}',              // upload handler, handles each file separately, can also be a function taking the file and returning a url
				    paramname: $(dropzone).data('name'),          // POST parameter name used on serverside to reference file, can also be a function taking the filename and returning the paramname
				    withCredentials: true,          // make a cross-origin request with cookies
				    data: {
				    },
				    error: function(err, file) {
				        switch(err) {
				            case 'BrowserNotSupported':
				            	$('#upload-overlay').hide();
				                alert('{{ 'browser does not support HTML5 drag and drop' | trans }}')
				                break;
				            case 'TooManyFiles':
				            	$('#upload-overlay').hide();
				                // user uploaded more than 'maxfiles'
				                break;
				            case 'FileTooLarge':
				            	$('#upload-overlay').hide();
				            	cpop.loadHtml("{{ 'Bestand is te groot. Maximaal toegestaan: %maxFileSize% MB' | trans({'%maxFileSize%': maxFileSize}) | raw }}");
				                // program encountered a file whose size is greater than 'maxfilesize'
				                // FileTooLarge also has access to the file which was too large
				                // use file.name to reference the filename of the culprit file
				                break;
				            case 'FileTypeNotAllowed':
				            	$('#upload-overlay').hide();
					            cpop.loadHtml("{{ 'Bestandstype' | trans }}" + '\'' + file.type + '\'' + "{{ 'is niet toegestaan.<br/><br/><strong>Toegestane bestanden:' | trans }}" + '</strong><ul><li>' + allowedTypes.join('</li><li>') + '</li></ul>');
				                // The file type is not in the specified list 'allowedfiletypes'
				                break;
				            case 'FileExtensionNotAllowed':
				            	$('#upload-overlay').hide();
				                // The file extension is not in the specified list 'allowedfileextensions'
				                break;
				            default:
				                break;
				        }
				    },
				    allowedfiletypes: allowedTypes,
				    allowedfileextensions: [], // file extensions allowed. Empty array means no restrictions
				    maxfiles: 10,
				    maxfilesize: {{maxFileSize}},    // max file size in MBs
				    drop: function(x,y,z) {
				        $('#upload-overlay').show();
				        $('#upload-overlay .progress-bar').css('width', '0%');
				    },
				    globalProgressUpdated: function(progress) {
				        $('#upload-overlay .progress-bar').css('width', progress + '%');
				    },
				    dragOver: function() {
				    	activeZone = $(this);
				        $(this).addClass('hover');
				    },
				    dragLeave: function() {
				    	activeZone = null;
				        $(this).removeClass('hover');
				    },
				    uploadStarted: function(i, file, len){
				        $('#upload-overlay').show();
				        // console.info('Start upload.');
				        // $($('.file-upload-preview').get(i)).find('i.fa').attr('class', 'fa fa-fw fa-upload');
				        console.log( activeZone );
				        // activeZone.find('.dropzone-loader').show();

				    },
				    uploadFinished: function(i, file, response, time) {
				    	$('div[data-name="' + response.type + '"]').html('').css('background-image', 'url(' + response.image + ')');
				    	activeZone.removeClass('hover');
				    	$('#delete_' + response.type).val('');
				    	$('#link_' + response.type).val(response.id);
				    	$('#' + response.type + '_del_btn').show();
				    	// activeZone.find('.dropzone-loader').hide();
				    },
				    beforeSend: function(file, i, done) {
				        done(); // Start upload
				        $(this).removeClass('hover');
				        $(this).addClass('running');
				    },
				    afterAll: function() {
				        $(this).removeClass('hover');
				        $(this).removeClass('running');
				        // activeZone.find('.dropzone-loader').hide();
				        $('#upload-overlay').hide();
				        $('#upload-overlay .progress-bar').css('width', '0%');
				    }
				});
				fileDrop.push(fd);
			});
		});
	</script>

	<script type="text/javascript">
	$().ready(function(){
		$('textarea').trigger('autoresize');
	});
	/*$('.languages img').click(function(){
		$('.languages img').css('opacity', 0.3);
		$(this).css('opacity', 1);
		$('.lang-content').hide();
		$('#lc-' + $(this).data('locale')).show();
	});*/

	{% if Page.pageType is not empty %}
		$('.hide-not-inline').hide();
	{% endif %}

	{% if Page.pageType != 'external' %}
		$('.hide-not-external').hide();
	{% endif %}

	$('#form_page_type').change(function(){
		if(this.value == ''){
			$('.hide-not-inline').show();
			$('.hide-not-external').hide();
			$('.hide-external').show();
		}else if(this.value == 'external'){
			$('.hide-not-inline').hide();
			$('.hide-not-external').show();
			$('.hide-external').hide();
		}else if(this.value == 'child'){
			$('.hide-not-inline').hide();
			$('.hide-not-external').hide();
			$('.hide-external').show();
		}

		$('.tabs').tabs();
	});

	var linkMedia = false;
	var seoMedia = false;
	var callerEl = null;
	function addSeoMedia(el){
		callerEl = $(el);
		seoMedia = true;
		cpop.large().loadAjax('{{path('admin_media', {parentid: pageMediaDirId, type: 'image', inline: 1, composer: 1})}}');
		return false;
	}
	function selectPageImage(){
		linkMedia = true;
		cpop.large().loadAjax('{{path('admin_media', {parentid: pageMediaDirId, type: 'image', inline: 1, composer: 1})}}');
		return false;
	}
	function deleteMetaImage(id){
		$('#meta-field-' + id).val('');
		$('#meta-image-' + id).html('');
		$('#meta-imageselect-' + id).show();
	}

	</script>

	<script>
		$('body').addClass('folded'); // Compensate sidebar width because of additional sidebars
	</script>
{% endblock %}
