{% trans_default_domain 'cms' %}

<div class="page-content">
    {# <div class="content-block nopadding tab-bar">
	    <a target="_blank" class="no-tab" href="{{path('homepage')}}{{Page.slug|e}}"><img style="margin-top:11px;" src="{{ asset('bundles/feestveilingadmin/images/listicons/world.png') }}" /></a>
	    {% if Page.getStatic == false %}
	    	<a href="#" id="t-info" class="active">{{ 'Pagina informatie' | trans }}</a>
	    	<a href="#" id="t-meta">{{ 'Metadata' | trans }}</a>
    	{% else %}
			<a href="#" id="t-meta" class="active">{{ 'Metadata' | trans }}</a>
	    {% endif %}
    </div> #}

    {% if saved %}
    	<div class="panel">
	    	<div class="saved-bar">
	    		{{ 'De pagina <strong>%label%</strong> is opgeslagen.' | trans({'%label%': Page.getLabel}) | raw }}
	    	</div>
    	</div>
    	<script type="text/javascript">
		$('[data-path="{{path('homepage')}}{% if Page.getPage is not null %}{{Page.getPage.getSlug}}{% endif %}"]').before('<li><a href="{{path('homepage')}}{% if Page.getPage is not null %}{{Page.getPage.getSlug}}/{% endif %}{{Page.getSlug}}">{{Page.getLabel}}</a></li>');
    	</script>
    {% else %}
		{% if Page.getStatic == false %}
			<h2 class="outer">{{'Pagina inhoud'|trans}}</h2>
			<div class="panel">
		    {# <div class="content-block tab-content active" id="c-info"> #}
			    {# <div class="content-block"> #}
			    	{{ form_errors(form, {class: 'class'}) }}
			    	{{ form_row(form.label) }}
			    	{{ form_row(form.title) }}

			    	{% if ParentPage != null %}
				    	<div class="control-group ">
			    			<label for="form_label" class="required">{{'pages.upper_page'|trans}}</label>
			    			<div class="controls"><input type="text" readonly="readonly" value="{{parentpath}}" /></div>
			    		</div>
		    		{% endif %}
			    {# </div> #}
		    {# </div> #}
			</div>
	    {% endif %}

		{% if pageMetatags %}
			<h2 class="outer">{{'pages.meta.specific'|trans}}</h2>
	    	<div class="panel">
		    	{% for Metatag in pageMetatags %}
		    		<div class="control-group ">
		    			<label for="form_label" class="required">{{Metatag.label}}</label>
		    			<div class="controls">
		    				{% if Metatag.key == 'description' %}
		    					<textarea placeholder="{{Metatag.placeholder}}" name="metadata[{{Metatag.id}}]">{{Metatag.value}}</textarea>
		    				{% else %}
			    				<input type="text" placeholder="{{Metatag.placeholder}}" name="metadata[{{Metatag.id}}]" value="{{Metatag.value}}" />
		    				{% endif %}
		    			</div>
		    		</div>
		    	{% endfor %}
		    </div>
		{% endif %}
		{% if systemMetatags %}
			<h2 class="outer">{{'pages.meta.global'|trans}}</h2>
	    	<div class="panel">
		    	{% for Metatag in systemMetatags %}
		    		<div class="control-group ">
		    			<label for="form_label" class="required">{{Metatag.label}}</label>
		    			<div class="controls">
		    				{% if Metatag.key == 'description' %}
		    					<textarea readonly="readonly">{{Metatag.value}}</textarea>
		    				{% else %}
			    				<input type="text" readonly="readonly" value="{{Metatag.value}}" />
		    				{% endif %}
		    			</div>
		    		</div>
		    	{% endfor %}
		    </div>
		{% endif %}

		<div class="panel center">
		    <input class="btn green" type="submit" value="{{'Opslaan'|trans}}" />
		</div>

		<script type="text/javascript">
		$(function(){
			$( '.tab-bar a:not(.no-tab)' ).click( function( e ){
				e.preventDefault();
				$( '.tab-bar a,.tab-content' ).removeClass( 'active' );
				window.location.hash = $( this ).attr( 'id' ).replace( 't-', '' );
				$(window).hashchange();
			} );

			$('#form_label').blur(function(){
				if($('#form_title').val() == '' )
					$('#form_title').val($('#form_label').val());
			});
		} );
		</script>
	{% endif %}
</div>
