{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{ "Pagina's" | trans}} <small class="pull-right"><a class="btn btn-primary" href="{{ path('admin_page_edit') }}/0"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'Pagina toevoegen' | trans }}</a></small>{% endblock %}

{% block body %}
	<div class="page-save-overlay screen-overlay" id="page-save-overlay">
		<div class="vtable">
			<div class="valign">
				<div class="loading"></div>
				<span>{{ 'Bezig met verwijderen..' | trans }}</span>
			</div>
		</div>
	</div>

	<div class="page-save-overlay screen-overlay" id="page-import-overlay">
		<div class="vtable">
			<div class="valign">
				<div class="loading"></div>
				<span>{{ 'Bezig met importeren..' | trans }}</span>
			</div>
		</div>
	</div>

	{% if pages is not empty %}
		<div class="btn-bar">
			<div class="left">
			</div>

			<div class="right">
				<ul class="single-buttons d-none d-lg-block">
				  <li class="dropdown">
						<a class="dropdown-toggle" id="buttons-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
				      <i class="fa fa-ellipsis-v"></i>
				    </a>
				    <ul class="dropdown-menu" aria-labelledby="buttons-dropdown">
				      <li>
								<span class="dropdown-item" onclick="enableBulkEdit(this);">
					        <i class="fa fa-fw fa-list-ul"></i>
					        Bulk bewerken
								</span>
				      </li>

							<li>
								<form method="post">
									<a class="dropdown-item modal-trigger" data-bs-toggle="modal" data-bs-target="#bulk-add">
										<i class="far fa-fw fa-copy"></i> Bulk toevoegen
									</a>
								</form>
							</li>

							<li>
								<form method="post" action="{{path('admin_page_import')}}" enctype="multipart/form-data">
									<div class="file-field input-field dropdown-item" data-tooltip="{{ 'Pagina importeren' | trans }}">
										<i class="fa fa-fw fa-file-import"></i>
										{{ 'Pagina importeren' | trans }}
										<input type="file" name="file" id="page_file">
									</div>
								</form>
							</li>
				    </ul>
				  </li>
				</ul>

				<ul class="single-buttons d-lg-none">
					<li>
						<span class="" onclick="enableBulkEdit(this);">
							<i class="fa fa-fw fa-list-ul"></i>
							Bulk bewerken
						</span>
					</li>

					<li>
						<form method="post">
							<a class="modal-trigger" data-bs-toggle="modal" data-bs-target="#bulk-add">
								<i class="far fa-fw fa-copy"></i> Bulk toevoegen
							</a>
						</form>
					</li>

					<li>
						<form method="post" action="{{path('admin_page_import')}}" enctype="multipart/form-data">
							<div class="file-field input-field" data-tooltip="{{ 'Pagina importeren' | trans }}">
								<i class="fa fa-fw fa-file-import"></i>
								{{ 'Pagina importeren' | trans }}
								<input type="file" name="file" id="page_file">
							</div>
						</form>
					</li>
				</ul>

				<form method="post">
					<input type="hidden" id="pagesort" name="pagesort" value="" />
					<a href="{{ path('admin_page_edit') }}/0" class="btn"><i class="fa fa-plus"></i> {{'Nieuwe pagina'|trans}}</a>
					<button style="display:none;" id="saveSort" type="submit" class="btn green"><i class="fa fa-check"></i> {{'Volgorde opslaan'|trans}}</button>
				</form>
			</div>
		</div>
	{% endif %}

	<div class="bulk-options">
		<div class="bulk-actions">
			<form method="post" id="bulk-form">
				<input type="hidden" name="bulk-ids" id="bulk-ids" />
				<input type="hidden" name="bulk-action" id="bulk-action" />
				<button type="button" onclick="$('#bulk-action').val('visible-on');$('#bulk-form').submit();" class="btn green"><i class="fa fa-fw fa-eye"></i> Zichtbaar</button>
				<button type="button" onclick="$('#bulk-action').val('visible-off');$('#bulk-form').submit();" class="btn red"><i class="far fa-fw fa-eye-slash"></i> Onzichtbaar</button>
				<button type="button" onclick="$('#bulk-action').val('enabled-on');$('#bulk-form').submit();" class="btn green"><i class="fa fa-fw fa-check-circle"></i> Inschakelen</button>
				<button type="button" onclick="$('#bulk-action').val('enabled-off');$('#bulk-form').submit();" class="btn red"><i class="far fa-fw fa-circle"></i> Uitschakelen</button>
				{% if allowCache %}
					{% if is_granted('ROLE_SUPER_ADMIN') %}
						<button type="button" onclick="$('#bulk-action').val('pagecache-on');$('#bulk-form').submit();" class="btn green"><i class="fa fa-check-square"></i> Pagina cache</button>
						<button type="button" onclick="$('#bulk-action').val('pagecache-off');$('#bulk-form').submit();" class="btn red"><i class="fa fa-square"></i> Pagina cache</button>
						<button type="button" onclick="$('#bulk-action').val('pagecritical-on');$('#bulk-form').submit();" class="btn green"><i class="fa fa-check-square"></i> Critical css</button>
						<button type="button" onclick="$('#bulk-action').val('pagecritical-off');$('#bulk-form').submit();" class="btn red"><i class="fa fa-square"></i> Critical css</button>
					{% endif %}
				{% endif %}
			</form>
		</div>
	</div>

	<div class="page-content" id="import-dropzone">
		<div class="message"></div>
		{% if pages is not empty %}
			<div class="alertbox"></div>
			<ol class="sortable">
				{% include "@Cms/includes/menu-links.html.twig" with {'pages':pages, 'host':host, 'ActivePage':ActivePage, 'depth': 1, 'allowCache': allowCache, 'pageIndex': true} only %}
			</ol>
		{% else %}
			{% if languages is empty or (languages|length) <= 1 %}
				<div class="text-center">
					<h5>{{'Er zijn nog geen pagina\'s actief'|trans}}</h5>
          <a class="btn modal-trigger" data-bs-toggle="modal" data-bs-target="#bulk-add">Bulk toevoegen</a>
					<button type="button" onclick="window.location= '{{path('admin_page_edit')}}'" class="btn">{{'Nieuwe pagina aanmaken'|trans}}</button>
				</div>
			{% else %}
				<div class="text-center">
					<h5>{{'Er zijn nog geen pagina\'s actief'|trans}}</h5>
					<p>{{'Indien er andere websites of talen aanwezig zijn kunnen deze gekopieerd worden.'|trans}}</p>

					{# <select name="language" id="langcopy">
						{% for Language in languages %}
							{% if Language.pages is not empty %}
							<option value="{{Language.locale}}">{{Language.label}}</option>
							{% endif %}
						{% endfor %}
					</select> #}

					{# {{dump(multisite)}} #}

					<div class="d-flex justify-content-center">
						{# {% if multisite %} #}
						<select style="width: 300px;" name="language" id="langcopy" class="form-select">
							{% for m in multisite %}
								{% if m.pages is not empty %}
								{% set lbl = (multisite|length) > 1 ? m.label ~ ' (' ~ m.Language.label ~ ')' : m.Language.label %}
								<option value="{{m.id}}">{{lbl}}</option>
								{% endif %}
							{% endfor %}
						</select>
						{# {% endif %} #}
						<button class="btn btn-gray" style="flex: none; margin-left: 10px;" type="button" onclick="window.location = '{{path('admin_page_copy')}}/' + $('#langcopy').val();">{{'Pagina\'s kopiëren'|trans}}</button>
					</div>

					<hr>

					<a class="btn btn-gray modal-trigger" data-bs-toggle="modal" data-bs-target="#bulk-add">
						<i class="fa fa-plus"></i>
						Bulk toevoegen
					</a>
          <button type="button" onclick="window.location= '{{path('admin_page_edit')}}'" class="btn btn-gray">
						<i class="far fa-file-alt"></i>
						{{'Nieuwe pagina\'s aanmaken'|trans}}
					</button>

					<form class="d-inline-block" style="vertical-align: middle; font-size: 0;" method="post" action="{{path('admin_page_import')}}" enctype="multipart/form-data">
						<div class="file-field input-field">
							<div class="btn btn-gray">
								<i class="fa fa-file-upload"></i>
								{{'Importeren'|trans}}
								<input type="file" name="file" id="page_file">
							</div>
						</div>
					</form>
				</div>
			{% endif %}

			<div class="btn-bar">
				<div class="left">
				</div>
				<div class="right">
				</div>
			</div>
		{% endif %}
	</div>

	<!-- Modal -->
	<div class="modal fade" id="bulk-add" tabindex="-1" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
	    <div class="modal-content">
				<form method="post">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Pagina's bulk toevoegen</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
						<p>Voeg in het onderstaande veld pagina titels toe om deze bulk toe te voegen (gebruik een tab om een sub-niveau te definieren):</p>
						<textarea name="bulk" id="bulk-area" class="w-100"></textarea>
						<label for="bulk-area"></label>
		      </div>
		      <div class="modal-footer d-flex justify-content-between">
						<a href="#!" class="btn btn-flat" data-bs-dismiss="modal">Sluiten</a>
						<button type="submit" class="btn">Doorvoeren</button>
		      </div>
				</form>
	    </div>
	  </div>
	</div>

	<script>
	$('#page_file').on("change", function(){
		$(this).closest('form').submit();
	});
	</script>

	<script type="text/javascript" src="{{asset('bundles/cms/js/jquery.filedrop.js')}}"></script>
	<script>
	function deleteNotify(){
		$('#page-save-overlay').show();
	}

	var totalUploadSize = 0;
	var fileDrop;
	var dropped = 0;
	var success = false;
	var allowedTypes = ['application/zip', 'application/x-zip-compressed'];

	$(document).delegate('#bulk-area', 'keydown', function(e) {
		var keyCode = e.keyCode || e.which;

		if (keyCode == 9) {
			e.preventDefault();
			var start = this.selectionStart;
			var end = this.selectionEnd;

			// set textarea value to: text before caret + tab + text after caret
			$(this).val($(this).val().substring(0, start)
			+ "\t"
			+ $(this).val().substring(end));

			// put caret at right position again
			this.selectionStart =
			this.selectionEnd = start + 1;
		}
	});

	$().ready(function(){
		var msg_idle = '';
		var msg_hover = '{{"Laat los om te uploaden."|trans}}';
		var msg_uploading = '{{"Bezig met uploaden..."|trans}}';
		var msg_done_idle = '{{"Uploaden voltooid!"|trans}}';

		fileDrop = $('#import-dropzone').filedrop({
		    fallback_id: 'upload_button',
		    url: '{{path('admin_page_import')}}',
		    paramname: 'file',
		    withCredentials: true,
		    data: {},
		    error: function(err, file) {
		        switch(err) {
		            case 'BrowserNotSupported':
		                alert('{{ 'browser does not support HTML5 drag and drop' | trans }}')
		                break;
		            case 'TooManyFiles':
		                break;
		            case 'FileTooLarge':
		            	cpop.loadHtml('{{ 'Bestand is te groot. Maximaal toegestaan: %maxFileSize% MB' | trans({'%maxFileSize%': maxFileSize}) | raw }}');
		                break;
		            case 'FileTypeNotAllowed':
		            	console.log(file);
			            cpop.loadHtml('{{ 'Bestandstype' | trans ~ '\''}}' + file.type + '{{'\'is niet toegestaan.<br/><br/><strong>Toegestane bestanden:</strong>' ~ ''|trans({}) | raw}}<ul><li>' + allowedTypes.join('</li><li>') + '</li></ul>');
		                break;
		            case 'FileExtensionNotAllowed':
		                break;
		            default:
		                break;
		        }
		    },
		    allowedfiletypes: ['application/zip'],
		    allowedfileextensions: [],
		    maxfiles: 1,
		    maxfilesize: {{maxFileSize}},
		    dragOver: function() {
		        $('#import-dropzone').addClass('hover').find('.message').html(msg_hover);
		    },
		    dragLeave: function() {
		        $('#import-dropzone').removeClass('hover').find('.message').html(msg_idle)
		    },
		    docOver: function() {},
		    docLeave: function() {},
		    drop: function() { },
		    uploadStarted: function(i, file, len){
		    	$('#upload-overlay').show();
		    	$('#page-import-overlay').show();
		    },
		    uploadFinished: function(i, file, response, time) {
		    	success = response.success;
		    },
		    progressUpdated: function(i, file, progress) {},
		    globalProgressUpdated: function(progress) {},
		    speedUpdated: function(i, file, speed) {},
		    rename: function(name) {},
		    beforeEach: function(file) {},
		    beforeSend: function(file, i, done) {
		        done(); // Start upload
		        $('#import-dropzone').removeClass('hover').find('.message').html(msg_uploading)
		    },
		    afterAll: function() {

		        // $('#page-import-overlay').hide();
		        if(success){
			        window.location = '{{path('admin_page', {'clear' : 'cache'})}}';
			    }else{
			    	window.location = '{{path('admin_page')}}';
			    }
		    }
		}).find('.message').html(msg_idle);
	});

	function enableBulkEdit(btn){
		$(btn).toggleClass('green');
		$('body').toggleClass('bulk-edit');
		validateCheckboxes();
	}

	function validateCheckboxes(){
		if($('.bulk-check:checked').length > 0){
			$('body').addClass('bulk-edit-checked');
			var ids = [];
			$.each($('.bulk-check:checked'), function(i, chk){
				ids.push($(chk).val());
			});
			$('#bulk-ids').val(ids.join(','));
		}else{
			$('body').removeClass('bulk-edit-checked');
		}
	}

	$(function(){
		$('.bulk-check').click(function(){
			validateCheckboxes();
		});
	});
	</script>
{% endblock %}
