{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block body %}
	<form method="post">
		<div class="card">
			<div class="card-content">
				<div class="card-title">
					{{'Pagina "%pagelabel%" opslaan als sjabloon'|trans({'%pagelabel%': Page.label})}}
					<img style="position: absolute; right: 30px; top: 30px; " src="{{path('admin_page_icon', {id: Page.id, icon_size: 80})}}" alt="" />
				</div>
				<div class="row">
					<div class="col s12">
						<div class="input-field ">
							<input type="text" id="label" name="label" required="required" value="{{Page.label}}">
							<label for="label" class="required">Sjabloon titel</label>
						</div>
						<div class="input-field-textarea ">
							<label for="description">Sjabloon omschrijving</label>
							<textarea id="description" name="description" class="" rows="3"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# <div class="row">
			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-content" style="text-align: center;">
						<div><img style="" src="{{path('admin_page_icon', {id: Page.id, icon_size: 150})}}" alt="" /></div>
						<strong>Titel 1</strong>
						<div>Omschrijving</div>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-content" style="text-align: center;">
						<div><img style="" src="{{path('admin_page_icon', {id: 2, icon_size: 150})}}" alt="" /></div>
						<strong>Titel 1</strong>
						<div>Omschrijving</div>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-content" style="text-align: center;">
						<div><img style="" src="{{path('admin_page_icon', {id: Page.id, icon_size: 150})}}" alt="" /></div>
						<strong>Titel 1</strong>
						<div>Omschrijving</div>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-content" style="text-align: center;">
						<div><img style="" src="{{path('admin_page_icon', {id: Page.id, icon_size: 150})}}" alt="" /></div>
						<strong>Titel 1</strong>
						<div>Omschrijving</div>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-content" style="text-align: center;">
						<div><img style="" src="{{path('admin_page_icon', {id: Page.id, icon_size: 150})}}" alt="" /></div>
						<strong>Titel 1</strong>
						<div>Omschrijving</div>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-content" style="text-align: center;">
						<div><img style="" src="{{path('admin_page_icon', {id: Page.id, icon_size: 150})}}" alt="" /></div>
						<strong>Titel 1</strong>
						<div>Omschrijving</div>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-content" style="text-align: center;">
						<div><img style="" src="{{path('admin_page_icon', {id: Page.id, icon_size: 150})}}" alt="" /></div>
						<strong>Titel 1</strong>
						<div>Omschrijving</div>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-content" style="text-align: center;">
						<div><img style="" src="{{path('admin_page_icon', {id: Page.id, icon_size: 150})}}" alt="" /></div>
						<strong>Titel 1</strong>
						<div>Omschrijving</div>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-content" style="text-align: center;">
						<div><img style="" src="{{path('admin_page_icon', {id: Page.id, icon_size: 150})}}" alt="" /></div>
						<strong>Titel 1</strong>
						<div>Omschrijving</div>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-content" style="text-align: center;">
						<div><img style="" src="{{path('admin_page_icon', {id: Page.id, icon_size: 150})}}" alt="" /></div>
						<strong>Titel 1</strong>
						<div>Omschrijving</div>
					</div>
				</div>
			</div>
		</div> #}

		<div class="btn-bar">
			<div class="left">
				{#  #}
			</div>
			<div class="right">
				<button type="submit" class="btn right waves-effect waves-light"><i class="material-icons left">save</i>{{'Opslaan'|trans}}</button>
			</div>
		</div>
	</form>
{% endblock %}
