{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{# {% block pagetitle %}{{'Pagina score' | trans}} <small class="pull-right"><a class="btn btn-primary" href="{{ path('admin_page_edit') }}/0"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'Pagina toevoegen' | trans }}</a></small>{% endblock %} #}

{% block body %}
	<div class="row">
		<div class="col s12 m4">
			<div class="card {% if score.score < 50 %}red{% elseif score.score < 80 %}orange{% else %}green{% endif %} white-text">
				<div class="card-content center-align">
					<div class="card-title white-text" style="line-height: normal;margin: 0;">{{ 'Huidige score' | trans }}</div>
					<span style="font-size: 30px;font-weight: 300;">{{score.score}} / 100</span>
				</div>
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card">
				<div class="card-content center-align">
					<div class="card-title" style="line-height: normal;margin: 0;">{{ 'Aantal scores' | trans }}</div>
					<span style="font-size: 30px;font-weight: 300;">{{scores|length}} {{ 'scores' | trans }}</span>
				</div>
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card">
				<div class="card-content center-align">
					<div class="card-title" style="line-height: normal;margin: 0;">{{ 'Laatste update' | trans }}</div>
					<span style="font-size: 30px;font-weight: 300;">{{score.date|date('H:i:s')}}</span>
				</div>
			</div>
		</div>
	{# </div> #}
	{# <div>Status: {{score.statusCode}}</div> #}
	{# <div class="row"> #}
		<div class="col s6">
			<div class="card">
				<div class="card-content">
					<div class="card-title">{{ 'Aantal bronnen' | trans }}</div>
						<table>
							<tr>
								<td>{{ 'Aantal bestanden' | trans }}</td>
								<td>{{score.stats.numberResources}}</td>
							</tr>
							<tr>
								<td>{{ 'Aantal bronnen' | trans }}</td>
								<td>{{score.stats.numberHosts}}</td>
							</tr>
							<tr>
								<td>{{ 'Aantal statische bestanden' | trans }}</td>
								<td>{{score.stats.numberStaticResources}}</td>
							</tr>
							<tr>
								<td>{{ 'Aantal javascript bestanden' | trans }}</td>
								<td>{{score.stats.numberJsResources}}</td>
							</tr>
							<tr>
								<td>{{ 'Aantal CSS bestanden' | trans }}</td>
								<td>{{score.stats.numberCssResources}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		<div class="col s6">
			<div class="card">
				<div class="card-content">
					<div class="card-title">{{ 'Response grootte' | trans }}</div>
						<table>
							<tr>
								<td>{{ 'Bytes' | trans }}</td>
								<td>{{format_bytes(score.stats.totalRequestBytes)}}</td>
							</tr>
							<tr>
								<td>{{ 'Response' | trans }}</td>
								<td>{{format_bytes(score.stats.htmlResponseBytes)}}</td>
							</tr>
							<tr>
								<td>{{ 'CSS' | trans }}</td>
								<td>{{format_bytes(score.stats.cssResponseBytes)}}</td>
							</tr>
							<tr>
								<td>{{ 'Afbeeldingen' | trans }}</td>
								<td>{{format_bytes(score.stats.imageResponseBytes)}}</td>
							</tr>
							<tr>
								<td>{{ 'Javascript' | trans }}</td>
								<td>{{format_bytes(score.stats.javascriptResponseBytes)}}</td>
							</tr>
							<tr>
								<td>{{ 'Overig' | trans }}</td>
								<td>{{format_bytes(score.stats.otherResponseBytes)}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		{% for k,result in score.results %}
			<div class="col s6">
				<div class="card">
					<div class="card-content">
						<div class="card-title">
							{{result.localizedRuleName}}
							{% if result.ruleImpact %}
								<span class="right">{{ 'Impact:' | trans }} {{result.ruleImpact|round(1)}}%</span>
							{% endif %}
						</div>
							{% for entry in result.urlBlocks %}
								{% if entry.urls is defined %}
									<div style="margin-top:20px;">
										{% for url in entry.urls %}
											{% set lbl = url.result.format|replace('$', 'V') %}
											{% for i,opt in url.result.args %}

												{% set value = opt.value %}
												{% if opt.type == 'URL' %}
													{% set value = '<a target="_blank" href="' ~ opt.value ~ '">' ~ opt.value ~ '</a>' %}
												{% endif %}

												{% set var = 'V' ~ (i + 1) %}
												{% set lbl = lbl|replace({(var) : (value),}) %}
											{% endfor %}
											<div class="blue-text">
												{{lbl|raw}}
											</div>
										{% endfor %}
									</div>
								{% elseif entry.header.args is defined %}
									{% set lbl = entry.header.format|replace('$', 'V') %}
									{% for i,opt in entry.header.args %}
										{% set var = 'V' ~ (i + 1) %}
										{% set lbl = lbl|replace({(var) : (opt.value),}) %}
									{% endfor %}
									<div>
										{{lbl}}
									</div>
								{% else %}
									<div class="info">
										{{entry.header.format}}
									</div>
								{% endif %}

								{# {{dump(entry)}} #}
							{% endfor %}
							{# <table>
								tr
							</table> #}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	{# {{dump(score)}} #}
{% endblock %}
