{% extends '@Cms/interface_' ~ (false and app.request.get('CKEditor') ? 'clear' : 'empty') ~ '.html.twig' %}
{% trans_default_domain 'cms' %}

{% block body %}
	<style type="text/css" media="screen">
		.selector-options li,
		li.page-entry,
		ol.sortable li{
			margin: 0;
			padding: 0;
		}

		.selector-options li,
		li.page-entry .page-entry-content{
			background: #eee;
		    padding: 7px 12px;
		    border-radius: 5px;
		    margin: 5px 0;
		    ursor: pointer;
		}

		.sortable ol {
		    padding: 0 0 0 30px;
		}

		.selector-options li a,
		ol.sortable li span a,
		ol.sortable li span a {
		    color: #444;
		}
	</style>

	{% set ck = '' %}
	{% if app.request.get('CKEditor') %}
		{% set ck = '&CKEditor=' ~ app.request.get('CKEditor') ~ '&CKEditorFuncNum=' ~ app.request.get('CKEditorFuncNum') ~ '&langCode=' ~ app.request.get('langCode') ~ '&ref=' ~ app.request.get('ref') %}
	{% endif %}

	{% if type is not defined %}
		<h3 class="popup-title">{{ 'Wat wilt u koppelen?' | trans }}</h3>

		<div class="row">
			<a href="{{path('admin_page_selector', {'type': 'page'})}}?x=0{{app.request.get('composer') ? '&composer=1' : ''}}{{ck}}" class="first-choice popup-pad large col s12 m3 center-align">
				<div class="card">
					<div class="card-content text-center">
						<i class="fa fa-file-alt" style="display: block;font-size: 30px;margin-bottom: 14px;"></i>
						{{ 'Pagina' | trans }}
					</div>
				</div>
			</a>

			{% if 'BlogBundle' in installed %}
				<a href="{{path('admin_mod_blog_selector')}}?x=0{{app.request.get('composer') ? '&composer=1' : ''}}{{ck}}" class="first-choice popup-pad large col s12 m3 center-align">
					<div class="card">
						<div class="card-content text-center">
							<i class="fa fa-newspaper" style="display: block;font-size: 30px;margin-bottom: 14px;"></i>
							{{ 'Blog' | trans }}
						</div>
					</div>
				</a>
			{% endif %}

			{% if 'WebshopBundle' in installed %}
				<a href="{{path('admin_mod_webshop_selector')}}?x=0{{app.request.get('composer') ? '&composer=1' : ''}}{{ck}}" class="first-choice popup-pad large col s12 m3 center-align">
					<div class="card">
						<div class="card-content text-center">
							<i class="fa fa-shopping-basket" style="display: block;font-size: 30px;margin-bottom: 14px;"></i>
							{{ 'Webshop' | trans }}
						</div>
					</div>
				</a>
			{% endif %}

			<a href="{{path('admin_media', {'parentid': 0, 'type': 1, 'inline': 1})}}?x=0&amp;btn=1{{app.request.get('composer') ? '&composer=1' : ''}}{{ck}}" class="first-choice popup-pad large col s12 m3 center-align">
				<div class="card">
					<div class="card-content text-center">
						<i class="fa fa-images" style="display: block;font-size: 30px;margin-bottom: 14px;"></i>
						{{ 'Media' | trans }}
					</div>
				</div>
			</a>
		</div>

		{% if app.request.get('CKEditor') %}
		{% else %}
			<h6>{{ 'Link details' | trans }}</h6>

			{% set url = '' %}
			{% if app.request.get('url') %}
				{% set url = (app.request.get('url')) %}
			{% else %}
				{% if app.request.get('pageid') %}
					{% set url = ('page:' ~ app.request.get('pageid')) %}
				{% endif %}
				{% if app.request.get('mediaid') %}
					{% set url = (app.request.get('file')) %}
				{% endif %}
			{% endif %}

			{% set target = '' %}
			{% if app.request.get('target') %}
				{% set target = (app.request.get('target')) %}
			{% endif %}

			{% set class = '' %}
			{% if app.request.get('class') %}
				{% set class = (app.request.get('class')) %}
			{% endif %}

			<div class="row">
				<div class="input-field col s12 m6">
					<label for="lc_btn_label">{{ 'Titel' | trans }}</label>
					<input id="lc_btn_label" type="text" value="{{app.request.get('label')}}" />
				</div>

				<div class="input-field col s12 m6">
					<label for="lc_btn_url">{{ 'URL' | trans }}</label>
					<input id="lc_btn_url" type="text" value="{{url}}" />
				</div>

				<div class="input-field col s12 m6">
					<label for="lc_btn_class">{{ 'CSS class' | trans }}</label>
					<input id="lc_btn_class" type="text" value="{{class}}" />
				</div>

				<div class="input-field col s12 m6">
					<label>{{ 'Doel' | trans }}</label>
					<select id="lc_btn_target" class="form-select">
						<option {{target == '' ? 'selected="selected"' : ''}} value="">{{ 'Zelfde pagina' | trans }}</option>
						<option {{target == '_blank' ? 'selected="selected"' : ''}} value="_blank">{{ 'Nieuwe pagina' | trans }}</option>
					</select>
				</div>
			</div>

			<div id="popup_footer">
				<div class="left">
					<button type="button" onclick="cpop.close();" class="btn-flat">{{ 'Sluiten' | trans }}</button>
				</div>
				<button type="button" onclick="delButton();" class="btn red">{{ 'Verwijderen' | trans }}</button>
				<button type="button" onclick="setLink();" class="btn">{{ 'Koppelen' | trans }}</button>
			</div>
		{% endif %}
	{% else %}


		{% set selector = true %}
		{% set depth = 0 %}
		{% set isModal = true %}

		<div id="pages" class="t-content">
			{% if pages is not empty %}
				<ol class="sortable" {{selector is defined and selector == true ? 'style="list-style: none; padding: 0;"' : ''}}>
					{% include "@Cms/includes/menu-links.html.twig" with {'pages':pages, 'ActivePage':ActivePage, 'modal': true, 'selector': true} only %}
				</ol>
			{% endif %}
		</div>

		<script>
		{% if app.request.get('composer') %}
			$('.page-entry-content').off('click').on('click', function(e){
				var pageid = $(this).data('pageid');
				var label = $(this).data('label');
				var slugKey = $(this).data('slug');
				cpop.reset().large().loadAjax('{{path('admin_page_selector')}}?composer=1&pageid=' + pageid + '&label=' + encodeURIComponent(label));
			});
		{% else %}
			$('.page-entry-content span.label').off('click').on('click', function(e){
				let pdiv       = $(this).closest('.page-entry-content ');

				var slugKey    = pdiv.data('slug');
				var simpleslug = pdiv.data('simpleslug');
				var pageid     = pdiv.data('pageid');
				var label      = pdiv.data('label');
				var url        = pdiv.data('url');

				var isCkeditor = false;
				{% if app.request.query.get("CKEditor") %}
					isCkeditor = true;
				{% endif %}

				if(typeof pageSelectHandler == 'function' && !isCkeditor){
					pageSelectHandler(pageid, label, url, slugKey, simpleslug, '{{(app.request.query.get("key") ?? '')|raw}}');
				}else{
					/*if(typeof Trinity != 'undefined'){
						Trinity.ckLink('[page:' + pageid + '#' + simpleslug + ']');
					}else{*/
						// CKEDITOR.tools.callFunction({{app.request.query.get("CKEditorFuncNum")}}, '/path/to/your/image');
						// window.CKEDITOR.tools.callFunction( callBack, 'path' );
						window.CKEDITOR.tools.callFunction( {{(app.request.query.get("ref") ?? '\'\'')|raw}}, '[page:' + pageid + '#' + simpleslug + ']' );
						// window.CKEDITOR.tools.callFunction({{app.request.query.get("CKEditorFuncNum")}}, '[page:' + pageid + '#' + simpleslug + ']');
					// }
					cpop.close();
				}
			});
		{% endif %}
		</script>

	{% endif %}
{% endblock %}
