{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block body %}
	<div class="card">
		<nav class="tabbar">
			<ul class="tabs tabs-transparent">
				{% if data.update is defined %}
					<li class="tab">
						<a class="active" href="#update">{{data.update|length}} {{'update(s) beschikbaar'|trans}}</a>
					</li>
				{% endif %}
				{% if data.available is defined %}
					<li class="tab">
						<a href="#install">{{data.available|length}} {{'beschikbaar'|trans}}</a>
					</li>
				{% endif %}
				<li class="tab">
					<a href="#installed">{{data.installed|length}} {{'geïnstalleerd'|trans}}</a>
				</li>

				<a class="btn red popup right white-text" style="margin: 12px 12px 0 0;" href="/bundles/cms/cache.php">{{ 'Cache legen' | trans }}</a>
			</ul>
		</nav>
	</div>


	{% if data.update is defined %}
		<div id="update" class="t-content">
			<div class="card">
				<div class="card-content">
					<div class="card-title">{{ 'Updates beschikbaar' | trans }}</div>
					<table>
						<tbody>
							{% for name,ext in data.update %}
								<tr>
									<td style="width:70px;" class="icon">
										{% if ext.image %}
											<img style="float: left; height: 50px; margin-top: 0; margin-right: 10px; border-radius: 40px;" src="{{ext.image}}" />
										{% endif %}
									</td>
									<td class="bundle">
										{{name}}
									</td>
									<td style="width: 200px;" class="center-align version">
										{{ext.updated|date('Y-m-d H:i:s')}}
									</td>
									<td style="width: 100px;" class="center-align version">
										{{ext.current}}
									</td>
									<td style="width: 100px;" class="center-align version_available">
										{{ext.version}}
									</td>
									<td style="width:200px;" class="action right-align">
										<a href="#" class="btn ext-update" data-bundle="{{name}}" data-version="{{ext.version}}">{{ 'Updaten' | trans }}</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	{% endif %}

	<div id="install" class="t-content">
		<div class="card">
			<div class="card-content">
				<div class="card-title">{{ 'Beschikbaar' | trans }}</div>
				<table>
					<tbody>
						{% for name,ext in data.available %}
							<tr>
								<td style="width:70px;" class="icon">
									{% if ext.image %}
										<img style="float: left; height: 50px; margin-top: 0; margin-right: 10px; border-radius: 40px;" src="{{ext.image}}" />
									{% endif %}
								</td>
								<td class="bundle">
									{{name}}
								</td>
								<td style="width: 200px;" class="center-align version">
									{{ext.updated|date('Y-m-d H:i:s')}}
								</td>
								<td style="width: 100px;" class="center-align version_available">
									{{ext.version}}
								</td>
								<td style="width:200px;" class="action right-align">
									<a href="#" class="btn ext-install" data-bundle="{{name}}" data-version="{{ext.version}}">{{ 'Installeren' | trans }}</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div id="installed" class="t-content">
		<div class="card">
			<div class="card-content">
				<div class="card-title">{{ 'Geïnstalleerd' | trans }}</div>
				<table>
					<tbody>
						{% for name,ext in data.installed %}
							<tr>
								<td style="width:70px;" class="icon">
									{% if ext.image %}
										<img style="float: left; height: 50px; margin-top: 0; margin-right: 10px; border-radius: 40px;" src="{{ext.image}}" />
									{% endif %}
								</td>
								<td class="bundle">
									{{name}}
								</td>
								<td style="width: 200px;" class="center-align version">
									{{ext.updated|date('Y-m-d H:i:s')}}
								</td>
								<td style="width: 100px;" class="center-align version_available">
									{{ext.current}}
								</td>
								<td style="width:200px;" class="action right-align">
									<a href="#" class="btn ext-update orange" data-bundle="{{name}}" data-version="{{ext.current}}">{{ 'Opnieuw' | trans }}</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$.each($('.ext-install'), function(ind, el){
		$(el).off('click').on('click', function(e){
			e.preventDefault();
			install($(this), $(this).data('bundle'), $(this).data('version'), 0);
		});
	});

	$.each($('.ext-update'), function(ind, el){
		$(el).off('click').on('click', function(e){
			e.preventDefault();
			install($(this), $(this).data('bundle'), $(this).data('version'), 1);
		});
	});

	function install(btn, bundle, version, update){
		btn.html('{{ 'Bezig...' | trans }}').addClass('disabled');
		var url = '{{path('admin_install')}}/' + bundle + '/' + version + '/' + update;
		$.ajax(url).done(function(resp){
			if(resp.success){

				// Wait one second......
				// setTimeout(function(){
					// btn.html('Cache...');

					// $.ajax('/bundles/cms/cache.php').done(function(){
						btn.html('{{ 'Voltooid!' | trans }}');
						Toastify({
							text: 'Installatie is voltooid!',
							duration: 4000,
							escapeMarkup: false,
							close: false,
							gravity: "bottom",
							position: "right",
							stopOnFocus: true,
							onClick: function(){}
						}).showToast();
					// });
				// }, 1000);




			}else{
				Toastify({
					text: resp.message,
					duration: 4000,
					escapeMarkup: false,
					close: false,
					gravity: "bottom",
					position: "right",
					stopOnFocus: true,
					onClick: function(){}
				}).showToast();
				btn.html('Mislukt').removeClass('disabled').addClass('red');
			}
		});
	}
	</script>


	<div class="row">

	{# {% if list %}
		{% for name,bundle in list %}
                    {% if name != 'EmptyBundle' and name != 'DbRoutingBundle' and name != 'AssetsBundle' %}


			{% set installed = false %}
			{% set updateAvailable = false %}
			{% if name in installed_bundles %}
				{% set installed = true %}
			{% endif %}

			{% set version = (installed ? installed_list[name] : null) %}

			{% if version %}
				{% set updateAvailable = version_compare( bundle.tag, version, '>' ) %}
			{% endif %}


			<div class="col s12 m6">
				<div class="card">
					<div class="card-content">
						{% if bundle.image is defined and bundle.image is not empty %}
							<img style="float: left; height: 50px; margin-top: 0; margin-right: 10px; border-radius: 40px;" src="{{bundle.image}}" />
						{% endif %}
						<span class="card-title">{{name}} ({{bundle.tag}})</span>
						{% if installed %}
							{% if updateAvailable %}
								<a class="btn-flat orange-text right">Update beschikbaar</a>
								<div class="check" style="border-bottom-color:orange;"><i class="material-icons">cloud_download</i></div>
							{% else %}
								<a class="btn-flat green-text right">Geïnstalleerd</a>
								<div class="check"><i class="material-icons">check</i></div>
							{% endif %}
						{% else %}
							<a style="position: absolute; bottom: 15px; right: 0;" href="{{path('admin_install', {bundle:name, version: bundle.tag})}}" class="btn orange"><i class="material-icons">cloud_download</i></a>
						{% endif %}
						<div style="padding:10px 0;">{{bundle.description ? bundle.description|raw : '<span class="grey-text">Geen omschrijving</span>'|raw}}</div>
						<div class="grey-text left-align" style="font-size:11px;">
							<b>Laatst gewijzigd:</b> {{bundle.commit_date|date('d-m-Y H:i:s')}}<br/><br/>
							{{bundle.message|nl2br}}
						</div>
					</div>
				</div>
			</div>
                    {% endif %}
		{% endfor %}
	{% else %}
		<div class="col s12">
			<div class="card">
				<div class="card-content center-align">
					Er zijn geen extensies beschikbaar.
				</div>
			</div>
		</div>
	{% endif %} #}
	</div>
{% endblock %}
