{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{'Calendar'|trans}}{% endblock %}

{% block body %}
	<link href="{{asset('bundles/cms/fullcalendar-3.8.0/fullcalendar.min.css')}}" rel="stylesheet" />
	<link href="{{asset('bundles/cms/fullcalendar-3.8.0/fullcalendar.print.min.css')}}" rel="stylesheet" media="print" />

	<style>
	#fc h2{
	    font-size: 25px;
	    font-weight: 300;
    }</style>

	<div class="row">
		<div class="card">
			<div class="card-content">
				<div id="fc"></div>
			</div>
		</div>
	</div>



	<div class="btn-bar">
		<div class="left">
			<button type="button" class="btn-flat" onclick="$('#fc').fullCalendar('prev');"><i class="material-icons">keyboard_arrow_left</i></button>
			<button type="button" class="btn-flat" onclick="$('#fc').fullCalendar('today');"><i class="material-icons">rotate_left</i></button>
			<button type="button" class="btn-flat" onclick="$('#fc').fullCalendar('next');"><i class="material-icons">keyboard_arrow_right</i></button>
		</div>
		<div class="right">
			<button type="button" class="btn-flat" onclick="$('#fc').fullCalendar('changeView', 'agendaDay');">{{ 'Dag' | trans }}</button>
			<button type="button" class="btn-flat hide-on-med-and-down" onclick="$('#fc').fullCalendar('changeView', 'agendaWeek');">{{ 'Week' | trans }}</button>
			<button type="button" class="btn-flat hide-on-med-and-down" onclick="$('#fc').fullCalendar('changeView', 'month');">{{ 'Maand' | trans }}</button>
			<button type="button" class="btn-flat" onclick="$('#fc').fullCalendar('changeView', 'listMonth');">{{ 'Agenda' | trans }}</button>
		</div>
	</div>

	  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>{{ 'Agendapunt toevoegen' | trans }}</h4>
  <div class="row">
    <form method="post" id="event_form" class="col s12">
    	<input type="hidden" id="event_id" name="id" value="" />
      <div class="row">
        <div class="input-field col s12">
          {{ 'Datum:' | trans }} <strong id="date_str"></strong>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="time_start" name="time_start" type="datetime" class="validate">
          <label for="time_start">{{ 'Start tijd' | trans }}</label>
        </div>
        <div class="input-field col s6">
          <input id="time_end" name="time_end" type="datetime" class="validate">
          <label for="time_end">{{ 'Eind tijd' | trans }}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="title" name="title" type="text" class="validate">
          <label for="title">{{ 'Titel' | trans }}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="url" name="url" type="text" class="validate">
          <label for="url">{{ 'URL' | trans }}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="description" name="description" class=""></textarea>
          <label for="description">{{ 'Omschrijving' | trans }}</label>
        </div>
      </div>
    </form>
  </div>
    </div>
    <div class="modal-footer">
      {# <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a> #}
      {# <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a> #}
      <button type="button" id="event_delete" class="waves-effect waves-red btn-flat red-text">{{ 'Verwijderen' | trans }}</button>
      <button type="button" id="event_submit" class="waves-effect waves-green btn">{{ 'Opslaan' | trans }}</button>
    </div>
  </div>

	<script src="{{asset('bundles/cms/fullcalendar-3.8.0/lib/moment.min.js')}}"></script>
	<script src="{{asset('bundles/cms/fullcalendar-3.8.0/fullcalendar.min.js')}}"></script>
	<script src="{{asset('bundles/cms/fullcalendar-3.8.0/locale/' ~ app.user.locale ~ '.js')}}"></script>
	<script>
	$(document).ready(function() {

		/*setTimeout(function(){
			$('#modal1').modal('open');
		}, 500);*/

		$('#fc').fullCalendar({
			header: {
				left: '',
				center: 'title',
				right: ''
			},
			defaultDate: '{{'now'|date('Y-m-d')}}',
			navLinks: true, // can click day/week names to navigate views
			editable: true,
			eventLimit: true, // allow "more" link when too many events

			// Set locale to 'nl'
			locale: '{{app.user.locale}}',

			// Changed options
			weekNumbers: true,
			nowIndicator: true,

			// Default calendar view
			defaultView: 'agendaDay',

			// Custom message when no events are available
			noEventsMessage: '{{'Er zijn geen activiteiten ingepland in deze periode.'|trans}}',

			// Auto height, no scrolling
			height: 'auto',

			// Drag days to create event
			selectable: true,
			selectHelper: true,
			select: function(start, end) {

				$('#event_id').val('');
				$('#title').val('');
				$('#url').val('');
				$('#date_str').html(start.format('LL'));
				$('#time_start').val(start.format('YYYY-MM-DD HH:mm'));
				$('#time_end').val(end.format('YYYY-MM-DD HH:mm'));

				$('#modal1').modal('open');

				$('#event_submit').off('click').on('click', function(){
					var eventData;
					var title = $('#title').val();
					$.ajax({
						type: "POST",
						url: '{{path('admin_calendar_update')}}',
						data: $('#event_form').serialize(),
						success: function(resp){
							if(resp.status == 200){
								eventData = {
									title: title,
									start: start,
									end: end
								};
								$('#fc').fullCalendar('renderEvent', eventData, true); // stick? = true
								$('#modal1').modal('close');
							}
						}
					});
				});

				$('#fc').fullCalendar('unselect');
			},

			eventResizeStop: function(calEvent, jsEvent, view) {
				console.log( calEvent.start, calEvent.stop );
			},

			eventDrop: function(calEvent, delta, revertFunc) {

				$('#event_id').val(calEvent.id);
				$('#title').val(calEvent.title);
				$('#url').val(calEvent.dest);
				$('#description').val(calEvent.description.replace(/<br\s*\/?>/mg,"\n"));
				$('#date_str').html(calEvent.start.format('LL'));
				$('#time_start').val(calEvent.start.format('YYYY-MM-DD HH:mm'));
				if(calEvent.end){
					$('#time_end').val(calEvent.end.format('YYYY-MM-DD HH:mm'));
				}

				$.ajax({
					type: "POST",
					url: '{{path('admin_calendar_update')}}',
					data: $('#event_form').serialize(),
				});
			},

			eventResize: function(calEvent, delta, revertFunc) {
				if(calEvent.type == 'default'){
					$('#event_id').val(calEvent.id);
					$('#title').val(calEvent.title);
					$('#url').val(calEvent.dest);
					$('#description').val(calEvent.description.replace(/<br\s*\/?>/mg,"\n"));
					$('#date_str').html(calEvent.start.format('LL'));
					$('#time_start').val(calEvent.start.format('YYYY-MM-DD HH:mm'));
					if(calEvent.end){
						$('#time_end').val(calEvent.end.format('YYYY-MM-DD HH:mm'));
					}

					$.ajax({
						type: "POST",
						url: '{{path('admin_calendar_update')}}',
						data: $('#event_form').serialize(),
					});
				}
			},

			eventClick: function(calEvent, jsEvent, view) {
				if(calEvent.type == 'default'){
					$.ajax('{{path('admin_calendar_event')}}/' + calEvent.id).done(function(event){
						var start = moment(event.start);

						$('#event_id').val(event.id);
						$('#title').val(event.label);
						$('#url').val(event.url);
						$('#description').val(event.description);
						$('#date_str').html(start.format('LL'));
						$('#time_start').val(event.start);
						$('#time_end').val(event.end);

						$('#modal1').modal('open');

						$('#event_submit').off('click').on('click', function(){
							$.ajax({
								type: "POST",
								url: '{{path('admin_calendar_update')}}',
								data: $('#event_form').serialize(),
								success: function(resp){
									if(resp.status == 200){
										var title = $('#title').val();
										calEvent.title = title;
										$('#fc').fullCalendar('updateEvent', calEvent, true); // stick? = true
										$('#modal1').modal('close');
									}
								}
							});
						});

						$('#event_delete').off('click').on('click', function(){
							if(confirm('Wilt u agenda punt verwijderen?')){
								var id = $('#event_id').val();
								$.ajax({
									type: "GET",
									url: '{{path('admin_calendar_delete')}}/' + id,
									success: function(resp){
										if(resp.status == 200){
											$('#fc').fullCalendar('removeEvents', id);
											$('#modal1').modal('close');
										}
									}
								});
							}
						});
					});
				}else if(calEvent.type == 'course'){
					window.location = calEvent.dest;
				}

				/*$('#event_id').val(calEvent.id);
				$('#title').val(calEvent.title);
				$('#description').val(calEvent.description.replace(/<br\s*\/?>/mg,"\n"));
				$('#date_str').html(calEvent.start.format('LL'));
				$('#time_start').val(calEvent.start.format('YYYY-MM-DD HH:mm'));
				if(calEvent.end){
					$('#time_end').val(calEvent.end.format('YYYY-MM-DD HH:mm'));
				}

				$('#modal1').modal('open');

				$('#event_submit').off('click').on('click', function(){
					$.ajax({
						type: "POST",
						url: '{{path('admin_calendar_update')}}',
						data: $('#event_form').serialize(),
						success: function(resp){
							if(resp.status == 200){
								var title = $('#title').val();
								calEvent.title = title;
								// calEvent.start = start;
								// calEvent.end = end;
								$('#fc').fullCalendar('updateEvent', calEvent, true); // stick? = true
								$('#modal1').modal('close');
							}
						}
					});
				}.bind(calEvent));*/

				// alert('Event: ' + calEvent.title);
				// alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
				// alert('View: ' + view.name);

				// change the border color just for fun
				// $(this).css('border-color', 'red');

			},



			events: [
				{% for event in events %}
				{
					id: '{{event.id}}',
					type: 'default',
					title: '{{event.label}}',
					dest: '{{event.url}}',
					description: '{{event.description|nl2br|replace({"\n": "", "\r\n": "", "\t": "", "\n\r": ""})|raw}}',
					start: '{{event.start|date('Y-m-d H:i:s')}}',
					end: '{{event.end|date('Y-m-d H:i:s')}}'
				},
				{% endfor %}
				{% for courseDate in course_dates %}
				{
					id: '{{courseDate.course.id}}',
					type: 'course',
					title: '{{courseDate.course.label}}',
					dest: '{{course_urls[courseDate.course.id]}}',
					description: '{{courseDate.course.label}}',
					start: '{{courseDate.date|date('Y-m-d H:i')}}:00',
					end: '{{courseDate.date|date('Y-m-d')}} {{courseDate.dateEnd|date('H:i')}}:00',
					color: '#ad3aa9',
				},
				{% endfor %}
				/*{
					title: 'All Day Event',
					start: '2018-01-01'
				},
				{
					title: 'Long Event',
					start: '2018-01-07',
					end: '2018-01-10'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2018-01-09T16:00:00'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2018-01-16T16:00:00'
				},
				{
					title: 'Conference',
					start: '2018-01-11',
					end: '2018-01-13'
				},
				{
					title: 'Meeting',
					start: '2018-01-12T10:30:00',
					end: '2018-01-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2018-01-12T12:00:00'
				},
				{
					title: 'Meeting',
					start: '2018-01-12T14:30:00'
				},
				{
					title: 'Happy Hour',
					start: '2018-01-12T17:30:00'
				},
				{
					title: 'Dinner',
					start: '2018-01-12T20:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2018-01-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'http://google.com/',
					start: '2018-01-28'
				}*/
			]
		});

	});
	</script>
{% endblock %}