{% extends '@TrinityWebshop/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block body %}
	{{ form_start(form) }}
	{{ form_errors(form) }}

	<div class="card" style="margin-top:20px;">
		<div class="card-content">
			{{form_row(form.label)}}
			{{form_row(form.subject)}}
			{{form_row(form.body)}}
		</div>
	</div>

	<div class="btn-bar">
		<div class="left">
			<a href="{{path('admin_mail_templates')}}" class="btn-flat waves-effect waves-dark"><i class="material-icons left">arrow_back</i>{{'Terug'|trans}}</a>
		</div>
		<div class="right">
			<button type="submit" class="btn right waves-effect waves-light"><i class="material-icons left">save</i>{{'Opslaan'|trans}}</button>
		</div>
	</div>

	{{ form_end(form) }}
{% endblock %}