{% set r = app.request.attributes.get('_route') %}
{% trans_default_domain 'cms' %}

<!DOCTYPE html>
<html>
		<head>
				<title>{{trinity}}</title>

				<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
				<meta name="robots" content="noindex,nofollow"/>

				{#
				<link rel="stylesheet" href="/bundles/cms/css/interface.css">
				<link rel="stylesheet" href="/bundles/cms/css/jquery.cpop.css">
				<link rel="stylesheet" href="/bundles/cms/css/select2.css">
				<link rel="stylesheet" href="/bundles/cms/css/mobile.css">

				<link rel="stylesheet" href="/bundles/cms/materialize/css/materialize.min.css">
				<link rel="stylesheet" href="/bundles/cms/css/style.css?t={{'now'|date('Ymd')}}">
				<link rel="stylesheet" href="/bundles/cms/css/custom.css?t={{'now'|date('Ymd')}}">
				<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
				<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Roboto:400,400i,700,700i">
				#}

				{% if file_exists('trinity.css') %}
						<link rel="stylesheet" href="/trinity.css">
				{% endif %}

				{% if ck_mediadir_id is defined %}
						{% set ck_mediadir_id = ck_mediadir_id %}
				{% else %}
						{% set ck_mediadir_id = 0 %}
				{% endif %}

				<script type="text/javascript">
					var jsonUrl         = '{{path('_adminjson')}}/';
					var ckAdminJsonUrl  = '{{path('_adminjson')}}';
					var ckAdminPageUrl  = '{{path('admin_page_selector')}}';
					var ckMediaUrl      = '{{path('admin_media', {parentid: ck_mediadir_id, type: 'image', inline: true})|raw}}';
					var ckAdminMediaUrl = '{{path('admin_media', {parentid: ck_mediadir_id, type: 'image', inline: true})|raw}}';
					var ckDropUploadUrl = '{{path('admin_media', {parentid: ck_mediadir_id, type: 'image', inline: true})|raw}}';
					var baseUrl         = '{{path('admin')}}';

					var selectedEditorIndex = 0;
					var editor = [];
					var cpop;

					var cpop_message_today = "{{ 'Vandaag' | trans | raw }}";
					var cpop_message_close = "{{ 'OK' | trans | raw }}";
					var cpop_message_busyloading = "{{ 'Bezig met laden ...' | trans | raw }}";
					var cpop_message_imagenotloading = "{{ 'De afbeelding kon niet worden geladen.' | trans | raw }}";
					var cpop_message_timeout = "{{ 'Timeout na' | trans | raw }}";
					var cpop_message_done = "{{ 'OK' | trans | raw }}";
					var cpop_message_yes = "{{ 'Ja' | trans | raw }}";
					var cpop_message_clear = "{{ 'Wissen' | trans | raw }}";
					var cpop_message_cancel = "{{ 'Sluiten' | trans | raw }}";
					var cpop_message_empty = "{{ 'Leegmaken' | trans | raw }}";
					var cpop_message_save = "{{ 'Opslaan' | trans | raw }}";
					var cpop_message_alert_notcsv = "{{ 'Het bestand kon niet toegevoegd worden. Controleer of deze van het type CSV is.' | trans | raw }}";

					var misc_chars = "{{ 'tekens' | trans | raw }}";
				</script>

				{% block stylesheet %}{% endblock %}

				<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
				<link rel="stylesheet" href="/bundles/cms/simplebar.css">

				<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
				<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
				<link rel="stylesheet" href="/bundles/cms/materialize/fonts/material/material-icons.css">
				<link rel="stylesheet" href="/bundles/cms/flag-css/css/flag-icon.min.css">
				<link rel="stylesheet" href="/bundles/cms/jquery-dropdown/jquery.dropdown.min.css">
				<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

				<link rel="stylesheet" href="/bundles/cms/css/v3.css?t={{'now'|date('Ymd')}}">
				<link rel="stylesheet" href="/bundles/cms/css/testing.css?t={{'now'|date('Ymd')}}">

				<script src="/bundles/cms/js/jquery-2.2.4.min.js"></script>
				{# <script src="/bundles/cms/materialize/js/materialize.min.js"></script> #}
				<script defer src="/bundles/cms/simplebar.js"></script>
				<script src="/bundles/cms/ckeditor/ckeditor.js"></script>
				<script src="/bundles/cms/js/jquery.cpop_bootstrap.js"></script>
				<script src="/bundles/cms/jquery-match-height/dist/jquery.matchHeight-min.js"></script>
				<script src="/bundles/cms/js.cookie.min.js"></script>
				<script src="/bundles/cms/list.min.js"></script>

				{# TOAST :: JS #}
				{# <script src="/bundles/cms/js/Toast.min.js"></script> #}
				<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
		</head>

		<body class="{{app.user and app.user.dark ? 'dark' : ''}} {{Settings.test ? 'test-mode-on' : ''}}">

		{# <div class="body-bg" style="{% block bgimage %}background-image:url('{{Settings.getBackground}}'); background-repeat: no-repeat; background-size: cover; background-position: top center; background-attachment: fixed;{% endblock %}"></div> #}

		<div class="top-bar-bg"></div>

		<div class="top-bar">
			<div class="top-bar-buttons">
	      <div class="buttons-wrapper fixed">
				</div>
			</div>
    </div>

	  <div class="upload-progress-overlay screen-overlay" id="upload-overlay">
	    <div class="vtable">
	      <div class="valign">
	        <div class="loading"></div>
	        <span>{{ 'Bezig met uploaden..' | trans }}</span>

	        <div class="progress-wrapper" style="height: 17px;padding: 3px;border: solid 1px white;width: 20%;margin: 30px auto;border-radius: 10px;">
	          <div class="progress-bar" style="background: white;height: 9px;border-radius: 10px;width: 0%;"></div>
	        </div>

	        <div class="upload-error"></div>
	      </div>
	    </div>
	  </div>

	  <div class="trinity-loader-overlay screen-overlay" id="uiloader">
	    <div class="vtable">
	      <div class="valign">
	        <div class="loading"></div>
	        <span>{{ 'Bezig met laden..' | trans }}</span>
	      </div>
	    </div>
	  </div>

	  {% for label, messages in app.session.flashBag.all() %}
	    {% for message in messages %}
	      <script>
			Toastify({
				text: '<div class="d-flex align-items-center">{{ label }} {{ message|raw }}</div>',
				duration: 30000,
				escapeMarkup: false,
				close: false,
				gravity: "bottom",
				position: "right",
				stopOnFocus: true,
				onClick: function(){}
			}).showToast();
			</script>
	    {% endfor %}
	  {% endfor %}

	  <div class="cache-clear-overlay screen-overlay">
	    <div class="vtable">
	      <div class="valign">
	        <div class="loading"></div>
	        <span>{{ 'Cache wordt opgeschoond..' | trans }}</span>
	      </div>
	    </div>
	  </div>

		<div class="top-bar-btns-wrapper">
			<div class="buttons-left">
				<ul class="top-bar-btns">
					{% set foundCurrent = false %}

					{% set hasFoundMultisite = false %}
					{% if multisite is not empty and(multisite | length) > 1 %}

						{% set num = 0 %}

						{% for C in multisite %}
							{% if C.language == language %}
								{% if C in app.user.sites or app.user.sites.count == 0 %}
									{% set num = (num + 1) %}
								{% endif %}
							{% endif %}
						{% endfor %}

						{% for C in multisite_other %}
							{% if C in app.user.sites or app.user.sites.count == 0 %}
								{% set num = (num + 1) %}
							{% endif %}
						{% endfor %}

						{% if num > 1 %}
							{% set hasFoundMultisite = true %}
						{% endif %}

						{% if hasFoundMultisite %}
						  <li id="language-dropdown" class="language-dropdown-wrapper">
						      <span class="dropdown-toggle" id="dropdownMultisites" data-bs-toggle="dropdown" aria-expanded="false">
						        <i class="fa fa-link"></i>
						        <span class="label">
						          {% if hasFoundMultisite %}
						            {% if multisite is not empty and(multisite | length) > 1 %}
						              <span class="labels">
						                <b>{{Settings.label}}</b>
						                <small>{{Settings.Host}}</small>
						              </span>
						              <i class="fa fa-angle-down"></i>
						            {% endif %}
						          {% else %}
						            {{Settings.label}}
						          {% endif %}
						        </span>
						      </span>

						      <div  class="dropdown-menu" aria-labelledby="dropdownMultisites">
						        {% for C in multisite %}
						          {% if C.language == language %}
						            {% if C in app.user.sites or app.user.sites.count == 0 %}
						              <a class="dropdown-item" onclick="showUiLoader('{{C.label}} wordt geladen')" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?msite={{C.id}}">
						                <b class="d-block">{{C.label}}</b>
						                {% if C.host is not empty %}
						                <small>
						                  {{C.host}}
						                </small>
						                {% endif %}
						              </a>
						            {% endif %}
						          {% endif %}
						        {% endfor %}

						        {% for C in multisite_other %}
						          {% if C in app.user.sites or app.user.sites.count == 0 %}
						            <a class="list-group-item list-group-item-action" onclick="showUiLoader('{{C.label}} wordt geladen')" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?msite={{C.id}}&mlang={{C.language.id}}">
						              <b class="d-block">{{C.label}}</b>
						              {% if C.host is not empty %}
						              <small>
						                <i class="fa fa-link"></i>
						                {{C.host}}
						              </small>
						              {% endif %}
						            </a>
						          {% endif %}
						        {% endfor %}
						      </div>
						  </li>
						{% endif %}
					{% endif %}

					{% if languages | length > 1 %}
						<li id="langSelector">
							{% if (languages | length) > 1 and (languages_available | length) > 1 and (app.user.languages|length) != 1 %}
									<span class="dropdown-toggle" id="dropdownLanguages" data-bs-toggle="dropdown" aria-expanded="false">
										<div class="current-flag flag-icon flag-icon-{{language.locale}}" data-info="{{language.label}}"></div>
									</span>

									<ul id="langSelect" class="dropdown-menu" aria-labelledby="dropdownLanguages">
										{% for Language in languages_available %}
											{% set isCurrent = false %}
											{% if (Language in app.user.languages and(app.user.languages | length) > 1)
											or(app.user.languages | length) == 0 %}
												<li>
													<a class="dropdown-item" onclick="showUiLoader('{{Language.label}} wordt geladen')" href="{{path('admin_switch_language', {locale: Language.locale, url: path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|url_encode, msite: (siteToLang[Language.id] is defined ? siteToLang[Language.id] : 0)})}}">
													<span class="flag-icon flag-icon-{{Language.locale}}"></span>{{Language.label}}{{isCurrent ? ' <strong class="grey lighten-2 right">' ~ ('huidig domein'|trans) ~ '</strong>' : ''}}</a>
												</li>
											{% endif %}
										{% endfor %}
									</ul>
							{% endif %}
						</li>
					{% endif %}

					{% if is_granted( 'ROLE_SUPER_ADMIN' ) %}
						<li class="clear-cache">
							<a class="dropdown-toggle" title="{{'Cache wissen'|trans}}" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-fw fa-sync-alt"></i>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><a class="dropdown-item" onclick="return cache_clear();">{{'Cache wissen'|trans}}</a></li>
								<li><a class="dropdown-item" onclick="return php_cache_clear();">{{'PHP cache wissen'|trans}}</a></li>
								{# {% if installed is defined and 'WebshopBundle' in installed %}
									<li><a class="dropdown-item" href="#">{{'Wis webshop cache'|trans}}</a></li>
								{% endif %} #}
							</ul>
						</li>
					{% else %}
						<li class="clear-cache">
							<a class="dropdown-toggle" onclick="return cache_clear();" title="{{'Cache wissen'|trans}}">
								<i class="fa fa-fw fa-sync-alt"></i>
							</a>
						</li>
					{% endif %}

					<li>
						<a href="//{{Settings.host}}" title="{{'Website bekijken'|trans}}" target="blank" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true">
							<i class="fa fa-fw fa-external-link-alt"></i>
							{# {{'Website bekijken'|trans}} #}
						</a>
					</li>

					{% if Settings.test %}
						<li>
							<a href="{{path('admin_settings')}}" title="{{ '<h6 class=\'mt-3\'>Test modus aan</h6><p>Alle e-mails worden naar <i>systeem admin e-mailadres</i> verstuurd.<p><p>Ga naar <i>Configuratie</i> om de status te wijzigen.</p>' | trans | raw }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true">
								<i class="fa fa-exclamation-triangle"></i>
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
			
			<div class="buttons-right">
				<ul class="top-bar-btns">
					<li class="site-types">
						<ul>
							{% if not Settings.isCatalog %}
								<li class="active">
									<a href="{{path('admin')}}" title="{{'Website beheren'|trans}}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true">
										<?xml version="1.0" encoding="utf-8"?>
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 viewBox="0 0 89 90.12" style="enable-background:new 0 0 89 90.12;" xml:space="preserve">
										<g>
											<path d="M44.7,90.03L44.7,90.03c-1.6,0-2.8-1.3-2.8-2.8v-47.9c0-1.6,1.3-2.8,2.8-2.8l0,0c1.6,0,2.8,1.3,2.8,2.8v47.8
												C47.5,88.73,46.2,90.03,44.7,90.03z"/>
											<path d="M86.2,71.83L86.2,71.83c-1.6,0-2.8-1.3-2.8-2.8v-47.9c0-1.6,1.3-2.8,2.8-2.8l0,0c1.6,0,2.8,1.3,2.8,2.8v47.8
												C89,70.53,87.7,71.83,86.2,71.83z"/>
											<path d="M88.7,68.03L88.7,68.03c0.7,1.4,0.1,3.1-1.4,3.8l-41.5,18c-1.4,0.7-3.1,0.1-3.8-1.4l0,0
												c-0.7-1.4-0.1-3.1,1.4-3.8l41.5-18C86.4,66.03,88.1,66.63,88.7,68.03z"/>
											<path d="M88.7,19.93L88.7,19.93c0.7,1.4,0.1,3.1-1.4,3.8l-41.5,18c-1.4,0.7-3.1,0.1-3.8-1.4l0,0
												c-0.7-1.4-0.1-3.1,1.4-3.8l41.5-18C86.4,17.93,88.1,18.53,88.7,19.93z"/>
											<path d="M2.8,71.83L2.8,71.83c1.6,0,2.8-1.3,2.8-2.8v-47.9c0-1.6-1.3-2.8-2.8-2.8l0,0c-1.6,0-2.8,1.3-2.8,2.8v47.8
												C0,70.53,1.3,71.83,2.8,71.83z"/>
											<path d="M0.3,68.03L0.3,68.03c-0.7,1.4-0.1,3.1,1.4,3.8l41.5,18c1.4,0.7,3.1,0.1,3.8-1.4l0,0c0.7-1.4,0.1-3.1-1.4-3.8
												L4,66.63C2.6,66.03,0.9,66.63,0.3,68.03z"/>
											<path d="M0.3,19.93L0.3,19.93c-0.7,1.4-0.1,3.1,1.4,3.8l41.5,18c1.4,0.7,3.1,0.1,3.8-1.4l0,0c0.7-1.4,0.1-3.1-1.4-3.8
												L4,18.53C2.6,17.93,0.9,18.53,0.3,19.93z"/>
											<path d="M42.1,1.63L42.1,1.63c-0.7,1.4-0.1,3.1,1.4,3.8l23,9.9c1.4,0.7,3.1,0.1,3.8-1.4l0,0c0.7-1.4,0.1-3.1-1.4-3.8
												l-23-9.8C44.5-0.37,42.8,0.23,42.1,1.63z"/>
											<path d="M46.9,1.63L46.9,1.63c0.7,1.4,0.1,3.1-1.4,3.8L4,23.43c-1.4,0.6-3.1,0-3.7-1.4l0,0c-0.7-1.4-0.1-3.1,1.4-3.8
												l41.5-18C44.5-0.37,46.2,0.23,46.9,1.63z"/>
										</g>
										</svg>
									</a>
								</li>
								{% if installed is defined and 'WebshopBundle' in installed %}
									<li>
										<a href="{{path('admin_mod_webshop')}}" title="{{'Webshop beheren'|trans}}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true">
											<?xml version="1.0" encoding="utf-8"?>
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 viewBox="0 0 89 90.1" style="enable-background:new 0 0 89 90.1;" xml:space="preserve">
											<g>
												<path d="M85.2,9.7H27.9c-1.9,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5h53.8V42l-51.8,7.5l-13.3-42c-1-4.3-5.1-7.3-9.7-7.3h-3
													C2,0.2,0.4,1.7,0.4,3.7S2,7.2,3.9,7.2h3c1.4,0,2.7,0.9,3,2c0,0.1,0,0.2,0.1,0.3l13,41.1l-3.8,0.6h-0.1c-5.7,1-9.4,4.8-9.4,9.8
													c0,5.4,4.4,9.9,9.9,9.9h56c1.9,0,3.5-1.6,3.5-3.5s-1.6-3.5-3.5-3.5h-56c-1.6,0-2.9-1.3-2.9-2.9c0-2.1,2.6-2.7,3.4-2.9l65.5-9.5
													c1.7-0.3,3-1.7,3-3.5V13.2C88.7,11.3,87.1,9.7,85.2,9.7z"/>
												<path d="M27.9,76.6c-3.7,0-6.7,3-6.7,6.7s3,6.7,6.7,6.7s6.7-3,6.7-6.7S31.6,76.6,27.9,76.6z"/>
												<path d="M69.3,76.6c-3.7,0-6.7,3-6.7,6.7s3,6.7,6.7,6.7s6.7-3,6.7-6.7S73,76.6,69.3,76.6z"/>
											</g>
											</svg>
										</a>
									</li>
								{% endif %}
							{% endif %}
							{% if installed is defined and 'BekokeuringBundle' in installed %}
								<li>
									<a href="{{path('admin_mod_bekokeuring')}}" title="{{'Keuring beheren'|trans}}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true">
										<i class="fa fa-fw fa-vial"></i>
									</a>
								</li>
							{% endif %}
						</ul>
					</li>

					{% if installed is defined and 'TicketsBundle' in installed %}
						<li>
							<a class="dropdown-item" href="{{path('admin_mod_tickets')}}">
								<i class="far fa-fw fa-calendar-alt"></i>
								{# {{'Ticketverkoop'|trans}} #}
							</a>
						</li>
					{% endif %}

					<li>
						<a class="dropdown-item" href="{{path('admin_profile')}}"  title="{{'Profiel'|trans}}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true">
							<span class="d-flex align-items-center">
								<span class="avatar">
									<i class="fa fa-user"></i>
								</span>
								<span class="username">
							<span class="name">{% if app.user.name is not empty %}{{app.user.name}}{% else %}{{'Profiel'|trans}}{% endif %}</span>
									{% if app.user.email is not empty %}<span class="sub">{{app.user.email}}</span>{% endif %}
								</span>
							</span>
						</a>
					</li>

					{% if is_granted( 'ROLE_PREVIOUS_ADMIN' ) %}
						<li>
							<a class="dropdown-item" href="?_switch_user=_exit">
								<i class="fa fa-fw orange-text fa-ban"></i>
							</a>
						</li>
					{% endif %}

					<li>
						<a class="dropdown-item" href="{{logout_path('admin_secured_area')}}"  title="{{'Uitloggen'|trans}}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true">
							<i class="fa fa-fw fa-power-off"></i>
							{# {{'Uitloggen'|trans}} #}
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="side-bar-wrapper">
			<div class="logobox">
				<div class="logobox-content">
					{% if file_exists( 'trinity.svg' ) %}
						<a href="{{path('admin')}}" class="logo-icon" title="Easify v{{version}}"><img src="{{asset('trinity.svg')}}"/></a>
					{% else %}
						<a href="{{path('admin')}}" class="logo-icon" title="Easify v{{version}}"><img src="{{asset('bundles/cms/images/logo_icon.svg')}}"/></a>
					{% endif %}
					<span class="logo-name">
						Easify
						<span class="logo-tagline">A Symfony CMS</span>
					</span>
				</div>
			</div>

			<div class="side-bar">
				<div class="side-bar-scroll" data-simplebar>
					<div class="side-bar-inner">
						{% include '@Cms/menu/main.html.twig' with {
							'Settings' : Settings
						} %}
					</div>
				</div>
			</div>
		</div>

	  <div class="trinity-wrapper">
			<div class="toggle-mobile d-lg-none">
				<span class="side-bar-toggle">
					<i class="fa fa-fw fa-bars"></i>
				</span>
			</div>

			<div class="container">
				{# <div class="alert alert-warning fade show alert-dismissible d-lg-none mt-3" role="alert">
					<b>Let op!</b> De huidige resolutie wordt beperkt ondersteund. Sommige functies kunnen mogelijk niet naar behoren functioneren.
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div> #}

				<div class="breadcrumb-wrapper">
					{% block breadcrumbs %}
						<div class="dropdown">
							<div class="dropdown-toggle" id="dropdownBreadcrumbs" data-bs-toggle="dropdown" aria-expanded="false">
								<div class="title">
										{{ wo_render_breadcrumbs() }}
								</div>
							</div>
						  <ul class="dropdown-menu" aria-labelledby="dropdownBreadcrumbs">
								<li><h6 class="dropdown-header">{{ 'Terug naar..' | trans }}</h6></li>
								<div class="list">{{ wo_render_breadcrumbs() }}</div>
						  </ul>
						</div>
					{% endblock %}
				</div>

		    <div class="main-wrapper">
		      <main>
		        <div class="catselect">
		          {% block catselect %}{% endblock %}
		        </div>
		        {% block body %}{% endblock %}
		      </main>
				</div>
			</div>
	  </div>

	  <script>
	    $( window ).on( "scroll load", function() {
	      var scroll = $( window ).scrollTop();
	      if ( scroll >= 71 ) {
	        $( "body" ).addClass( "sticky" );
	      } else {
	        $( "body" ).removeClass( "sticky" );
	      }

	      var scroll = $( window ).scrollTop();
	      if ( scroll >= 60 ) {
	        $( "body" ).addClass( "sticky-page-bar" );
	      } else {
	        $( "body" ).removeClass( "sticky-page-bar" );
	      }

				$('.simplebar-scroll-content').on('scroll', function() {
				    $('.side-bar-wrapper').toggleClass('scrolled-sidebar', $(this).scrollTop() > 1);
				});
	    } );
	  </script>

	  {# JQUERY (UI) #}
	  <script type="text/javascript" src="{{asset('bundles/cms/jquery-ui-1.11.4.custom/jquery-ui.js')}}"></script>

	  {# NESTED SORTABLES #}
	  <script type="text/javascript" src="{{asset('bundles/cms/nestedSortable/jquery.mjs.nestedSortable.js')}}"></script>

	  {# SELECT2 #}
	  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.2.0/dist/select2-bootstrap-5-theme.min.css" />

	  <script type="text/javascript" src="{{asset('bundles/cms/js/script.js')}}?t={{'now'|date('Ymd')}}"></script>
	  <script type="text/javascript" src="{{asset('bundles/cms/responsive_waterfall/responsive_waterfall.js')}}"></script>
	  <script type="text/javascript" src="{{asset('bundles/cms/jquery-dropdown/jquery.dropdown.js')}}"></script>

	  <script type="text/javascript">
	    // $( document ).ready( function() {
	    //   $( '.modal' ).modal();
	    //   $( '.tooltipped' ).tooltip( { delay: 50 } );
	    // } );

	    jQuery( '.hamburger' ).click( function( e ) {
	      jQuery( this ).toggleClass( 'is-active' );
	      jQuery( document.body ).toggleClass( 'menu' );
	    } );

	    jQuery( '#profile-image img' ).on( 'click', function( e ) {
	      jQuery( '#profile-image ul.nav' ).show();
	    } );

	    jQuery( document.body ).on( 'click', function( e ) {
	      if ( e.target != $( '#profile-image img' )[ 0 ] ) {
	        jQuery( '#profile-image ul.nav' ).hide();
	      }
	    } );

	    jQuery( '.treetoggle a' ).click( function( e ) {
	      jQuery( document.body ).toggleClass( 'treeview' );
	    } );

	    if ( $( '.tabs' ).length > 0 ) {
	      $( '.tabs li:not(.no-tab)' ).click( function() {
	        $( '.tabs li, .tc' ).removeClass( 'active' );
	        var index = $( this ).addClass( 'active' ).index();
	        $( '.tc' ).eq( index ).addClass( 'active' );
	      } );
	    }

	    // SPOTLIGHT

	    var typeTimer = null;

	    var spotlightOpen = false;

	    // Key codes
	    var enter = 13;
	    var escape = 27;
	    var p = 80;
	    var f = 70;
	    var d = 68;
	    var up = 38;
	    var down = 40;
	    var spacebar = 32;

	    var firstUrl = null;

	    $( document.body ).keydown( function( event ) {
	      if ( event.which == spacebar && ( event.ctrlKey ) ) {
	        event.preventDefault();
	        if ( spotlightOpen ) {
	          closeSpotlight();
	        } else {
	          openSpotlight();
	        }
	      }
	      if ( event.which == d && ( event.ctrlKey ) ) {
	        event.preventDefault();
	        switchDarkMode();
	      }
	    } ).keyup( function( event ) {
	      if ( event.which == escape ) {
	        closeSpotlight();
	      }
	      if ( event.which == enter && spotlightOpen ) {
	        event.preventDefault();
	        if ( $( '.sl-results a.default' ).length > 0 ) {
	          window.location = $( '.sl-results a.default' ).attr( 'href' );
	        }
	      }
	      if ( event.which == up && spotlightOpen ) {
	        event.preventDefault();
	        $( '.sl-window input' )[ 0 ].blur();
	        if ( $( '.sl-results a.default' ).prev( 'a' ).length > 0 ) {
	          $( '.sl-results a.default' ).removeClass( 'default' ).prev( 'a' ).addClass( 'default' );
	        }
	      }
	      if ( event.which == down && spotlightOpen ) {
	        event.preventDefault();
	        $( '.sl-window input' )[ 0 ].blur();
	        if ( $( '.sl-results a.default' ).next( 'a' ).length > 0 ) {
	          $( '.sl-results a.default' ).removeClass( 'default' ).next( 'a' ).addClass( 'default' );
	        }
	      }
	    } );

	    $( '.sl-backdrop' ).click( function() {
	      closeSpotlight();
	    } );

	    function openSpotlight() {
	      $( document.body ).addClass( 'spotlight' );
	      $( '.sl-results' ).html( '' ).hide();
	      firstUrl = null;
	      var prevQ = '';
	      $( '.sl-window input' ).val( '' ).off( 'keyup' ).on( 'keyup', function() {
	        var q = $( this ).val();
	        var q_el = $( this );
	        if ( prevQ != q ) {
	          firstUrl = null;
	          $( '.sl-results' ).html( '' ).hide();
	          prevQ = q;
	          if ( typeTimer != null )
	            clearTimeout( typeTimer );
	          typeTimer = setTimeout( function() {
	            if ( q == '' ) {
	              $( '.sl-results' ).html( '' ).hide();
	            } else {
	              var nr = 0;
	              q_el.parent().append( $( '<div class="spinner"></div>' ) );
	              $.getJSON( '{{path('spotlight_search')}}/' + q ).done( function( res ) {
	                $.each( res, function( group, results ) {
	                  $( '.sl-results' ).append( $( '<span>' + group + '</span>' ) );
	                  $.each( results, function( url, label ) {
	                    $( '.sl-results' ).append( $( '<a href="' + url + '">' + label + '</span>' ) );
	                    if ( firstUrl == null )
	                      firstUrl = url;
	                    nr++;
	                  } );
	                } );

	                if ( nr == 0 ) {
	                  $( '.sl-results' ).append( $( '<em>{{ 'Geen resultaten gevonden.' | trans({}) | raw }}</em>' ) );
	                }

	                $( '.sl-results' ).show();
	                $( '.sl-results a' ).first().addClass( 'default' )
	                $( '.sl-window .spinner' ).remove();
	              } );
	            }
	          }, 250 );
	        }
	      } );
	      $( '.sl-window input' )[ 0 ].focus();
	      spotlightOpen = true;
	    }

	    function closeSpotlight() {
	      $( '.sl-window input' ).val( '' );
	      $( '.sl-results' ).html( '' ).hide();
	      $( document.body ).removeClass( 'spotlight' );
	      spotlightOpen = false;
	    }

	    if ( $( window ).width() <= 1300 && $( window ).width() >= 900 ) {
	      $( 'body' ).addClass( 'nav-collapse' );
	    }
	    $( window ).resize( function() {
	      if ( $( window ).width() <= 1300 && $( window ).width() >= 900 ) {
	        $( 'body' ).addClass( 'nav-collapse' );
	      } else {
	        $( 'body' ).removeClass( 'nav-collapse' );
	      }
	    } );

	    function switchDarkMode() {
	      if ( $( 'body' ).hasClass( 'dark' ) ) {
	        var checked = 0;
	      } else {
	        var checked = 1;
	      }
	      $( 'body' ).toggleClass( 'dark' );
	      $.ajax( '{{path('admin_profile_dark')}}/' + checked );
	    }

	    function cache_clear( extended ) {
	      if ( typeof extended == 'undefined' ) {
	        extended = false;
	        }
	      $( '.cache-clear-overlay' ).show();

				var toggleCacheUrl = jsonUrl+'page/pagecacheall';
				$.getJSON(toggleCacheUrl, function(response){
					console.log(toggleCacheUrl);
					console.log(response);
				});

	      window.location = '/bundles/cms/cache.php?extended=' + extended + '&url={{path('admin_page')|url_encode}}';

	      return false;
	    }

		function php_cache_clear( extended ) {
	      if ( typeof extended == 'undefined' ) {
	        extended = false;
	        }
	      $( '.cache-clear-overlay' ).show();

	      window.location = '/bundles/cms/opcache.php?url={{path('admin_page')|url_encode}}';

	      return false;
	    }

	    {% if app.request.query.get('clear') == 'cache' %}
	      cache_clear( false );
	    {% endif %}

	    function openinbrowser_button() {
	      {% if Page is defined and Page.id is not null %}
	        if ( $( '#view-live' ).length ) {
	          $.ajax( '{{path('admin_page_ajax_pageid', {'id': Page.id})}}' ).done( function( r ) {
	            if ( r.status === true ) {
	              $( '#view-live' ).prop( 'href', r.url ).show();
	            }
	          } );
	        }
	      {% endif %}
	    }

	    openinbrowser_button();
	  </script>

	  <script>
	    $( function() {
	      $( ".toggle-fold" ).click( function() {
	        $( "body" ).toggleClass( "folded" );
	      } );

	      $( ".toggle-blocks" ).click( function() {
	        $( "body" ).toggleClass( "show-blocks" );
	      } );

	      $( ".block-select" ).click( function() {
	        $( "body" ).removeClass( "show-blocks" );
	      } );

	      $( "#langSelector" ).click( function() {
	        $( "body" ).toggleClass( "language-dropdown" );
	      } );

	      $( ".tools > li.toggle-tool-nav > span" ).click( function() {
	        $( "body" ).toggleClass( "tools-dropdown" );
	      } );

	      $( ".tools .toggle-list-view" ).click( function() {
	        $( "body" ).toggleClass( "blocks-list-view" );
	        $( "body" ).removeClass( "tools-dropdown" );
	      } );

	      $( ".toggle-pagetree" ).click( function() {
	        $( "body" ).toggleClass( "treebox-sidebar" );
	      } );

	      $( ".blocks-wrapper .block-select .large-preview" ).hover( function() {
	        $( this ).closest( ".block-select" ).toggleClass( "show-preview" );
	      } );

	      $( ".toggle-mobile-nav" ).click( function() {
	        $( "body" ).toggleClass( "side-bar-open" );
	        $( "body" ).removeClass( "btn-bar-open" );
	      } );

	      $( ".btn-bar .btn-bar-toggle" ).click( function() {
	        $( "body" ).toggleClass( "btn-bar-open" );
	      } );
	    } );
	  </script>

	  <script>
	    $( window ).load( function() {
	      if ( !$( "body" ).hasClass( "page-overview" ) ) {
	        if ( ( $( window ).innerWidth() > 992 ) && ( $( window ).innerWidth() < 1400 ) ) {
	          $( "body" ).addClass( 'folded' );
	        } else {
	          $( "body" ).removeClass( 'folded' );
	        }

	        $( window ).resize( function() {
	          if ( ( $( window ).innerWidth() > 992 ) && ( $( window ).innerWidth() < 1400 ) ) {
	            $( "body" ).addClass( 'folded' );
	          } else {
	            $( "body" ).removeClass( 'folded' );
	          }
	        } );
	      }
	    } );

	    $( window ).load( function() {
	      if ( $( "body" ).hasClass( "page-overview" ) ) {
	        if ( ( $( window ).innerWidth() > 992 ) ) {
	          $( "body" ).addClass( 'folded' );
	        } else {
	          $( "body" ).removeClass( 'folded' );
	        }

	        $( window ).resize( function() {
	          if ( ( $( window ).innerWidth() > 992 ) ) {
	            $( "body" ).addClass( 'folded' );
	          } else {
	            $( "body" ).removeClass( 'folded' );
	          }
	        } );
	      }
	    } );
	  </script>

	  {% block javascript %}{% endblock %}
	  {% block scripts %}{% endblock %}
	  <link rel="stylesheet" type="text/css" href="/bundles/cms/ckeditor/materialize.css">

	  <script>
	    $( function() {
	      if ( $( '.btn-bar' ).length == 0 ) {
	        $( 'body' ).append( $( '<div class="btn-bar"></div>' ) );
	      }
	      if ( $( '.btn-bar > .left' ).length == 0 ) {
	        $( '.btn-bar' ).append( $( '<div class="left"></div>' ) );
	      }

	      // $(".btn-bar").prependTo("body");

	      // workaround google chrome: https://support.google.com/chrome/thread/3363391?msgid=3613215
	      $( '.datepicker' ).on( 'mousedown', function( e ) {
	        e.preventDefault();
	      } );
	    } );

	    $( window ).load( function() {
	      // Animate loader off screen
	      $( "#uiloader" ).fadeOut( "slow", function() {
	        $( "#uiloader" ).remove();
	      } );
	    } );

	    $( '.btn-bar ' ).append( $( '<div class="btn-bar-toggle"></div>' ) );
	  </script>

	  <!-- sticky side-bar header -->
	  <script>
	    var $buttonsContainer = document.getElementById( "buttons-wrapper" );

	    $( ".simplebar-scroll-content" ).scroll( function() {
	      var scroll = $( this ).scrollTop();
	      if ( scroll >= $buttonsContainer.offsetTop ) {
	        $( "body" ).addClass( "sticky-buttons" );
	      } else {
	        $( "body" ).removeClass( "sticky-buttons" );
	      }
	    } );

	    $( "#buttons-wrapper" ).css( "height", $( ".buttons" ).outerHeight() );
	  </script>

	  <!-- Responsive table wrapper -->
	  <script>
	    $( function() {
	      $( 'table.responsive-table' ).wrap( "<div class='table-wrapper'></div>" );
	      $( 'table.responsive-table' ).removeClass( 'responsive-table' );
	    } );
	  </script>

	  <!-- Hide tooltip on click -->
	  <script>
	    $( document ).ready( function() {
	      $( '.tooltipped' ).click( function() {
	        $( '.tooltipped' ).tooltip( "hide" );
	      } );
	    } );
	  </script>

	  <link rel="stylesheet" type="text/css" href="/bundles/cms/datetimepicker/build/jquery.datetimepicker.min.css">
	  <script src="/bundles/cms/datetimepicker/build/jquery.datetimepicker.full.js"></script>

	  <script>
	    $( function() {
	      jQuery.datetimepicker.setLocale( 'nl' );
	      if ( $( '.trinity_datetime' ).length > 0 ) {
	        $( '.trinity_datetime' ).datetimepicker( { format: 'Y-m-d H:i' } );
	      }
	      if ( $( '.trinity_time' ).length > 0 ) {
	        $( '.trinity_time' ).datetimepicker( { datepicker: false } );
	      }
	      if ( $( '.trinity_date' ).length > 0 ) {
	        $( '.trinity_date' ).datetimepicker( { timepicker: false, format: 'Y-m-d' } );
	      }
	      if ( $( '.trinity_datetime_inline' ).length > 0 ) {
	        $( '.trinity_datetime_inline' ).datetimepicker( { format: 'Y-m-d H:i', inline: true } );
	      }
	      if ( $( '.trinity_time_inline' ).length > 0 ) {
	        $( '.trinity_time_inline' ).datetimepicker( { datepicker: false, inline: true } );
	      }
	      if ( $( '.trinity_date_inline' ).length > 0 ) {
	        $( '.trinity_date_inline' ).datetimepicker( { timepicker: false, format: 'Y-m-d', inline: true } );
	      }

	      if ( $( '.trinity_range_start' ).length > 0 && $( '.trinity_range_end' ).length > 0 ) {
	        $( '.trinity_range_start' ).datetimepicker( {
	          format: 'Y-m-d',
	          onShow: function( ct ) {
	            this.setOptions( {
	              maxDate: $( '.trinity_range_end' ).val()
	                ? $( '.trinity_range_end' ).val()
	                : false
	            } )
	          },
	          onSelectDate: function( ct, $i ) {
	            if ( typeof $i.data( 'select' ) != 'undefined' ) {
	              window[ $i.data( 'select' ) ]();
	            }
	          },
	          onSelectTime: function( ct, $i ) {
	            if ( typeof $i.data( 'time' ) != 'undefined' ) {
	              window[ $i.data( 'time' ) ]();
	            }
	          },
	          onShow: function( ct, $i ) {
	            if ( typeof $i.data( 'show' ) != 'undefined' ) {
	              window[ $i.data( 'show' ) ]();
	            }
	          },
	          onClose: function( ct, $i ) {
	            if ( typeof $i.data( 'close' ) != 'undefined' ) {
	              window[ $i.data( 'close' ) ]();
	            }
	          },
	          timepicker: false
	        } );
	        $( '.trinity_range_end' ).datetimepicker( {
	          format: 'Y-m-d',
	          onShow: function( ct ) {
	            this.setOptions( {
	              minDate: $( '.trinity_range_start' ).val()
	                ? $( '.trinity_range_start' ).val()
	                : false
	            } )
	          },
	          onSelectDate: function( ct, $i ) {
	            if ( typeof $i.data( 'select' ) != 'undefined' ) {
	              window[ $i.data( 'select' ) ]();
	            }
	          },
	          onSelectTime: function( ct, $i ) {
	            if ( typeof $i.data( 'time' ) != 'undefined' ) {
	              window[ $i.data( 'time' ) ]();
	            }
	          },
	          onShow: function( ct, $i ) {
	            if ( typeof $i.data( 'show' ) != 'undefined' ) {
	              window[ $i.data( 'show' ) ]();
	            }
	          },
	          onClose: function( ct, $i ) {
	            if ( typeof $i.data( 'close' ) != 'undefined' ) {
	              window[ $i.data( 'close' ) ]();
	            }
	          },
	          timepicker: false
	        } );
	      }
	    } );

	    function showUiLoader( lbl ) {
	      $( 'body' ).append( $( '<div class="trinity-loader-overlay" id="uiloader">\
						<div class="vtable">\
							<div class="valign">\
								<div class="loading"></div>\
								<span>' + lbl + '</span>\
							</div>\
						</div>\
					</div>' ) );
	    }
	  </script>

	  <script>
	    function activateVideo( el, env, url ) {
	      var nel = $( '<div>Ongeldige video</div>' );
	      if ( env == 'youtube' ) {
	        nel = $( '<div class="embed-container"><iframe id="ytplayer" type="text/html" width="720" height="405" src="' + url + '" frameborder="0" allowfullscreen></iframe></div>' );
	      } else if ( env == 'vimeo' ) {
	        nel = $( '<div class="embed-container"><iframe width="720" height="405" src="' + url + '" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>' );
	      }

	      var ps = $( el ).closest( '.video-preset' );
	      ps.replaceWith( nel );
	    }
	  </script>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
		{# <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" charset="utf-8"></script> #}
		<script>
			var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
			var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
			return new bootstrap.Tooltip(tooltipTriggerEl)
			})
		</script>
		<script>
			jQuery( '.side-bar-toggle' ).click( function( e ) {
				jQuery( document.body ).toggleClass( 'folded' );
			} );
		</script>

		{#
		<script src="/bundles/cms/sticky-sidebar/jquery.sticky-sidebar.js"></script>
		<script type="text/javascript">
	    $( function() {
				$('.system-sidebar').stickySidebar({
				    topSpacing: 90,
				    bottomSpacing: 0,
	        	innerWrapperSelector: '.system-sidebar-inner'
				});
			});
		</script>
		#}
	</body>
</html>
