{% trans_default_domain 'cms' %}

<!DOCTYPE html>
<html>
	<head>
		<title>{{trinity}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="robots" content="noindex,nofollow"/>

		{# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i">
		<link rel="stylesheet" href="{{asset('bundles/cms/css/login.css')}}">
		<link rel="stylesheet" href="{{asset('bundles/cms/jquery.toast.min.css')}}">

    {% if Settings is defined and Settings is not empty and Settings.hasGoogleRecaptcha %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endif %}

		{% block stylesheet %}{% endblock %}
	</head>

	<body>
	{% set hasError = false %}

		{% block body %}{% endblock %}

	  <!-- alert start: only show when user failed login -->

	  <!--
	  <div class="alert alert-primary" role="alert">
	    Problemen met inloggen? Klik <a href="#" class="alert-link">hier</a> om uw wachtwoord te resetten.
	  </div>
	  -->

	  <!-- alert end -->

		<script src="https://code.jquery.com/jquery-3.4.0.min.js" charset="utf-8"></script>
	  {# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script> #}
	  <script src="{{asset('bundles/cms/jquery.toast.min.js')}}" charset="utf-8"></script>


		{% for label, messages in app.session.flashBag.all() %}
			{% set hasError = true %}
			{% for message in messages %}
				<script>
					$(function(){
						$.toast({
							text: '{{ message|raw }}',
							showHideTransition : 'slide',
							hideAfter : 7500,
							position : 'top-right'
						});
					});
				</script>
			{% endfor %}
		{% endfor %}

	  {% block javascript %}{% endblock %}
	  {% block scripts %}{% endblock %}
	</body>
</html>
