{% trans_default_domain 'cms' %}

{% set id = app.request.get('id') %}

<div class="mb-3">
    <p><strong>{{trinity}} {{'actie'|trans}}</strong></p>
    <select class="form-select" name="id" id="action" onchange="viewSelect(this.value)">
        <optgroup label="Systeem">
            <option {{id == 'login' ? 'selected="selected"' : ''}} value="login">{{ 'Inloggen' | trans }}</option>
            <option {{id == 'register' ? 'selected="selected"' : ''}} value="register">{{ 'Registreren' | trans }}</option>
            {# <option {{id == 'password_forgotten' ? 'selected="selected"' : ''}} value="password_forgotten">{{ 'Wachtwoord vergeten' | trans }}</option> #}
            <option {{id == 'password_forgotten_link' or id == 'password_forgotten' ? 'selected="selected"' : ''}} value="password_forgotten_link">{{ 'Wachtwoord vergeten (v2)' | trans }}</option>
            <option {{id == 'logout' ? 'selected="selected"' : ''}} value="logout">{{ 'Uitloggen' | trans }}</option>
        </optgroup>
        <optgroup label="Sitemap">
            <option {{id == 'sitemap' ? 'selected="selected"' : ''}} value="sitemap">{{ 'Sitemap' | trans }}</option>
        </optgroup>
        <optgroup label="Agenda">
            <option {{id == 'calendar_upcoming' ? 'selected="selected"' : ''}} value="calendar_upcoming">{{ 'Aankomende events' | trans }}</option>
        </optgroup>
    </select>
</div>

<script>
    function viewSelect(v){
        if(v == 'register'){
            $('#register').show();
        }else{
            $('#register').hide();
        }
    }
</script>

</div>
<div id="register" style="display:{{id == 'register' ? 'block' : 'none'}};">
    {# <div class="card"> #}
        {# <div class="card-content"> #}
            <p>
                <strong>{{ 'Registratie opties' | trans }}</strong>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" {{app.request.get('enabled') == 1 ? 'checked' : ''}} name="enabled" value="1" id="enabled" />
                    <label class="form-check-label" for="enabled">{{ 'Registraties toestaan' | trans }}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" {{app.request.get('moderation') == 1 ? 'checked' : ''}} name="moderation" value="1" id="moderation" />
                    <label class="form-check-label" for="moderation">{{ 'Registraties modereren' | trans }}</label>
                </div>
            </p>
        {# </div> #}
    {# </div> #}
    {# <div class="card"> #}
        {# <div class="card-content"> #}
            <p>
                <strong>{{ 'Registratie velden' | trans }}</strong>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" {{app.request.get('website') == 1 ? 'checked' : ''}} name="website" value="1" id="website" />
                    <label class="form-check-label" for="website">{{ 'Website' | trans }}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" {{app.request.get('company') == 1 ? 'checked' : ''}} name="company" value="1" id="company" />
                    <label class="form-check-label" for="company">{{ 'Bedrijf' | trans }}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" {{app.request.get('companyEmail') == 1 ? 'checked' : ''}} name="companyEmail" value="1" id="companyEmail" />
                    <label class="form-check-label" for="companyEmail">{{ 'Bedrijf e-mailadres' | trans }}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" {{app.request.get('companyPhone') == 1 ? 'checked' : ''}} name="companyPhone" value="1" id="companyPhone" />
                    <label class="form-check-label" for="companyPhone">{{ 'Bedrijf telefoon' | trans }}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" {{app.request.get('companyKvk') == 1 ? 'checked' : ''}} name="companyKvk" value="1" id="companyKvk" />
                    <label class="form-check-label" for="companyKvk">{{ 'KVK nummer' | trans }}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" {{app.request.get('companyTaxNo') == 1 ? 'checked' : ''}} name="companyTaxNo" value="1" id="companyTaxNo" />
                    <label class="form-check-label" for="companyTaxNo">{{ 'BTW nummer' | trans }}</label>
                </div>
            </p>
        {# </div> #}
    {# </div> #}
