<section class="empty login-register-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="block">
          <div class="text-wrwapper">
            <section class="webshop-frontend-profile">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
                    <section class="login-register">
                      <div class="container">
                        <div class="login-box">
                        <div class="card">
                          <div class="card-body">
                            <div class="login-form">
                              <h4>{{'Inloggen'|trans}}</h4>
                                <form action="{{ path("admin_login_check") }}?_failure_path={{path(app.request.attributes.get('_route'))}}&_target_path={{path(app.request.attributes.get('_route'))}}" method="post">

                                  {% if error is defined and error is not empty %}
                                  <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                  {% endif %}

                                  {% for label, messages in app.session.flashBag.all() %}
                                    {% for message in messages %}
                                      <div class="alert alert-danger">{{ message|raw }}</div>
                                    {% endfor %}
                                  {% endfor %}

                                  {% if hasLoginInvalidRoles is defined and hasLoginInvalidRoles is not empty %}
                                  <div class="alert alert-danger">{{'U bent ingelogd maar hebt niet de juiste rechten om deze pagina te kunnen bekijken.'|trans}}</div>
                                  {% endif %}

                                  <div class="form-group">
                                    <div class="form-floating">
                                      <input type="text" class="form-control" id="_username" name="_username" placeholder="{{'Gebruikersnaam'|trans({}, 'cms', app.request.locale)}}" autocomplete="off">
                                      <label for="_username">{{'Gebruikersnaam'|trans({}, 'cms', app.request.locale)}}</label>
                                    </div>
                                    {# <input placeholder="{{'Gebruikersnaam'|trans}}" autocomplete="off" type="text" class="form-control" id="_username" name="_username" value="{{ last_username is defined ? last_username : '' }}"> #}
                                  </div>

                                  <div class="form-group">
                                    <div class="form-floating">
                                      <input type="password" class="form-control" id="_password" name="_password" placeholder="{{'Wachtwoord'|trans}}" autocomplete="off">
                                      <label for="_password">{{'Wachtwoord'|trans}}</label>
                                    </div>
                                    {# <input placeholder="{{'Wachtwoord'|trans}}" autocomplete="off" type="password" class="form-control" id="_password" name="_password"> #}
                                  </div>

                                  <small class="d-block mb-2">
                                    <a href="{{path('pages_wachtwoord_vergeten', {url: app.request.attributes.get('_route')})}}">Wachtwoord vergeten?</a>
                                  </small>

                                  {# <div class="form-check custom-control custom-checkbox m-0">
                                    <input type="checkbox" name="_remember_me" class="form-check-input custom-control-input" id="remember">
                                    <label class="form-check-label custom-control-label" for="remember">
                                      <small>{{'Wachtwoord onthouden'|trans}}</small>
                                    </label>
                                  </div> #}

                                <input type="hidden" name="_target_path" value="{{app.request.attributes.get('_route')}}"/>
                                <input type="hidden" name="_failure_path" value="{{app.request.attributes.get('_route')}}"/>

                              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                              <button type="submit" name="login" class="btn btn-gradient">
                                {{'Inloggen'|trans}} <i class="fa fa-arrow-right"></i>
                              </button>
                              </form>
                            </div>

                            <div class="or">
                              <span>{{'of'|trans}}</span>
                            </div>

                            <div class="register-form">
                              <p>{{'Maak een account aan'|trans}}</p>
                              <a href="/registreren" class="btn">
                                {{'Registreren'|trans}} <i class="fa fa-arrow-right"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
