{% trans_default_domain 'cms' %}

<div class="mb-3">
    <label for="action" class="form-label">{{'Soort koppeling'|trans}}</label>
    <select class="form-select" name="type" id="link_type">
        <option value="">Regulier koppelen</option>
        <option value="popular">Opsomming (meest populair)</option>
        <option value="categories">Categorie overzicht</option>
    </select>
</div>

<div class="form-check">
    <input class="form-check-input" id="chk_notblogspecific" type="checkbox" name="notblogspecific" {{app.request.get('notblogspecific') ? 'checked="checked"' : ''}} value="1" onclick="showBlogs(); false;"/>
    <label class="form-check-label" for="chk_notblogspecific">{{'Toon nieuws berichten onafhankelijk van nieuws configuratie'|trans}}</label>
</div>

<div class="mb-3">
    <label for="action" class="form-label">{{'Nieuws'|trans}}</label>
    <select class="form-select" name="id" id="config_id">
        {% for Blog in linkdata.blogs %}
            <option {{Blog.id == app.request.get('id') ? 'selected="selected"' : ''}} value="{{Blog.id}}">{{Blog.label}}</option>
        {% endfor %}
    </select>
</div>

<div class="mb-3">
	<label class="form-label" for="limit">{{'Aantal berichten tonen'|trans}}</label>
    <input class="form-control" type="text" name="limit" value="{{app.request.get('limit') ?? ''}}" />
</div>

<div class="mb-3">
	<label class="form-label" for="uri_overview">{{'Nieuws overzicht URL'|trans}}</label>
    <input class="form-control" type="text" name="uri_overview" value="{{app.request.get('uri_overview') ?? '' }}" />
</div>

<div class="mb-3">
	<label class="form-label" for="uri">{{'Nieuws detail URL'|trans}}</label>
    <input class="form-control" type="text" name="uri" value="{{app.request.get('uri') ?? '' }}" />
</div>

<div class="mb-3">
    <label class="form-label" for="category_id" class="">{{ 'Categorie'|trans }}</label>
    <select class="form-select" name="category_id[]" id="category_id" multiple="1">
        <option value="">{{ 'Alle categorieën'|trans }}</option>
        {% for Category in linkdata.categories %}
            <option value="{{ Category.id }}" {% if Category.id in app.request.get('category_id') %} selected {% endif %}>{{ Category.category }}</option>
        {% endfor %}
    </select>
</div>

<p class="select_options" id="options_default" style="display:block;">
    <strong>Opties</strong>

    <div class="form-check">
        <input class="form-check-input" id="chk_pagination" type="checkbox" name="pagination" {{app.request.get('pagination') ? 'checked="checked"' : ''}} value="1" />
        <label class="form-check-label" for="chk_pagination">{{'Pagina nummering tonen'|trans}}</label>
    </div>

    {# <div class="form-check">
        <input class="form-check-input" id="chk_nodate" type="checkbox" name="nodate" {{app.request.get('nodate') ? 'checked="checked"' : ''}} value="1" />
        <label class="form-check-label" for="chk_nodate">{{'Toon geen datum'|trans}}</label>
    </div> #}

    {# <div class="form-check">
        <input class="form-check-input" id="chk_minimal" type="checkbox" name="minimal" {{app.request.get('minimal') ? 'checked="checked"' : ''}} value="1" />
        <label class="form-check-label" for="chk_minimal">{{'Alleen titel en datum tonen'|trans}}</label>
    </div> #}

    <div class="form-check">
        <input class="form-check-input" id="chk_is_overview" type="checkbox" name="is_overview" {{app.request.get('is_overview') ? 'checked="checked"' : ''}} value="1" />
        <label class="form-check-label" for="chk_is_overview">{{'Dit is een overzicht pagina'|trans}}</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" id="chk_show_all" type="checkbox" name="show_all" {{app.request.get('show_all') ? 'checked="checked"' : ''}} value="1" />
        <label class="form-check-label" for="chk_show_all">{{'"Alle berichten tonen"-knop zichtbaar maken'|trans}}</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" id="chk_show_slider" type="checkbox" name="show_slider" {{app.request.get('show_slider') ? 'checked="checked"' : ''}} value="1" />
        <label class="form-check-label" for="chk_show_slider">{{'"Toon overzicht als slider (selecteer aantal)'|trans}}</label>
    </div>
</p>

<p>
    <strong>Detail pagina:</strong>

    <div class="form-check">
        <input class="form-check-input" id="chk_sharing" type="checkbox" name="sharing" {{app.request.get('sharing') ? 'checked="checked"' : ''}} value="1" />
        <label class="form-check-label" for="chk_sharing">{{'Delen via social media op de detail pagina'|trans}}</label>
    </div>

    {# <div class="form-check">
        <input class="form-check-input" id="chk_sharinglist" type="checkbox" name="sharinglist" {{app.request.get('sharinglist') ? 'checked="checked"' : ''}} value="1" />
        <label class="form-check-label" for="chk_sharinglist">{{'Delen via social media op de overzicht pagina'|trans}}</label>
    </div> #}

    <div class="form-check">
        <input class="form-check-input" id="chk_allow_replies" type="checkbox" name="allow_replies" {{app.request.get('allow_replies') ? 'checked="checked"' : ''}} value="1" />
        <label class="form-check-label" for="chk_allow_replies">{{'Reacties toestaan'|trans}}</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" id="chk_show_anchors" type="checkbox" name="show_anchors" {{app.request.get('show_anchors') ? 'checked="checked"' : ''}} value="1" />
        <label class="form-check-label" for="chk_show_anchors">{{'Anchors tonen'|trans}}</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" id="chk_related" type="checkbox" name="related" {{app.request.get('related') ? 'checked="checked"' : ''}} value="1" />
        <label class="form-check-label" for="chk_related">{{'Gerelateerde berichten tonen op basis van gekoppelde categorie'|trans}}</label>
    </div>
</p>

<script>
function showOptions(val){
    $('.select_options').hide();
    $('#options_' + val).show();
}
showBlogs();
function showBlogs(){
    if ($('#notblogspecific').is(':checked')) {
        $('#blog_config').hide();
    } else {
        $('#blog_config').show();
    }
}
</script>
