{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block body %}
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<div class="card-titles">
						<h6 class="card-title">{{'Multi-site configuraties'|trans}}</h6>
					</div>
					<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th style="width:250px;">{{'Titel'|trans({})|raw}}</th>
								<th style="width:150px;">{{'Taal'|trans({})|raw}}</th>
								<th style="width:150px;">{{'Code'|trans({})|raw}}</th>
								<th>{{'Host'|trans({})|raw}}</th>
								<th style="width:250px;">
									{#  #}
								</th>
							</tr>
						</thead>
						<tbody>
							{% for Config in configs %}
								<tr>
									<td data-url="{{ path('admin_multisite_edit', {id: Config.id}) }}">{{Config.label}}</td>
									<td data-url="{{ path('admin_multisite_edit', {id: Config.id}) }}">{{Config.language ? Config.language.label : 'Onbekend'}}</td>
									<td data-url="{{ path('admin_multisite_edit', {id: Config.id}) }}">{{Config.siteKey}}</td>
									<td data-url="{{ path('admin_multisite_edit', {id: Config.id}) }}">
										{{Config.host}}
										{% if Settings == Config %}
											<span class="new badge" data-badge-caption="" style="display: inline-block;float: none;">{{ 'ACTIEF' | trans }}</span>
										{% endif %}
									</td>
									<td class="right-align actions">
										{% if Config.id > 1 or loop.index0 > 0 %}
											<a href="{{ path('admin_multisite_delete', {'id':Config.id}) }}" onclick="cpop.confirm('{{'Wilt u de site configuratie <b>%label%</b> verwijderen?' | trans({'%label%': Config.label})}}', function(){
												window.location = '{{ path('admin_multisite_delete', {'id':Config.id}) }}';
											} ); return false;" title="{{'Verwijderen'|trans}}"><i class="far fa-trash-alt"></i></a>
										{% else %}
											<a style="opacity:0.4;" class="red-text" title="{{'Verwijderen'|trans}}"><i class="far fa-trash-alt"></i></a>
										{% endif %}
										<a href="{{path('admin_switch_language', {locale: Config.language.locale, url: path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|url_encode, msite: Config.id})}}"><i class="fa fa-paper-plane"></i></a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="btn-bar">
		<div class="left">
			{#  #}
		</div>
		<div class="right">
			<form method="post">
				<a href="{{ path('admin_multisite_edit') }}" class="btn waves-effect waves-light"><i class="fa fa-plus"></i>{{'Multi-site host toevoegen'|trans}}</a>
			</form>
		</div>
	</div>

	<script>
    $('td[data-url]').css('cursor', 'pointer').click(function(){
        window.location = $(this).data('url');
    });
	</script>

{% endblock %}
