{% trans_default_domain 'cms' %}

<table>
	<tr>
		<td><strong>{{ 'Geselecteerd formulier:' | trans }}</strong></td>
		<td>{{config.formlabel is defined ? config.formlabel : 'Onbekend'}}</td>
	</tr>
	<tr>
		<td><strong>{{ 'Bedank pagina:' | trans }}</strong></td>
		<td>{{config.redirect is defined ? config.redirect : 'n.v.t.'}}</td>
	</tr>
	{% if config.show_hidden is defined %}
		<tr>
			<td><strong>{{ 'Verborgen velden tonen:' | trans }}</strong></td>
			<td>Ja</td>
		</tr>
	{% endif %}
	{% if config.show_clear is defined %}
		<tr>
			<td><strong>{{ 'Leegmaken"-knop tonen:' | trans }}</strong></td>
			<td>Ja</td>
		</tr>
	{% endif %}
</table>