{% if file_exists('../templates/override/slider/slider.html.twig') %}
  {% include 'override/slider/slider.html.twig' %}
{% else %}

<div {% if Slider.height is not null and Slider.height > 0 %}style="height: {{ Slider.height }};"{% endif %} id="slider_{{Slider.id}}" class="slider-container {{Slider.classes}}">

  <div class="swiper-content">
    <div class="swiper-container slider_bundle slider_bundle_{{Slider.id}}"
    	data-speed="{% if Slider.scrollspeed is not empty %}{{ Slider.scrollspeed }}{% else %}1000{% endif %}"
    	data-fade="{% if Slider.fade %}true{% else %}false{% endif %}"
    	data-autoplay="{% if Slider.autoplay %}true{% else %}false{% endif %}"
    	data-autoplaydelay="{% if Slider.autospeed > 0 %}{{ Slider.autospeed }}{% else %}8000{% endif %}"
    	data-centered="{% if Slider.centermode %}true{% else %}false{% endif %}"
    	data-loop="{% if Slider.infinite %}true{% else %}false{% endif %}"
    	data-id="{{Slider.id}}"
	>
      <div class="swiper-wrapper">
        {% for Entry in entries %}
            {% if Entry.slideUrl is not null %}
              <a href="{{ Entry.slideUrl }}" class="swiper-slide {{ Entry.classes }}" {% if Slider.height is not null and Slider.height > 0 %}style="height: {{ Slider.height }};"{% endif %}>
            {% else %}
              <div class="swiper-slide {{ Entry.classes }}" {% if Slider.height is not null and Slider.height > 0 %}style="height: {{ Slider.height }};"{% endif %}>
            {% endif %}

              {% if Entry.mobilemedia %}
                <div class="image d-md-none">
                  <div class="lcp">
                    {% if Entry.mobilemedia is not empty %}
                      {% if Entry.mobilemedia.hasBlurred %}
                        <picture>
                          {% if Entry.mobilemedia.hasWebp() %}
                            <source srcset="/{{Entry.mobilemedia.getBlurredWebpPath('large')}}" type="image/webp">
                          {% endif %}
                          <source srcset="/{{Entry.mobilemedia.getBlurredWebPath('large')}}" type="{{Entry.mobilemedia.mime}}">
                          <img class="lq" alt="{{Entry.mobilemedia.description_alt}}" src="/{{Entry.mobilemedia.getBlurredWebPath('large')}}" type="{{Entry.mobilemedia.mime}}" loading="eager" width="{{Entry.mobilemedia.width}}" height="{{Entry.mobilemedia.height}}">
                        </picture>
                      {% endif %}
                      <picture>
                        {% if Entry.mobilemedia.hasWebp() %}
                          <source srcset="/{{Entry.mobilemedia.getWebpPath('large')}}" type="image/webp">
                        {% endif %}
                        <source srcset="/{{Entry.mobilemedia.getWebPath('large')}}" type="{{ Entry.mobilemedia.mime }}">
                      <img class="hq" alt="{{Entry.mobilemedia.description_alt}}" src="/{{Entry.mobilemedia.getWebPath('large')}}" type="{{Entry.mobilemedia.mime}}" loading="eager" width="{{Entry.mobilemedia.width}}" height="{{Entry.mobilemedia.height}}" onload="this.style.opacity=1{% if Entry.mobilemedia.hasBlurred %};this.closest('.lcp').getElementsByClassName('lq')[0].style.opacity=0;{% endif %}" style="opacity: 0;">
                      </picture>
                    {% endif %}
                  </div>
                </div>
              {% endif %}

              <div class="image {% if Entry.mobilemedia %}d-none d-md-block{% endif %}">
                <div class="lcp">
                  {% if Entry.Media is not empty %}
                    {% if Entry.Media.hasBlurred %}
                      <picture>
                        {% if Entry.Media.hasWebp() %}
                          <source srcset="/{{Entry.Media.getBlurredWebpPath('full')}}" type="image/webp">
                        {% endif %}
                        <source srcset="/{{Entry.Media.getBlurredWebPath('full')}}" type="{{Entry.Media.mime}}">
                        <img class="lq" alt="{{Entry.Media.description_alt}}" src="/{{Entry.Media.getBlurredWebPath('full')}}" type="{{Entry.Media.mime}}" loading="eager" width="{{Entry.Media.width}}" height="{{Entry.Media.height}}">
                      </picture>
                    {% endif %}
                    <picture>
                      {% if Entry.Media.hasWebp() %}
                        <source srcset="/{{Entry.Media.getWebpPath('full')}}" type="image/webp">
                      {% endif %}
                      <source srcset="/{{Entry.Media.getWebPath('full')}}" type="{{ Entry.Media.mime }}">
                    <img class="hq" alt="{{Entry.Media.description_alt}}" src="/{{Entry.Media.getWebPath('full')}}" type="{{Entry.Media.mime}}" loading="eager" width="{{Entry.Media.width}}" height="{{Entry.Media.height}}" onload="this.style.opacity=1{% if Entry.Media.hasBlurred %};this.closest('.lcp').getElementsByClassName('lq')[0].style.opacity=0;{% endif %}" style="opacity: 0;">
                    </picture>
                  {% endif %}
                </div>
              </div>

              {% if Entry.getLabel is not empty %}
                <div class="container">
                  <div class="vtable">
                    <div class="vcell">
                      <div class="titles">
                        <div class="row align-items-end">
                          <div class="col-12 {% if Entry.slideUrl is null %}col-md-6{% endif %}">
                            {% if Slider.showTitle %}
                              <h2 class="slide-title">{{Entry.getLabel|raw}}</h2>
                            {% endif %}
                            {% if Slider.showContent %}
                              {{Entry.getContent|raw}}
                            {% endif %}
                          </div>
                          {% if Entry.slideUrl is null %}
                            <div class="col-12 col-md-6">
                              {% if Entry.buttons and Entry.buttons is not empty %}
                                <div class="slide-buttons text-md-end">
                                  {% for button in Entry.buttons %}
                                    <a href="{{button.url}}" title="{{button.label}}" {% if button.target is defined and button.target != "null" %} target="{{button.target}}" {% endif %} class="btn {{button.class}}">{{button.label}} <i class="fa fa-arrow-right"></i></a>
                                  {% endfor %}
                                </div>
                              {% endif %}
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% if Entry.slideUrl is not null %}
              </a>
            {% else %}
              </div>
            {% endif %}
        {% endfor %}
      </div>

      {% if Slider.dots %}
      <div class="swiper-pagination swiper-pagination_{{Slider.id}}"></div>
      {% endif %}

      {% if Slider.arrows %}
      <div class="swiper-button-prev swiper-button-prev_{{Slider.id}}"></div>
      <div class="swiper-button-next swiper-button-next_{{Slider.id}}"></div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
