<div class="webshop-frontend-profile">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
				<section class="login-register">
					<div class="container">
						<div class="login-box">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<h4>Wachtwoord vergeten</h4>
										{% if status == 'changed' %}
											<p>Het wachtwoord is veranderd. Er kan nu worden ingelogd met het nieuwe wachtwoord.</p>
											<a href="/mijn-account" class="btn">Terug naar inloggen</a>
										{% elseif status == 'allowed' or status == 'not_same' %}
											{% if status == 'not_same' %}
												<div class="alert alert-warning" role="alert">
													De wachtwoorden komen niet overeen.
												</div>
											{% endif %}
											<form id="password-form" method="post">

											<div class="row">
												<div class="col-12">
													<div class="form-group">
														<div class="form-floating">
															<input type="password" required id="plainPassword_first" name="plainPassword[first]" class="form-control" placeholder="Wachtwoord" />
															<label for="plainPassword_first">Wachtwoord</label>
														</div>
													</div>
												</div>

												<div class="col-12">
													<div class="form-group">
														<div class="form-floating">
															<input type="password" required id="plainPassword_second" name="plainPassword[second]" class="form-control" placeholder="Wachtwoord (controle)" />
															<label for="plainPassword_second">Wachtwoord (controle)</label>
														</div>
													</div>
												</div>
											</div>

												<button type="submit" class="btn-primary btn">Wachtwoord wijzigen</button>
											</form>
										{% elseif status == 'expired' %}
											<p>De link is verlopen.</p>
										{% elseif status == 'user_not_found' %}
											<p>De link is verlopen.</p>
										{% elseif status == 'missing_hash' %}
											<p>De link is verlopen.</p>
										{% else %}
											<form id="login-form" method="post">
												{% if send %}
													<p>{{'Als het e-mailadres bij ons bekend is, wordt er binnen enkele ogenblikken een e-mail verstuurd.'|trans({}, 'cms', app.request.locale)|raw}}</p>
												{% else %}
													{% if unknownUser %}
														<p>{{'Als het e-mailadres bij ons bekend is, wordt er binnen enkele ogenblikken een e-mail verstuurd.'|trans({}, 'login', app.request.locale)|raw}}</p>
													{% else %}
														<div class="form-group">
															<div class="form-floating">
																<input autocomplete="off" required type="email" class="form-control"  id="_username" name="_username" value="" placeholder="{{'E-mailadres'|trans({}, 'login', app.request.locale)}}">
																<label for="_username">E-mailadres</label>
															</div>

															{# <label for="_username">{{'E-mailadres'|trans({}, 'login', app.request.locale)}}</label> #}
															{# <input autocomplete="off" required type="email"  class="form-control" id="_username" name="_username" value="" placeholder="{{'E-mailadres'|trans({}, 'login', app.request.locale)}}"> #}
														</div>
														<button class="btn btn-gradient" type="submit" name="login">{{'Aanvragen'|trans({}, 'login', app.request.locale)}}</button>
														<span class="btn btn-blank" onclick="history.back()">{{'Annuleren'|trans({}, 'login', app.request.locale)}}</span>
													{% endif %}
												{% endif %}
											</form>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
