<div class="webshop-frontend-profile">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
				<section class="login-register">
					<div class="container">
						<div class="login-box">
							<div class="card">
								<div class="card-body">
									{% if app.user %}
										{{'Je bent al ingelogd, je wordt doorgestuurd.'|trans({}, 'cms', app.request.locale)}}
										<meta http-equiv="refresh" content="1; url={{url}}" />
									{% else %}
										{% if file_exists('../templates/override/cms/password_forgotten.html.twig') %}
										    {% include 'override/cms/password_forgotten.html.twig' %}
										{% else %}
											{% if app.request.xmlHttpRequest %}
												<h1>{{'Wachtwoord vergeten'|trans({}, 'cms', app.request.locale)|raw}}</h1>
											{% endif %}
												<form id="login-form" method="post">
													{% if changed %}
														<p>{{'Als het e-mailadres bij ons bekend zijn, wordt er binnen enkele ogenblikken een e-mail verstuurd.'|trans({}, 'cms', app.request.locale)|raw}}</p>

														{% if app.request.xmlHttpRequest %}
															<p>{{'U kunt deze popup nu sluiten.'|trans({}, 'cms', app.request.locale)|raw}}</p>
														{% else %}
															<a href="{{target}}" class="btn btn-primary">{{'Terug naar inloggen'|trans({}, 'login', app.request.locale)|raw}}</a>
														{% endif %}
													{% else %}
														{% if unknownUser %}
															<p>{{'Als het e-mailadres bij ons bekend zijn, wordt er binnen enkele ogenblikken een e-mail verstuurd.'|trans({}, 'login', app.request.locale)|raw}}</p>
														{% else %}
															<div class="form-group">
																<label for="_username">{{'E-mailadres'|trans({}, 'login', app.request.locale)}}</label>
																<input autocomplete="off" required type="email"  class="form-control" id="_username" name="_username" value="">
															</div>
															<button class="btn" type="submit" name="login">{{'Wachtwoord aanvragen'|trans({}, 'login', app.request.locale)}}</button>
														{% endif %}
													{% endif %}
												</form>
										{% endif %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
