{% form_theme form '@Cms/form.html.twig' %}

<section class="webshop-frontend-profile">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">

{{ form_start(form) }}

{% if not form.vars.valid %}
	{{ form_errors(form) }}
{% endif %}

	<section class="login-register">
		<div class="container">
		  <div class="login-box">
			{% if done %}
				{{'Je bent succesvol geregistreerd, je wordt doorgestuurd.'|trans({}, 'cms', app.request.locale)}}
				<meta http-equiv="refresh" content="1; url={{url}}" />
			{% else %}
				<div class="card">
				  <div class="card-body">
					<div class="register-form">
						{% if message is not empty %}
							<div class="alert alert-warning" role="alert">
								{{message|raw}}
							</div>
						{% endif %}

						{% if done %}

						{% else %}
							<h4>
								{{'Registreren'|trans({}, 'cms', app.request.locale)|raw}}
							</h4>

								{{ form_row(form.email) }}

								<div class="form-floating">
									{{ form_widget(form.plainPassword.first) }}
									{{ form_label(form.plainPassword.first) }}
								</div>

								<div class="form-floating">
									{{ form_widget(form.plainPassword.second) }}
									{{ form_label(form.plainPassword.second) }}
								</div>

								{{ form_errors(form.plainPassword.first) }}

							{% if Settings.hasGoogleRecaptcha() %}
							<div class="recaptcha">
							  {{ Settings.getGoogleRecaptchaWidget() | raw }}
							</div>
							{% endif %}
						{% endif %}

						<div style="display:none;">
							<input type="HIDDEN" name="form[firstname]" value="*" />
							<input type="HIDDEN" name="enable_profile" value="1" />
							<input type="HIDDEN" name="action" value="add_simple_profile" />
							<input type="HIDDEN" name="redirect" value="mod_my_account_profile" />
							<input type="HIDDEN" name="skip_confirmation_mail" value="1" />
							{{form_row(form._token)}}
						</div>

							<button type="submit" class="btn btn-gradient mt-3">{{'Registreren'|trans({}, 'cms', app.request.locale)}} <i class="fa fa-arrow-right"></i></button>
						</div>

						<div class="or">
						  <span>{{'of'|trans}}</span>
						</div>

						<div class="login-form">
						  <a href="/mijn-account" class="btn">
							 <i class="fa fa-arrow-left"></i> {{'Terug naar inloggen'|trans}}
						  </a>
						</div>
				  </div>
				</div>
			{% endif %}
		</div>
	</div>
</section>
			</div>
		</div>
	</div>
</section>