{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{'Tags'|trans}}{% endblock %}

{% block body %}
	<div class="panel inline-table">
		<table style="border-top:0;">
			<tr>
				<th class="left">{{'Tag'|trans}}</th>
				<th style="width:15%;">{{'Media'|trans}}</th>
				<th style="width:15%;">{{'Gebruikers'|trans}}</th>
				<th style="width:15%;">{{'Pagina'|trans}}'s</th>
			</tr>
			{% for Tag in tags %}
				<tr>
					<td><a href="{{path('admin_tag_view', {'tag': Tag.label})}}"><span>{{Tag.label}}</span></a></td>
					<td class="center"></td>
					<td class="center"></td>
					<td class="center"></td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
