<section class="navbar">
  <div class="container">

    <div class="logo float-left">
      <a href="{{ path('homepage') }}">
        {% if Settings is defined %}
          <img src="{{Settings.logo}}">
        {% endif %}
      </a>
    </div>

    <div class="float-right nav-container">
      <div class="nav-main">
        {#
        {% if app.user %}
        <ul class="nav d-none d-xl-inline-block">
          <li class="has-children">
            <a>
              <i class="far fa-user d-none d-xl-inline-block"></i>
              <span>{{'Mijn account'|trans({})|raw}}</a></span>
            </a>
            <span class="togglesub"><i></i></span>

            <ul class="text-left">
              <li class="d-none d-xl-block">
                <a href="/mijn-account">
                  <i class="far fa-fw fa-user"></i>
                  {{'Mijn account'|trans({})|raw}}</a>
              </li>
              <li>
                <a href="/mijn-account/mijn-bestellingen">
                  <i class="far fa-fw fa-list-alt d-none d-xl-inline-block"></i>
                  {{'Mijn bestellingen'|trans({})|raw}}</a>
              </li>
              <li>
                <a href="/mijn-account/mijn-favorieten">
                  <i class="far fa-fw fa-heart d-none d-xl-inline-block"></i>
                  {{'Mijn favorieten'|trans({})|raw}}</a>
              </li>
              <li>
                <a href="/mijn-account/mijn-cadeaukaarten">
                  <i class="fa fa-fw fa-gift d-none d-xl-inline-block"></i>
                  {{'Mijn cadeaukaarten'|trans({})|raw}}</a>
              </li>
              <li>
                <a href="/logout">
                  <i class="fa fa-fw fa-power-off d-none d-xl-inline-block"></i>
                  {{'Uitloggen'|trans({})|raw}}</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <ul class="nav d-none d-xl-inline-block">
          <li>
            <a href="/mijn-account">
              <i class="far fa-user d-none d-xl-inline-block"></i>
              <span>{{'Inloggen / Registreren'|trans({})|raw}}</a></span>
            </a>
          </li>
        </ul>
        {% endif %}
        #}
      </div>

      {% if webshop_enabled is defined and webshop_enabled %}
        <div class="nav-webshop">
          <ul class="nav">
          {{ webshop_cart('<li>', '</li>') }}
          </ul>
        </div>
      {% endif %}

      <div class="nav-mobile d-xl-none">
        <div class="nav-buttons">
          {#
          <a href="#">
            <i class="fa fa-phone-alt"></i>
          </a>
          #}

          {% if app.user %}
          <div class="dropdown d-inline-block">
            <a class="dropdown-toggle" id="account-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-user"></i>
            </a>
            {#
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="account-dropdown">
              <li>
                <a href="/mijn-account">
                  <i class="far fa-fw fa-user"></i>
                  {{'Mijn account'|trans({})|raw}}</a>
              </li>
              <li>
                <a href="/mijn-account/mijn-bestellingen">
                  <i class="far fa-fw fa-list-alt"></i>
                  {{'Mijn bestellingen'|trans({})|raw}}</a>
              </li>
              <li>
                <a href="/mijn-account/mijn-favorieten">
                  <i class="far fa-fw fa-heart"></i>
                  {{'Mijn favorieten'|trans({})|raw}}</a>
              </li>
              <li>
                <a href="/mijn-account/mijn-cadeaukaarten">
                  <i class="fa fa-fw fa-gift"></i>
                  {{'Mijn cadeaukaarten'|trans({})|raw}}</a>
              </li>
              <li>
                <a href="/logout">
                  <i class="fa fa-fw fa-power-off"></i>
                  {{'Uitloggen'|trans({})|raw}}</a>
              </li>
            </ul>
            #}
          </div>
          {% else %}
            <a href="/mijn-account">
              <i class="far fa-user"></i>
            </a>
          {% endif %}
        </div>

        {# <div class="nav-toggle">
          <div class="bars">
            <div class="bar">
              <span></span>
            </div>
            <div class="bar">
              <span></span>
            </div>
            <div class="bar">
              <span></span>
            </div>
          </div>
        </div> #}
      </div>
    </div>
  </div>
</section>
