<section class="navbar">
  <div class="container">

    <div class="logo float-left">
      <a href="{{ path('homepage') }}">
        {% if Settings is defined %}
          <img src="{{Settings.logo}}">
        {% endif %}
      </a>
    </div>

    <div class="float-right nav-container">
      <div class="nav-main">
        <ul class="nav">
          {# <li><a href="/">Home</a></li>
          <li><a href="#">Carbon tracking</a></li>
          <li><a href="/projecten">Projecten</a></li>
          <li><a href="#">Over ons</a></li> #}

          {{ custom_navigation('menu', '', false) }}

          <li class="has-children d-none d-xl-inline-block user-btn">
            {% if app.user %}
              <a href="/mijn-account">
                Mijn account
                {# <span class="togglesub"><i></i></span> #}
              </a>

              <ul>
                {{ custom_navigation('my-account', '', false) }}
              </ul>
            {% else %}
              <a href="/mijn-account">
                Inloggen
              </a>
            {% endif %}
          </li>
        </ul>

        {# <ul class="nav">
          <li class="contact"><a href="#"><i class="fa fa-phone-alt"></i> Contact</a></li>
        </ul> #}
      </div>

      <div class="nav-mobile d-xl-none">
        <div class="nav-buttons">
          {% if app.user %}
            <a class="dropdown-toggle" id="account-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              <i class="far fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="account-dropdown">
              {{ custom_navigation('my-account', '', false) }}
            </ul>
          {% else %}
            <a href="/mijn-account">
              <i class="far fa-user"></i>
            </a>
          {% endif %}
        </div>

        <div class="nav-toggle">
          <div class="bars">
            <div class="bar">
              <span></span>
            </div>
            <div class="bar">
              <span></span>
            </div>
            <div class="bar">
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
var xhr = new XMLHttpRequest();
xhr.onreadystatechange = function (r) {
	if (xhr.readyState !== 4) return;
	if (xhr.status >= 200 && xhr.status < 300) {
    let users = document.querySelectorAll('.user-login');
    let guests = document.querySelectorAll('.user-guest');
		if(JSON.parse(xhr.response).logged_in){
      for(let i = 0; i < guests.length; i++){
        guests[i].classList.add('hidden');
      }
      for(let i = 0; i < users.length; i++){
        users[i].classList.remove('hidden');
      }
    }else{
      for(let i = 0; i < guests.length; i++){
        guests[i].classList.remove('hidden');
      }
      for(let i = 0; i < users.length; i++){
        users[i].classList.add('hidden');
      }
    }
	}
};

xhr.open('GET', '{{path('nav_account')}}');
xhr.send();
</script>
