{% trans_default_domain 'cms' %}
{% if done is defined %}

    {# <div class="card">
        <div class="card-content center-align">
            De pagina wordt vernieuwd...
        </div>
    </div> #}

    <script>
    // window.location.reload(false); 
    setTimeout(function(){
    	cpop.close();
    }, 100);
    </script>
{% else %}
	{{ form_start(form) }}
	{{ form_errors(form) }}
    
    {{ form_row(form.slideUrl, { 'label': 'Klikbare slide (overruled geconfigureerd knoppen)' | trans }) }}
    {{ form_row(form.classes, { 'label': 'Classes voor deze specifieke slider entry' | trans }) }}

	<input type="hidden" id="pagesort" name="pagesort" value="" />

	<button type="submit" class="btn waves-effect waves-light"><i class="material-icons left">save</i>{{'Opslaan'|trans}}</button>
	{{ form_end(form) }}
{% endif %}
