{% trans_default_domain 'cms' %}

{% set firstSliderName = '' %}
{% for Slider in linkdata.sliders %}
	{% if firstSliderName is empty %}
		{% set firstSliderName = Slider.label %}
	{% endif %}
{% endfor %}

<input type="hidden" id="lbl_slider" name="slider" value="{{firstSliderName}}" />

<div class="control-group ">
	<div class="mb-2"><b>{{'Slider'|trans}}</b></div>
	<div class="controls">
		<select name="id" id="config_id" class="form-select" onchange="$('#lbl_slider').val($(this).find('option:selected').text());">
			{% for Slider in linkdata.sliders %}
				<option {{Slider.id == app.request.get('id') ? 'selected="selected"' : ''}} value="{{Slider.id}}">{{Slider.label}}</option>
			{% endfor %}
		</select>
	</div>
</div>
