{% trans_default_domain 'cms' %}

{% set pass_length  = ('Minimaal 8 tekens.'|trans({}, 'cms', app.request.locale)) %}
{% set pass_number  = ('Minimaal één cijfer.'|trans({}, 'cms', app.request.locale)) %}
{% set pass_letter  = ('Minimaal één kleine letter.'|trans({}, 'cms', app.request.locale)) %}
{% set pass_capital = ('Minimaal één hoofdletter.'|trans({}, 'cms', app.request.locale)) %}
{% set pass_chars   = ('Minimaal één van de volgende tekens:'|trans({}, 'cms', app.request.locale)) %}

{% if file_exists('../templates/override/cms/password_forgotten_link.html.twig') %}
		{% include 'override/cms/password_forgotten_link.html.twig' %}
{% else %}

<div class="login-register">
	<div class="row">
		<div class="col-12 col-md-4 offset-md-4">
			<div class="card">
				<div class="card-body">
					<h4>Wachtwoord vergeten</h4>
					{% if status == 'changed' %}
						<p>Het wachtwoord is veranderd. Er kan nu worden ingelogd met het nieuwe wachtwoord.</p>
						<a href="/mijn-account" class="btn">Terug naar inloggen</a>
					{% elseif status == 'allowed' or status == 'not_same' %}
						{% if status == 'not_same' %}
							<div class="alert alert-warning" role="alert">
								De wachtwoorden komen niet overeen.
							</div>
						{% endif %}
						<form id="password-form" method="post">
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<div class="form-floating">
											<input type="password" required id="plainPassword_first" name="plainPassword[first]" class="form-control" placeholder="Wachtwoord" />
											<label for="plainPassword_first">Wachtwoord</label>
										</div>
									</div>
								</div>

								<div class="col-12">
									<div class="form-group">
									<div class="form-floating">
										<input type="password" required id="plainPassword_second" name="plainPassword[second]" class="form-control" placeholder="Wachtwoord (controle)" />
											<label for="plainPassword_second">Wachtwoord (controle)</label>
										</div>
									</div>
								</div>
							</div>

								<button type="submit" class="btn-primary btn">Wachtwoord wijzigen</button>
							</form>
						{% elseif status == 'expired' %}
							<p>De link is verlopen.</p>
						{% elseif status == 'user_not_found' %}
							<p>De link is verlopen.</p>
						{% elseif status == 'missing_hash' %}
							<p>De link is verlopen.</p>
						{% else %}
							<form id="login-form" method="post">
								{% if send %}
									<p>{{'Als het e-mailadres bij ons bekend is, wordt er binnen enkele ogenblikken een e-mail verstuurd.'|trans({}, 'cms', app.request.locale)|raw}}</p>
								{% else %}
									{% if unknownUser %}
										<p>{{'Als het e-mailadres bij ons bekend is, wordt er binnen enkele ogenblikken een e-mail verstuurd.'|trans({}, 'login', app.request.locale)|raw}}</p>
									{% else %}
										<div class="form-group">
											<div class="form-floating">
											<input autocomplete="off" required type="email" class="form-control"  id="_username" name="_username" value="" placeholder="{{'E-mailadres'|trans({}, 'login', app.request.locale)}}">
											<label for="_username">E-mailadres</label>
											</div>
										</div>
										<button class="btn" type="submit" name="login">{{'Aanvragen'|trans({}, 'login', app.request.locale)}}</button>
										<span class="btn btn-blank" onclick="history.back()">{{'Annuleren'|trans({}, 'login', app.request.locale)}}</span>
									{% endif %}
								{% endif %}
							</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% endif %}

{% block javascripts %}
<script defer src="/bundles/cms/js/utils.js"></script>

<script defer>
setTimeout(function() {
	console.log($( "#password-form" ));
	$( "#password-form" ).on('submit', function( event ) {
		event.preventDefault();

		$( "#password-form" ).find('button[type="submit"]').attr("disabled","disabled").addClass("disabled").prepend("<i class='fa fa-spinner fa-spin '></i>&nbsp;");
		$( "#password-form" )[0].submit();
		/*
		if($('#plainPassword_first').hasClass('valid')){
			console.log('right!');
		} else {
			console.log('wrong! :(');
			event.preventDefault();
			return false;
		}
		*/
	});
}, 500);

setTimeout(function() {
	console.log($( "#login-form" ));
	$( "#login-form" ).on('submit', function( event ) {
		event.preventDefault();
		$( "#login-form" ).find('button[type="submit"]').attr("disabled","disabled").addClass("disabled").prepend("<i class='fa fa-spinner fa-spin '></i>&nbsp;");
		$( "#login-form" )[0].submit();
	});
}, 500);
</script>
{% endblock %}
