{% trans_default_domain 'cms' %}
{% if overridekey is defined and overridekey is not empty and file_exists('../templates/override/' ~ overridekey ~ '/cms/password_forgotten.html.twig') %}
	{% include 'override/' ~ overridekey ~ '/cms/password_forgotten.html.twig' %}
{% elseif file_exists('../templates/override/cms/password_forgotten.html.twig') %}
	{% include 'override/cms/password_forgotten.html.twig' %}
{% else %}
	<div class="login-register">
		{% if app.user %}
			{{'Je bent al ingelogd, je wordt doorgestuurd.'|trans({}, 'cms', app.request.locale)}}
			<meta http-equiv="refresh" content="1; url={{url}}" />
		{% else %}
			{% if file_exists('../templates/override/cms/password_forgotten.html.twig') %}
				{% include 'override/cms/password_forgotten.html.twig' %}
			{% else %}
				{% if app.request.xmlHttpRequest %}
					<h1>{{'Wachtwoord vergeten'|trans({}, 'cms', app.request.locale)|raw}}</h1>
				{% endif %}
					<form id="login-form" method="post">
						{% if changed %}
							<p>{{'Als het e-mailadres bij ons bekend zijn, wordt er binnen enkele ogenblikken een e-mail verstuurd.'|trans({}, 'cms', app.request.locale)|raw}}</p>

							{% if app.request.xmlHttpRequest %}
								<p>{{'U kunt deze popup nu sluiten.'|trans({}, 'cms', app.request.locale)|raw}}</p>
							{% else %}
								<a href="{{target}}" class="btn btn-primary">{{'Terug naar inloggen'|trans({}, 'login', app.request.locale)|raw}}</a>
							{% endif %}
						{% else %}
							{% if unknownUser %}
								<p>{{'Als het e-mailadres bij ons bekend zijn, wordt er binnen enkele ogenblikken een e-mail verstuurd.'|trans({}, 'login', app.request.locale)|raw}}</p>
							{% else %}
								<div class="form-group">
									<label for="_username">{{'E-mailadres'|trans({}, 'login', app.request.locale)}}</label>
									<input autocomplete="off" required type="email"  class="form-control" id="_username" name="_username" value="">
								</div>
								<button class="btn" type="submit" name="login">{{'Wachtwoord aanvragen'|trans({}, 'login', app.request.locale)}}</button>
							{% endif %}
						{% endif %}
					</form>
			{% endif %}
		{% endif %}
	{% endif %}
</div>

{% block javascripts %}
<script defer>
setTimeout(function() {
	console.log($( "#login-form" ));
	$( "#login-form" ).on('submit', function( event ) {
		$( "#login-form" ).find('button[type="submit"]').attr("disabled","disabled").addClass("disabled").prepend("<i class='fa fa-spinner fa-spin '></i>&nbsp;");
	});
}, 500);
</script>
{% endblock %}
