{% trans_default_domain 'cms' %}


{% if Settings.getPostNlChecker() %}
	<script defer src="/bundles/cms/js/postnl.js"></script>
	<style>
		select.disabled{
			background: #e9ecef;
			pointer-events: none;
			touch-action: none;
		}
	</style>
{% elseif Settings.apiPostcodeToken() %}
	<script>
		let pcapitoken = '{{Settings.apiPostcodeToken}}';
	</script>
	<script defer src="/bundles/cms/js/pc-api.js"></script>
	<style>
		select.disabled{
			background: #e9ecef;
			pointer-events: none;
			touch-action: none;
		}
	</style>
{% endif %}

{% if config.enabled is defined and config.enabled is not empty and Settings.allowRegistration %}
	{% if overridekey is defined and overridekey is not empty and file_exists('../templates/override/' ~ overridekey ~ '/cms/register.html.twig') %}
		{% include 'override/' ~ overridekey ~ '/cms/register.html.twig' %}
	{% elseif file_exists('../templates/override/cms/register.html.twig') %}
		{% include 'override/cms/register.html.twig' %}
	{% else %}
		<section class="webshop-frontend-profile">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">

					{% set pass_length  = ('Minimaal 8 tekens.'|trans({}, 'cms', app.request.locale)) %}
					{% set pass_number  = ('Minimaal één cijfer.'|trans({}, 'cms', app.request.locale)) %}
					{% set pass_letter  = ('Minimaal één kleine letter.'|trans({}, 'cms', app.request.locale)) %}
					{% set pass_capital = ('Minimaal één hoofdletter.'|trans({}, 'cms', app.request.locale)) %}
					{% set pass_chars   = ('Minimaal één van de volgende tekens:'|trans({}, 'cms', app.request.locale)) %}

					{% if app.user %}
						{{'Je bent succesvol geregistreerd, je wordt doorgestuurd.'|trans({}, 'cms', app.request.locale)}}
						<meta http-equiv="refresh" content="1; url={{url}}" />
					{% else %}
						{% form_theme form '@Cms/form.html.twig' %}

						{{ form_start(form) }}

						{% if not form.vars.valid %}
							{{ form_errors(form) }}
						{% endif %}
							<div class="card">
								<div class="card-header">
									{{'Registreren'|trans({}, 'cms', app.request.locale)|raw}}
								</div>
								<div class="card-body company-card">
									<div class="card-title"><h6>{{'Type gebruiker'|trans({}, 'webshop', app.request.locale)}}</h6></div>
									<div class="form-group">
										<div class="row mb-3">
											<div class="col-12">
												<div class="form-check form-check-inline">
													<input checked onclick="disableCompany()" class="form-check-input" type="radio" id="opt-consumer" name="type-order" value="consumer">
													<label class="form-check-label" for="opt-consumer">Particulier</label>
												</div>
												<div class="form-check form-check-inline">
													<input onclick="enableCompany()" class="form-check-input" type="radio" id="opt-company" name="type-order" value="company">
													<label class="form-check-label" for="opt-company">Zakelijk</label>
												</div>
											</div>
										</div>
									</div>
						{# {% if config.company is defined %} #}
									<div id="company-form" style="display:none;">
										<div class="card-title"><h6>{{'Bedrijfsgegevens'|trans({}, 'webshop', app.request.locale)}}</h6></div>
										<div class="form-group">
											<div class="row mb-3">
												<div class="col-12">
													<div class="form-floating input_cont">
														{{form_row(form.company)}}
													</div>
												</div>
												{% if config.companyKvk is defined %}
													<div class="col-12">
														<div class="form-floating input_cont">
															{{form_row(form.companyKvk)}}
														</div>
													</div>
												{% endif %}
												{% if config.companyTaxNo is defined %}
													<div class="col-12">
														<div class="form-floating input_cont">
															{{form_row(form.companyTaxNo)}}
														</div>
													</div>
												{% endif %}
												{% if config.companyEmail is defined %}
													<div class="col-12">
														<div class="form-floating input_cont">
															{{form_row(form.companyEmail)}}
														</div>
													</div>
												{% endif %}
												{% if config.companyPhone is defined %}
													<div class="col-12">
														<div class="form-floating input_cont">
															{{form_row(form.companyPhone)}}
														</div>
													</div>
												{% endif %}
											</div>
										</div>
									</div>
							{# {% endif %} #}
							{% if message is not empty %}
								<div class="alert alert-warning" role="alert">
									{{message|raw}}
								</div>
							{% endif %}

							{% if done %}
							{% else %}

							<div class="row mb-3">
					<div class="col-12">
					<h6>{{'Persoonsgegevens'|trans({}, 'webshop', app.request.locale)|raw}}</h6>
					</div>
								<div class="col-12">
									{{ form_row(form.gender) }}
								</div>
								<div class="col-12 col-sm-12 col-md-6">
									{{ form_row(form.firstname) }}
								</div>
								<div class="col-12 col-sm-12 col-md-6">
									{{ form_row(form.lastname) }}
								</div>
								<div class="col-12 col-sm-12 col-md-12">
									{{ form_row(form.phone) }}
								</div>
								<div class="col-12 col-sm-12 col-md-12">
									{{ form_row(form.email) }}
								</div>

								{% if config.website is defined %}
										<div class="col-12 col-sm-12 col-md-12">
											{{form_row(form.website)}}
										</div>
								{% endif %}

								{% if Settings.birthdayFields is defined and Settings.birthdayFields is not empty %}
										<div class="col-12 col-sm-12 col-md-12">
											{{form_row(form.dateOfBirth)}}
										</div>
								{% endif %}
							</div>

							<div class="row mb-3">
								<div class="col-12">
									<h6>{{'Adresgegevens'|trans({}, 'webshop', app.request.locale)|raw}}</h6>
								</div>

								{% if Settings.postNlChecker or Settings.apiPostcodeToken is not empty %}
									{# POSTALCODE FIRST #}

									<div class="col-12 col-sm-12 col-md-7">
										{{ form_row(form.postalcode) }}
									</div>
									<div class="col-12 col-sm-12 col-md-3">
										{{ form_row(form.number) }}
									</div>
									<div class="col-12 col-sm-12 col-md-2">
										{{ form_row(form.number_add) }}
									</div>

									<div class="custom-control form-check mb-2">
										<input class="form-check-input" onclick="toggleAddressValidation(this)" type="checkbox" name="invoice_address_manual" value="1" id="check-address-manual" />
										<label class="form-check-label" for="check-address-manual">{{'Adres handmatig invoeren'|trans({}, 'cms', app.request.locale)|raw}}</label>
									</div>

									<div class="col-12 col-sm-12 col-md-12">
										{{ form_row(form.street, {'attr' : {'readonly': true, 'class': 'disabled'}}) }}
									</div>
									<div class="col-12 col-sm-12 col-md-12">
										{{ form_row(form.city, {'attr' : {'readonly': true, 'class': 'disabled'}}) }}
									</div>
									<div class="col-12 col-sm-12 col-md-12">
										{{ form_row(form.country, {'attr' : {'readonly': true, 'class': 'disabled'}}) }}
									</div>
								{% else %}
									{# REGULAR FORM #}

									<div class="col-12 col-sm-12 col-md-9">
										{{ form_row(form.street) }}
									</div>
									<div class="col-12 col-sm-12 col-md-3">
										{{ form_row(form.number) }}
									</div>
									<div class="col-12 col-sm-12 col-md-4">
										{{ form_row(form.postalcode) }}
									</div>
									<div class="col-12 col-sm-12 col-md-8">
										{{ form_row(form.city) }}
									</div>
									<div class="col-12 col-sm-12 col-md-12">
										{{ form_row(form.country) }}
									</div>
								{% endif %}
							</div>

							<div class="row mb-3">
					<div class="col-12">
					<h6>{{'Inloggegevens'|trans({}, 'webshop', app.request.locale)|raw}}</h6>
					</div>
								<div class="col-12 col-sm-12 col-md-6">
									<div class="form-floating">
										{{ form_widget(form.plainPassword.first) }}
										{{ form_label(form.plainPassword.first) }}
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-6">
									<div class="form-floating">
										{{ form_widget(form.plainPassword.second) }}
										{{ form_label(form.plainPassword.second) }}
									</div>
									{{ form_errors(form.plainPassword.first) }}
								</div>
							</div>
					{% if Settings.hasGoogleRecaptcha() %}
					<div class="recaptcha">
					{{ Settings.getGoogleRecaptchaWidget() | raw }}
					</div>
					{% endif %}



									{# {% if config.company is defined %}
										<div class="row mb-3">
										<div class="col-12">
										<div class="form-check">
										<input
										class="form-check-input"
										type="checkbox"
										onclick="if(this.checked){$('.am_company').show();}else{$('.am_company').hide();}"
										name="is_company"
										{% if Cart is defined %}
										{{Cart.company is not empty ? 'checked' : ''}}
										{% endif %}
										value="1"
										id="check-is_company" />
										<label class="form-check-label" for="check-is_company">
										{{'Ik ben een bedrijf'|trans({}, 'webshop', app.request.locale)|raw}}
										</label>
										</div>
										</div>
										</div>

										<div class="row am_company" style="display:none;">
											<div class="col-12">
												<h6>{{'Bedrijfsgegevens'|trans({}, 'webshop', app.request.locale)|raw}}</h6>
											</div>
											<div class="col-12 col-sm-12 col-md-12">
												{{form_row(form.company)}}
											</div>
										</div>
									{% endif %} #}

									{# <div class="row am_company" style="display:none;">
										{% if config.companyEmail is defined %}
											<div class="col-12 col-sm-12 col-md-6">
												{{form_row(form.companyEmail)}}
											</div>
										{% endif %}
										{% if config.companyPhone is defined %}
											<div class="col-12 col-sm-12 col-md-6">
												{{form_row(form.companyPhone)}}
											</div>
										{% endif %}
										{% if config.companyKvk is defined %}
											<div class="col-12 col-sm-12 col-md-6">
												{{form_row(form.companyKvk)}}
											</div>
										{% endif %}
										{% if config.companyTaxNo is defined %}
											<div class="col-12 col-sm-12 col-md-6">
												{{form_row(form.companyTaxNo)}}
											</div>
										{% endif %}
									</div> #}
						</div>
						<div class="card-footer">
								<div class="row">
									<div class="col-12 col-sm-12 col-md-12">
										<button type="submit" class="btn btn-primary float-right">{{'Registratie voltooien'|trans({}, 'cms', app.request.locale)}}</button>
							</div>
								</div>
							</div>
						</div>

							{{ form_end(form) }}
						{% endif %}
					{% endif %}
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% else %}
	<div class="alert alert-danger">{{'Het registreren van een nieuw account is op dit moment niet beschikbaar.'|trans({}, 'cms', app.request.locale)}}</div>
{% endif %}

<script defer src="/bundles/cms/js/utils.js"></script>
<script defer src="/bundles/cms/js/form_validation.js"></script>

<script>
function disableCompany(){
	$('#company-form').hide();
	$('#form_company').removeClass('validate');
	$('#form_company').prop('required', false);
}

function enableCompany(){
	$('#company-form').show();
	$('#form_company').addClass('validate');
	$('#form_company').prop('required', true);
}
</script>