{% if bundles is defined %}
	<div class="card">
		<div class="card-content">
			<table style="width:100%;" class="striped">
				<thead>
					<tr>
						<th>Extensie</th>
						<th style="width:100px;text-align:center;">{{ 'Beschikbaar' | trans }}</th>
						<th style="width:140px;text-align:center;">{{ 'Laatste versie' | trans }}</th>
						<th style="width:155px;">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for name,bundle in bundles.bundles %}
						{% set mybundle = null %}
						{% set canUpdate = false %}
						{% set canInstall = false %}
						{% set reInstall = false %}
						{% if Client.bundles[name] is defined %}
							{% set mybundle = Client.bundles[name] %}
							{% if mybundle.version %}
								{% if mybundle.version.version != bundle.tag %}
									{% set canUpdate = true %}
								{% else %}
									{% set reInstall = true %}
								{% endif %}
							{% else %}
								{% set canUpdate = true %}
							{% endif %}
						{% else %}
							{% set canInstall = true %}
						{% endif %}

						<tr>
							<td>
								{{name}}
							</td>
							<td style="text-align:center;">
								{{bundle.tag}}
							</td>
							<td style="text-align:center;">
								{% if mybundle %}
									{{mybundle.version ? mybundle.version.version : ('n.v.t.'| trans)}}
								{% else %}
									<span class="grey-text">{{ 'Niet geïnstalleerd' | trans }}</span>
								{% endif %}
							</td>
							<td class="right-align">
								{% if canInstall %}
									<a style="margin:0;" href="#" onclick="cpop.reset().loadAjax('{{path('admin_cc_bundles', {'domain':domain, 'action':'install', 'bundle':name, 'tag':bundle.tag})}}');return false;" class="btn">{{ 'Installeren' | trans }}</a>
								{% endif %}
								{% if canUpdate %}
									<a style="margin:0;" href="#" onclick="cpop.reset().loadAjax('{{path('admin_cc_bundles', {'domain':domain, 'action':'install', 'bundle':name, 'tag':bundle.tag})}}');return false;" class="btn">{{ 'Updaten' | trans }}</a>
								{% endif %}
								{% if reInstall %}
									<a style="margin:0;" href="#" onclick="cpop.reset().loadAjax('{{path('admin_cc_bundles', {'domain':domain, 'action':'install', 'bundle':name, 'tag':bundle.tag})}}');return false;" class="btn orange">{{ 'Vernieuwen' | trans }}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div id="popup_footer">
		<button class="btn" onclick="cpop.close()">{{ 'Sluiten' | trans }}</button>
	</div>
{% else %}
	<div class="card">
	<div class="card-content">
		<table style="width:100%;" class="striped">
			<thead>
				<tr>
					<th style="width:50%;">{{ 'Extensie' | trans }}</th>
					<th>{{ 'Versie' | trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for name,bundle in Client.bundles %}
						<tr>
							<td>
								{{name}}
							</td>
							<td>
								{{bundle.version ? bundle.version.version : ('n.v.t.' | trans )}}
							</td>
						</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	</div>

	<div id="popup_footer">
		<button class="btn" onclick="cpop.close()">{{ 'Sluiten' | trans }}</button>
		{# {% if Client.canUpdate %} #}
			<a class="btn" href="#" onclick="cpop.reset().loadAjax('{{path('admin_cc_bundles', {'domain':domain, 'action':'install'})}}');return false;">{{ 'Bundel installeren' | trans }}</a>
		{# {% else %} #}
			{# <a class="btn grey lighten-1">v1.0.16 vereist</a> #}
		{# {% endif %} #}
	</div>
{% endif %}