{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block body %}

	<div style="position:relative;">
		<div class="site-actions" style="position: absolute;top: -40px;right: 10px;">
			{% if Client.warnings %}
				<a href="#" class="btn orange" onclick="cpop.reset().loadAjax('{{ path('admin_cc_warnings', {'domain':Client.domain}) }}');return false;" title="{{'Fouten gevonden'|trans}}"><i class="material-icons left">warning</i>{{ 'Fouten gevonden' | trans }}</a>
			{% endif %}
			{% if Client.canRefresh %}
				<a href="#" class="btn" onclick="cpop.reset().loadAjax('{{ path('admin_cc_refresh', {'domain':Client.domain}) }}');return false;" title="{{'Verversen'|trans}}"><i class="material-icons left">refresh</i>{{ 'Vernieuwen' | trans }}</a>
			{% else %}
				<a style="opacity:0.3;" class="btn" title="{{ 'Minimaal Trinity 1.0.16 benodigd' | trans }}"><i class="material-icons left">refresh</i>{{ 'Vernieuwen' | trans }}</a>
			{% endif %}
			<a href="#" class="btn" onclick="cpop.reset().loadAjax('{{ path('admin_cc_ping', {'domain':Client.domain}) }}');return false;" title="{{'Ping'|trans}}"><i class="material-icons left">notifications_none</i>{{ 'Ping' | trans }}</a>
			{% if Client.canUpdate %}
				<a href="#" class="btn" onclick="cpop.reset().loadAjax('{{ path('admin_cc_update', {'domain':Client.domain}) }}');return false;" title="{{'Updaten'|trans}}"><i class="material-icons left">update</i>{{ 'Updaten' | trans }}</a>
			{% else %}
				<a style="opacity:0.3;" class="btn" title="{{ 'Minimaal Trinity 1.0.13 benodigd' | trans }}"><i class="material-icons left">update</i>{{ 'Updaten' | trans }}</a>
			{% endif %}
		</div>
	</div>

	{# {{dump(Client)}} #}
	<div class="row">

		<div class="col s12 m8">
			<div class="card">
				<div class="card-content">
					<div class="card-title">{{ 'Website informatie' | trans }}</div>
					<table class="striped">
						<tbody>
							<tr>
								<th>{{ 'Titel' | trans }}</th>
								<td>{{Client.title}}</td>
							</tr>
							<tr>
								<th>{{ 'URL' | trans }}</th>
								<td>{{Client.url}}</td>
							</tr>
							<tr>
								<th>{{ 'Trinity versie' | trans }}</th>
								<td>{{Client.version}}</td>
							</tr>
							<tr>
								<th>{{ 'Symfony versie' | trans }}</th>
								<td>{{Client.symfonyVersion}}</td>
							</tr>
							<tr>
								<th>{{ 'Aantal bundels' | trans }}</th>
								<td>{{Client.bundles|length}}</td>
							</tr>
							<tr>
								<th>{{ 'Matomo URL' | trans }}</th>
								<td>{{Client.matomoUrl}}</td>
							</tr>
							<tr>
								<th>{{ 'Matomo hash' | trans }}</th>
								<td>{{Client.matomoHash}}</td>
							</tr>
							<tr>
								<th>{{ 'API token' | trans }}</th>
								<td>{{Client.apiKey}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col s12 m4">
			<div class="card">
				<div class="card-content">
					<div class="card-title">{{ 'Tags' | trans }}</div>
					<form method="post">
						<input name="tagssubmit" type="hidden" value="1">
						<select name="tags[]" class="frm_tags" multiple="multiple">
							{% for Tag in tags %}
								<option {{Tag in Client.tags ? 'selected' : ''}} value="{{Tag.id}}">{{Tag.label}}</option>
							{% endfor %}
						</select>
						<button type="submit" class="btn" style="margin-top:20px;">{{ 'Tags opslaan' | trans }}</button>
					</form>
				</div>
			</div>
		</div>

		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<div class="card-title">{{ 'DNS' | trans }}</div>
					{% if Client.dns %}
						<table style="width:100%;" class="striped">
							<thead>
								<tr>
									<th style="width:150px;">{{ 'Type' | trans }}</th>
									<th style="width:150px;">{{ 'TTL' | trans }}</th>
									<th>{{ 'Regel' | trans }}</th>
								</tr>
							</thead>
							<tbody>
								{% for record in Client.dns %}
                                                                    {% if record.type != 'SOA' %}
									<tr>
										<td>{{record.type}}</td>
										<td>{{record.ttl}}</td>
										<td>{{(record.type == 'MX' ? record.pri ~ ' ' : '') ~ record.rule}}</td>
									</tr>
                                                                    {% endif %}
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						{{ 'Geen DNS gegevens bekend' | trans }}
					{% endif %}
				</div>
			</div>
		</div>

		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<div class="card-title">{{ 'Geïnstalleerde bundels' | trans }}</div>
					<table class="striped">
						<thead>
							<tr>
								<th>{{ 'Bundel' | trans }}</th>
								<th style="width:100px;" class="center-align">{{ 'Versie' | trans }}</th>
								<th style="width:400px;">{{ 'Git hash' | trans }}</th>
								<th style="width:200px;" class="center-align">{{ 'Datum versie' | trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for label,data in Client.bundles %}
								<tr>
									<td>{{label}}</td>
									<td class="center-align">{{(data.version ? data.version.version: '')}}</td>
									<td>{{(data.version ? data.version.git_hash_long: '')}}</td>
									<td class="center-align">{{(data.version ? data.version.date|date('d-m-Y'): '')}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<div class="card-title">{{ 'Uptime monitor' | trans }}</div>
					<table>
						<thead>
							<tr>
								<td style="width:150px;">{{ 'Actief' | trans }}</td>
								<td style="width:100px;" class="center-align">{{ 'Status' | trans }}</td>
								<td>{{ 'Contacten' | trans }}</td>
								<td style="width:200px;" class="center-align">{{ 'Laatste check' | trans }}</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{% if Client.monitor %}<i class="material-icons">check_circle</i>{% endif %}</td>
								<td class="center-align">{{Client.monitorStatus}}</td>
								<td>{{Client.monitorEmails|join(', ')}}</td>
								<td class="center-align">{{Client.monitorDate|date('d-m-Y H:i:s')}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<script>
	$(function(){
		$(".frm_tags").select2({
			tags: true
		});
	});
	</script>
{% endblock %}
