{#
    {
        "key": "framework_cards",
        "category": "Framework",
        "label": "Cards",
        "description": "Toont een dynamisch aantal kaarten naast elkaar",
        "allowMove": true,
        "blocks": [
            {
                "key": "block-0",
                "size": 4,
                "buttons": true,
                "multiple": true,
                "minimum": 3,
                "required": "media",
                "fields": [
                    {
                        "key": "title",
                        "type": "text",
                        "label": "Card title"
                    },
                    {
                        "key": "content",
                        "type": "textarea",
                        "label": "Tekst"
                    }
                ]
            }
        ]
    }
#}

<section
class="cards {{wrapper.classList}}"
id="{{wrapper.cssId is defined ? wrapper.cssId : ''}}"
style="{{wrapper.styleList}}"
data-id="{{wrapper.id}}">

  <div class="container">

    {% if wrapper.label or wrapper.intro is not empty %}
      <div class="introblock">
        {% if wrapper.label is not empty %}
          <div class="introtitle">
            {{wrapper.label|raw}}
          </div>
        {% endif %}
        {% if wrapper.intro is not empty %}
          <div class="introtext">
            {{wrapper.intro|raw}}
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="row blocks">
      {% for b in wrapper.blocks %}
        <div class="col-sm-12 col-md-6 col-lg-{{b.width}} {{b.class}}" {{b.cssid}}>
          <div class="card">
            {% if b.config is defined and b.config.link is defined and b.config.link is not empty %}
            <a href="{{b.config.link}}" {% if b.config.target is defined and b.config.target is not empty %}target="_blank"{% endif %}>
            {% endif %}

            <div class="card-image">
              {% if b.media is not empty %}
                <div class="lcp">
                  {% if b.media.hasBlurred %}
                    <picture>
                      {% if b.media.hasWebp() %}
                        <source srcset="/{{b.media.getBlurredWebpPath('small')}}" type="image/webp">
                      {% endif %}
                      <source srcset="/{{b.media.getBlurredWebPath('small')}}" type="{{b.media.mime}}">
                      <img class="lq" alt="{{b.media.description_alt}}" src="/{{b.media.getBlurredWebPath('small')}}" type="{{b.media.mime}}" loading="lazy" width="{{b.media.width}}" height="{{b.media.height}}">
                    </picture>
                  {% endif %}
                  <picture>
                    {% if b.media.hasWebp() %}
                      <source srcset="/{{b.media.getWebpPath('medium')}}" type="image/webp">
                    {% endif %}
                    <source srcset="/{{b.media.getWebPath('medium')}}" type="{{ b.media.mime }}">
                    <img class="hq" alt="{{b.media.description_alt}}" src="/{{b.media.getWebPath('medium')}}" type="{{b.media.mime}}" loading="lazy" width="{{b.media.width}}" height="{{b.media.height}}" onload="this.style.opacity=1{% if b.media.hasBlurred %};this.closest('.lcp').getElementsByClassName('lq')[0].style.opacity=0;{% endif %}" style="opacity: 0;">
                  </picture>
                </div>
              {% endif %}
            </div>

            <div class="card-body card-content">
              <h3 class="card-title">{{b.config.title}}</h3>
              <div class="text">
                {{b.config.content|raw}}
              </div>

              {% if b.config.buttons is defined %}
                <div class="btns">
                  {% for button in b.config.buttons %}
                    <a href="{{button.url}}" {% if button.target is defined and button.target != "null" %} target="{{button.target}}" {% endif %} class="btn {{button.class}}">
                      {{button.label}}
                      <i class="fa fa-arrow-right"></i>
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            {% if b.config is defined and b.config.link is defined and b.config.link is not empty %}
            </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
