{#
  {
    "key": "framework_tabbed",
    "label": "Tabs",
    "description": "Tabs sectie.",
    "allowMove": true,
    "category": "empty",
    "blocks": [
      {
        "key": "block-0",
        "size": 12,
        "required": "",
        "mediaDrop": true,
        "buttons": true,
        "multiple": true,
        "fields": [
          {
              "key": "title",
              "type": "text",
              "label": "Tab titel"
          }
        ]
      }
    ]
  }
#}

<section
class="tabbed-section {{wrapper.classList}}"
id="{{wrapper.cssId is defined ? wrapper.cssId : ''}}"
style="{{wrapper.styleList}}"
data-id="{{wrapper.id}}">

  <div class="container {{firstBlock.config.class is not empty ? firstBlock.config.class : ''}}">
    {% if wrapper.label or wrapper.intro is not empty %}
      <div class="introblock">
        {% if wrapper.label is not empty %}
          <div class="introtitle" data-edit="wrapper-label">
            {{wrapper.label|raw}}
          </div>
        {% endif %}
        {% if wrapper.intro is not empty %}
          <div class="introtext" data-edit="wrapper-intro">
            {{wrapper.intro|raw}}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="row">
      <div class="col-12">
        <div class="accordion-wrapper d-lg-none">
          <div id="accordion">

            {% for k, b in wrapper.blocks %}
			        {% if b.config.title is not empty %}
              <div class="accordion-group">
                <div id="heading-{{b.id}}" class="header">
                  <div class="heading collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-{{b.id}}" aria-expanded="false" aria-controls="collapse-{{b.id}}">
                    {{b.config.title}}
                  </div>
                </div>
                <div id="collapse-{{b.id}}" class="collapse content" aria-labelledby="heading-{{b.id}}" data-parent="#accordion">
                  <div class="block">
                    {% if b.data.type is defined and b.data.type == 'video' %}
                      <div class="responsive-wrapper">
                        {{b.video|raw}}
                      </div>
                      {% elseif b.media is not empty %}
                      <div class="image-wrapper">

                        {% if b.media is not empty %}
                          <div class="lcp">
                            {% if b.media.hasBlurred %}
                              <picture>
                                {% if b.media.hasWebp() %}
                                  <source srcset="/{{b.media.getBlurredWebpPath('medium')}}" type="image/webp">
                                {% endif %}
                                <source srcset="/{{b.media.getBlurredWebPath('medium')}}" type="{{b.media.mime}}">
                                <img class="lq" alt="{{b.media.description_alt}}" src="/{{b.media.getBlurredWebPath('medium')}}" type="{{b.media.mime}}" loading="lazy" width="{{b.media.width}}" height="{{b.media.height}}">
                              </picture>
                            {% endif %}
                            <picture>
                              {% if b.media.hasWebp() %}
                                <source srcset="/{{b.media.getWebpPath('full')}}" type="image/webp">
                              {% endif %}
                              <source srcset="/{{b.media.getWebPath('full')}}" type="{{ b.media.mime }}">
                            <img class="hq" alt="{{b.media.description_alt}}" src="/{{b.media.getWebPath('full')}}" type="{{b.media.mime}}" loading="lazy" width="{{b.media.width}}" height="{{b.media.height}}" onload="this.style.opacity=1{% if b.media.hasBlurred %};this.closest('.lcp').getElementsByClassName('lq')[0].style.opacity=0;{% endif %}" style="opacity: 0;">
                            </picture>
                          </div>
                        {% endif %}

                        </div>
                      {% else %}

                      <div class="text-wrapper">
                        {{b.content|raw}}
                      </div>
                    {% endif %}

                    {% if b.config.buttons is defined %}
                      <div class="btns">
                        {% for button in b.config.buttons %}
                          <a href="{{button.url}}" {% if button.target is defined and button.target != "null" %} target="{{button.target}}" {% endif %} class="btn {{button.class}}">
                            {{button.label}}
                            <i class="fa fa-arrow-right"></i>
                          </a>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
		          {% endif %}
            {% endfor %}
          </div>
        </div>

        <div class="tabs-wrapper d-none d-lg-block">

      <ul class="nav nav-tabs" id="myTab" role="tablist" style="width: 100%;">
        {% for k, b in wrapper.blocks %}
          {% if b.config.title is not empty %}
          <li class="nav-item">
            <button class="nav-link {{k == 0 ? 'active' : ''}}" id="tab-{{b.id}}-tab" data-bs-toggle="tab" href="#tab-{{b.id}}" role="tab" aria-controls="tab-{{b.id}}" aria-selected="true" data-edit="field-title">
              {{b.config.title}}
            </button>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="tab-content" id="myTabContent">
        {% for k, b in wrapper.blocks %}
          {% if b.config.title is not empty %}
          <div class="tab-pane fade show {{k == 0 ? 'active' : ''}}" id="tab-{{b.id}}" role="tabpanel" aria-labelledby="tab-{{b.id}}-tab">
            <div class="block">
              {% if b.data.type is defined and b.data.type == 'video' %}
                <div class="responsive-wrapper">
                  {{b.video|raw}}
                </div>
                {% elseif b.media is not empty %}
                <div class="image-wrapper">

                  {% if b.media is not empty %}
                    <div class="lcp">
                      {% if b.media.hasBlurred %}
                        <picture>
                          {% if b.media.hasWebp() %}
                            <source srcset="/{{b.media.getBlurredWebpPath('large')}}" type="image/webp">
                          {% endif %}
                          <source srcset="/{{b.media.getBlurredWebPath('large')}}" type="{{b.media.mime}}">
                          <img class="lq" alt="{{b.media.description_alt}}" src="/{{b.media.getBlurredWebPath('large')}}" type="{{b.media.mime}}" loading="lazy" width="{{b.media.width}}" height="{{b.media.height}}">
                        </picture>
                      {% endif %}
                      <picture>
                        {% if b.media.hasWebp() %}
                          <source srcset="/{{b.media.getWebpPath('full')}}" type="image/webp">
                        {% endif %}
                        <source srcset="/{{b.media.getWebPath('full')}}" type="{{ b.media.mime }}">
                      <img class="hq" alt="{{b.media.description_alt}}" src="/{{b.media.getWebPath('full')}}" type="{{b.media.mime}}" loading="lazy" width="{{b.media.width}}" height="{{b.media.height}}" onload="this.style.opacity=1{% if b.media.hasBlurred %};this.closest('.lcp').getElementsByClassName('lq')[0].style.opacity=0;{% endif %}" style="opacity: 0;">
                      </picture>
                    </div>
                  {% endif %}

                  </div>
                {% else %}

                <div class="text-wrapper">
                  {{b.content|raw}}
                </div>
              {% endif %}

              {% if b.config.buttons is defined %}
                <div class="btns">
                  {% for button in b.config.buttons %}
                    <a href="{{button.url}}" {% if button.target is defined and button.target != "null" %} target="{{button.target}}" {% endif %} class="btn {{button.class}}">
                      {{button.label}}
                      <i class="fa fa-arrow-right"></i>
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
    </div>
  </div>
</section>
