{#
  {
    "key": "framework_content_parallax",
    "category": "Framework",
    "label": "Content + afbeelding (Parallax)",
    "description": "...",
    "allowMove": true,
    "divider": true,
    "blocks": [
      {
        "key": "block-0",
        "size": 5,
        "buttons": true,
        "required": "none",
        "fields": [
            {
                "key": "title",
                "type": "text",
                "label": "Titel"
            },
            {
                "key": "text",
                "type": "textarea",
                "label": "Tekst"
            }
        ]
      },
      {
        "key": "block-1",
        "size": 7,
        "required": "media",
        "fields": []
      }
    ]
  }
#}

<section
class="framework_parallax trigger-section {{wrapper.classList}}"
id="{{wrapper.cssId is defined ? wrapper.cssId : ''}}"
style="{{wrapper.styleList}}"
data-id="{{wrapper.id}}">

  <div id="trigger{{wrapper.id}}"></div>
  <div id="animate{{wrapper.id}}">
    <div class="trigger-section-background">
      <div class="row">
        {% for b in wrapper.blocks %}
          <div class="col-12 col-md-6 col-xl-{{b.width}} {{b.config.class}}" id="{{b.config.id}}">
            {% if b.media is not empty %}
              <div class="trigger-section-image">
                <div class="section-image">

                  {% if b.media is not empty %}
                    <div class="lcp lcp-bg parallax">
                      {# {% if b.media.hasBlurred %}
                        <picture>
                          {% if b.media.hasWebp() %}
                            <source srcset="/{{b.media.getBlurredWebpPath('large')}}" type="image/webp">
                          {% endif %}
                          <source srcset="/{{b.media.getBlurredWebPath('large')}}" type="{{b.media.mime}}">
                          <img class="lq image{{wrapper.id}}" alt="{{b.media.description_alt}}" src="/{{b.media.getBlurredWebPath('large')}}" type="{{b.media.mime}}" loading="lazy" width="{{b.media.width}}" height="{{b.media.height}}">
                        </picture>
                      {% endif %} #}
                      <picture>
                        {% if b.media.hasWebp() %}
                          <source srcset="/{{b.media.getWebpPath('full')}}" type="image/webp">
                        {% endif %}
                        <source srcset="/{{b.media.getWebPath('full')}}" type="{{ b.media.mime }}">
                        <img
                          class="hq image{{wrapper.id}}"
                          alt="{{b.media.description_alt}}"
                          src="/{{b.media.getWebPath('full')}}" type="{{b.media.mime}}"
                          loading="lazy"
                          width="{{b.media.width}}"
                          height="{{b.media.height}}"
                          onload="this.style.opacity=1
                          {% if b.media.hasBlurred %};this.closest('.lcp').getElementsByClassName('lq')[0].style.opacity=0;{% endif %}"
                          style="opacity: 0;">
                      </picture>
                    </div>
                  {% endif %}

                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="container">
      <div class="row">

        {% for b in wrapper.blocks %}
          <div class="col-12 col-md-6 col-xl-{{b.width}} {{b.config.class}}" id="{{b.config.id}}">
            <div class="block">
              {% if b.data.type is defined and b.data.type == 'video' %}
                <div class="video-container">
                  <div class="responsive-wrapper">
                    {{b.video|raw}}
                  </div>
                </div>
              {% elseif b.media is not empty %}
                <div class="image-container"></div>
              {% else %}
                <div class="text-container trigger-section-content">
                  {% if b.config.title is not empty %}
                    <div class="section-title">
                      <h2>{{b.config.title}}</h2>
                    </div>
                  {% endif %}

                  <div class="section-content">
                    {{b.config.text|raw}}
                  </div>

                  <div class="section-button">
                    {% if b.config.buttons is defined %}
                      <div class="btns">
                        {% for button in b.config.buttons %}
                          <a href="{{button.url}}" {% if button.target is defined and button.target != "null" %} target="{{button.target}}" {% endif %} class="btn {{button.class}}">
                            {{button.label}}
                            <i class="fa fa-arrow-right"></i>
                          </a>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}

      </div>
    </div>

  </div>
</section>
