{#
    {
        "key": "framework_cta_banner",
        "category": "Framework",
        "label": "Call-to-action",
        "description": "...",
        "allowMove": false,
        "blocks": [
            {
                "key": "block-0",
                "size": 12,
                "required": "none",
                "buttons": "true",
                "fields": [
                    {
                        "key": "text",
                        "type": "textarea",
                        "label": "Tekst"
                    },
                    {
                        "key": "subtext",
                        "type": "textarea",
                        "label": "Sub tekst"
                    }
                ]
            }
        ]
    }
#}

{#
    Available objects:

    - page: current page
    - locale: current locale
    - wrapper: contains the wrapper around multiple blocks.
    - firstBlock: contains the first block in the wrapper, useful when only one block is expected.
    - data: contains the data as mentioned above this file
#}

<section
class="cta-banner {{wrapper.classList}}"
id="{{wrapper.cssId is defined ? wrapper.cssId : ''}}"
style="{{wrapper.styleList}}"
data-id="{{wrapper.id}}">

  <div class="container {{ firstBlock.class }}">
    <div class="content">
      {% if wrapper.blocks[0].config.text is not empty %}
        <div class="block-left">
          {{wrapper.blocks[0].config.text|raw}}

          {% if firstBlock.config.subtext %}
          <div class="subtext">
            {{wrapper.blocks[0].config.subtext|raw}}
          </div>
          {% endif %}
        </div>
        <div class="block-right">
          <span>
            {% if firstBlock.config.buttons is defined %}
              {% for button in firstBlock.config.buttons %}
                <a href="{{button.url}}" {% if button.target is defined and button.target != "null" %} target="{{button.target}}" {% endif %} class="btn {{button.class}}">
                  {{button.label}}
                  <i class="fa fa-arrow-right"></i>
                </a>
              {% endfor %}
            {% endif %}
          </span>
        </div>
      {% endif %}
    </div>
  </div>
</section>
