{#
  {
    "key": "framework_references",
    "label": "Afbeeldingen (raster)",
    "description": "Blokken met afbeeldingen met tekst op hover-functie",
    "allowMove": true,
    "category": "02. Content",
    "blocks": [
      {
        "key": "block-0",
        "size": 6,
        "required": "media",
        "multiple": true,
        "minimum": 2,
        "fields": [
            {
                "key": "title",
                "type": "textarea",
                "label": "Tekst"
            }
        ]
      }
    ]
  }
#}

<section
class="references {{wrapper.classList}}"
id="{{wrapper.cssId is defined ? wrapper.cssId : ''}}"
style="{{wrapper.styleList}}"
data-id="{{wrapper.id}}">

  <div class="container">
    {% if wrapper.label or wrapper.intro is not empty %}
      <div class="introblock">
        {% if wrapper.label is not empty %}
          <div class="introtitle">
            {{wrapper.label|raw}}
          </div>
        {% endif %}
        {% if wrapper.intro is not empty %}
          <div class="introtext">
            {{wrapper.intro|raw}}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="row blocks">
      {% for b in wrapper.blocks %}
        <div class="col-sm-12 col-lg-{{b.width}} {{b.class}}" {{b.cssid}}>
          <a {% if b.config.link is defined and b.config.link is not empty %}href="{{b.config.link}}"{% endif %}>
            <div class="content">
              <div class="title">
                <h3>
                  {{b.config.title|raw}}
                </h3>
              </div>
              <div class="overlay"></div>
              <div class="img">

                {% if b.media is not empty %}
                  <div class="lcp">
                    {% if b.media.hasBlurred %}
                      <picture>
                        {% if b.media.hasWebp() %}
                          <source srcset="/{{b.media.getBlurredWebpPath('small')}}" type="image/webp">
                        {% endif %}
                        <source srcset="/{{b.media.getBlurredWebPath('small')}}" type="{{b.media.mime}}">
                        <img class="lq" alt="{{b.media.description_alt}}" src="/{{b.media.getBlurredWebPath('small')}}" type="{{b.media.mime}}" loading="lazy" width="{{b.media.width}}" height="{{b.media.height}}">
                      </picture>
                    {% endif %}
                    <picture>
                      {% if b.media.hasWebp() %}
                        <source srcset="/{{b.media.getWebpPath('full')}}" type="image/webp">
                      {% endif %}
                      <source srcset="/{{b.media.getWebPath('full')}}" type="{{ b.media.mime }}">
                      <img class="hq" alt="{{b.media.description_alt}}" src="/{{b.media.getWebPath('full')}}" type="{{b.media.mime}}" loading="lazy" width="{{b.media.width}}" height="{{b.media.height}}" onload="this.style.opacity=1{% if b.media.hasBlurred %};this.closest('.lcp').getElementsByClassName('lq')[0].style.opacity=0;{% endif %}" style="opacity: 0;">
                    </picture>
                  </div>
                {% endif %}

              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
