{#
    {
        "key": "framework_banner_text",
        "category": "Framework",
        "label": "Banner",
        "description": "...",
        "allowMove": false,
        "blocks": [
            {
                "key": "block-0",
                "size": 12,
                "required": "none",
                "buttons": "true",
                "fields": [
                    {
                        "key": "title",
                        "type": "text",
                        "label": "Titel"
                    },
                    {
                        "key": "content",
                        "type": "textarea",
                        "label": "Tekst"
                    }
                ]
            },
            {
                "key": "block-1",
                "size": 12,
                "required": "media",
                "fields": []
            }
        ]
    }
#}

{#
    Available objects:

    - page: current page
    - locale: current locale
    - wrapper: contains the wrapper around multiple blocks.
    - firstBlock: contains the first block in the wrapper, useful when only one block is expected.
    - data: contains the data as mentioned above this file
#}

  <section
  class="cta-large {{wrapper.classList}}"
  id="{{wrapper.cssId is defined ? wrapper.cssId : ''}}"
  style="{{wrapper.styleList}}"
  data-id="{{wrapper.id}}">

    {% if wrapper.blocks[1].media is not empty %}
      <div class="lcp">
        {% if wrapper.blocks[1].media.hasBlurred %}
          <picture>
            {% if wrapper.blocks[1].media.hasWebp() %}
              <source srcset="/{{wrapper.blocks[1].media.getBlurredWebpPath('large')}}" type="image/webp">
            {% endif %}
            <source srcset="/{{wrapper.blocks[1].media.getBlurredWebPath('large')}}" type="{{wrapper.blocks[1].media.mime}}">
            <img class="lq" alt="{{wrapper.blocks[1].media.description_alt}}" src="/{{wrapper.blocks[1].media.getBlurredWebPath('large')}}" type="{{wrapper.blocks[1].media.mime}}" loading="lazy" width="{{wrapper.blocks[1].media.width}}" height="{{wrapper.blocks[1].media.height}}">
          </picture>
        {% endif %}
        <picture>
          {% if wrapper.blocks[1].media.hasWebp() %}
            <source srcset="/{{wrapper.blocks[1].media.getWebpPath('full')}}" type="image/webp">
          {% endif %}
          <source srcset="/{{wrapper.blocks[1].media.getWebPath('full')}}" type="{{ wrapper.blocks[1].media.mime }}">
        <img class="hq" alt="{{wrapper.blocks[1].media.description_alt}}" src="/{{wrapper.blocks[1].media.getWebPath('full')}}" type="{{wrapper.blocks[1].media.mime}}" loading="lazy" width="{{wrapper.blocks[1].media.width}}" height="{{wrapper.blocks[1].media.height}}" onload="this.style.opacity=1{% if wrapper.blocks[1].media.hasBlurred %};this.closest('.lcp').getElementsByClassName('lq')[0].style.opacity=0;{% endif %}" style="opacity: 0;">
        </picture>
      </div>
    {% endif %}

    <div class="container">
      {% if wrapper.label or wrapper.intro is not empty %}
        <div class="introblock">
          {% if wrapper.label is not empty %}
            <div class="introtitle">
              {{wrapper.label|raw}}
            </div>
          {% endif %}
          {% if wrapper.intro is not empty %}
            <div class="introtext">
              {{wrapper.intro|raw}}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if firstBlock.config.title is not empty %}
        <h2>{{firstBlock.config.title|raw}}</h2>
      {% endif %}

      {% if firstBlock.config.content is not empty %}
        <div class="quotetext">
          {{firstBlock.config.content|raw}}
        </div>
      {% endif %}

      {% if firstBlock.config.buttons is defined %}
        {% for button in firstBlock.config.buttons %}
          <a href="{{button.url}}" {% if button.target is defined and button.target != 'null' and button.target is not empty %} target="{{button.target}}" {% endif %} class="btn {{button.class}}">
            {{button.label}}
            <i class="fa fa-arrow-right"></i>
          </a>
        {% endfor %}
      {% endif %}
    </div>
  </section>
