{#
    {
      "key": "framework_banner_texts",
      "category": "Framework",
      "label": "Banner (meerdere teksten)",
      "description": "...",
      "allowMove": true,
      "blocks": [
          {
              "key": "block-0",
              "size": 4,
              "buttons": true,
              "multiple": true,
              "minimum": 1,
              "required": "none",
              "fields": [
                  {
                      "key": "title",
                      "type": "text",
                      "label": "Card title"
                  },
                  {
                      "key": "content",
                      "type": "textarea",
                      "label": "Tekst"
                  }
              ]
          },
          {
              "key": "block-1",
              "size": 12,
              "required": "media",
              "fields": []
          }
      ]
  }
#}

{% set mediaBlock = null %}
{% for b in wrapper.blocks %}
    {% if b.templateKey == 'block-1' %}
    {% set mediaBlock = b %}
    {% endif %}
{% endfor %}

<section
class="cta-large {{wrapper.classList}}"
id="{{wrapper.cssId is defined ? wrapper.cssId : ''}}"
style="background-repeat: no-repeat !important; background-position: center !important; background-size: cover !important; {{wrapper.styleList}}"
data-id="{{wrapper.id}}">

  {% if mediaBlock.media is not empty %}
  <div class="lcp">
    {% if mediaBlock.media.hasBlurred %}
      <picture>
        {% if mediaBlock.media.hasWebp() %}
          <source srcset="/{{mediaBlock.media.getBlurredWebpPath('large')}}" type="image/webp">
        {% endif %}
        <source srcset="/{{mediaBlock.media.getBlurredWebPath('large')}}" type="{{mediaBlock.media.mime}}">
        <img class="lq" alt="{{mediaBlock.media.description_alt}}" src="/{{mediaBlock.media.getBlurredWebPath('large')}}" type="{{mediaBlock.media.mime}}" loading="lazy" width="{{mediaBlock.media.width}}" height="{{mediaBlock.media.height}}">
      </picture>
    {% endif %}
    <picture>
      {% if mediaBlock.media.hasWebp() %}
        <source srcset="/{{mediaBlock.media.getWebpPath('full')}}" type="image/webp">
      {% endif %}
      <source srcset="/{{mediaBlock.media.getWebPath('full')}}" type="{{ mediaBlock.media.mime }}">
      <img class="hq" alt="{{mediaBlock.media.description_alt}}" src="/{{mediaBlock.media.getWebPath('full')}}" type="{{mediaBlock.media.mime}}" loading="lazy" width="{{mediaBlock.media.width}}" height="{{mediaBlock.media.height}}" onload="this.style.opacity=1" style="opacity: 0;">
    </picture>
  </div>
  {% endif %}

    <div class="container {{ firstBlock.class }}">
      {% if wrapper.label or wrapper.intro is not empty %}
        <div class="introblock">
          {% if wrapper.label is not empty %}
            <div class="introtitle">
              {{wrapper.label|raw}}
            </div>
          {% endif %}
          {% if wrapper.intro is not empty %}
            <div class="introtext">
              {{wrapper.intro|raw}}
            </div>
          {% endif %}
        </div>
      {% endif %}

      <div class="row">
        {% for b in wrapper.blocks %}
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="block">
              {% if b.config.title is defined %}
                <h3 class="card-title">{{b.config.title}}</h3>
              {% endif %}

              {% if b.config.content is defined %}
                {{b.config.content|raw}}
              {% endif %}

              {% if b.config.buttons is defined %}
                <div class="btns">
                  {% for button in b.config.buttons %}
                    <a href="{{button.url}}" {% if button.target is defined and button.target != "null" %} target="{{button.target}}" {% endif %} class="btn {{button.class}}">
                      {{button.label}}
                      <i class="fa fa-arrow-right"></i>
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
