{#
    {
        "key": "framework_content_vimeo",
        "category": "Framework",
        "label": "Content + Vimeo",
        "description": "Content met Vimeo.",
        "allowMove": true,
        "blocks": [
            {
                "key": "block-0",
                "size": 6,
                "buttons": true,
                "required": "none",
                "fields": [
                    {
                        "key": "title",
                        "type": "text",
                        "label": "Titel"
                    },
                    {
                        "key": "text",
                        "type": "textarea",
                        "label": "Tekst"
                    }
                ]
            },
            {
                "key": "block-1",
                "size": 6,
                "required": "none",
                "fields": [
                    {
                        "key": "yt_url",
                        "type": "text",
                        "label": "Vimeo ID"
                    }
                ]
            }
        ]
    }
#}

<section
class="text-blocks {{wrapper.classList}}"
id="{{wrapper.cssId is defined ? wrapper.cssId : ''}}"
style="{{wrapper.styleList}}"
data-id="{{wrapper.id}}">

  <div class="container">
    {% if wrapper.label or wrapper.intro is not empty %}
      <div class="introblock">
        {% if wrapper.label is not empty %}
          <div class="introtitle">
            {{wrapper.label|raw}}
          </div>
        {% endif %}
        {% if wrapper.intro is not empty %}
          <div class="introtext">
            {{wrapper.intro|raw}}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if wrapper.label or wrapper.intro is not empty %}
      <div class="introblock">
        {% if wrapper.label is not empty %}
          <div class="introtitle">
            {{wrapper.label|raw}}
          </div>
        {% endif %}
        {% if wrapper.intro is not empty %}
          <div class="introtext">
            {{wrapper.intro|raw}}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="row">
      {% for b in wrapper.blocks %}
        {% if data.blocks_q[b.templateKey].key == 'block-1' %}
          <div class="col-sm-12 col-lg-{{b.width}} {{b.class}}" {{b.cssid}}>
            <div class="card sidebar" style="position: relative;width: 100%;height: 0;padding-bottom: 56.25%;">

              <iframe data-src="https://player.vimeo.com/video/{{b.config.yt_url}}?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"></iframe>

            </div>
          </div>
        {% else %}
          <div class="col-sm-12 col-lg-{{b.width}} {{b.class}}" {{b.cssid}}>
            <div class="vtable">
              <div class="vcell">
                <div class="padder">
                  {% if b.config.title is not empty %}
                    <h3 class="title">{{b.config.title}}</h3>
                  {% endif %}
                  <div class="content">
                    {{b.config.text|raw}}
                  </div>

                  {% if b.config.buttons is defined %}
                    {% for button in b.config.buttons %}
                      <a href="{{button.url}}" {% if button.target is defined and button.target != 'null' and button.target is not empty %} target="{{button.target}}" {% endif %} class="btn btn-lg {{button.class}}">
                        {{button.label}}
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</section>
