<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text footer-logo">De betovering van Belle en het beest</h5>
				{#<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>#}
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text right-align">Informatie</h5>
				<ul>
					<li class="right"><a class="grey-text text-lighten-1" href="#!">Beschikbaarheid</a></li>
					<li class="right"><a class="grey-text text-lighten-1" href="#!">Contact</a></li>
					<li class="right"><a class="grey-text text-lighten-1" href="#!">Privacy statement</a></li>
					<li class="right"><a class="grey-text text-lighten-1" href="#!">Algemene voorwaarden</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div style="float:left;">
				© {{'now' | date('Y')}}&nbsp;&nbsp;&bull;&nbsp;&nbsp;Website en design door <a href="https://www.beyonit.nl">Beyonit B.V.</a>.
			</div>

			<a class="social right" target="_blank" href="https://www.facebook.com/Belle-en-het-beest-de-musical-1102613849802933"><img alt="Facebook" title="Facebook" style="width:38px;margin:0 4px;" src="{{asset('images/social_facebook.png')}}" /></a>
			<a class="social right" target="_blank" href="https://www.instagram.com/belleenhetbeestmusical/"><img alt="Instagram" title="Instagram" style="width:38px;margin:0 4px;" src="{{asset('images/social_instagram.png')}}" /></a>
			<a class="social right" target="_blank" href="https://www.youtube.com/channel/UCVkLktjGRSFLNnBS5pgdr9A"><img alt="YouTube" title="YouTube" style="width:38px;margin:0 4px;" src="{{asset('images/social_youtube.png')}}" /></a>
			{# <a class="social" href="#"><img style="width:38px;margin:0 4px;" src="{{asset('images/social_twitter.png')}}" /></a> #}
		</div>
	</div>
</footer>