{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{'layout.title.apiclients'|trans}}{% endblock %}

{% block body %}
	{{ form_start(form) }}
	<div class="card">
		<div class="card-content">
			<span class="card-title">App toevoegen</span>
			<div class="row">
				<div class="col s12">
					{{ form_row(form.label) }}
				</div>
			</div>
			<div class="row">
				<div class="col s6" style="position:relative;">
					{{ form_row(form.randomId) }}
					<button class="keygen-btn btn" type="button" onclick="generateKey('randomId');" style="position: absolute;top: 20px;right: -4px;"><i class="material-icons">refresh</i></button>
				</div>
				<div class="col s6" style="position:relative;">
					{{ form_row(form.secret) }}
					<button class="keygen-btn btn" type="button" onclick="generateKey('secret');" style="position: absolute;top: 20px;right: -4px;"><i class="material-icons">refresh</i></button>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					{{ form_row(form.allowedGrantTypes) }}
				</div>
			</div>
		</div>
    </div>

    <div class="btn-bar">
    	<div class="right">
			<a href="{{path('admin_mod_api')}}" class="btn-flat">Annuleren</a>
    		<button type="submit" class="btn">Opslaan</button>
    	</div>
    </div>
    {{ form_end(form) }}

    <script type="text/javascript">
    function generateKey(target){
    	var inp = $('#form_' + target);
    	var hash = Math.random().toString(26).substring(2, 15) + Math.random().toString(26).substring(2, 15);
    	hash = hash + Math.random().toString(26).substring(2, 15) + Math.random().toString(26).substring(2, 15);
    	inp.val(hash);
    }
    </script>
{% endblock %}