{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{'layout.title.apiclients'|trans}}{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-content">
			<span class="card-title">
				Tokens
				<span class="right"><a href="{{path('admin_mod_api_generate', {id: Client.id})}}" class="btn">Access-token genereren</a></span>
			</span>
			<table class="bordered striped highlight responsive-table">
				<thead>
					<tr>
						<th>Gebruiker</th>
						<th style="width:350px;">Token</th>
						<th style="width:150px;">Verloopt op</th>
						<th style="width:60px;">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% if tokens is not empty %}
						{% for Token in tokens %}
							<tr>
								<td>{{ Token.getUser is not empty ? Token.getUser.username : "Geen gebruiker" }}</td>
								<td><a onclick="cpop.fixed(false).loadHtml('<div style=\'font-weight:bold;text-align:center;font-size:16px;\'>{{Token.token}}</div>')">Token tonen</a></td>
								<td>{{Token.expiresAt|date('d-m-Y H:i:s')}}</td>
								<td class="right-align actions">
									<a title="Code intrekken" onclick="cpop.fixed(false).confirm( 'Wilt u de token met ID <b>{{Token.id}}</b> intrekken?', function(){
										window.location = '{{ path('admin_mod_api_delete_token',{'id': Token.id}) }}';
									} ); return false;"><i class="far fa-trash-alt"></i></a>
								</td>
							</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="4">Er zijn nog geen tokens aangemaakt.</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
	    </div>

		{# <div class="panel center padd">
			<a href="{{path('admin_mod_api_edit')}}" class="btn btn-primary">Nieuwe configuratie toevoegen</a>
		</div> #}
    </div>

    <script type="text/javascript">
    $(".tablesorter").tablesorter({
        // sort on the first column and third column, order asc
        sortList: [[4,1]],
        headers: {
        	4: {sorter:"dd-mm-yyyy hh:ii:ss"},
            6: {sorter: false}
        }
    });
    </script>
{% endblock %}