{% trans_default_domain 'cms' %}
{% if done is defined %}
	{{ 'Het item is succesvol gekopieerd. Dit overzicht wordt nu vernieuwd ...' | trans }}
	<script>
{% if blogid is not null %}
	window.location = '{{path('admin_mod_blog_entry', {'id': blogid})|raw}}';
{% else %}
	window.location = '{{path('admin_mod_blog')}}';
{% endif %}
	</script>
{% else %}
	{% if app.request.get('debug') %}
		<form method="post">
	{% endif %}

	<div class="row">

		<div class="col s12">
			<div class="col s12">
				<h1>{{ 'Dupliceren' | trans }}</h1>
			</div>

			<div class="input-field col s12">
				<input id="label" type="text" name="label" value="{{Entry.label}} - {{ 'KOPIE' | trans }}">
				<label for="label">{{ 'Titel' | trans }}</label>
			</div>
			{% if multisite is not empty and (multisite|length > 1) and app.User.checkPermissions('ALLOW_SITE_SWITCHING') %}
				<div class="col s12">
	                <div style="margin-bottom:10px;">{{ 'Wilt u deze post dupliceren naar andere website(s)?' | trans }}</div>
	                {% for C in multisite_all %}
	                  {% if C in app.user.sites or app.user.sites.count == 0 %}
	                    <p>
	                      <input {{C == Settings ? 'disabled' : ''}} type="checkbox" name="newclone[]" value="{{C.id}}" id="clone-{{C.id}}" />
	                      <label for="clone-{{C.id}}"><strong style="color:#34adea;">{{C.label}}</strong> | {{C.language.label}}</label>
	                    </p>
	                  {% endif %}
	                {% endfor %}
	            </div>
			{% endif %}
		</div>
	</div>

	<div class="popup-footer">
		<button type="submit" class="btn">{{ 'Dupliceren' | trans }}</button>
	</div>

	{% if app.request.get('debug') %}
		</form>
	{% endif %}
{% endif %}
