{% set paginationPath = app.request.attributes.get('_route') %}
{% set currentFilters = {id: 1} %}
{% if Entry is defined %}
    {% set currentFilters = {id: Entry.id} %}
{% endif %}
{# {% set baseUrl = path(paginationPath, currentFilters) %} #}

{# {% include "@Cms/pagination_bootstrap.html.twig" with {
    currentPage: page,
    lastPage: replies_pages,
    paginationPath: paginationPath,
    currentFilters: currentFilters,
    showAlwaysFirstAndLast: true
} only %} #}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ 'Naam' | trans }}</th>
            <th>{{ 'Nieuwsbericht' | trans }}</th>
            <th>{{ 'Reactie' | trans }}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for R in replies %}
            {% set detailUrl = baseUrl ~ '/' ~ R.entry.id ~ '/' ~ R.entry.getDefaultSlug %}
            {% if R.entry.slug %}
                {% set detailUrl = baseUrl ~ '/' ~ R.entry.getSlug %}
            {% endif %}
            <tr>
                <td>
                    {{R.firstname ~ ' ' ~ R.lastname}}<br/>
                    <small>{{R.email}}</small>
                </td>
                <td><a href="{{detailUrl}}" target="_blank"><strong>{{R.entry.label}}</strong><span><br/>({{R.entry.datePublish|date('d-m-Y H:i:s')}})</span></a></td>
                <td data-commentSmall="{{R.comment|u.truncate(100)}}" data-comment="{{R.comment|raw}}">
                    {{(R.comment|length > 100 ? R.comment|u.truncate(100) ~ '<a class="read-more" href="#" onclick="$(this).closest(\'td\').html($(this).closest(\'td\').data(\'comment\')); return false;">' ~ ('Lees meer' | trans) ~ '</a>' : R.comment)|raw}}
                </td>
                <td class="right-align actions">
                    <a class="tt" data-info="{{ 'Reactie wijzigen/bekijken' | trans }}" href="{{path('admin_mod_blog_entry_replies_edit', {id: R.id, src: 'admin_mod_blog_entry', srcid: Blog.id})}}"><i class="fa fa-edit"></i></a>
                    <a href="{{path('admin_mod_blog_entry_replies_delete', {id: R.id, dst: 'index'})}}" class="tt confirm" data-msg="{{ 'Wilt u deze reactie verwijderen?' | trans }}" data-info="{{ 'Reactie verwijderen' | trans }}"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "@Cms/pagination_bootstrap.html.twig" with {
    currentPage: page,
    lastPage: replies_pages,
    paginationPath: paginationPath,
    currentFilters: currentFilters,
    showAlwaysFirstAndLast: true
} only %}
