<style type="text/css" media="screen">
    .selector-options li,
    li.page-entry,
    ol.sortable li{
        margin: 0;
        padding: 0;
    }

    .selector-options li,
    li.page-entry .page-entry-content{
        background: #eee;
        padding: 7px 12px;
        border-radius: 5px;
        margin: 5px 0;
        ursor: pointer;
    }

    .sortable ol {
        padding: 0 0 0 30px;
    }

    .selector-options li a,
    ol.sortable li span a,
    ol.sortable li span a {
        color: #444;
    }
</style>

{% if page %}
    <ul class="selector-options">
        {% set baseUrl = path(page.slugKey) %}
        {% for e in entries %}
            {% set uri = baseUrl ~ '/' ~ e.id ~ '/' ~ e.getDefaultSlug %}
            {% if e.slug %}
                {% set uri = baseUrl ~ '/' ~ e.getSlug %}
            {% endif %}
            <li><a data-uri="{{uri}}" data-label="{{e.label}}" href="#" style="display:block;" onclick="return loadEntry(this);">{{e.label}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    {{ "Er zijn geen pagina's waar de blog correct is gekoppeld." | trans | raw }}
{% endif %}

<div id="popup_footer">
    <div class="left">
        <button type="button" onclick="cpop.close();" class="btn-flat">Sluiten</button>
    </div>
</div>

<script>
    function loadEntry(el){
        {% if app.request.get('composer') %}
            cpop.reset().loadAjax('{{path('admin_page_selector')}}?composer=1&url=' + encodeURIComponent($(el).data('uri')) + '&label=' + encodeURIComponent($(el).data('label')) + '');
            return false;
        {% else %}
            window.CKEDITOR.tools.callFunction( {{app.request.query.get("ref")}}, $(el).data('uri') );
            cpop.close();
            return false;
        {% endif %}
    }
</script>
