{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{'Settings'|trans}}{% endblock %}

{% block body %}
	<form method="post">
    	{% if send %}
	    	<div class="panel">
		    	<div class="saved-bar">
		    		{{'De e-mail is verzonden.'|trans}}
		    	</div>
	    	</div>
	    {% endif %}

    	{% if errors is not empty %}
	    	<div class="panel">
		    	<div class="saved-bar">
		    		{{'Er zijn fouten opgetreden.'|trans}}
		    	</div>
	    	</div>
	    {% endif %}

		<div class="card">
		    <div class="card-content row">

				<div class="input-field col s12">
					<label>{{ 'Mail template' | trans }}</label>
					<select class="form-control form-select" name="template">
						{% for template in templates %}
							<option value="{{template}}">{{template}}</option>
						{% endfor %}
					</select>
				</div>

		    	{# <div class="input-field col-12 col-md-6">
	    			<input type="text" id="from" name="from" value="{{Settings.systemEmailFrom}}" />
	    			<label for="from">{{'Afzender'|trans}}</label>
	    		</div>

		    	<div class="input-field col-12 col-md-6">
	    			<input type="email" id="from_email" name="from_email" value="{{Settings.systemEmail}}" class="validate" />
	    			<label for="from_email">{{'Afzender e-mail'|trans}}</label>
	    		</div> #}

		    	<div class="input-field col-12 col-md-6">
						<label for="to">{{'Ontvanger'|trans}}</label>
	    			<input type="text" id="to" name="to" value="{{app.user.firstname ~ ' ' ~ app.user.lastname}}" />
	    		</div>

				<div class="input-field col-12 col-md-6">
					<label for="to_email">{{'Ontvanger e-mail'|trans}}</label>
					<input id="to_email" type="email" name="to_email" class="validate" value="{{app.user.email}}" />
				</div>

		    	<div class="input-field col-12 col-md-6">
	    			<label for="subject">{{'Onderwerp'|trans}}</label>
						<input type="text" id="subject" name="subject" value="{{ 'Dit is een test bericht.' | trans }}" />
	    		</div>

		    	<div class="input-field col-12 col-md-6">
	    			<label for="label">{{'Titel'|trans}}</label>
						<input type="text" id="label" name="label" value="{{ 'Titel van het bericht.' | trans }}" />
	    		</div>

		    	<div class="input-field col s12">
						<label for="message">{{'Bericht (HTML)'|trans}}</label>
	    			<textarea class="materialize-textarea" rows="10" id="message" name="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend finibus nisl sed tempor. Cras massa libero, venenatis quis fermentum in, vestibulum vitae enim. Curabitur in purus mauris. Integer egestas, risus at pellentesque aliquet, odio tellus pretium dolor, egestas commodo justo arcu et nulla. Donec non neque in est efficitur aliquet. Fusce non dolor lorem. Mauris vitae mollis risus, non euismod magna. Vivamus pulvinar ligula sed ex lobortis, ac commodo lectus maximus. Pellentesque dictum id risus id interdum. Sed porttitor eleifend laoreet. Mauris a dui elit.</textarea>
	    		</div>

		    </div>
		</div>

		<div class="btn-bar">
			<div class="right">
				<button type="submit" class="btn"><i class="fa fa-paper-plane"></i> {{'Versturen'|trans}}</button>
			</div>
		</div>
	</form>
{% endblock %}
