{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{'Settings'|trans}}{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-content">
			<div class="card-title">
				{{Pay.label}} {{ 'testen' | trans }}
				{% if Pay.getConfig()['live_mode'] %}
					<span class="right green-text">{{'LIVE BETALING'|trans}}</span>
				{% else %}
					<span class="right orange-text">{{'TEST BETALING'|trans}}</span>
				{% endif %}
			</div>
			
			{% if message %}
				<strong>{{ 'Betaalstatus:' | trans }}</strong>
				<div>
					{{message|raw}}
				</div>
			{% else %}
				<form method="post">
					<table>
						<tr>
							<td>{{ 'Bedrag:' | trans }}</td>
							<td><input type="text" name="amount" value="25.25" /></td>
						</tr>
						<tr>
							<td>{{ 'Methode:' | trans }}</td>
							<td>
								{% if Pay.methodsForTesting is not empty %}
									<select name="method">
										<option value="">- Geen keuze -</option>
										{% for id, method in Pay.methodsForTesting %}
											<option value="{{id}}">{{method.label}}</option>
										{% endfor %}
									</select>
								{% else %}
									<span class="red-text">{{ 'Geen methodes bekend' | trans }}</span>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>{{ 'Bank:' | trans }}</td>
							<td>
								{% if Pay.issuers is not empty %}
									<select name="issuer">
										<option value="">- Geen keuze -</option>
										{% for id, issuer in Pay.issuers %}
											<option value="{{id}}">{{issuer.label}}</option>
										{% endfor %}
									</select>
								{% else %}
									<span class="red-text">{{ 'Geen banken bekend' | trans }}</span>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>{{'Abonnement:'|trans}}</td>
							<td>
								{% if Pay.hasSubscription %}
									<select name="subscription">
										<option value="0">{{'Nee'|trans}}</option>
										<option value="1">{{'Ja'|trans}}</option>
									</select>
								{% else %}
									<span class="red-text">{{'Niet beschikbaar voor'|trans}} {{Pay.label}}</span>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
								<button type="submit" class="btn">{{ 'Uitvoeren' | trans }} &rarr;</button>
							</td>
						</tr>
					</table>
				</form>
			{% endif %}
		</div>
	</div>
{% endblock %}
