{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{'Over'|trans}}
  {{trinity}}
{% endblock %}

{% block body %}

<div class="system-row">
  {# <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="tab1" data-bs-toggle="tab" data-bs-target="#tab-content1" type="button" role="tab" aria-controls="tab-content1" aria-selected="true">
        {{'Over'|trans}}
      </button>
    </li>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#tab-content2" type="button" role="tab" aria-controls="tab-content2" aria-selected="false">
          {{'Changelog'|trans}}
        </button>
      </li>
      {% for bundle, log in bundle_changelogs %}
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="tab-{{bundle}}" data-bs-toggle="tab" data-bs-target="#tab-content-{{bundle}}" type="button" role="tab" aria-controls="tab-content-{{bundle}}" aria-selected="false">
            {{bundle|trans}}
          </button>
        </li>
      {% endfor %}
    {% endif %}
  </ul> #}

	<div class="system-content">

    <div class="tab-content">
      <div class="tab-pane fade show active" aria-labelledby="tab-content1" id="tab-content1" role="tabpanel">
        <div id="about" class="t-content card">
          <div class="card-content">
            {# <h6 class="card-title">{{'Over'|trans}} {{trinity}}</h6> #}
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td><strong>{{ '%trinity% versie' | trans({'%trinity%': trinity}) }}</strong></td>
                  <td>{{ version }}</td>
                </tr>
                <tr>
                  <td><strong>{{ 'Ontwikkeld door:' | trans }}</strong></td>
                  <td>{{company}}</td>
                </tr>
                <tr>
                  <td><strong>{{ 'Website:' | trans }}</strong></td>
                  <td><a href="{{company_url}}">{{company_url}}</a></td>
                </tr>
                <tr>
                  <td><strong>{{ 'Support e-mail:' | trans }}</strong></td>
                  <td><a href="mailto:{{trinity_support}}">{{trinity_support}}</a></td>
                </tr>
                {% if trinity_support_phone is defined %}
                  <tr>
                    <td><strong>{{ 'Support telefoon:' | trans }}</strong></td>
                    <td><a href="tel:{{trinity_support_phone}}">{{trinity_support_phone}}</a></td>
                  </tr>
                {% endif %}
                <tr>
                  <td><strong>{{ 'Support website:' | trans }}</strong></td>
                  <td><a href="{{trinity_url}}">{{trinity_url}}</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% if is_granted('ROLE_SUPER_ADMIN') %}
        <style type="text/css">
          #changelog ul {
            margin: 10px 28px;
          }
          #changelog li {
            padding: 2px 0;
            list-style-type: disc;
          }

          code {
            background: rgba(30, 136, 229, 0.14901960784313725);
            padding: 2px 8px;
            border-radius: 38px;
          }
        </style>

        {# <div class="tab-pane fade" aria-labelledby="tab-content2" id="tab-content2" role="tabpanel">
          <div id="changelog" class="t-content card">
            <div class="card-content">
              <div class="card-title">
                <div class="card-titles">
                  <h6>{{'Changelog'|trans}}</h6>
                </div>

                <div class="card-actions">
                  {{'Laatst gewijzigd:'|trans}}<br/>{{date|date('d-m-Y H:i:s')}}
                </div>
    					</div>

              {{changelog|raw}}
            </div>
          </div>
        </div> #}

        {% for bundle, log in bundle_changelogs %}
          <div class="tab-pane fade" aria-labelledby="tab-content-{{bundle}}" id="tab-content-{{bundle}}" role="tabpanel">
        {% endfor %}
      {% endif %}
      </div>
    </div>

    {#
    {% if is_granted('ROLE_SUPER_ADMIN') %}
      {% for bundle, log in bundle_changelogs %}
        <div id="{{bundle}}" class="t-content card">
          <div class="card-content">
            <div class="card-title">{{bundle}}
              <span class="right right-align">{{'Laatst gewijzigd:'|trans}}<br/>{{bundle_changelogs_dates[bundle]|date('d-m-Y H:i:s')}}</span></div>
            {{log|raw}}
          </div>
        </div>
      {% endfor %}
    {% endif %}
    #}
	</div>
</div>

{% endblock %}
