{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{'Dashboard'|trans}}{% endblock %}

{% block body %}
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

{# <a href="#" class="btn dash-blocks" style="position: absolute;top: 70px;right: 20px;"><i class="material-icons">dashboard</i></a> #}

<div class="btn-bar">
  <div class="right">
    <div class="label">{{ 'Periode' | trans }}</div>
    <div class="input-bg">
      <input type="text" class="center-align" name="daterange" />
    </div>
  </div>
</div>

<div class="admin-dashboard">
  <div class="row visit-stats gx-2 gx-md-4">
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <i class="fa fa-globe"></i>
          <span id="live-visits">{{live.visits is defined ? live.visits : '-'}}</span>
          {{'Live bezoeken'|trans}}
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <i class="fa fa-user"></i>
          <span id="live-visitors">{{live.visitors is defined ? live.visitors : '-'}}</span>
          {{'Live bezoekers'|trans}}
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <i class="fa fa-mouse-pointer"></i>
          <span id="live-actions">{{live.actions is defined ? live.actions : '-'}}</span>
          {{'Live acties'|trans}}
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <i class="fa fa-sync"></i>
          <span id="live-visitsConverted">{{live.visitsConverted is defined ? live.visitsConverted : '-'}}</span>
          {{'Live conversies'|trans}}
        </div>
      </div>
    </div>
  </div>

  {# {{dump(visitors)}} #}
  {# {{dump(countries)}} #}
  {# {{dump(resolutions)}} #}
  {# {{dump(referrers)}} #}

      {# <div id="dash-blocks"> #}
          <div class="row gx-2 gx-md-4">
              <div class="col-6 col-md-4 col-lg-2">
                  <div class="card">
                      <div class="card-body center-align">
                          <span style="display:block;font-size: 30px;font-weight:400;">{{visitors is defined and visitors.nb_visits is defined ? visitors.nb_visits : '-'}}</span>
                          {{'Bezoeken'|trans}}
                      </div>
                  </div>
              </div>

              <div class="col-6 col-md-4 col-lg-2">
                  <div class="card">
                      <div class="card-body center-align">
                          <span style="display:block;font-size: 30px;font-weight:400;">{{visitors is defined and visitors.nb_uniq_visitors is defined ? visitors.nb_uniq_visitors : '-'}}</span>
                          {{'Unieke bezoekers'|trans}}
                      </div>
                  </div>
              </div>

              <div class="col-6 col-md-4 col-lg-2">
                  <div class="card">
                      <div class="card-body center-align">
                          <span style="display:block;font-size: 30px;font-weight:400;">{{visitors is defined and visitors.nb_actions is defined ? visitors.nb_actions : '-'}}</span>
                          {{'Pagina weergaven'|trans}}
                      </div>
                  </div>
              </div>

              <div class="col-6 col-md-4 col-lg-2">
                  <div class="card">
                      <div class="card-body center-align">
                          <span style="display:block;font-size: 30px;font-weight:400;">{{visitors is defined and visitors.nb_users is defined ? visitors.nb_users : '-'}}</span>
                          {{'Easify gebruikers'|trans}}
                      </div>
                  </div>
              </div>

              <div class="col-6 col-md-4 col-lg-2">
                  <div class="card">
                      <div class="card-body center-align">
                          <span style="display:block;font-size: 30px;font-weight:400;">{{visitors is defined and visitors.nb_visits is defined ? visitors.nb_visits : '-'}}</span>
                          {{'Bezoeken'|trans}}
                      </div>
                  </div>
              </div>

              <div class="col-6 col-md-4 col-lg-2">
                  <div class="card">
                      <div class="card-body center-align">
                          <span style="display:block;font-size: 30px;font-weight:400;">{{visitors is defined and visitors.avg_time_on_site is defined ? (visitors.avg_time_on_site / 60)|round(1) ~ ' m.' : '-'}}</span>
                          {{'Gemiddelde tijd'|trans}}
                      </div>
                  </div>
              </div>
          </div>

          <div class="row gx-2 gx-md-4">
            <div class="col m12 l6">
                <div class="card">
                    <div class="card-body">
                      <div class="card-titles">
                        <h6 class="card-title">{{'Best bezochte dagen van de week'|trans}}</h6>
                      </div>
                      <canvas style="width:100%;" id="widget-week"></canvas>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                      <div class="card-titles">
                        <h6 class="card-title">{{'Bezoeken per land'|trans}}</h6>
                      </div>
                        <table class="w-100 table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:32px;">&nbsp;</th>
                                    <th>{{'Land'|trans}}</th>
                                    <th class="center-align" style="width:90px;">{{'Bezoeken'|trans}}</th>
                                    <th class="center-align" style="width:70px;">{{'Acties'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if countries is defined and countries is not empty %}
                                    {% for r in countries %}
                                        <tr>
                                            <td><img src="https://{{Settings.piwikUrl}}/{{r.logo}}" alt="{{r.label}}"></td>
                                            <td>{{r.label}}</td>
                                            <td class="center-align">{{r.nb_visits}}</td>
                                            <td class="center-align">{{r.nb_actions}}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">{{ 'Geen data om weer te geven' | trans }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-titles">
                          <h6 class="card-title">{{'Scherm resoluties'|trans}}</h6>
                        </div>
                        <table class="w-100 table table-hover">
                            <thead>
                                <tr>
                                    <th>{{'Scherm resolutie'|trans}}</th>
                                    <th class="center-align" style="width:90px;">{{'Bezoeken'|trans}}</th>
                                    <th class="center-align" style="width:70px;">{{'Acties'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if resolutions is defined and resolutions is not empty %}
                                    {% for r in resolutions %}
                                        <tr>
                                            <td>{{r.label}}</td>
                                            <td class="center-align">{{r.nb_visits}}</td>
                                            <td class="center-align">{{r.nb_actions}}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">{{ 'Geen data om weer te geven' | trans }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col s12 l6">
                <div class="card">
                    <div class="card-body">
                      <div class="card-titles">
                        <h6 class="card-title">{{'Best bezochte tijd per dag'|trans}}</h6>
                      </div>
                      <canvas style="width:100%;" id="widget-day"></canvas>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-titles">
                          <h6 class="card-title">{{'Bezoeken per verwijzer'|trans}}</h6>
                        </div>
                        <table class="w-100 table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:20px;">&nbsp;</th>
                                    <th>{{'Verwijzer'|trans}}</th>
                                    <th class="center-align" style="width:90px;">{{'Bezoeken'|trans}}</th>
                                    <th class="center-align" style="width:70px;">{{'Acties'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if referrers is defined and referrers is not empty %}
                                    {% for r in referrers %}
                                        <tr>
                                            <td>{{(r.logo is defined ? '<img src="https://' ~ Settings.piwikUrl ~ '/' ~ r.logo ~ '" alt="' ~ r.label ~ '">' : '')|raw}}</td>
                                            <td>{{r.label}}</td>
                                            <td class="center-align">{{r.nb_visits}}</td>
                                            <td class="center-align">{{r.nb_actions}}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">{{ 'Geen data om weer te geven' | trans }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-titles">
                          <h6 class="card-title">{{'Internet providers'|trans}}</h6>
                        </div>
                        <table class="w-100 table table-hover">
                            <thead>
                                <tr>
                                    <th>{{'Provider'|trans}}</th>
                                    <th class="center-align" style="width:90px;">{{'Bezoeken'|trans}}</th>
                                    <th class="center-align" style="width:70px;">{{'Acties'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if isp is defined and isp is not empty %}
                                      {% for r in isp %}
                                        {% if r.label is defined %}
                                        <tr>
                                            <td>{{r.label}}</td>
                                            <td class="center-align">{{r.nb_visits}}</td>
                                            <td class="center-align">{{r.nb_actions}}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">{{ 'Geen data om weer te geven' | trans }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
    </div>
            </div>
          </div>
      {# </div> #}


      {# <div class="col l6 m6 s12">
          <div class="card">
              <div class="card-body" style="">
                  <h6 class="card-title">{{'Laatste gebruikers'|trans}}</h6>
                  <table class="w-100 highlight responsive-table">
                      <thead>
                          <tr>
                              <th style="width:110px;text-align:left;">{{'Gebruiker'|trans}}</th>
                              <th style="text-align:left;">{{'E-mail'|trans}}</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% if users.added is not empty %}
                              {% for User in users.added %}
                                  <tr>
                                      <td><a href="{{path('admin_users_edit')}}/{{User.id}}">{{User.getName}}</a></td>
                                      <td><a href="mailto:{{User.getEmail}}">{{User.getEmail}}</a></td>
                                  </tr>
                              {% endfor %}
                          {% else %}
                              <tr><td colspan="2" style="text-align:center;">{{'Geen gegevens beschikbaar'|trans}}</td></tr>
                          {% endif %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div> #}

      {# <div class="col l6 m6 s12">
          <div class="card">
              <div class="card-body" style="">
                  <h6 class="card-title">{{'Actieve gebruikers'|trans}}</h6>
                  <table class="w-100 highlight responsive-table">
                      <thead>
                          <tr>
                              <th style="width:110px;text-align:left;">{{'Gebruiker'|trans}}</th>
                              <th style="text-align:left;">{{'E-mail'|trans}}</th>
                              <th style="text-align:left;">{{'Laatste inlog'|trans}}</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% if users.added is not empty %}
                              {% for User in users.added %}
                                  <tr>
                                      <td><a href="{{path('admin_users_edit')}}/{{User.id}}">{{User.getName}}</a></td>
                                      <td><a href="mailto:{{User.getEmail}}">{{User.getEmail}}</a></td>
                                      <td style="text-align:center;">{{User.lastLogin|date('d-m-Y H:i')|e}}</td>
                                  </tr>
                              {% endfor %}
                          {% else %}
                              <tr><td colspan="3" style="text-align:center;">{{'Geen gegevens beschikbaar'|trans}}</td></tr>
                          {% endif %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div> #}

      {# {% for Block in blocks %}
          <div class="col l6 m6 s12">
              <div class="card">
                  <div class="card-body {% if Block.class is defined %}{{Block.class}}{% endif %}" style="">
                      <h6 class="card-title">{{Block.title|raw}}</h6>
                      {{Block.content|raw}}
                  </div>
              </div>
          </div>
      {% endfor %} #}
  </div>
</div>

<script type="text/javascript">
  $(function(){
      loadLiveData();

      var start = moment('{{start}}');
      var end = moment('{{end}}');

      $('input[name="daterange"]').daterangepicker({
          opens: 'right',
          drops: 'down',
          startDate: start,
          endDate: end,
          autoApply: true,
          alwaysShowCalendars: true,
          ranges: {
             '{{ 'Vandaag' | trans }}': [moment(), moment()],
             '{{ 'Gisteren' | trans }}': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
             '{{ 'Afgelopen 7 dagen' | trans }}': [moment().subtract(6, 'days'), moment()],
             '{{ 'Afgelopen 30 dagen' | trans }}': [moment().subtract(29, 'days'), moment()],
             '{{ 'Huidige maand' | trans }}': [moment().startOf('month'), moment().endOf('month')],
             '{{ 'Vorige maand' | trans }}': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          locale: {
              format: 'DD-M-YYYY',
              customRangeLabel: "{{ 'Aangepaste selectie' | trans }}",
              separator: " - ",
              applyLabel: "{{ 'Toepassen' | trans }}",
              cancelLabel: "{{ 'Annuleren' | trans }}",
              fromLabel: "{{ 'Van' | trans }}",
              toLabel: "{{ 'Tot' | trans }}",
          }
      }, function(start, end, label) {
          window.location = '{{path('admin')}}?s=' + start.format('YYYY-MM-DD') + '&e=' + end.format('YYYY-MM-DD');
          // console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
  });

  function loadLiveData(){
      $.ajax('{{path('admin_live')}}').done(function(r){
          $('#live-visits').html(r.visits);
          $('#live-actions').html(r.actions);
          $('#live-visitors').html(r.visitors);
          $('#live-visitsConverted').html(r.visitsConverted);

          setTimeout(function(){
              loadLiveData();
          }, 5000);
      });
  }


          var color = Chart.helpers.color;

          var barBgColor = color('#1e88e5').alpha(0.5).rgbString();
          var barBgColor = '#1e88e5';
          var barBrdColor = '#1e88e5';



          {% if moments is defined %}
              window.onload = function() {
                  var ctx = document.getElementById('widget-week').getContext('2d');
                  window.myBar = new Chart(ctx, {
                      type: 'bar',
                      data: {
                          labels: ['{{ 'ma' | trans }}', '{{ 'di' | trans }}', '{{ 'wo' | trans }}', '{{ 'do' | trans }}', '{{ 'vr' | trans }}', '{{ 'za' | trans }}', '{{ 'zo' | trans }}'],
                          datasets: [{
                              backgroundColor: barBgColor,
                              borderColor: barBrdColor,
                              borderWidth: 1,
                              data: {{moments.week|json_encode()|raw}}
                          }]
                      },
                      options: {
                          responsive: false,
                          legend: {display: false},
                          title: {display: false}
                      }
                  });

                  var ctx = document.getElementById('widget-day').getContext('2d');
                  window.myBar = new Chart(ctx, {
                      type: 'bar',
                      data: {
                          labels: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23],
                          datasets: [{
                              backgroundColor: barBgColor,
                              borderColor: barBrdColor,
                              borderWidth: 1,
                              data: {{moments.day|json_encode()|raw}}
                          }]
                      },
                      options: {
                          responsive: false,
                          legend: {display: false},
                          title: {display: false}
                      }
                  });

              };
          {% endif %}

  /*var bundleIcons = {{bundleIcons|json_encode()|raw}};
  var waterfall = null;
  var small = 500;
  var large = 800;

  $().ready(function(){
      if($('.panel-grid').length){
          if(waterfall == null){
              waterfall = new Waterfall({
                  containerSelector: '.panel-grid',
                  boxSelector: '.block',
                  minBoxWidth: small
              });
          }else{
              waterfall.minBoxWidth = (tileLarge == true ? large : small);
              waterfall.compose(true);
          }
      }

      $('.dash-blocks').click(function(e){
          e.preventDefault();
          cpop.reset().loadAjax('{{path('admin_blocks')}}');
      });

      console.log( $('input[name="daterange"]') );
      $('input[name="daterange"]').daterangepicker({
          opens: 'left'
      }, function(start, end, label) {
          console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
  });

  function addBlock(i, bundle, index){
      var row = $(i).closest('tr');
      $.ajax('{{path('admin_block')}}/' + bundle + '/' + index).done(function(response){
          var blocksEl = $('#dash-blocks');
          var blockEl = '<div class="col l4 m6 s12" id="db-' + bundle + '-' + index + '">\
              <div class="card">\
                  <div class="card-body ' + response.class + '" style="">\
                      <h6 class="card-title"><i class="material-icons left">' + bundleIcons['Trinity' + (bundle.charAt(0).toUpperCase() + bundle.slice(1)) + 'Bundle'] + '</i>' + response.title + '</h6>\
                      ' + response.content + '\
                  </div>\
              </div>\
          </div>';
          blocksEl.append(blockEl);

          row.find('.btn-add').hide();
          row.find('.btn-del').show();
      });
      return false;
  }

  function delBlock(i, bundle, index){
      var row = $(i).closest('tr');
      $('#db-' + bundle + '-' + index).remove();
      row.find('.btn-add').show();
      row.find('.btn-del').hide();
      return false;
  }

  {% for blck in app.user.dashboardBlocks %}
      {% set data = blck|split('-') %}
      addBlock(this, '{{data[0]}}', '{{data[1]}}');
  {% endfor %}*/
</script>
{% endblock %}
