<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ 'TrinityDocs - Documentatie' | trans }}</title>
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
		<link href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/bundles/cms/docs/plugins/elegant_font/css/style.css">
		<link id="theme-style" rel="stylesheet" href="/bundles/cms/docs/css/styles.css">
		<link id="theme-style" rel="stylesheet" href="/bundles/cms/docs/plugins/prism/prism.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
		<link rel="stylesheet" href="/bundles/cms/docs.css" />

		<script>
		var loaderUrl = '{{path('admin_doc_loader')}}/';
		</script>
	</head>
	<body class="{{docData ? 'body-' ~ docData.color ~ ' detail' : 'landing-page'}}">

		{% if bundle is not defined or bundle is empty %}

			<header class="header text-center">
			    <div class="container">
			        <div class="branding"><h1 class="logo"><span aria-hidden="true" class="icon_documents_alt icon"></span><span class="text-highlight">Trinity</span><span class="text-bold">{{ 'Docs' | trans }}</span></h1></div>
			        <div class="tagline"><p>{{ 'De officiële Easify CMS documentatie' | trans }}</p></div>
			    </div>
			</header>

			<section class="cards-section text-center">
				<div class="container">
	                <h2 class="title">{{ 'Welkom bij de documentatie van' | trans }} {{'trinity'}}</h2>
	                <div class="intro">
	                	<p>{{ 'De documentatie kan ook worden gedownload als PDF, in één geheel of per hoofdstuk zoals hieronder weergeven.' | trans }}</p>
	                	<div class="cta-container">
	                        <a class="btn btn-primary btn-cta" href="{{path('admin_doc_download')}}" target="_blank"><i class="far fa-arrow-alt-circle-down"></i> {{ 'Download als PDF' | trans }}</a>
	                    </div>
	                </div>
	                <div id="cards-wrapper" class="cards-wrapper row">
	                	{% for key,bundledata in availableDocs %}
		                	<div class="item item-{{bundledata.color}} col-lg-{{(availableDocs|length) < 3 ? 12 / (availableDocs|length) : 4}} col-6">
		                		<div class="item-inner">
		                			<div class="icon-holder">
		                				<i class="icon {{bundledata.icon}}"></i>
		                			</div>
		                            <h3 class="title">{{bundledata.label}}</h3>
		                            <p class="intro">{{ 'Bekijk de handleiding voor' | trans }} {{bundledata.label}}</p>
		                            <a class="link" href="{{path('admin_doc', {viewbundle: key})}}"><span></span></a>
		                		</div>
		                	</div>
	                	{% endfor %}
	                </div>
	            </div>
			</section>
		{% else %}
			<header id="header" class="header">
			    <div class="container">
			        <div class="branding">
			            <h1 class="logo">
				            <a href="{{path('admin_doc')}}">
				                <span aria-hidden="true" class="icon_documents_alt icon"></span>
				                <span class="text-highlight">Trinity</span><span class="text-bold">{{ 'Docs' | trans }}</span>
				            </a>

				            <div class="float-right">
				            	<a class="btn btn-primary btn-cta" style="margin-top: 12px;" href="{{path('admin_doc_download', {'bundle' : bundle})}}" target="_blank"><i class="far fa-arrow-alt-circle-down"></i> {{ 'Download als PDF' | trans }}</a>
				            </div>
			            </h1>
			            
			        </div>
			        
			        <ol class="breadcrumb">
			            <li class="breadcrumb-item"><a href="{{path('admin_doc')}}">{{ 'Onderwerpen' | trans }}</a></li>
			            <li class="breadcrumb-item active">{{docData.label}}</li>
			        </ol>
			        
			    </div>
			</header>

			<div class="doc-wrapper">
				<div class="container">
					{# <div id="doc-header" class="doc-header text-center">
						<h1 class="doc-title">Trinity documentatie</h1>
						<div class="meta">Laatst gewijzigd</div>
					</div> #}

					<div class="doc-body row">
						<div class="doc-content col-md-9 col-12 order-1">
							<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
							{#  #}
							<div class="content-inner" id="doc-loader">
								{{introData|raw}}
							</div>
							{#  #}
						</div>

						<div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
						    <div id="doc-nav" class="doc-nav">
						        
						        <nav id="doc-menu" class="nav doc-menu flex-column sticky">
									{{navData|raw}}
						        </nav>
						        
						    </div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		<footer id="footer" class="footer text-center">
			<div class="container">
			<!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
			<small class="copyright"><strong><a href="{{trinity_url}}" target="_blank">{{trinity}}</a></strong> {{ 'en de documentatie hiervan zijn onderhevig aan copyrights van' | trans }} <strong><a href="{{company_url}}" target="_blank">{{company}}</a></strong> {{ 'en andere gelieerde bedrijven' | trans }}.</small>

			</div><!--//container-->
		</footer>

		<script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script type="text/javascript" src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/bundles/cms/docs/plugins/prism/prism.js"></script>
		<script type="text/javascript" src="/bundles/cms/docs/plugins/stickyfill/dist/stickyfill.min.js"></script>
		<script type="text/javascript" src="/bundles/cms/docs/js/main.js"></script>
		<script type="text/javascript" src="/bundles/cms/docs.js"></script>
	</body>
</html>