{% trans_default_domain 'cms' %}

<div class="feedback-form">
	{% if success %}
		<div class="row">
			<div class="col s12 ">
				<h1 class="left">{{'Feedback'|trans}}</h1>
				{% if app.user.username == 'admin' %}
					<a href="{{path('admin_issues')}}" class="btn right popup" style="margin-right: 0;">{{ 'Issues' | trans }}</a>
				{% endif %}
			</div>
			<div class="col s12 ">
				{{'De feedback is succesvol verstuurd.'|trans}}
			</div>
		</div>
	{% else %}
		{% if error %}
			<div class="error">{{error}}</div>
		{% endif %}
			<div class="row">
				<div class="col s12 ">
					<h1 class="left">{{'Feedback'|trans}}</h1>
					{% if app.user.username == 'admin' %}
						<a href="{{path('admin_issues')}}" class="btn right popup" style="margin-right: 0;">{{ 'Issues' | trans }}</a>
					{% endif %}
				</div>
		{# <form method="post"> #}
				<div class="input-field col s6 ">
					<select id="type" name="type">
						<option value="Bug" selected="selected">{{'Probleem'|trans}}</option>
						<option value="Error">{{'Foutmelding'|trans}}</option>
						<option value="Visual">{{'Visuele fout'|trans}}</option>
						<option value="Feature">{{'Wens/uitbreiding'|trans}}</option>
					</select>
					<label for="type" class="required">{{'Soort feedback'|trans}}</label>
				</div>

				<div class="input-field col s6 ">
					<select id="priority" name="priority">
						<option value="Normal" selected="selected">{{'Normale prioriteit'|trans}}</option>
						<option value="Quick">{{'Hoge prioriteit'|trans}}</option>
						<option value="Urgent">{{'Urgent'|trans}}</option>
						<option value="Immediately">{{'Onmiddelijk'|trans}}</option>
					</select>
					<label for="priority" class="required">{{'Prioriteit'|trans}}</label>
				</div>

				<div class="input-field col s12 ">
					<input id="title" name="title" placeholder="{{'Geef een duidelijke titel.'|trans}}" />
					<label for="title" class="required active">{{'Titel'|trans}}</label>
				</div>

				<div class="input-field col s12 ">
					<input id="tags" name="tags" />
					<label for="tags" class="required active">{{'Tags, comma gescheiden'|trans}}</label>
				</div>

				<div class="input-field col s12 ">
					<textarea id="description" name="description" class="" placeholder="{{'Beschijf hier de feedback.'|trans}}"></textarea>
					<label for="description" class="required active">{{'Omschrijving'|trans}}</label>
				</div>
			</div>

			<input type="hidden" name="location">

			<button type="submit" class="btn red">{{'Versturen'|trans}}</button>
		{# </form> #}
	{% endif %}
</div>

<script>
$( function(){
	var MyCpop = $('.feedback-form').cpop( {
    	buttonAction: {
    		close: 	function( el ){ cpop.close(); },
    		// submit: function( el ){ cpop.postAjax(); }
    	},
    	buttonLabel: {
			close: 	'Sluiten',
			// submit: 'Opslaan/Wijzigen'
    	}
    } );
});
</script>