{% trans_default_domain 'forms' %}
{% extends [':forms_elements:row.html.twig', '@TrinityForms/elements/row.html.twig'] %}

{% block field %}
  <div class="canvas-wrapper">
    {% if edit is not defined %}
        {# frontpage #}
          <canvas id="signature-{{Question.id}}" class="signature-pad" data-id="{{Question.id}}" width="330" height="180"></canvas><br />

              {# @TODO hernoemen #}
          <input name="form[{% if Form is not null %}{{Form.id}}{% endif %}][{% if Question is not null %}{{Question.id}}{% endif %}]" type="hidden" id="sign-{{Question.id}}" />
          <button type="button" class="btn btn-bordered btn-xs" id="clear-{{Question.id}}">{{ 'Wis handtekening' | trans }}</button>
      {% else %}
        <div class="alert alert-primary">
          <label>{{ 'Canvas block' |trans }}</label>
        </div>
    {% endif %}
    </div>
{% endblock %}
