{% trans_default_domain 'forms' %}
		{% if Question.getType in ['select', 'upload', 'text', 'date', 'email', 'textarea'] %}
			{% if Question.getSubTitle|trim|striptags != ('Toelichting' | trans) or edit is defined %}<div class="sublabel" {% if edit is defined %}contenteditable="true"{% endif %} data-type="subtitle" style="outline:none;">{{Question.getSubTitle|raw}}</div>{% endif %}
		{% endif %}

		{% if Question.getType in ['select', 'checkbox', 'radio'] %}
			{% include '@TrinityForms/elements/valueEditor.html.twig' %}
		{% endif %}

		{# Editor #}
		{% if edit is defined %}
			{# Technical #}
			<input type="hidden" class="id" name="id[]" value="{{Question.getId}}" />
			<input type="hidden" class="type" name="type[]" value="{{Question.getType}}" />
			<input type="hidden" class="title" name="title[]" value="{{Question.getTitle}}" />
			<input type="hidden" class="subtitle" name="subtitle[]" value="{{Question.getSubTitle}}" />

			<div class="edit">
				<img class="delete" height="20" src="{{asset('/bundles/trinityforms/admin/images/el_delete.png')}}" />
				<img class="drag" height="20" src="{{asset('/bundles/trinityforms/admin/images/el_move.png')}}" />
			</div>
		{% endif %}
	</div>
</div>
