{% trans_default_domain 'forms' %}
{% extends [':forms_elements:row.html.twig', '@TrinityForms/elements/row.html.twig'] %}

{% block field %}
    {% set checked = (Question.default is defined ? 'checked="checked"' : '') %}
    {% set disabled = (Question.disabled is defined ? 'disabled="disabled"' : '') %}
    {% set name = 'form[' ~ (Form is not null ? Form.id : '') ~ '][' ~ (Question is defined ? Question.id : '') ~ ']' %}

    <div class="options" data-type="mailer">
        <div class="form-check">
            {% if edit is not defined %}
                <input class="form-check-input" id="chk_{{ Question.id }}_0"
                       type="radio" name="{{ name }}" value="inschrijven"/>
                <label class="form-check-label" for="chk_{{ Question.id }}">{{ Question.getSubTitle }}</label>
            {% else %}
                <input class="form-check-input" type="radio" name=""
                       id="chk_{{ Question.id }}" value=""/>
                <label class="form-check-label" for="chk_{{ Question.id }}">{{ Question.getSubTitle }}</label>
            {% endif %}
        </div>
    </div>
    {# {% if edit is defined %}<div class="block-id">Radio #{{Question.id}}</div>{% endif %} #}
{% endblock %}
