{% trans_default_domain 'forms' %}
{% extends [':forms_elements:row.html.twig', '@TrinityForms/elements/row.html.twig'] %}

{% block field %}
	{% if Question.getSubTitle|trim|striptags != ('Toelichting' | trans) and edit is not defined and not Question.hiddenLabel %}
		<div class="sublabel form-text text-muted mb-3" data-type="subtitle" style="outline:none; line-height: 1.25rem" >{{Question.getSubTitle|raw}}</div>
	{% endif %}
	<div class="options" data-type="radio">
		{% if Question.getValues is not empty %}
			{% for n,value in Question.getValues %}
				{% set checked = (Question.default[n] is defined ? 'checked="checked"' : '') %}
				{% set disabled = (Question.disabled[n] is defined ? 'disabled="disabled"' : '') %}
				{% set required = (Question.required and Question.hidden == false ? 'required="true"' : '') %}
				{% set name = 'form[' ~ (Form is not null ? Form.id : '') ~ '][' ~ (Question is defined ? Question.id : '') ~ ']' %}
				{% set name_tmp = 'tmp[' ~ (Form is not null ? Form.id : '') ~ '][' ~ (Question is defined ? Question.id : '') ~ ']' %}

				<div class="form-check">
				{% if edit is not defined %}
					<input class="form-check-input" id="chk_{{Question.id}}_{{n}}" {{checked}} {{disabled}} {{required}} type="radio" name="{{name}}" value="{{value}}" />
					<label class="form-check-label" for="chk_{{Question.id}}_{{n}}">{{value|raw}}</label>
				{% else %}
					<input class="form-check-input" {{checked}} {{disabled}} type="radio" name="{{name_tmp}}" id="chk_{{Question.id}}_{{n}}" />
					<label class="form-check-label" for="chk_{{Question.id}}_{{n}}">{{value|raw}}</label>
				{% endif %}
				</div>
			{% endfor %}
		{% endif %}
	</div>
	{# {% if edit is defined %}<div class="block-id">Radio #{{Question.id}}</div>{% endif %} #}
{% endblock %}
