{% trans_default_domain 'forms' %}
{% if edit is defined %}

	{% if app.request.query.get("pos") is not null %}
		{% set i = app.request.query.get("pos") %}
	{% else %}
		{% set i = loop.index0 %}
	{% endif %}

	{# {% if Question.getValues is not empty %}
		<div style="margin-top:10px;">
			{% for value in Question.getValues %}
				<div style="height: 24px;line-height: 24px;"><i class="material-icons left">done</i>{{value}}</div>
			{% endfor %}
		</div>
	{% endif %} #}

	<div class="form-values-editor">
		{% if Question.getValues is not empty %}
			{% for n,value in Question.getValues %}
				<div class="field-option" style="position:relative;margin-bottom:1rem;background: #f8f8f8;padding: 1rem;">
				<div class="d-flex justify-content-between">
					<div class="inputs w-100">
						<input class="form-control mb-2" type="text" onkeyup="$('#chk_{{Question.id}}{{n}}').html(this.value);" name="values[{{Question.id}}][{{n}}]" value="{{value|raw}}" />

						<div class="checkbox">
							<div class="form-check d-inline-block me-3">
								<input class="form-check-input" type="checkbox" name="disabled[{{Question.id}}][{{n}}]" {% if Question.disabled[n] is defined %}checked="checked"{% endif %} id="disable_{{Question.id ~ '_' ~ n}}" value="1" />
								<label class="form-check-label"  for="disable_{{Question.id ~ '_' ~ n}}">{{ 'Blokkeren' | trans }}</label>
							</div>
							<div class="form-check d-inline-block me-3">
								<input class="form-check-input" type="checkbox" name="default[{{Question.id}}][{{n}}]" {% if Question.default[n] is defined %}checked="checked"{% endif %} id="default_{{Question.id ~ '_' ~ n}}" value="1" />
								<label class="form-check-label" for="default_{{Question.id ~ '_' ~ n}}">{{ 'Standaard' | trans }}</label>
								{# <input type="checkbox" name="email[{{Question.id}}][{{n}}]" {% if Question.email[n] is defined %}checked="checked"{% endif %} id="email_{{Question.id ~ '_' ~ n}}" value="1" />
								<label style="margin-right:20px;" for="email_{{Question.id ~ '_' ~ n}}">E-mailadres keuze</label> #}
							</div>
						</div>
					</div>

					<div class="btns ms-3">
						<button class="btn btn-small red btn-icon" type="button" onclick="$(this).parent().parent().parent().remove();"><i class="far fa-trash-alt"></i></button>
					</div>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
	{# <button class="btn add-child-value green darken-1" type="button"><i class="material-icons">add</i></button> #}
{% endif %}
