{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}
{% block body %}
	{% set pass_length  = ('Minimaal 8 tekens.'|trans({}, 'cms', app.request.locale)) %}
	{% set pass_number  = ('Minimaal één cijfer.'|trans({}, 'cms', app.request.locale)) %}
	{% set pass_letter  = ('Minimaal één kleine letter.'|trans({}, 'cms', app.request.locale)) %}
	{% set pass_capital = ('Minimaal één hoofdletter.'|trans({}, 'cms', app.request.locale)) %}
	{% set pass_chars   = ('Minimaal één van de volgende tekens:'|trans({}, 'cms', app.request.locale)) %}

	<style>
	form .passtip{
		display: none;
		font-size: 12px;
		margin: 5px 10px 10px 10px;
	}

	form .passtip.show{
		display: block;
	}

	form .passtip .hint {
	    display: block;
	    color: #a0a0a0;
	    height: 17px;
	}

	form .passtip .hint::before {
	    content: "\f111";
	    font-family: "Font Awesome 5 Free";
	    font-weight: 500;
	    margin-right: 5px;
	}

	form .passtip .hint.valid {
	    color: green;
	}

	form .passtip .hint.valid::before {
	    content: "\f058";
	}

	form .passloader {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    background: red;
	    height: 5px;
	    width: 0;
	    border-radius: 0 0 4px 4px;
	}

	form .passloader.bad {
	    background-color: red;
	}

	form .passloader.medium {
	    background-color: orange;
	}

	form .passloader.good {
	    background-color: green;
	}
	</style>

	<style>
	#form_dateofbirth + label {
	    position: absolute;
	    top: -26px;
	    font-size: .8rem;
	}
	</style>

	<script>
	var canSubmit = true;
	var submitMessage = '';
	</script>
	<form action="{{ path('admin_users_edit', {'id': User.id}) }}" method="POST">

	{% if app.user != User %}
		<ul class="nav nav-tabs" role="tablist">
		  <li class="nav-item" role="presentation">
		    <button class="nav-link active" id="tab1" data-bs-toggle="tab" data-bs-target="#tab-content1" type="button" role="tab" aria-controls="tab-content1" aria-selected="true">
		      {{'Inloggegevens'|trans}}
		    </button>
		  </li>
		  <li class="nav-item" role="presentation">
		    <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#tab-content2" type="button" role="tab" aria-controls="tab-content2" aria-selected="false">
		      {{'Persoonsgegevens'|trans}}
		    </button>
		  </li>
		</ul>
	{% endif %}

			{% if not form.vars.valid %}
				<div class="alert alert-warning">
					{{ form_errors(form) }}
				</div>
			{% endif %}
			{{ form_row(form._token) }}

			<div class="tab-content">
				<div class="tab-pane fade show active" aria-labelledby="tab-content1" id="tab-content1" role="tabpanel">
					<div id="basic" class="t-content">
					{% if app.user != User %}
							<div class="card">
						<div class="card-content">
						<div class="card-title">
							<div class="card-titles">
								<h6>{{ 'Inloggegevens' | trans }}</h6>
							</div>
						</div>

						<div class="row">
						<div class="col-12 col-md-6">{{form_row(form.firstname)}}</div>
						<div class="col-12 col-md-6">{{form_row(form.lastname)}}</div>
						<div class="col-12">{{form_row(form.admin_locale)}}</div>
						<div class="col-12">{{form_row(form.role)}}</div>
						{# {% if app.user.hasRole('ROLE_ADMIN') %} #}
						<div class="col-12">{{form_row(form.lockin_uri)}}</div>
					{# {% endif %} #}
					<div class="col-12 col-md-6" style="position: relative;">
						{{form_row(form.username)}}
						<span id="username-conflict" style="color:red;font-weight:bold;position: absolute;top: 30px;right: 10px;font-size: 11px;text-transform: uppercase;"></span>
					</div>
					<div class="col-12 col-md-6" style="position: relative;">
						{{form_row(form.email)}}
						<span id="email-conflict" style="color:red;font-weight:bold;position: absolute;top: 30px;right: 10px;font-size: 11px;text-transform: uppercase;"></span>
					</div>
					<div class="clear"></div>
					{% if form.plainPassword is defined %}
					<div id="newpass" style="display:none;"></div>
					<div class="col-12 col-md-6">
					<div style="position:relative;">
					<div class="indicator"><span class="weak"></span><span class="medium"></span><span class="strong"></span><div class="msg"></div></div>
					<i class="fa fa-eye" style="position:absolute;top: 24px;right: 0;cursor:pointer;padding: 10px;font-size: 18px;z-index: 100;" onclick="cpop.loadHtml('<strong>Wachtwoord:</strong><div>' + $('#newpass').html() + '</div>');"></i>
					{{form_row(form.plainPassword.first)}}
					</div>
					<a href="#" onclick="return generatePassword();">{{'Wachtwoord genereren'|trans}}</a>
					</div>
					<div class="col-12 col-md-6">
					<div class="indicator"><span class="weak"></span><span class="medium"></span><span class="strong"></span><div class="msg"></div></div>
					{{form_row(form.plainPassword.second)}}
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="sendpassword" name="sendpassword" value="1" />
						<label class="form-check-label" for="sendpassword">{{'Inloggegevens versturen'|trans}}</label>
					</div>
					</div>
					{% for errorItem in form.plainPassword.first.vars.errors %}
					<label class="control-label has-error" for="{{ form.plainPassword.vars.id }}">{{ errorItem.message }}</label>
				{% endfor %}
			{% endif %}
			</div>
			</div>
			</div>
							{# {% if is_granted('ROLE_SUPER_ADMIN') %} #}
							<div class="card" id="card-sites" style="{{(available_sites|length) > 1 ? '' : 'display:none;'}}">
							<div class="card-content">
								<div class="card-title">
									<div class="card-titles">
										<h6>{{ 'Toegang tot websites' | trans }}</h6>
									</div>
								</div>

								{# {{form_row(form.sites)}} #}
								{% for key,label in available_sites %}
								<div class="form-check mb-2">
									<input class="form-check-input" {{key in active_sites ? 'checked=""' : ''}} type="checkbox" id="{{key}}" value="{{key}}" name="sites[]">
									<label for="{{key}}" class="form-check-label">
										{{label}}
										<span style="font-size:11px;font-weight:bold;display:block;color:#179bde;">{{available_sites_langs[key]|join(', ')}}</span>
									</label>
								</div>
								{% endfor %}
							</div>
							</div>
							{# {% endif %} #}

							<div class="card" id="card-permissions" style="display:{{User.hasRole('ROLE_ADMIN') or User.hasRole('ROLE_EDITOR') ? 'block' : 'none'}};">
							<div class="card-content">
							<div class="card-title">
								<div class="card-titles">
									<h6>{{ 'CMS rechten' | trans }}</h6>
								</div>
							</div>

							{# <div class="card-title">{{'Rechten'|trans}}</div> #}
							{% for p,lbl in permissions %}
							{% set bit = constant('App\\CmsBundle\\Entity\\User::' ~ p) %}
							{% set checked = (User.permissions b-and bit) > 0 or User.permissions == 0 ? 'checked' : '' %}
							<div class="form-check" style="display:inline-block;width: 33%;">
								<input {{checked}} type="checkbox" id="{{p}}" value="{{p}}" name="permissions[]" class="form-check-input" />
								<label class="form-check-label" for="{{p}}">{{lbl}}</label>
							</div>
						{% endfor %}
						</div>
						</div>

							{% if installed is defined and 'WebshopBundle' in installed and permissions['ALLOW_WEBSHOP'] is defined %}
									<div class="card" id="card-ecomm-permissions" style="display:{{User.hasRole('ROLE_ADMIN') or User.hasRole('ROLE_EDITOR') ? 'block' : 'none'}};">
									<div class="card-content">
										<div class="card-titles">
											<h6>{{'Webshop rechten'|trans}}</h6>
										</div>
									{% for p,lbl in ecomm_permissions %}
									{% set bit = constant('App\\CmsBundle\\Entity\\User::' ~ p) %}
									{% set checked = (User.ecommPermissions b-and bit) > 0 or User.ecommPermissions == 0 ? 'checked' : '' %}
									<div class="form-check" style="display:inline-block;width: 33%;">
										<input {{checked}} type="checkbox" id="{{p}}" value="{{p}}" name="ecomm_permissions[]" class="form-check-input" />
										<label class="form-check-label" for="{{p}}">{{lbl}}</label>
									</div>
								{% endfor %}
								</div>
								</div>
							{% endif %}

							<div class="card">
								<div class="card-content">
									<div class="card-title">
										<div class="card-titles">
											<h6>{{ 'Gebruikersinstellingen' | trans }}</h6>
										</div>
									</div>
									
									{{ form_row(form.enabled) }}
									{{ form_row(form.totpEnabled) }}
									{{ form_row(form.deny_user_name_change) }}
									{{ form_row(form.deny_user_removal) }}
									{% if is_b2b %}
									{{ form_row(form.b2b) }}
									{% endif %}
								</div>
							</div>

							<div class="card">
								<div class="card-content">
									<div class="card-title">
										<div class="card-titles">
											<h6>{{ 'Verloopdata' | trans }}</h6>
										</div>
									</div>

									{{form_row(form.expire)}}
									<div id="expire-settings" style="display:{{User.expire ? 'block' : 'none'}};">
										{{form_row(form.expire_date)}}
									</div>
									{{  form_row(form.expire_password_enable) }}
									<div id="expire-password" style="display:{{ User.expirepasswordenable ? 'block' : 'none' }};">
										{{  form_row(form.expire_password_date) }}
										{{  form_row(form.expire_password_period) }}
									</div>
								</div>
							</div>

						{% else %}

							<div class="card">
								<div class="card-content">
					        <div class="card-title">
					          <div class="card-titles">
					            <h6>{{ 'Profiel bewerken' | trans }}</h6>
					          </div>
					        </div>

									<p>Het is niet mogelijk om je eigen profiel via het Gebruikersoverzicht te bewerken, klik op de knop hieronder om je gegevens aan te passen.</p>

									<a href="/admin/profile" class="btn">{{ 'Profiel bewerken' | trans }}</a>
								</div>
							</div>

						{% endif %}
						</div>
				</div>
			<div class="tab-pane fade" aria-labelledby="tab-content2" id="tab-content2" role="tabpanel">
				  <div id="personal" class="t-content">
				    <div class="card">
				      <div class="card-content">
				        <div class="card-title">
				          <div class="card-titles">
				            <h6>{{ 'Persoonsgegevens' | trans }}</h6>
				          </div>
				        </div>
				        <div class="row">
				          <div class="col-12">{{form_row(form.gender)}}</div>
				          <div class="col-12 col-md-10">{{form_row(form.street)}}</div>
				          <div class="col-12 col-md-2">{{form_row(form.number)}}</div>
				          <div class="col-12 col-md-4">{{form_row(form.postalcode)}}</div>
				          <div class="col-12 col-md-8">{{form_row(form.city)}}</div>
				          {# <div class="col-12 col-md-6">{{form_row(form.province)}}</div> #}
				          <div class="col-12 col-md-12">{{form_row(form.country)}}</div>
				          <div class="col-12 col-md-6">{{form_row(form.dateofbirth)}}</div>
				          <div class="col-12 col-md-6">{{form_row(form.phone)}}</div>
				        </div>
				      </div>
				    </div>
				    <div class="card">
				      <div class="card-content">
								<div class="card-title">
									<div class="card-titles">
										<h6>{{ 'Bedrijfsgegevens' | trans }}</h6>
									</div>
								</div>
				        <div class="row">
				          {# <div class="col-12">{{form_row(form.website)}}</div> #}
				          <div class="col-12">{{form_row(form.company)}}</div>
				          {# <div class="col-12 col-md-6">{{form_row(form.companyEmail)}}</div>
				          <div class="col-12 col-md-6">{{form_row(form.companyPhone)}}</div> #}
				          <div class="col-12 col-md-12">{{form_row(form.companyKvk)}}</div>
				          {# <div class="col-12 col-md-6">{{form_row(form.companyTaxNo)}}</div> #}
				        </div>
				      </div>
				    </div>
				  </div>
				</div>
			</div>

			<script>
			$('#form_expire').click(function(){
				if($('#form_expire').prop('checked') == true){
					$('#expire-settings').show();
				}else{
					$('#expire-settings').hide();
				}
			});
			$('#form_expire_password_enable').click(function(){
			if($('#form_expire_password_enable').prop('checked') == true){
			$('#expire-password').show();
			}else{
			$('#expire-password').hide();
			}
			});
			</script>
				{% if app.user != User %}
		<div class="btn-bar">
			<div class="right">
				<a href="{{ path('admin_users') }}" class="btn-flat right waves-effect waves-light"><i class="fa fa-times"></i> {{'Annuleren'|trans}}</a>
				<button type="submit" class="btn right waves-effect waves-light"><i class="fa fa-save"></i> {{'Opslaan'|trans}}</button>
			</div>
		</div>
	{% endif %}
	</form>

	<script src="/bundles/cms/js/utils.js"></script>
	<script type="text/javascript">
	function generatePassword(){

		var e = [],
		t = 4,
		a = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"],
		l = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"],
		o = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
		u = ["-", "=", "!", "@"];

		for (var h = 0; h < t; h++) {
		    var d = a[Math.floor(Math.random() * a.length)];
		    e.push(d)
		}

		e.push(u[Math.floor(Math.random() * u.length)])

		for (var h = 0; h < t; h++) {
		    var d = l[Math.floor(Math.random() * l.length)];
		    e.push(d)
		}

		e.push(o[Math.floor(Math.random() * o.length)])

		var randomstring = e.join("");

		$('#form_plainPassword_first,#form_plainPassword_second').val(randomstring);
		$('#newpass').html(randomstring);
		verifyPasswordFormat($('#form_plainPassword_first'));
		return false;
	}
	var usernameTimer;
	var emailTimer;
	$(function(){
		$('#form_role').change(function(){
			if(this.value == 'ROLE_ADMIN' || this.value == 'ROLE_EDITOR'){
				$('#card-permissions').show();
				$('#card-ecomm-permissions').show();
			}else{
				$('#card-permissions').hide();
				$('#card-ecomm-permissions').hide();
			}
		});
			});

		if($('.alert.alert-warning *').length == 0){
			$('.alert.alert-warning').remove();
		}
	</script>
{% endblock %}
