{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{'Gebruikers'|trans}} <small class="pull-right"><a class="btn btn-primary" href="{{ path('admin_users_edit') }}?id=0"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'btn.add_user'|trans }}</a></small>{% endblock %}

{% block body %}
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tab1" data-bs-toggle="tab" data-bs-target="#tab-content1" type="button" role="tab" aria-controls="tab-content1" aria-selected="true">
      {{'Beheerders'|trans}}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#tab-content2" type="button" role="tab" aria-controls="tab-content2" aria-selected="false">
      {{'Gebruikers'|trans}}
    </button>
  </li>
  {# <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#tab-content-other" type="button" role="tab" aria-controls="tab-content-other" aria-selected="false">
      {{'Overige gebruikers'|trans}}
    </button>
  </li> #}
  {# {% if hasWebshop %}
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab3" data-bs-toggle="tab" data-bs-target="#tab-content3" type="button" role="tab" aria-controls="tab-content3" aria-selected="false">
      {{'Webshop gebruikers'|trans}}
    </button>
  </li>
  {% endif %} #}
  {# <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab4" data-bs-toggle="tab" data-bs-target="#tab-content4" type="button" role="tab" aria-controls="tab-content4" aria-selected="false">
      {{'Te modereren'|trans}}
    </button>
  </li> #}
  {% if ipblocks and is_granted('ROLE_SUPER_ADMIN') %}
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab5" data-bs-toggle="tab" data-bs-target="#tab-content5" type="button" role="tab" aria-controls="tab-content5" aria-selected="false">
      {{'Geweigerd'|trans}} <span class="badge bg-secondary">{{ipblocks|length}}</span></a>
    </button>
  </li>
  {% endif %}
</ul>

    {# <nav class="tabbar">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="#admins">{{'Beheerders'|trans}}</a></li>
            <li class="tab"><a href="#users">{{'Website gebruikers'|trans}}</a></li>
            {% if hasWebshop %}
                <li class="tab"><a href="#webshop_users">{{'Webshop gebruikers'|trans}}</a></li>
            {% endif %}
            <li class="tab"><a href="#moderation">{{'Te modereren'|trans}}{% if moderation %}<span class="new badge" data-badge-caption="">{{moderation}}</span>{% endif %}</a></li>
            {% if ipblocks and is_granted('ROLE_SUPER_ADMIN') %}
              <li class="tab"><a href="#ipblocks">{{'Geweigerd'|trans}}<span class="new badge red" data-badge-caption="">{{ipblocks|length}}</span></a></li>
            {% endif %}
        </ul>
    </nav> #}

    <div class="tab-content">
      <div class="tab-pane fade show active" aria-labelledby="tab-content1" id="tab-content1" role="tabpanel">

        <div class="btn-bar">
            <div class="left"></div>
            <div class="right">
                <a href="{{path('admin_users_edit', {role: 'admin'})}}" class="btn right waves-effect waves-light">
                <i class="fa fa-plus"></i>{{'Beheerder toevoegen'|trans}}</a>
            </div>
        </div>

      	<form method="get" id="admin-filter-form" onsubmit="filterList('admin', 1); return false;">

            <input type="hidden" id="admin-filter_sort" name="filter[sort]" value="p.id" />
            <input type="hidden" id="admin-filter_order" name="filter[order]" value="desc" />

            <button style="position:absolute;top:0;left:-9999px;" type="submit">{{ 'Zoeken' | trans }}</button>
            <div class="card">
                <div class="card-content" style="padding-bottom: 10px;">
                    <div class="filter-row row" style="margin:0;">
                        <div class="col s12 m10">
                            <div class="mb-3">
                                <label class="form-label">{{'Zoeken op titel'|trans}}</label>
                                <input class="form-control" type="text" name="filter[q]" style="width:100%;" value="{{q is defined ? q : ''}}" />
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div class="mb-3">
                                <label class="form-label">{{'Status'|trans}}</label>
                                <select class="form-select" name="filter[status]" onchange="$('#filter-form').submit();">
                                    <option {{status is not defined or status == '' ? 'selected' : ''}} value=""></option>
                                    <option {{status is defined and status == '1' ? 'selected' : ''}} value="1">{{'Actief'|trans}}</option>
                                    <option {{status is defined and status == '0' ? 'selected' : ''}} value="0">{{'Inactief'|trans}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="card">
        	<div class="card-content">
                    <div id="admin-filter-loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>

          <div class="card-title">
            <div class="card-titles">
              <h6>{{'Beheerders'|trans}}</h6>
            </div>
            <div class="card-actions">
              <select class="form-control form-select w-auto" name="per_page" id="admin-per_page" onchange="filterList('admin', 1);">
                <option value="10">{{ '10 per pagina' | trans }}</option>
                <option value="20" selected="selected">{{ '20 per pagina' | trans }}</option>
                <option value="50">{{ '50 per pagina' | trans }}</option>
                <option value="100">{{ '100 per pagina' | trans }}</option>
              </select>
            </div>
          </div>
            <div class="table-wrapper">
            <div class="table-responsive">
        			<table class="table table-hover">
        				<thead>
        					<tr>
        						{# <th class="text-center" style="width:40px;">{{'misc.id'|trans}}</th> #}
        						<th>{{'Naam'|trans}}</th>
        						<!-- <th style="width:250px;">E-mailadres</th> -->
        						<th style="width:300px;">{{'Rollen'|trans}}</th>
        						{# <th class="text-center" style="width:150px;">{{'Laatst ingelogd'|trans}}</th> #}
        						<th class="text-center" style="width:60px;">{{'Actief'|trans}}</th>
        						<th class="text-center" style="width:60px;">{{'2FA'|trans}}</th>
        						<th class="text-center" style="width:120px;">{{'Kan verlopen'|trans}}</th>
        						<th class="text-center" style="width:135px;">{{'Verloopt op'|trans}}</th>
                                  <th class="text-center" style="width:150px;">{{'Wachtwoord verloopt'|trans}}</th>
                                  {# <th class="text-center" style="width:135px;">{{'Wachtwoord verloopt op'|trans}}</th> #}
                                  <th class="right-align actions" style="width:70px;"></th>
        					</tr>
        				</thead>
        				<tbody id="admin-filter-results">
        				</tbody>
        			</table>
              </div>
            </div>

              <div class="pagination-wrapper" data-type="admin">
                <ul id="admin-pagination" class="pagination"></ul>
              </div>
            </div>
          </div>
      </div>

      <div class="tab-pane fade" aria-labelledby="tab-content2" id="tab-content2" role="tabpanel">

        <div class="btn-bar">
            <div class="left"></div>
            <div class="right">
                <a href="{{path('admin_users_edit', {role: 'user'})}}" class="btn right waves-effect waves-light">
                <i class="fa fa-plus"></i>{{'Gebruiker toevoegen'|trans}}</a>
            </div>
        </div>

          <form method="get" id="user-filter-form" onsubmit="filterList('user', 1); return false;">

              <input type="hidden" id="user-filter_sort" name="filter[sort]" value="p.id" />
              <input type="hidden" id="user-filter_order" name="filter[order]" value="desc" />

              <button style="position:absolute;top:0;left:-9999px;" type="submit">{{ 'Zoeken' | trans }}</button>
              <div class="card">
                  <div class="card-content" style="padding-bottom: 10px;">
                      <div class="filter-row row" style="margin:0;">
                          <div class="col s12 m10">
                              <div class="mb-3">
                                  <label class="form-label">{{'Zoeken op titel'|trans}}</label>
                                  <input class="form-control" type="text" name="filter[q]" style="width:100%;" value="{{q is defined ? q : ''}}" />
                              </div>
                          </div>
                          <div class="col s12 m12 l2">
                              <div class="mb-3">
                                  <label class="form-label">{{'Status'|trans}}</label>
                                  <select class="form-select" name="filter[status]" onchange="$('#filter-form').submit();">
                                      <option {{status is not defined or status == '' ? 'selected' : ''}} value=""></option>
                                      <option {{status is defined and status == '1' ? 'selected' : ''}} value="1">{{'Actief'|trans}}</option>
                                      <option {{status is defined and status == '0' ? 'selected' : ''}} value="0">{{'Inactief'|trans}}</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <div class="card">
              <div class="card-content">
                  <div id="user-filter-loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>

                  <div class="card-title">
                    <div class="card-titles">
                      <h6>{{'Gebruikers'|trans}}</h6>
                    </div>
                    <div class="card-actions">
                      <select class="form-control form-select w-auto" name="per_page" id="user-per_page" onchange="filterList('user', 1);">
                          <option value="10">{{ '10 per pagina' | trans }}</option>
                          <option value="20" selected>{{ '20 per pagina' | trans }}</option>
                          <option value="50">{{ '50 per pagina' | trans }}</option>
                          <option value="100">{{ '100 per pagina' | trans }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="table-wrapper">
                  <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                {# <th class="text-center" style="width:40px;">{{'misc.id'|trans}}</th> #}
                                {# <th style="width:150px;">{{'Gebruikersnaam'|trans}}</th> #}
                                <th>{{'Naam'|trans}}</th>
                                <!-- <th style="width:250px;">E-mailadres</th> -->
                                <th style="width:300px;">{{'Rollen'|trans}}</th>
                                {# <th class="text-center" style="width:150px;">{{'Laatst ingelogd'|trans}}</th> #}
                                <th class="text-center" style="width:60px;">{{'Actief'|trans}}</th>
        						<th class="text-center" style="width:60px;">{{'2FA'|trans}}</th>
                                <th class="text-center" style="width:120px;">{{'Kan verlopen'|trans}}</th>
                                <th class="text-center" style="width:135px;">{{'Verloopt op'|trans}}</th>
                                <th class="text-center" style="width:150px;">{{'Wachtwoord verloopt'|trans}}</th>
                                {# <th class="text-center" style="width:135px;">{{'Wachtwoord verloopt op'|trans}}</th> #}
                                <th class="right-align actions" style="width:70px;"></th>
                            </tr>
                        </thead>
                        <tbody id="user-filter-results">
                        </tbody>
                    </table>
                    </div>
                  </div>

                      <div class="pagination-wrapper" data-type="user">
                          <ul id="user-pagination" class="pagination left"></ul>
                      </div>
              </div>
          </div>
      </div>

      {# <div class="tab-pane fade" aria-labelledby="tab-content-other" id="tab-content-other" role="tabpanel">

        <div class="btn-bar">
            <div class="left"></div>
            <div class="right">
                <a href="{{path('admin_users_edit')}}" class="btn right waves-effect waves-light">
                <i class="fa fa-plus"></i>{{'Gebruiker toevoegen'|trans}}</a>
            </div>
        </div>

          <form method="get" id="other-filter-form" onsubmit="filterList('other', 1); return false;">

              <input type="hidden" id="other-filter_sort" name="filter[sort]" value="p.id" />
              <input type="hidden" id="other-filter_order" name="filter[order]" value="desc" />

              <button style="position:absolute;top:0;left:-9999px;" type="submit">{{ 'Zoeken' | trans }}</button>
              <div class="card">
                  <div class="card-content" style="padding-bottom: 10px;">
                      <div class="filter-row row" style="margin:0;">
                          <div class="col s12 m10">
                              <div class="mb-3">
                                  <label class="form-label">{{'Zoeken op titel'|trans}}</label>
                                  <input class="form-control" type="text" name="filter[q]" style="width:100%;" value="{{q is defined ? q : ''}}" />
                              </div>
                          </div>
                          <div class="col s12 m12 l2">
                              <div class="mb-3">
                                  <label class="form-label">{{'Status'|trans}}</label>
                                  <select class="form-select" name="filter[status]" onchange="$('#filter-form').submit();">
                                      <option {{status is not defined or status == '' ? 'selected' : ''}} value=""></option>
                                      <option {{status is defined and status == '1' ? 'selected' : ''}} value="1">{{'Actief'|trans}}</option>
                                      <option {{status is defined and status == '0' ? 'selected' : ''}} value="0">{{'Inactief'|trans}}</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <div class="card">
              <div class="card-content">
                  <div id="other-filter-loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>

                  <div class="card-title">
                    <div class="card-titles">
                      <h6>{{'Gebruikers'|trans}}</h6>
                    </div>
                    <div class="card-actions">
                      <select class="form-control form-select w-auto" name="per_page" id="other-per_page" onchange="filterList('other', 1);">
                          <option value="10">{{ '10 per pagina' | trans }}</option>
                          <option value="20" selected>{{ '20 per pagina' | trans }}</option>
                          <option value="50">{{ '50 per pagina' | trans }}</option>
                          <option value="100">{{ '100 per pagina' | trans }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="table-wrapper">
                  <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{'Naam'|trans}}</th>
                                <th style="width:300px;">{{'Rollen'|trans}}</th>
                                <th class="text-center" style="width:60px;">{{'Actief'|trans}}</th>
        						<th class="text-center" style="width:60px;">{{'2FA'|trans}}</th>
                                <th class="text-center" style="width:120px;">{{'Kan verlopen'|trans}}</th>
                                <th class="text-center" style="width:135px;">{{'Verloopt op'|trans}}</th>
                                <th class="text-center" style="width:150px;">{{'Wachtwoord verloopt'|trans}}</th>
                                <th class="right-align actions" style="width:70px;"></th>
                            </tr>
                        </thead>
                        <tbody id="other-filter-results">
                        </tbody>
                    </table>
                    </div>
                  </div>

                      <div class="pagination-wrapper" data-type="other">
                          <ul id="other-pagination" class="pagination left"></ul>
                      </div>
              </div>
          </div>
      </div> #}

      {# {% if hasWebshop %}
          <div class="tab-pane fade" aria-labelledby="tab-content3" id="tab-content3" role="tabpanel">
            <form method="get" id="webshop_users-filter-form" onsubmit="filterList('webshop_users', 1); return false;">

                <input type="hidden" id="webshop_users-filter_sort" name="filter[sort]" value="p.id" />
                <input type="hidden" id="webshop_users-filter_order" name="filter[order]" value="desc" />

                <button style="position:absolute;top:0;left:-9999px;" type="submit">{{ 'Zoeken' | trans }}</button>
                <div class="card">
                    <div class="card-content" style="padding-bottom: 10px;">
                        <div class="filter-row row" style="margin:0;">
                            <div class="mb-3">
                              <label class="form-label">{{'Zoeken op titel'|trans}}</label>
                              <input type="text" name="filter[q]" style="width:100%;" class="form-select" value="{{q is defined ? q : ''}}" />
                            </div>
                            <div class="mb-3">
                              <label class="form-label">{{'Status'|trans}}</label>
                              <select class="form-select" name="filter[status]" onchange="$('#filter-form').submit();">
                                  <option {{status is not defined or status == '' ? 'selected' : ''}} value=""></option>
                                  <option {{status is defined and status == '1' ? 'selected' : ''}} value="1">{{'Actief'|trans}}</option>
                                  <option {{status is defined and status == '0' ? 'selected' : ''}} value="0">{{'Inactief'|trans}}</option>
                              </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card">
                  <div class="card-content">
                      <div id="webshop_users-filter-loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>

                      <div class="card-title">
                        <div class="card-titles">
                          <h6>{{'Webshop gebruikers'|trans}}</h6>
                        </div>
                        <div class="card-actions">
                          <select class="form-control form-select w-auto" name="per_page" id="webshop_users-per_page" onchange="filterList('webshop_users', 1);">
                              <option value="10">{{ '10 per pagina' | trans }}</option>
                              <option value="20" selected>{{ '20 per pagina' | trans }}</option>
                              <option value="50">{{ '50 per pagina' | trans }}</option>
                              <option value="100">{{ '100 per pagina' | trans }}</option>
                          </select>
                        </div>
                      </div>

                      <div class="table-wrapper">
                      <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{{'Naam'|trans}}</th>
                                    <th style="width:300px;">{{'Rollen'|trans}}</th>
                                    <th class="text-center" style="width:60px;">{{'Actief'|trans}}</th>
                                    <th class="text-center" style="width:60px;">{{'2FA'|trans}}</th>
                                    <th class="text-center" style="width:120px;">{{'Kan verlopen'|trans}}</th>
                                    <th class="text-center" style="width:135px;">{{'Verloopt op'|trans}}</th>
                                    <th class="text-center" style="width:150px;">{{'Wachtwoord verloopt'|trans}}</th>
                                    <th class="right-align actions" style="width:70px;"></th>
                                </tr>
                            </thead>
                            <tbody id="webshop_users-filter-results">
                            </tbody>
                        </table>
                        </div>
                      </div>

                      <nav class="pagination-wrapper" data-type="webshop_users">
                          <ul id="webshop_users-pagination" class="pagination left"></ul>
                      </nav>
                  </div>
              </div>
          </div>
      {% endif %} #}

    {# <div class="tab-pane fade" aria-labelledby="tab-s" id="tab-content4" role="tabpanel">
        <div class="card">
            <div class="card-content">

                <div class="card-title">
                  <div class="card-titles">
                    <h6>{{'Niet-gemodereerde gebruikers'|trans}}</h6>
                  </div>
                </div>

                {% if moderation %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td style="width:160px;">{{ 'Datum' | trans }}</td>
                                    <td style="width:180px;">{{ 'Bedrijf' | trans }}</td>
                                    <td style="width:180px;">{{ 'Naam' | trans }}</td>
                                    <td style="width:220px;">{{ 'E-mailadres' | trans }}</td>
                                    <td style="width:220px;">{{ 'Telefoonnummer' | trans }}</td>
                                    <td style="width:300px;">&nbsp;</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in mod_users %}
                                    <tr>
                                        <td>{{user.registration|date('d-m-Y H:i:s')}}</td>
                                        <td>{{user.company}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.phone}}</td>
                                        <td class="right-align" style="padding-left:0;padding-right:0;">
                                            <a href="{{path('admin_users_delete', {id: user.id})}}" class="btn red" onclick="if(confirm('{{ 'Wilt u deze gebruiker verwijderen?' | trans }}')){return true;}else{return false;}">{{ 'Verwijderen' | trans }}</a>
                                            <a href="{{path('admin_users_allow', {id: user.id})}}" class="btn" onclick="if(confirm('{{ 'Wilt u deze gebruiker toestaan?' | trans }}')){return true;}else{return false;}">{{ 'Toestaan' | trans }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="text-center">
                        <em>{{ 'Er zijn geen gebruikers om te modereren' | trans }}</em>
                    </div>
                {% endif %}
            </div>
        </div>
    </div> #}

      {% if ipblocks and is_granted('ROLE_SUPER_ADMIN') %}
          <div class="tab-pane fade" aria-labelledby="tab-content5" id="tab-content5" role="tabpanel">
              <div class="card">
                  <div class="card-content">
                      <div class="card-title">
                        <h6>{{ 'Geweigerde logins' | trans }}</h6>
                      </div>

                      <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <td style="width:200px;">{{ 'IP-adres' | trans }}</td>
                                      <td style="width:100px;">{{ 'Land' | trans }}</td>
                                  <td style="width:200px;">{{ 'Gebruikersnaam' | trans }}</td>
                                  <td style="width:100px;">{{ 'Pogingen' | trans }}</td>
                                  <td style="width:220px;">{{ 'Cooldown datum' | trans }}</td>
                                  <td style="width:250px;">&nbsp;</td>
                              </tr>
                          </thead>
                          <tbody>
                              {% for ipcheck in ipblocks %}
                                  <tr>
                                      <td>{{ipcheck.ip}}</td>
                                        <td>{{ipcheck.country ?? 'n.v.t.'}}</td>
                                      <td>{{ipcheck.userAttempt}}</td>
                                      <td>{{ipcheck.loginAttempts}}</td>
                                      <td>{{ipcheck.loginLastAttempt|date('d-m-Y H:i:s')}}</td>
                                      <td class="right-align">
                                        <div class="actions">
                                          <a href="{{path('admin_users_deleteip', {ip: ipcheck.ip})}}" onclick="if(confirm('{{ 'Wilt u deze login pogingen herstellen?'|trans }}')){return true;}else{return false;}" title="{{ 'Herstellen'|trans }}"  data-bs-toggle="tooltip" data-bs-placement="top"><i class="fa fa-sync-alt"></i></a>
                                          <a href="{{path('admin_users_blockip', {ip: ipcheck.ip})}}" onclick="if(confirm('{{ 'Wilt u deze login pogingen blokkeren?'|trans }}')){return true;}else{return false;}" title="{{ 'Blokkeren'|trans }}"  data-bs-toggle="tooltip" data-bs-placement="top"><i class="fa fa-ban"></i></a>
                                        </div>
                                      </td>
                                  </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                      </div>
                  </div>
              </div>
          </div>
      {% endif %}
    </div>

    <script>
      var current_page = 1;
      var filterUrl = '{{path('admin_users_filter')}}';
      function filterList(what, p){
          current_page = p;
          $('#' + what + '-filter-loader').show();
          var query = '/' + current_page + '?role=' + what + '&' + $('#' + what + '-filter-form').serialize() + '&pp=' + $('#' + what + '-per_page').val();;
          $.ajax(filterUrl + query).done(function(response){

              $('#' + what + '-filter-results').html('');
              if(response.count){
                  $.each(response.results, function(ind, p){
                      var tr = $('<tr>');
                      if(!p.enabled){
                          tr.css('opacity', 0.5);
                      }
                      tr.append('<td data-url="{{ path('admin_users_edit') }}/' + p.id + '">' + p.name + '<br/><small>' + p.username + '</small></td>');
                      tr.append('<td data-url="{{ path('admin_users_edit') }}/' + p.id + '">' + p.roles.join(', ') + '</td>');
                      // tr.append('<td class="text-center" data-url="{{ path('admin_users_edit') }}/' + p.id + '">' + p.lastLogin + '</td>');
                      tr.append('<td class="text-center" data-url="{{ path('admin_users_edit') }}/' + p.id + '">' + (p.enabled && p.isExpired != true ? '<i class="fa fa-check-circle text-green"></i>' : '<i class="fa fa-times-circle"></i>') + '</td>');
                      tr.append('<td class="text-center" data-url="{{ path('admin_users_edit') }}/' + p.id + '">' + (p.twoFactor ? '<i class="fa fa-check-circle text-green"></i>' : '<i class="fa fa-times-circle text-gray"></i>') + '</td>');
                      tr.append('<td class="text-center" data-url="{{ path('admin_users_edit') }}/' + p.id + '">' + (p.expires ? (p.isExpired ? '<i class="fa fa-check-circle text-red"></i>' : '<i class="fa fa-check-circle text-orange"></i>') : '<i class="fa fa-times-circle text-gray"</i>') + '</td>');
                      tr.append('<td class="text-center" data-url="{{ path('admin_users_edit') }}/' + p.id + '">' + (p.expired) + '</td>');

                      if(p.passwordExpireEnabled == false)
                      {
                          tr.append('<td class="text-center" data-url="{{ path('admin_users_edit') }}/' + p.id + '"><i class="fa fa-times-circle text-gray"></i></td>');
                      } else if (p.passwordExpireEnabled && p.isPasswordExpired == false) {
                          tr.append('<td class="text-center" data-url="{{ path('admin_users_edit') }}/' + p.id + '"><i class="fa fa-check-circle text-green"></i></td>')
                      } else
                      {
                          tr.append('<td class="text-center" data-url="{{ path('admin_users_edit') }}/' + p.id + '"><i class="fa fa-times-circle text-red"></i></td>')
                      }

                      // tr.append('<td class="text-center" data-url="{{ path('admin_users_edit') }}/' + p.id + '">' + p.passwordExpired + '</td>');

                      if ('{{is_granted('ROLE_SUPER_ADMIN')}}' != '1' && '{{app.user.denyUserRemoval}}' == '1' && p.isAdmin) {
                          tr.append('<td class="right-align actions"><i class="far fa-trash-alt"></i></td>')
                      } else {
                          tr.append('<td class="right-align actions">\
                              {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}<a href="' + (p.isAdmin ? '{{path('admin')}}' : '{{path('homepage')}}') + '?_switch_user=' + p.username + '" class="fa fa-key" style="color: #f3d900;"></a>{% endif %}\
  						<a href="#" onclick="cpop.confirm( \'{{ 'Wilt u volgende gebruiker verwijderen?' |trans }} <b>' + p.name + '</b>. \', function(){\
  							window.location = \'{{ path('admin_users_delete') }}/' + p.id + '\';\
  						} ); return false;" title="{{'Verwijderen'|trans}}"><i class="far fa-trash-alt"></i></a>\
                          </td>');
                      }

                      $('#' + what + '-filter-results').append(tr);
                  });
              }else{
                  $('#' + what + '-filter-results').append('<tr><td colspan="9" class="text-center"><em>{{ 'Geen resultaten gevonden' | trans }}</em></td></tr>');
              }

              $('td[data-url]').css('cursor', 'pointer').click(function(){
                  window.location = $(this).data('url');
              });

              $('#' + what + '-pagination').html('');



              if (response.page > 1) {
                  $('#' + what + '-pagination').append($('<li class="page-item"><a class="page-link" href="#" aria-label="Previous" onclick="return prevPage(this);"><span aria-hidden="true">&laquo;</span></a></li>'));
              }else{
                  $('#' + what + '-pagination').append($('<li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true"><span aria-hidden="true">&laquo;</span></a></li>'));
              }

              $.each(paginationParser(parseInt(response.page), parseInt(response.pages)), function(x, i){
                  if(i == '...'){
                      $('#' + what + '-pagination').append($('<li class="waves-effect' + (response.page == i ? ' active' : '') + '">...</li>'));
                  }else{
                      $('#' + what + '-pagination').append($('<li class="page-item' + (response.page == i ? ' active' : '') + '"><a class="page-link" href="#" onclick="return selectPage(this, ' + i + ');">' + i + '</a></li>'));
                  }
              });

              if (response.page < response.pages) {
                  $('#' + what + '-pagination').append($('<li class="page-item"><a class="page-link" href="#" aria-label="Next" onclick="return nextPage(this);"><span aria-hidden="true">&raquo;</span></a></li>'));
              }else{
                  $('#' + what + '-pagination').append($('<li class="page-item disabled"><a class="page-link" href="#" aria-label="Next" tabindex="-1" aria-disabled="true"><span aria-hidden="true">&raquo;</span></a></li>'));
              }

              $('#' + what + '-filter-loader').hide();
          });
      }

      function selectPage(el, n){
          var type = $(el).closest('.pagination-wrapper').data('type');
          console.log( type );
          filterList(type, n);
          return false;
      }

      function nextPage(el){
          var type = $(el).closest('.pagination-wrapper').data('type');
          console.log( type );
          filterList(type, current_page + 1);
          return false;
      }

      function prevPage(el){
          var type = $(el).closest('.pagination-wrapper').data('type');
          console.log( type );
          filterList(type, current_page - 1);
          return false;
      }

      $(function(){
          filterList('admin', 1);
          filterList('user', 1);
          /*
          filterList('other', 1);
          */
          /*
          {% if hasWebshop %}
              filterList('webshop_users', 1);
          {% endif %}
          */
      });
    </script>
{% endblock %}
