{% extends '@Cms/interface_light.html.twig' %}
{% trans_default_domain 'login' %}

{% block body %}
  <div class="login-page">
    <div class="logobox">
      <div class="logobox-content">
        <span class="logo-icon"><img src="{{asset('bundles/cms/images/logo_icon.svg')}}"/></span>
        <span class="logo-name">
          Easify
          <span class="logo-tagline">A Symfony CMS</span>
        </span>
      </div>
    </div>

    <div class="bg-wrapper">
    </div>

    <div class="vtable">
      <div class="vcell">
        <div class="window">
          <div id="login-form">
            <div class="row mb-3">
              <h3>{{'Voer je 2FA code in'|trans({})|raw}}</h3>
            </div>
          </div>
          {% if authenticationError %}
            <div class="alert alert-warning" role="alert">{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</div>
          {% endif %}

          <form data-provider="{{ twoFactorProvider }}" class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
            <div class="row mb-2">
              <div class="col-12">
                <div class="field">
                  {# <label for="_auth_code" class="form-label">Voer je 2FA code in:</label> #}
                  <input type="text" name="{{ authCodeParameterName }}" class="form-control form-control-lg" id="_auth_code" autocomplete="one-time-code" autofocus placeholder="2FA code">
                  <i class="fa fa-lock"></i>
                </div>
              </div>
            </div>

            {% if displayTrustedOption %}
              <div class="widget form-check mb-3">
                <label for="_trusted" class="form-check-label"><small>{{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}</small></label>
                <input id="_trusted" class="form-check-input" type="checkbox" name="{{ trustedParameterName }}" />
              </div>
            {% endif %}

            {% if isCsrfProtectionEnabled %}
              <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
            {% endif %}

            <div class="row mb-3">
              <div class="col-12">
                <div class="field">
                  <button type="submit" class="btn btn-lg w-100">
                    <span id="btn-text">Controleren</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <small>
                  <a href="{{ logoutPath }}" class="lost-password text-center d-block"><i class="fa fa-times"></i> Annuleren</a>
                </small>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
