{% extends '@Cms/interface_light.html.twig' %}
{% trans_default_domain 'login' %}

{% block body %}
    <div class="login-page {% if Settings.hasBackground %}has-bg{% endif %}">
      {% if Settings.hasBackground %}<div class="login-bg" style="{% block bgimage %}background-image:url('{{Settings.getBackground}}'); background-repeat: no-repeat; background-size: cover; background-position: center center;{% endblock %}"></div>{% endif %}

      <div class="logobox">
        <img src="{{asset('bundles/cms/images/logo.svg')}}"/>
      </div>

      <div class="vtable">
        <div class="vcell">
          <div class="window">

            <form id="login-form" action="{{ path("admin_lostpassword") }}"="admin_lostpassword" )=")" }}""="}}""" method="post">
							<div class="row mb-3">
								<h3>{{'Wachtwoord vergeten'|trans}}</h3>
							</div>

              {% if unknownUser %}
                <div class="alert alert-danger">
                  <i class="fa fa-info-circle"></i>
                  {{'Als het e-mailadres bij ons bekend is, wordt er binnen enkele ogenblikken een e-mail verstuurd.'|trans}}
                </div>
              {% else %}
                {% if changed %}
                  <div class="alert alert-success">
                    <i class="fa fa-info-circle"></i>
                    {{'Als het e-mailadres bij ons bekend is, wordt er binnen enkele ogenblikken een e-mail verstuurd.'|trans}}
                  </div>
                {% endif %}
              {% endif %}
              <div class="row mb-2">
                <div class="col-12">
	                <div class="field">
	                  <input class="form-control form-control-lg" autocomplete="off" type="text" name="_username" value="" placeholder="{{'E-mailadres'|trans({}, 'login', app.request.locale)}}">
                    <i class="far fa-envelope-open"></i>
	                </div>
                </div>
              </div>

              <div class="row my-3 align-items-center">
                <div class="col-12">
	                <div class="field">
	                  <input class="btn btn-lg w-100" type="submit" value="{{'Wachtwoord aanvragen'|trans({}, 'login', app.request.locale)}}">
	                </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <small>
                    <a href="{{path('admin_login')}}" class="lost-password"><i class="fa fa-arrow-left"></i> {{'Terug naar inloggen'|trans}}</a>
                  </small>
                </div>
              </div>
            </form>

            <div class="footer">
              <span class="powered-by">
                <a href="{{trinity_url}}" target="blank">{{trinity}}
                  <span>v{{version}}</span></a>
              </span>
              <span>
                <a href="{{company_url}}" target="blank">{{company}}
                  &copy;
                  {{'now'|date('Y')}}</a>
              </span>
            </div>
          </div>
        </div>
      </div>
		</div>
  {% endblock body %}
