<p style="margin-bottom: 15px;">{{ 'Beste' | trans }} {{name}},</p>
<p style="margin-bottom: 15px;">{{ 'U heeft een nieuw wachtwoord aangevraagd. Dit is uw nieuwe wachtwoord' | trans | raw }}:</p>
<p style="margin-bottom: 15px;">
	<table>
		<tr>
			<td style="padding-right: 10px;">{{ 'Wachtwoord' | trans }}:</td>
			<td><strong>{{password}}</strong></td>
		</tr>
	</table>
</p>
{# <p>{{ 'Klik <a href="%url%">hier</a> om direct in te loggen met uw nieuwe gegevens.'| trans({'%url%': url}) | raw}}</p> #}
