<!DOCTYPE html>
<html lang="nl" dir="ltr">

<head>
  <style>
    body {
      font-size: 14px;
      line-height: 25px;
      padding: 0;
      margin: 0;
    }

    a {
      color: #000000;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
      line-height: normal;
    }
  </style>
</head>

<body bgcolor="#f3f5f8">
  <center>
    <div style="padding: 15px 0;">
      <!-- <font face="arial" size="2">
        <a href="#" style="text-decoration: none; color: #aaa;">Open deze e-mail in de browser</a>
      </font> -->
    </div>

    <table width="600" bgcolor="#ffffff" cellspacing="0" cellpadding="0" style="box-shadow: 0 30px 50px rgba(0,0,0,0.05); border-radius: 3px; overflow: hidden;">
      <tr>
        <td>
          {% if Settings is defined %}
          <img src="{{absolute_url(mailheader(Settings))}}" alt="">
          {% else %}
          <img src="{{absolute_url(mailheader())}}" alt="">
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="30"></td>
            </tr>
            <tr>
              <td width="50"></td>
              <td>
                <font face="arial">
                  {{(label is defined ? '' ~ label ~ '' : '')}}
                  {{message is defined ? message|raw : 'Bericht'}}
                  <br />
                </font>
              </td>
              <td width="50"></td>
            </tr>
            <tr>
              <td colspan="3" height="30"></td>
            </tr>
          </table>


            <table width="100%" cellspacing="0" cellpadding="0" style="border-top: 1px solid #eee">
              <tr>
                <td colspan="3" height="30"></td>
              </tr>
              <tr>
                <td width="50"></td>
                <td>
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <font face="arial" size="2">
                          {{mailfooter()}}
                        </font>
                      </td>
                      <td align="right" style="text-align: right;">
                        {% if phone() %}<a href="tel:{{phone(true)}}"><img src="https://beyonit.nl/mail/order/outlined/icon_phone.png" alt="" height="20"></a>&nbsp;{% endif %}
                        {% if facebook_url() %}<a href="{{facebook_url()}}"><img src="https://beyonit.nl/mail/order/outlined/icon_facebook.png" alt="" height="20"></a>&nbsp;{% endif %}
                        {% if twitter_url() %}<a href="{{twitter_url()}}"><img src="https://beyonit.nl/mail/order/outlined/icon_twitter.png" alt="" height="20"></a>&nbsp;{% endif %}
                        {% if instagram_url() %}<a href="{{instagram_url()}}"><img src="https://beyonit.nl/mail/order/outlined/icon_instagram.png" alt="" height="20"></a>&nbsp;{% endif %}
                        {% if youtube_url() %}<a href="{{youtube_url()}}"><img src="https://beyonit.nl/mail/order/outlined/icon_youtube.png" alt="" height="20"></a>{% endif %}
                      </td>
                    </tr>
                  </table>
                </td>
                <td width="50"></td>
              </tr>
              <tr>
                <td colspan="3" height="30"></td>
              </tr>
            </table>
        </td>
      </tr>
    </table>


    <div style="padding: 15px 0;">
      <font face="arial" size="2" color="#aaa">
        {% if Settings is defined %}
        {{sitename(Settings)}} &copy; {{'now'|date('Y')}}
        {% else %}
        {{sitename()}} &copy; {{'now'|date('Y')}}
        {% endif %}
      </font>
    </div>
  </center>
</body>

</html>
