<p style="margin-bottom: 15px;">{{ 'Beste' | trans }} {{name}},</p>
<p style="margin-bottom: 15px;">{{ 'Er is een account aangemaakt voor de website <b>%domain%</b>. Hieronder staan de gegevens waar direct mee ingelogd kan worden:' | trans({'%domain%': domain}) | raw }}</p>

<p style="margin-bottom: 15px;">
	<table>
		<tr>
			<td style="padding-right: 10px;">{{ 'Gebruikersnaam:' | trans }}</td>
			<td><strong>{{username}}</strong></td>
		</tr>
		<tr>
			<td style="padding-right: 10px;">{{ 'Wachtwoord:' | trans }}</td>
			<td><strong>{{password}}</strong></td>
		</tr>
	</table>
</p>
{# <p>{{ 'Klik <a href="%path%">hier</a> om direct in te loggen met bovenstaande gegevens.' | trans({'%path%': url('admin_login')}) | raw }}</p> #}
